<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BestDownload">
    
    <!-- BEST 다운로드 앱 상품 조회(BEST앱, 게임, FUN, 생활/위치, 어학/교육) -->
    <select id="selectBestDownloadAppList" parameterType="bestDownloadSacReq" resultType="ProductBasicInfo">
		SELECT /* BestDownloadMapper.xml, selectBestDownloadAppList, SAC : 홍지호 , 2014-01-25 */
               KA.TOTAL_COUNT     /* 조회 건수 */
              ,KA.TOP_MENU_ID     /* TOP MENU ID */
              ,KA.MENU_ID         /* MENU_ID */
              ,KA.PROD_ID         /* 상품 ID */
          FROM 
               (
                SELECT  JA.*
                  FROM
                      (
                        SELECT ROWNUM AS RNUM
                              ,IA.*
                          FROM 
                               (  
                                 SELECT COUNT(*) OVER () AS TOTAL_COUNT
                                       ,A.EXPO_ORD
                                       ,A.TENANT_ID
                                       ,A.PROD_ID 
                                       ,A.MENU_ID                                                        
                                       ,F.TOP_MENU_ID
                                       ,H.SUB_CONTENTS_ID
                                   FROM 
                                       (
                                         SELECT A.TENANT_ID
                                               ,A.PROD_ID
                                               ,A.MENU_ID
                                               ,A.EXPO_ORD
                                           FROM TB_DP_LIST_PROD A
                                          WHERE A.TENANT_ID = #{tenantId} /* header param : tenantId */ 
                                            AND A.LIST_ID = #{listId} /* param : listId */
                                            AND A.EXPO_YN = 'Y' /* 전시여부 */ 
                                            AND TO_CHAR(A.STD_DT, 'YYYYMMDDHH24MISS') = #{stdDt} /* 기준일시 */
                                       ) A
                                       ,TB_DP_PROD B
                                       ,TB_DP_MENU_CATEGORY_PROD_MAPG E
                                       ,TB_DP_MENU_CATEGORY F
                                       ,TB_DP_SPRT_DEVICE H
                                       ,TB_DP_TENANT_PROD I
                                       ,TB_CM_DEVICE K
                                  WHERE A.PROD_ID = B.PROD_ID
                                    AND B.SVC_GRP_CD ='DP000201' /* 서비스 그룹코드 : 앱 */
                                  <if test="arrayProdGradeCd != null">
                                    AND B.PROD_GRD_CD IN
                                      <foreach collection="arrayProdGradeCd" item="prodGradeCd" separator="," open="(" close=")">
                                        #{prodGradeCd}
                                      </foreach>
                                  </if>                             
                                    AND A.PROD_ID = E.PROD_ID
                                    AND A.MENU_ID = E.MENU_ID                    
                                    AND E.MENU_ID = F.MENU_ID
                                    AND F.USE_YN ='Y'                    
                                    AND A.PROD_ID = H.PROD_ID
                                    AND A.TENANT_ID = I.TENANT_ID
                                    AND A.PROD_ID = I.PROD_ID
                                    AND I.PROD_STATUS_CD = 'PD000403'   /* PD000403 : 판매중 */
                                    AND F.TOP_MENU_ID  !=  'DP02'       /* DP02 : 폰꾸미기 */
                                  <if test='topMenuId != null and topMenuId != "" '>  
                                    AND F.TOP_MENU_ID = #{topMenuId}
                                  </if>  
                                    AND H.DEVICE_MODEL_CD = K.DEVICE_MODEL_CD
                                    AND K.DEVICE_MODEL_CD = #{deviceModelCd} /* header param : 단말모델코드 */
                                    AND K.USE_YN = 'Y'
                                    AND I.EXPO_YN = 'Y' /* 노출여부 */
                                  ORDER BY A.EXPO_ORD
                               ) IA
                      ) JA
                 WHERE JA.RNUM BETWEEN #{offset} AND #{count} /* param : offset, count */ 
                ) KA
    </select>
    
    <!-- BEST 다운로드 멀티미디어 상품 조회 -->
    <select id="selectBestDownloadMMList" parameterType="bestDownloadSacReq" resultType="ProductBasicInfo">
        SELECT  /* BestDownloadMapper.xml, selectBestDownloadMMList, SAC : 홍지호 , 2014-01-25 */
                LA.TOTAL_COUNT
              , LA.RNUM
              , LA.TOP_MENU_ID
              , LA.MENU_ID
              , LA.PROD_ID
              , LA.PROD_ID AS PART_PROD_ID
              , LA.META_CLSF_CD
              , LA.EXPO_ORD
              , LA.CONTENTS_TYPE_CD
          FROM (
                SELECT KA.*
                  FROM 
                       (
                        SELECT JA.*, ROW_NUMBER() OVER(ORDER BY JA.EXPO_ORD) AS RNUM
                          FROM 
                               (
                                    SELECT COUNT(A.PROD_ID) OVER() AS TOTAL_COUNT
                                         , B.TOP_MENU_ID
                                         , A.MENU_ID
                                         , A.PROD_ID
                                         , A.EXPO_ORD
                                         , D.META_CLSF_CD
                                         , D.CONTENTS_TYPE_CD
                                      FROM (SELECT A.TENANT_ID
                                                  ,A.PROD_ID
                                                  ,A.MENU_ID
                                                  ,A.EXPO_ORD
                                              FROM TB_DP_LIST_PROD A
                                             WHERE A.TENANT_ID = #{tenantId} /* header param : tenantId */
                                               AND A.LIST_ID = #{listId}     /* param : listId */
                                               AND A.EXPO_YN = 'Y'           /* 전시여부 */  
                                               AND TO_CHAR(A.STD_DT, 'YYYYMMDDHH24MISS') = #{stdDt} /* 기준일시 */
                                           )                        A
                                         , TB_DP_MENU_CATEGORY      B
                                         , TB_DP_PROD               D /* 에피소드 상품 */
                                         , TB_DP_TENANT_PROD        G
                                         , TB_DP_PROD_RSHP          I
                                         , TB_DP_PROD               J /* 채널 상품 */
                                         , TB_DP_SPRT_DEVICE        L
                                     WHERE A.MENU_ID = B.MENU_ID
                                       AND A.PROD_ID = D.PROD_ID
                                       AND A.PROD_ID = G.PROD_ID
                                       AND A.TENANT_ID = G.TENANT_ID
                                       AND A.PROD_ID = I.PART_PROD_ID
                                       AND I.PROD_ID = J.PROD_ID
                                       AND I.PART_PROD_ID = L.PROD_ID
                                       AND B.USE_YN = 'Y'                        /* Y : 사용 (사용여부) */
                                       AND D.SVC_GRP_CD = 'DP000203'             /* DP000203 : 멀티미디어 */
                                       AND D.CONTENTS_TYPE_CD = 'PD002502'       /* PD002502 : 에피소드 */
                                       AND G.PROD_STATUS_CD = 'PD000403'         /* PD000403 : 판매중 */
                                       AND G.EXPO_YN = 'Y'                       /* Y : 노출 (노출여부) */
                                       AND I.PROD_RSHP_CD = 'DP010802'           /* DP010802 : 채널-에피소드 상품 관계 */
                                       AND J.CONTENTS_TYPE_CD = 'PD002501'       /* PD002501 : 채널 */
                                       AND (L.DEVICE_MODEL_CD = #{deviceModelCd} OR L.DEVICE_MODEL_CD = 'android_standard2') /* header param : 단말모델코드 */
                                       AND B.TOP_MENU_ID = #{topMenuId}          /* 탑메뉴ID */
                                   <if test='topMenuId == "DP17" || topMenuId == "DP18"'>
                                       AND (CASE WHEN (SELECT VIDEO_DRM_SPRT_YN FROM TB_CM_DEVICE WHERE DEVICE_MODEL_CD = #{deviceModelCd}) = 'N' AND NVL(D.DRM_YN, 'N') = 'Y'
                                                 THEN 'NOT SUPPORT'
                                                 ELSE 'SUPPORT'
                                            END) = 'SUPPORT'  /* DRM 미지원 단말이고 에피소드 상품이 DRM 상품일 경우 노출 안함 */
                                   </if>
                                   <if test="arrayProdGradeCd != null">
                                       AND J.PROD_GRD_CD IN
                                       <foreach collection="arrayProdGradeCd" item="prodGradeCd" separator="," open="(" close=")">
                                           #{prodGradeCd}
                                       </foreach>
                                   </if>                                          
                                   <if test='filteredBy == "ebook+normal"'> 
                                       AND B.TOP_MENU_ID = 'DP13'
                                       AND B.MENU_ID NOT IN ( SELECT MENU_ID
		                                                        FROM TB_DP_MENU_CATEGORY
		                                                       WHERE USE_YN = 'Y'
		                                                         AND MENU_ID LIKE 'DP13004%'
		                                                          OR MENU_ID IN ( 'DP13027002'
		                                                                        , 'DP13027008'
		                                                                        , 'DP13027009'
		                                                                        , 'DP13027010' ) )
		                           </if>
		                           <if test='filteredBy == "ebook+genre"'>
		                               AND B.TOP_MENU_ID = 'DP13'
                                       AND B.MENU_ID IN ( SELECT MENU_ID
                                                            FROM TB_DP_MENU_CATEGORY
                                                           WHERE USE_YN = 'Y'
                                                             AND MENU_ID LIKE 'DP13004%'
                                                              OR MENU_ID IN ( 'DP13027002'
                                                                            , 'DP13027008'
                                                                            , 'DP13027009'
                                                                            , 'DP13027010' ) )
                                   </if>
                               ) JA
                       ) KA
                 WHERE KA.RNUM BETWEEN #{offset} AND #{count}
               ) LA
    </select>  
    
</mapper>