<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BestContents">
    <!-- BEST 컨텐츠 상품 조회(movie, broadcast) -->
    <select id="selectBestContentsVodList" parameterType="BestContentsSacReq" resultType="ProductBasicInfo">
        SELECT  /* BestContentsMapper.xml, selectBestContentsVodList, 홍지호, 2014-02-03 */
                LA.TOTAL_COUNT
              , LA.RNUM
              , LA.TOP_MENU_ID
              , LA.MENU_ID
              , LA.PROD_ID
              , LA.PART_PROD_ID
              , LA.META_CLSF_CD
              , LA.EXPO_ORD
              , LA.CONTENTS_TYPE_CD
          FROM (
                SELECT KA.*
                  FROM 
                       (
                        SELECT JA.*, ROW_NUMBER() OVER(ORDER BY JA.EXPO_ORD) AS RNUM
                          FROM 
                               (
                                SELECT IA.*, COUNT(IA.PROD_ID) OVER() AS TOTAL_COUNT
                                  FROM 
                                       (
                                        SELECT ROW_NUMBER() OVER(PARTITION BY A.PROD_ID ORDER BY D.UPD_DT DESC) AS RN
                                             , B.TOP_MENU_ID
                                             , A.MENU_ID
                                             , A.PROD_ID
                                             , I.PART_PROD_ID                                     
                                             , A.EXPO_ORD
                                             , D.META_CLSF_CD
                                             , D.CONTENTS_TYPE_CD
                                             , J.DRM_YN
                                          FROM (SELECT A.TENANT_ID
                                                      ,A.PROD_ID
                                                      ,A.MENU_ID
                                                      ,A.EXPO_ORD
                                                  FROM TB_DP_LIST_PROD A
                                                 WHERE A.TENANT_ID = #{tenantId} /* header param : tenantId */
                                                   AND A.LIST_ID = #{listId}     /* param : listId */
                                                   AND A.EXPO_YN = 'Y'           /* 전시여부 */  
                                                   AND TO_CHAR(A.STD_DT, 'YYYYMMDDHH24MISS') = #{stdDt} /* 기준일시 */
                                               )                        A
                                             , TB_DP_MENU_CATEGORY      B
                                             , TB_DP_PROD               D
                                             , TB_DP_TENANT_PROD        G
                                             , TB_DP_PROD_RSHP          I
                                             , TB_DP_PROD               J
                                             , TB_DP_SPRT_DEVICE        K
                                         WHERE A.MENU_ID = B.MENU_ID
                                           AND A.PROD_ID = D.PROD_ID
                                           AND A.PROD_ID = G.PROD_ID
                                           AND A.TENANT_ID = G.TENANT_ID
                                           AND A.PROD_ID = I.PROD_ID
                                           AND I.PART_PROD_ID = J.PROD_ID
                                           AND I.PART_PROD_ID = K.PROD_ID
                                           AND B.USE_YN = 'Y'                        /* Y : 사용 (사용여부) */
                                           AND D.SVC_GRP_CD = 'DP000203'             /* DP000203 : 멀티미디어 */
                                           AND D.CONTENTS_TYPE_CD = 'PD002501'       /* PD002501 : 채널타입 */
                                           AND G.PROD_STATUS_CD = 'PD000403'         /* PD000403 : 판매중 */
                                           AND G.EXPO_YN = 'Y'                       /* Y : 노출 (노출여부) */
                                           AND I.PROD_RSHP_CD = 'DP010802'           /* DP010802 : 채널-에피소드 상품 관계 */
                                           AND J.CONTENTS_TYPE_CD = 'PD002502'       /* PD002501 : 에피소드타입 */
                                           AND (K.DEVICE_MODEL_CD = #{deviceModelCd} OR K.DEVICE_MODEL_CD = 'android_standard2') /* header param : 단말모델코드 */
                                           AND (CASE WHEN (SELECT VIDEO_DRM_SPRT_YN FROM TB_CM_DEVICE WHERE DEVICE_MODEL_CD = #{deviceModelCd}) = 'N' AND NVL(J.DRM_YN, 'N') = 'Y' THEN 'NOT SUPPORT'
                                                     ELSE 'SUPPORT' END) = 'SUPPORT' /* DRM 미지원 단말이고 에피소드 상품이 DRM 상품일 경우 노출 안함 */
                                       <if test='filteredBy == "movie+broadcast"'>                                                    
                                           AND B.TOP_MENU_ID IN ('DP17', 'DP18')     /* 탑메뉴ID */
                                       </if>
                                       <if test='filteredBy == "movie"'>                                                    
                                           AND B.TOP_MENU_ID = 'DP17'                /* 탑메뉴ID */
                                       </if>
                                       <if test='filteredBy == "broadcast"'>                                                    
                                           AND B.TOP_MENU_ID = 'DP18'                /* 탑메뉴ID */
                                       </if>                                                                           
                                       <if test="arrayProdGradeCd != null">
                                           AND D.PROD_GRD_CD IN
                                           <foreach collection="arrayProdGradeCd" item="prodGradeCd" separator="," open="(" close=")">
                                               #{prodGradeCd}
                                           </foreach>
                                       </if>
                                       
                                       ) IA
                                 WHERE IA.RN = 1
                               ) JA
                       ) KA
                 WHERE KA.RNUM BETWEEN #{offset} AND #{count}
               ) LA
    </select>
    
    <!-- BEST 컨텐츠 상품 조회(ebook, comic) -->
    <select id="selectBestContentsBookList" parameterType="BestContentsSacReq" resultType="ProductBasicInfo">
        SELECT  /* BestContentsMapper.xml, selectBestContentsBookList, 홍지호, 2014-02-03 */
                LA.TOTAL_COUNT
              , LA.RNUM
              , LA.TOP_MENU_ID
              , LA.MENU_ID
              , LA.PROD_ID
              , LA.PART_PROD_ID
              , LA.META_CLSF_CD
              , LA.EXPO_ORD
              , LA.CONTENTS_TYPE_CD
          FROM (
                SELECT KA.*
                  FROM 
                       (
                        SELECT JA.*, ROW_NUMBER() OVER(ORDER BY JA.EXPO_ORD) AS RNUM
                          FROM 
                               (
                                SELECT IA.*, COUNT(IA.PROD_ID) OVER() AS TOTAL_COUNT
                                  FROM 
                                       (
                                        SELECT ROW_NUMBER( ) OVER ( PARTITION BY A.PROD_ID
                                                                        ORDER BY  DECODE( L.BOOK_CLSF_CD, E.BOOK_CLSF_CD, 1, 2 )
                                                                                , TO_NUMBER( REGEXP_REPLACE( L.CHAPTER, '[^[:digit:]]') ) DESC
                                                                                , NVL( J.USE_PERIOD_UNIT_CD, 'PD00310' ) DESC
                                                                                , J.UPD_DT DESC ) AS RN         
                                             , B.TOP_MENU_ID
                                             , A.MENU_ID
                                             , A.PROD_ID
                                             , I.PART_PROD_ID                                     
                                             , A.EXPO_ORD
                                             , D.META_CLSF_CD
                                             , D.CONTENTS_TYPE_CD
                                          FROM (SELECT A.TENANT_ID
                                                      ,A.PROD_ID
                                                      ,A.MENU_ID
                                                      ,A.EXPO_ORD
                                                  FROM TB_DP_LIST_PROD A
                                                 WHERE A.TENANT_ID = #{tenantId} /* header param : tenantId */
                                                   AND A.LIST_ID = #{listId}     /* param : listId */
                                                   AND A.EXPO_YN = 'Y'           /* 전시여부 */  
                                                   AND TO_CHAR(A.STD_DT, 'YYYYMMDDHH24MISS') = #{stdDt} /* 기준일시 */
                                               )                        A
                                             , TB_DP_MENU_CATEGORY      B
                                             , TB_DP_PROD               D
                                             , UV_TB_DP_MULTIMDA_PROD   E
                                             , TB_DP_TENANT_PROD        G
                                             , TB_DP_PROD_RSHP          I
                                             , TB_DP_PROD               J
                                             , TB_DP_SPRT_DEVICE        K
                                             , UV_TB_DP_MULTIMDA_PROD   L
                                         WHERE A.MENU_ID = B.MENU_ID
                                           AND A.PROD_ID = D.PROD_ID
                                           AND A.PROD_ID = E.PROD_ID
                                           AND A.PROD_ID = G.PROD_ID
                                           AND A.TENANT_ID = G.TENANT_ID
                                           AND A.PROD_ID = I.PROD_ID
                                           AND I.PART_PROD_ID = J.PROD_ID
                                           AND I.PART_PROD_ID = K.PROD_ID
                                           AND I.PART_PROD_ID = L.PROD_ID
                                           AND B.USE_YN = 'Y'                        /* Y : 사용 (사용여부) */
                                           AND D.SVC_GRP_CD = 'DP000203'             /* DP000203 : 멀티미디어 */
                                           AND D.CONTENTS_TYPE_CD = 'PD002501'       /* PD002501 : 채널타입 */
                                           AND G.PROD_STATUS_CD = 'PD000403'         /* PD000403 : 판매중 */
                                           AND G.EXPO_YN = 'Y'                       /* Y : 노출 (노출여부) */
                                           AND I.PROD_RSHP_CD = 'DP010802'           /* DP010802 : 채널-에피소드 상품 관계 */
                                           AND J.CONTENTS_TYPE_CD = 'PD002502'       /* PD002502 : 에피소드 */
                                           AND (K.DEVICE_MODEL_CD = #{deviceModelCd} OR K.DEVICE_MODEL_CD = 'android_standard2') /* header param : 단말모델코드 */
                                       <if test='filteredBy == "ebook+comic"'>                                                    
                                           AND B.TOP_MENU_ID IN ('DP13', 'DP14')     /* 탑메뉴ID */
                                       </if>
                                       <if test='filteredBy == "ebook"'>                                                    
                                           AND B.TOP_MENU_ID = 'DP13'                /* 탑메뉴ID */
                                       </if>
                                       <if test='filteredBy == "comic"'>                                                    
                                           AND B.TOP_MENU_ID = 'DP14'                /* 탑메뉴ID */
                                       </if>   
                                       <if test="arrayProdGradeCd != null">
                                           AND D.PROD_GRD_CD IN
                                           <foreach collection="arrayProdGradeCd" item="prodGradeCd" separator="," open="(" close=")">
                                               #{prodGradeCd}
                                           </foreach>
                                       </if>
                                       ) IA
                                 WHERE IA.RN = 1
                               ) JA
                       ) KA
                 WHERE KA.RNUM BETWEEN #{offset} AND #{count}
               ) LA
    </select>    
</mapper>