<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BestDownload">
    
    <!-- BEST 다운로드 앱 상품 조회(BEST앱, 게임, FUN, 생활/위치, 어학/교육) -->
    <select id="selectBestDownloadAppList" parameterType="bestDownloadReq" resultType="BestDownload">
		SELECT /* BestDownloadMapper.xml, selectBestDownloadAppList, SAC : 홍지호 , 2014-01-25 */
		       KA.TOTAL_COUNT     /* 조회 건수 */
		      ,KA.PROD_ID         /* 상품 ID */
		      ,KA.PROD_NM         /* 상품명 */
		      ,KA.MENU_ID         /* MENU_ID */
		      ,KA.TOP_MENU_ID     /* TOP MENU ID */
		      ,(SELECT MENU_NM FROM TB_DP_MENU_CATEGORY_DESC WHERE KA.TOP_MENU_ID = MENU_ID AND LANG_CD = #{langCd} AND ROWNUM = 1) AS TOP_MENU_NM /* TOP 메뉴명 */
		      ,KA.PROD_GRD_CD     /* 이용등급 */
		      ,KA.PROD_BASE_DESC  /* 상품 기본 설명 */
--		      ,KA.PROD_DTL_DESC   /* 상품 상세 설명 */
              ,DECODE( KA.PART_PARENT_CLSF_CD, 'PD012301', 'Y', 'N' ) AS PART_PARENT_CLSF_CD
              ,KA.DRM_YN /* DRM */             
--		      ,KA.PART_PARENT_CLSF_CD /* IN_APP_BILLING */
		      ,KA.APK_VER   /* APK 버전 */
		      ,KA.AID /* APP ID */
		      ,KB.APK_VER AS APK_VER_CD /* APK 버전 코드 */
		      ,KB.APK_PKG_NM  /* 패키지명 */
		      ,KA.MENU_NM    /* MENU 명 */
		      ,KA.MENU_DESC  /* MENU 설명 */
		      ,KA.PROD_AMT /* 상품가격 */
		      ,KB.APK_VER AS APK_VER_CD  /* APK 버전 코드 */ 
              <![CDATA[ 
              ,NVL((CASE WHEN (KA.AVG_EVLU_SCORE > 0 AND KA.AVG_EVLU_SCORE < 1) THEN 1
                         WHEN KA.AVG_EVLU_SCORE > 5 THEN 5
                         ELSE ROUND(KA.AVG_EVLU_SCORE, 1) END), 0) AS AVG_EVLU_SCORE     /* 평점 */
              ]]> 
		      ,KA.DWLD_CNT /* 다운로드수 */
		      ,KA.PATICPERS_CNT /* 참여자수 */
		      ,KC.FILE_PATH AS IMG_PATH/* 이미지 경로 */ 
		      ,KC.FILE_NM AS IMG_NM /* 이미지 명 */
		      ,KC.FILE_SIZE AS IMG_SIZE /* 이미지 사이즈 */
		  FROM 
		       (
		        SELECT  JA.*
		          FROM
		              (
		                SELECT ROWNUM AS RNUM
		                      ,IA.*
		                      ,IB.DWLD_CNT
		                      ,IB.AVG_EVLU_SCORE
		                      ,IB.PATICPERS_CNT
		                  FROM 
		                       (  
		                         SELECT COUNT(*) OVER () AS TOTAL_COUNT
		                               ,A.EXPO_ORD
		                               ,A.TENANT_ID
		                               ,A.LIST_ID
		                               ,A.PROD_ID 
		                               ,A.MENU_ID                                                        
		                               ,A.EXPO_START_DT
		                               ,A.EXPO_END_DT
		                               ,B.DRM_YN
		                               ,B.PROD_GRD_CD
		                               ,C.PROD_NM  
		                               ,C.PROD_BASE_DESC  
		                               ,C.PROD_DTL_DESC                       
		                               ,D.PART_PARENT_CLSF_CD                              
		                               ,D.VER_MAJOR||'.'||D.VER_MINOR AS APK_VER   
		                               ,D.AID             
		                               ,F.TOP_MENU_ID
		                               ,G.MENU_NM                               
		                               ,G.MENU_DESC
		                               ,H.SUB_CONTENTS_ID
		                               ,J.PROD_AMT
		                           FROM 
		                               (
		                                 SELECT A.TENANT_ID
		                                       ,A.LIST_ID
		                                       ,A.PROD_ID
		                                       ,A.MENU_ID
		                                       ,A.PRCHS_AMT
		                                       ,A.PRCHS_QTY
		                                       ,A.REG_DT
		                                       ,A.EXPO_ORD
		                                       ,A.EXPO_YN
		                                       ,A.EXPO_START_DT
		                                       ,A.EXPO_END_DT
		                                   FROM TB_DP_LIST_PROD A
		                                  WHERE A.TENANT_ID = #{tenantId} /* header param : tenantId */ 
		                                    AND A.LIST_ID = #{listId} /* param : listId */
		                                    AND A.EXPO_YN ='Y' /* 전시여부 */ 
		                                    AND TO_CHAR(A.STD_DT, 'YYYYMMDDHH24MISS') = #{stdDt} /* 기준일시 */
		                               ) A
		                               ,TB_DP_PROD B
		                               ,TB_DP_PROD_DESC C
		                               ,TB_DP_APP_PROD D
		                               ,TB_DP_MENU_CATEGORY_PROD_MAPG E
		                               ,TB_DP_MENU_CATEGORY F
		                               ,TB_DP_MENU_CATEGORY_DESC G
		                               ,TB_DP_SPRT_DEVICE H
		                               ,TB_DP_TENANT_PROD I
		                               ,TB_DP_TENANT_PROD_PRICE J
		                               ,TB_CM_DEVICE K
		                          WHERE A.PROD_ID = B.PROD_ID
		                            AND B.SVC_GRP_CD ='DP000201' /* 서비스 그룹코드 : 앱 */
                                  <if test="prodGradeCd != null">
                                    AND B.PROD_GRD_CD = #{prodGradeCd}  /*  param : 상품이용등급 */
                                  </if>  		                            
		                            AND A.PROD_ID = C.PROD_ID
		                            AND C.LANG_CD = #{langCd} /* param : 언어코드 */
		                            AND A.PROD_ID = D.PROD_ID
		                            AND A.PROD_ID = E.PROD_ID
		                            AND A.MENU_ID = E.MENU_ID                    
		                            AND E.MENU_ID = F.MENU_ID
		                            AND F.USE_YN ='Y'                    
		                            AND A.MENU_ID = G.MENU_ID             
		                            AND G.LANG_CD = #{langCd} /* param : 언어코드 */
		                            AND A.PROD_ID = H.PROD_ID
		                            AND A.TENANT_ID = I.TENANT_ID
		                            AND A.PROD_ID = I.PROD_ID
		                            AND A.TENANT_ID = J.TENANT_ID
		                            AND A.PROD_ID = J.PROD_ID
		                            AND I.PROD_STATUS_CD = 'PD000403'   /* PD000403 : 판매중 */
		                            AND F.TOP_MENU_ID <![CDATA[<>]]> 'DP02' /* DP02 : 폰꾸미기 */
		                          <if test="topMenuId != null">  
		                            AND F.TOP_MENU_ID = #{topMenuId}
		                          </if>
		                            AND H.DEVICE_MODEL_CD = K.DEVICE_MODEL_CD
		                            AND K.DEVICE_MODEL_CD = #{deviceModelCd} /* header param : 단말모델코드 */
		                            AND K.USE_YN ='Y'
		                            AND I.EXPO_YN ='Y' /* 노출여부 */
		                            AND SYSDATE BETWEEN J.APPLY_START_DT AND J.APPLY_END_DT 
		                          ORDER BY A.EXPO_ORD
		                       )                         IA
		                        ,TB_DP_TENANT_PROD_STATS IB
		                   WHERE  IA.TENANT_ID = IB.TENANT_ID(+)
		                     AND  IA.PROD_ID = IB.PROD_ID(+)                                
		              ) JA
		         WHERE JA.RNUM BETWEEN  #{offset} AND #{count} /* param : offset, count */ 
		        )                   KA
		        ,TB_DP_SUB_CONTENTS KB
		        ,TB_DP_PROD_IMG     KC
		   WHERE KA.PROD_ID = KB.PROD_ID
		     AND KA.SUB_CONTENTS_ID = KB.SUB_CONTENTS_ID
		     AND KA.PROD_ID = KC.PROD_ID
		     AND KC.EXPO_ORD = '1'
		     AND KC.IMG_CD = 'DP000101'    	       
    </select>
    
    <!-- BEST 다운로드 멀티미디어 상품 조회 -->
    <select id="selectBestDownloadMMList" parameterType="bestDownloadReq" resultType="BestDownload">
        SELECT  /* BestDownloadMapper.xml, selectBestDownloadMMList, SAC : 홍지호 , 2014-01-25 */
                LA.TOTAL_COUNT
--              , LA.RNUM
              , LA.TOP_MENU_ID
              , LA.MENU_ID
              , LA.MENU_NM
              , LA.MENU_DESC
              , LA.META_CLSF_CD
              , LA.PROD_ID
              , LA.CHNL_PROD_ID
              , LA.VOD_TITL_NM
              , LA.PROD_NM
              , LA.CHAPTER
              , CASE WHEN LA.TOP_MENU_ID IN ('DP13','DP14')
                     THEN CONCAT( LA.PROD_NM, NVL2( LA.BOOK_CLSF_CD
		                                          , NULL
		                                          , ' '||CONCAT( LA.CHAPTER, DECODE( LA.BOOK_CLSF_CD
									                                               , 'DP004301', '권'
									                                               , 'DP004302', '회'
									                                               , 'DP004303', '호' ) )
	                             ) )
	                 WHEN LA.TOP_MENU_ID IN ('DP17','DP18')
                     THEN CONCAT( LA.VOD_TITL_NM, DECODE( LA.META_CLSF_CD
							                            , 'CT14'
							                            , LA.PROD_NM||' '||LA.CHAPTER
							                            , LA.PROD_NM ) )
                END AS CONCAT_PROD_NM
              , CASE WHEN LA.TOP_MENU_ID = 'DP13' 
                     THEN LA.PROD_DTL_DESC
                     ELSE LA.PROD_BASE_DESC
                END AS PROD_BASE_DESC
              , LA.PROD_GRD_CD
              , LA.ARTIST1_NM
              , LA.ARTIST2_NM
              , LA.ARTIST3_NM
              , LA.ISSUE_DAY
              , LA.CHNL_COMP_NM
              , LA.AGENCY_NM
              , NVL(LA.HDV_YN, 'N') AS HDV_YN
              , NVL(LA.DOLBY_SPRT_YN, 'N') AS DOLBY_SPRT_YN
              , ( CASE WHEN LA.META_CLSF_CD IN ( 'CT20', 'CT21' ) THEN 'serial' ELSE '' END ) AS BOOK_TYPE
              , ( CASE WHEN LA.META_CLSF_CD IN ( 'CT20', 'CT21' ) THEN ( LA.EPSD_CNT + LA.STRM_EPSD_CNT ) ELSE 1 END ) AS BOOK_COUNT
              , ( CASE WHEN LA.EPSD_CNT > 0 THEN 'Y' ELSE 'N' END ) AS SUPPORT_STORE
              , ( CASE WHEN LA.STRM_EPSD_CNT > 0 THEN 'Y' ELSE 'N' END ) AS SUPPORT_PLAY
              , ( CASE WHEN LA.META_CLSF_CD IN ( 'CT20', 'CT21' ) THEN DECODE( LA.COMPT_YN, 'Y', 'completed', 'continue' ) END ) AS BOOK_STATUS                          
              , LA.PROD_AMT
--              , LA.PROD_NET_AMT
              , NVL(LB.PATICPERS_CNT, 0) AS PATICPERS_CNT
              , NVL(LB.PRCHS_CNT, 0) AS DWLD_CNT
              <![CDATA[                        
              , NVL((CASE WHEN (LB.AVG_EVLU_SCORE > 0 AND LB.AVG_EVLU_SCORE < 1) THEN 1
                          WHEN LB.AVG_EVLU_SCORE > 5 THEN 5
                          ELSE ROUND(LB.AVG_EVLU_SCORE, 1) END), 0) AS AVG_EVLU_SCORE
              ]]>                     
              , CONCAT(LC.FILE_PATH, LC.FILE_NM) AS IMG_PATH
              , (SELECT MENU_NM
                   FROM TB_DP_MENU_CATEGORY_DESC
                  WHERE MENU_ID = LA.TOP_MENU_ID
                    AND LANG_CD = #{langCd}
                    AND ROWNUM = 1) AS TOP_MENU_NM
              , LC.IMG_CD
          FROM (
                SELECT KA.*
                  FROM 
                       (
                        SELECT JA.*, ROW_NUMBER() OVER(ORDER BY JA.EXPO_ORD) AS RNUM
                          FROM 
                               (
                                    SELECT COUNT(A.PROD_ID) OVER() AS TOTAL_COUNT
                                         , A.TENANT_ID
                                         , A.MENU_ID
                                         , A.PROD_ID
                                         , I.PROD_ID AS CHNL_PROD_ID
                                         , A.EXPO_ORD
                                         , B.TOP_MENU_ID
                                         , C.MENU_NM
                                         , C.MENU_DESC
                                         , D.USE_PERIOD_UNIT_CD
                                         , D.META_CLSF_CD
                                         , D.DRM_YN
                                         , E.ISSUE_DAY
                                         , E.BOOK_CLSF_CD
                                         , F.PROD_NM
                                         , E.CHAPTER
                                         , F.ARTIST1_NM
                                         , F.ARTIST2_NM
                                         , F.ARTIST3_NM
                                         , F.PROD_BASE_DESC
                                         , F.PROD_DTL_DESC
                                         , H.CHNL_PERIOD_AMT
                                         , H.CHNL_UNLMT_AMT
                                         , H.PROD_NET_AMT
                                         , H.PROD_AMT
                                         , J.PROD_GRD_CD
                                         , K.VOD_TITL_NM
                                         , K.EPSD_CNT
                                         , K.STRM_EPSD_CNT
                                         , K.CHNL_COMP_NM
                                         , K.AGENCY_NM
                                         , K.HDV_YN
                                         , K.DOLBY_SPRT_YN
                                         , K.COMPT_YN
                                      FROM (SELECT A.TENANT_ID
                                                  ,A.PROD_ID
                                                  ,A.MENU_ID
                                                  ,A.PRCHS_AMT
                                                  ,A.PRCHS_QTY
                                                  ,A.REG_DT
                                                  ,A.EXPO_ORD
                                                  ,A.EXPO_YN
                                                  ,A.EXPO_START_DT
                                                  ,A.EXPO_END_DT
                                                  ,A.ETC_CD
                                                  ,A.STD_DT
                                              FROM TB_DP_LIST_PROD A
                                             WHERE A.TENANT_ID = #{tenantId} /* header param : tenantId */
                                               AND A.LIST_ID = #{listId}     /* param : listId */
                                               AND A.EXPO_YN = 'Y'           /* 전시여부 */  
                                               AND TO_CHAR(A.STD_DT, 'YYYYMMDDHH24MISS') = #{stdDt} /* 기준일시 */
                                           )                        A
                                         , TB_DP_MENU_CATEGORY      B
                                         , TB_DP_MENU_CATEGORY_DESC C
                                         , TB_DP_PROD               D /* 에피소드 상품 */
                                         , TB_DP_MULTIMDA_PROD      E /* 에피소드 상품 */
                                         , TB_DP_PROD_DESC          F
                                         , TB_DP_TENANT_PROD        G
                                         , TB_DP_TENANT_PROD_PRICE  H
                                         , TB_DP_PROD_RSHP          I
                                         , TB_DP_PROD               J /* 채널 상품 */
                                         , TB_DP_MULTIMDA_PROD      K /* 채널 상품 */
                                         , TB_DP_SPRT_DEVICE        L
                                     WHERE A.MENU_ID = B.MENU_ID
                                       AND A.MENU_ID = C.MENU_ID
                                       AND A.PROD_ID = D.PROD_ID
                                       AND A.PROD_ID = E.PROD_ID
                                       AND A.PROD_ID = F.PROD_ID
                                       AND A.PROD_ID = G.PROD_ID
                                       AND A.TENANT_ID = G.TENANT_ID
                                       AND A.PROD_ID = H.PROD_ID
                                       AND A.TENANT_ID = H.TENANT_ID
                                       AND A.PROD_ID = I.PART_PROD_ID
                                       AND I.PROD_ID = J.PROD_ID
                                       AND I.PROD_ID = K.PROD_ID
                                       AND I.PART_PROD_ID = L.PROD_ID(+)
                                       AND B.USE_YN = 'Y'                        /* Y : 사용 (사용여부) */
                                       AND C.LANG_CD = #{langCd}                      
                                       AND D.SVC_GRP_CD = 'DP000203'             /* DP000201 : 멀티미디어 */
                                       AND D.CONTENTS_TYPE_CD = 'PD002502'       /* PD002502 : 에피소드 */
                                       AND F.LANG_CD = #{langCd}                      
                                       AND G.PROD_STATUS_CD = 'PD000403'         /* PD000403 : 판매중 */
                                       AND G.EXPO_YN = 'Y'                       /* Y : 노출 (노출여부) */
                                       AND SYSDATE BETWEEN H.APPLY_START_DT AND H.APPLY_END_DT
                                       AND I.PROD_RSHP_CD = 'DP010802'           /* DP010802 : 채널-에피소드 상품 관계 */
                                       AND J.CONTENTS_TYPE_CD = 'PD002501'       /* PD002501 : 채널 */
                                       AND L.DEVICE_MODEL_CD(+) = #{deviceModelCd} /* header param : 단말모델코드 */
                                       AND L.PROD_ID IS NOT NULL                 /* 멀티미디어 상품 지원단말 블랙리스트 처리 (현재 데이터는 화이트리스트) */
                                       AND B.TOP_MENU_ID = #{topMenuId}          /* 탑메뉴ID */
                                   <if test='topMenuId == "DP17" || topMenuId == "DP18"'>
                                       AND (CASE WHEN (SELECT VIDEO_DRM_SPRT_YN FROM TB_CM_DEVICE WHERE DEVICE_MODEL_CD = #{deviceModelCd}) = 'N' AND NVL(D.DRM_YN, 'N') = 'Y'
                                                 THEN 'NOT SUPPORT'
                                                 ELSE 'SUPPORT'
                                            END) = 'SUPPORT'  /* DRM 미지원 단말이고 에피소드 상품이 DRM 상품일 경우 노출 안함 */
                                   </if>
                                   <if test='prodGradeCd != null'>
                                       AND J.PROD_GRD_CD = #{prodGradeCd}        /* param : 상품이용등급 */
                                   </if>                                          
                                   <if test='filteredBy == "ebook+normal"'> 
                                       AND B.TOP_MENU_ID = 'DP13'
                                       AND B.MENU_ID NOT IN ( SELECT MENU_ID
		                                                        FROM TB_DP_MENU_CATEGORY
		                                                       WHERE USE_YN = 'Y'
		                                                         AND MENU_ID LIKE 'DP13004%'
		                                                          OR MENU_ID IN ( 'DP13027002'
		                                                                        , 'DP13027008'
		                                                                        , 'DP13027009'
		                                                                        , 'DP13027010' ) )
		                           </if>
		                           <if test='filteredBy == "ebook+genre"'>
		                               AND B.TOP_MENU_ID = 'DP13'
                                       AND B.MENU_ID IN ( SELECT MENU_ID
                                                            FROM TB_DP_MENU_CATEGORY
                                                           WHERE USE_YN = 'Y'
                                                             AND MENU_ID LIKE 'DP13004%'
                                                              OR MENU_ID IN ( 'DP13027002'
                                                                            , 'DP13027008'
                                                                            , 'DP13027009'
                                                                            , 'DP13027010' ) )
                                   </if>
                               ) JA
                       ) KA
                 WHERE KA.RNUM BETWEEN #{offset} AND #{count}
               )                       LA
             , TB_DP_TENANT_PROD_STATS LB
             , TB_DP_PROD_IMG          LC
         WHERE LA.TENANT_ID = LB.TENANT_ID(+)
           AND LA.PROD_ID = LB.PROD_ID(+)
           AND LA.CHNL_PROD_ID = LC.PROD_ID
           AND LC.EXPO_ORD = '1'
           AND LC.LANG_CD = #{langCd}
           AND LC.IMG_CD = 'DP000108'
    </select>  
    
</mapper>