<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ThemeThemeZone">
    <!-- 테마 조회 -->
    <select id="selectThemeThemeZone" parameterType="ThemeThemeZoneSacReq" resultType="ThemeThemeZone">
        SELECT  /* ThemeThemeZoneMapper.XML, selectThemeThemeZone, seung hun Lee, 2014-02-21 */ 
              BNR_MENU_NM
			, BNR_MENU_ID
            , BNR_NM
	   FROM
               ( SELECT 
                     TDL.LIST_NM AS BNR_MENU_NM
                    ,TDL.LIST_ID AS BNR_MENU_ID
                    , TDL.LIST_NM AS BNR_NM
	            FROM TB_DP_LIST TDL
	                WHERE TDL.LIST_ID = #{themeZoneId}        
	            UNION ALL
	            SELECT 
                     ( SELECT TCM.CD_NM FROM TB_CM_CD TCM where TCM.CD_ID = TDB.BNR_MENU_ID) AS BNR_MENU_NM
                     , TDB.BNR_MENU_ID
                     , TDBE.BNR_NM
                FROM TB_DP_BNR TDB
                    , TB_DP_BNR_EXPO TDBE
                WHERE 1=1
                AND TDB.BNR_INFO = #{themeZoneId}
                AND TDB.BNR_MENU_ID = TDBE.BNR_MENU_ID
                AND TDB.BNR_SEQ = TDBE.BNR_SEQ          
				) A
    </select>
     
    <!-- 테마 상품 조회 -->
    <select id="selectThemeThemeZoneList" parameterType="ThemeThemeZoneSacReq" resultType="ProductBasicInfo">
		SELECT  /* ThemeThemeZoneMapper.XML, selectThemeThemeZoneList, seung hun Lee, 2014-02-17 */     
              B.TENANT_ID
             , B.MENU_ID
             , B.PROD_ID
             , B.PART_PROD_ID
             , B.CATALOG_ID
             , B.TOP_MENU_ID
             , B.META_CLSF_CD
             , B.SVC_GRP_CD
             , B.CONTENTS_TYPE_CD
             , B.TOTAL_COUNT
          FROM (SELECT A.*
                     , COUNT(*) OVER () AS TOTAL_COUNT
                     , ROW_NUMBER() OVER(ORDER BY EXPO_ORD_ALWAYS_YN DESC, EXPO_ORD, EXPO_ORD_SUB) AS RNUM
                  FROM (SELECT A.TENANT_ID
                             , E.MENU_ID
                             , C.PROD_ID
                             , C.PART_PROD_ID
                             , '' AS CATALOG_ID
                             , E.TOP_MENU_ID
                             , F.META_CLSF_CD
                             , F.SVC_GRP_CD
                             , F.CONTENTS_TYPE_CD
                             , B.EXPO_ORD_ALWAYS_YN
                             , B.EXPO_ORD
                             , B.EXPO_ORD_SUB
                             , ROW_NUMBER() OVER(PARTITION BY C.PROD_ID ORDER BY F.UPD_DT DESC) AS RN
                          FROM  TB_DP_LIST A
                             , TB_DP_LIST_PROD B
                             , TB_DP_PROD_RSHP C
                             , TB_DP_MENU_CATEGORY_PROD_MAPG D
                             , TB_DP_MENU_CATEGORY E
                             , TB_DP_PROD F  
                             , TB_DP_TENANT_PROD G
                             , TB_CM_DEVICE H
                             , TB_DP_SPRT_DEVICE I
                       WHERE 1=1
	                   <if test='themeZoneId != null'>
                          <if test='themeZoneId == "TAR"'>
                            AND A.LIST_GRP_CD = 'TAR'
                          </if>
                          <if test='themeZoneId != "TAR"'>
                            AND A.LIST_ID = #{themeZoneId}
                          </if>
	                   </if>
                       AND A.LIST_ID = B.LIST_ID
                       AND A.TENANT_ID = #{tenantId}
                       AND B.TENANT_ID = #{tenantId}
                       AND G.TENANT_ID = #{tenantId}
                       AND A.EXPO_YN = 'Y'
                       AND B.EXPO_YN = 'Y'
                       AND SYSDATE BETWEEN B.EXPO_START_DT AND B.EXPO_END_DT
                       AND B.PROD_ID = C.PROD_ID
                       AND C.PROD_RSHP_CD = 'DP010802'
                       AND B.PROD_ID = D.PROD_ID
                       AND D.USE_YN = 'Y'
                       AND D.MENU_ID = E.MENU_ID
                       AND E.USE_YN = 'Y'
                       AND C.PART_PROD_ID = F.PROD_ID
                       AND F.PROD_ID = G.PROD_ID
                       <if test='prodCharge != "A"'>
                         AND  F.PROD_CHRG_YN = #{prodCharge}       /* 상품유료여부 */
                       </if>
                       <if test="arrayProdGradeCd != null">
                          AND F.PROD_GRD_CD IN
                            <foreach collection="arrayProdGradeCd" item="prodGradeCd" separator="," open="(" close=")">
                              #{prodGradeCd}
                            </foreach>
                       </if>
                       AND G.EXPO_YN = 'Y'
                       AND H.DEVICE_MODEL_CD = #{deviceModelCd}
                       AND I.DEVICE_MODEL_CD = #{deviceModelCd}
                       AND C.PART_PROD_ID = I.PROD_ID
                       AND DECODE( F.TOP_MENU_ID
                                    , 'DP13'
                                    , DECODE( H.EBOOK_SPRT_YN
                                            , 'Y'
                                            , DECODE( F.META_CLSF_CD
                                                    , 'CT24'
                                                    , DECODE( H.MAGAZINE_SPRT_YN, 'Y', 1, 0 )
                                                    , 'CT26'
                                                    , DECODE( H.MAGAZINE_SPRT_YN, 'Y', 1, 0 )
                                                    , 1 )
                                            , 0 )
                                    , 'DP14'
                                    , DECODE( H.COMIC_SPRT_YN , 'Y', 1 , 0 )
                                    , 'DP16'
                                    , DECODE( F.META_CLSF_CD
                                            , 'CT25'
                                            , DECODE( H.MUSIC_SPRT_YN, 'Y', 1, 0)
                                            , 1 )
                                    , 1 ) = 1
                          AND ( CASE WHEN F.TOP_MENU_ID IN ( 'DP17', 'DP18' )
                                     THEN ( SELECT 1
                                              FROM TB_DP_SUB_CONTENTS SC
                                             WHERE SC.PROD_ID = C.PART_PROD_ID
                                               AND SC.SALE_YN = 'Y'
                                               AND DECODE( H.HDV_SPRT_YN
                                                         , 'PD005201'
                                                         , DECODE ( SC.DP_PG_QULT_CD
                                                                  , 'PD009701', 1
                                                                  , 'PD009702', 1
                                                                  , 0)
                                                         , DECODE( SC.DP_PG_QULT_CD , 'PD009701', 1 , 0 ) ) = 1
                                               AND ROWNUM  <![CDATA[ <= ]]> 1  )
                                     ELSE 1
                                 END ) = 1
                          AND ( CASE WHEN F.TOP_MENU_ID IN ( 'DP17', 'DP18' )
                                     THEN DECODE( H.VIDEO_DRM_SPRT_YN
                                                , 'N'
                                                , DECODE( NVL( F.DRM_YN, 'N' ), 'N', 1, 0 )
                                                , 'Y'
                                                , 1 )
                                     ELSE 1
                                 END ) = 1
	                      AND ( CASE WHEN E.TOP_MENU_ID IN ( 'DP28' )
	                            THEN ( SELECT 1
	                                     FROM TB_DP_SHPG_PROD SP
	                                    WHERE SP.PROD_ID = C.PROD_ID
	                                      AND SP.SALE_YN = 'Y'
	                                      <if test='b2bProd != "A"'>
	                                      AND SP.B2B_PROD_YN = #{b2bProd}
	                                      </if>
	                                      AND SP.B2B_PROD_YN = 'Y'
	                                      AND ROWNUM <![CDATA[ <= ]]> 1  )
	                            ELSE 1
	                        END ) = 1
	                        UNION ALL
	                        SELECT A.TENANT_ID
					             , ESM.MENU_ID
					             , C.PROD_ID
					             , C.PART_PROD_ID
					             , D.CATALOG_ID
					             , F.TOP_MENU_ID
					             , F.META_CLSF_CD
					             , F.SVC_GRP_CD
					             , F.CONTENTS_TYPE_CD
					             , B.EXPO_ORD_ALWAYS_YN
					             , B.EXPO_ORD
					             , B.EXPO_ORD_SUB
					             , ROW_NUMBER() OVER(PARTITION BY C.PROD_ID ORDER BY F.UPD_DT DESC) AS RN
					          FROM  TB_DP_LIST A
					             , TB_DP_LIST_PROD B
					             , TB_DP_PROD_RSHP C
					             , TB_DP_SHPG_CATALOG      D /* 쇼핑 카탈로그 */
					             , TB_DP_PROD_CATALOG_MAPG E /* 카탈로그-상품 매핑 */
					             , TB_DP_MENU_SHPG_MAPG ESM
					             , TB_DP_PROD F  
					             , TB_DP_TENANT_PROD G
					       WHERE 1=1
	                      <if test='themeZoneId != null'>
	                         <if test='themeZoneId == "TAR"'>
	                           AND A.LIST_GRP_CD = 'TAR'
	                         </if>
	                         <if test='themeZoneId != "TAR"'>
	                           AND A.LIST_ID = #{themeZoneId}
	                         </if>
	                      </if>
					       AND A.LIST_ID = B.LIST_ID
					       AND A.TENANT_ID = #{tenantId}
					       AND B.TENANT_ID = #{tenantId}
					       AND G.TENANT_ID = #{tenantId}
					       AND A.EXPO_YN = 'Y'
					       AND B.EXPO_YN = 'Y'
					       AND SYSDATE BETWEEN B.EXPO_START_DT AND B.EXPO_END_DT
					       AND C.PROD_RSHP_CD = 'DP010802'
					       AND B.PROD_ID = D.CATALOG_ID  
                           AND D.CATALOG_ID = E.CATALOG_ID
					       AND C.PROD_ID = E.PROD_ID
					       AND D.CATALOG_ID = ESM.CATALOG_ID   
					       AND E.BASE_YN = 'Y'
					       AND E.USE_YN = 'Y'
					       AND C.PROD_ID = F.PROD_ID
					       AND F.PROD_ID = G.PROD_ID   
	                       <if test='prodCharge != "A"'>
	                       AND  F.PROD_CHRG_YN = #{prodCharge}       /* 상품유료여부 */
	                       </if>
	                       <if test="arrayProdGradeCd != null">
	                          AND F.PROD_GRD_CD IN
	                            <foreach collection="arrayProdGradeCd" item="prodGradeCd" separator="," open="(" close=")">
	                              #{prodGradeCd}
	                            </foreach>
	                       </if>
					       AND G.EXPO_YN = 'Y'
					       AND EXISTS (
					              SELECT 1 
					              FROM  TB_DP_SPRT_DEVICE DV  
					                   ,TB_CM_DEVICE CM
					              WHERE 1=1
					                AND DV.DEVICE_MODEL_CD = CM.DEVICE_MODEL_CD
					                AND CM.SCL_SHPG_SPRT_YN = 'Y'  /*쇼핑 상품 단말 지원 여부*/
					                AND DV.DEVICE_MODEL_CD = #{deviceModelCd}
					                AND DV.PROD_ID = F.PROD_ID
					              ) 
                          AND ( CASE WHEN F.TOP_MENU_ID IN ( 'DP28' )
                                THEN ( SELECT 1
                                         FROM TB_DP_SHPG_PROD SP
                                        WHERE SP.PROD_ID = F.PROD_ID
                                          AND SP.SALE_YN = 'Y'
                                          <if test='b2bProd != "A"'>
                                          AND SP.B2B_PROD_YN = #{b2bProd}
                                          </if>
                                          AND SP.B2B_PROD_YN = 'Y'
                                          AND ROWNUM <![CDATA[ <= ]]> 1  )
                                ELSE 1
                            END ) = 1
                      ) A
                 WHERE RN = 1
              ) B
        WHERE RNUM BETWEEN #{offset} AND (#{offset}+#{count}-1)
        ORDER BY RNUM
    </select>
</mapper>