<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AlbumProduct">

    <select id="selectAlbumProductList" parameterType="java.util.HashMap" resultType="ProductBasicInfo">
        SELECT /* AlbumProductMapper.xml, selectAlbumProductList, SAC 전시 , 2014-03-08 */
            A.TOTAL_COUNT
            , A.RNK
            , A.TOP_MENU_ID
            , A.MENU_ID
            , A.PROD_ID AS PART_PROD_ID
            , A.CONTENTS_TYPE_CD
        FROM (
            SELECT
                COUNT(A.PROD_ID) OVER() TOTAL_COUNT
                , I.CHAPTER AS RNK
                , C.TOP_MENU_ID
                , C.MENU_ID
                , A.PROD_ID
                , A.CONTENTS_TYPE_CD
                , ROW_NUMBER() OVER(ORDER BY I.CHAPTER) RNK
            FROM 
                TB_DP_PROD A /* 에피소드 */
                , TB_DP_MENU_CATEGORY_PROD_MAPG B
                , TB_DP_MENU_CATEGORY C
                , TB_DP_PROD_DESC D
                , TB_DP_TENANT_PROD E
                , TB_DP_SPRT_DEVICE F
                , TB_CM_DEVICE G
                , TB_DP_TENANT_PROD_STATS H
                , TB_DP_MUSIC_PROD I
                , TB_DP_PROD_RSHP J
                , TB_DP_PROD_RSHP K
            WHERE A.PROD_ID = B.PROD_ID
            AND B.MENU_ID = C.MENU_ID
            AND A.PROD_ID = D.PROD_ID
            AND A.PROD_ID = E.PROD_ID
            AND A.PROD_ID = F.PROD_ID
            AND E.PROD_ID = H.PROD_ID(+)
            AND E.TENANT_ID = H.TENANT_ID(+)
            AND A.PROD_ID = I.PROD_ID
            AND A.PROD_ID = J.PART_PROD_ID /* 채널 관계 */
            AND J.PROD_ID = K.PART_PROD_ID /* 앨범 관계 */
        
            AND A.CONTENTS_TYPE_CD = 'PD002502'
            AND A.META_CLSF_CD = 'CT25'
			<if test="prodGradeCds != null">
			AND A.PROD_GRD_CD IN
				<foreach collection="prodGradeCds" item="prodGradeCd" separator="," open="(" close=")">
					#{prodGradeCd}
				</foreach>
			</if>
            AND B.USE_YN = 'Y'
            AND C.USE_YN = 'Y'
            AND G.USE_YN = 'Y'
            AND C.TOP_MENU_ID = 'DP16'
            AND E.PROD_STATUS_CD = 'PD000403'
            AND E.EXPO_YN = 'Y'
            AND G.MUSIC_SPRT_YN = 'Y'
            AND J.PROD_RSHP_CD = 'DP010802'
            AND K.PROD_RSHP_CD = 'DP010804'
        
            AND (F.DEVICE_MODEL_CD = #{deviceModelCd} OR F.DEVICE_MODEL_CD = #{mmDeviceModelCd})
            AND G.DEVICE_MODEL_CD = #{deviceModelCd}
            AND K.PROD_ID = #{prodId}
            AND E.TENANT_ID = #{tenantId}
            AND D.LANG_CD = #{langCd}
            ORDER BY I.CHAPTER
        ) A
	    WHERE A.RNK BETWEEN #{offset} AND #{count} + #{offset} - 1
	    ORDER BY A.RNK
    </select>
</mapper>