<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SimilarMovie">
    <!-- 이 영화와 유사 영화 조회 -->
    <select id="selectSimilarMovieList" parameterType="SimilarMovieCriteria" resultType="SimilarMovieDbResultMap">
    SELECT PROD_ID, SIM_PROD_ID_LIST
	  FROM TB_DP_PROD_SIMILAR
	 WHERE TENANT_ID=#{tenantId}
	   AND PROD_ID=#{prodId}
	<if test='stdDt != null and stdDt != ""'>
       AND STD_DT = TO_DATE(#{stdDt}, 'YYYYMMDDHH24MISS')
    </if>
    </select>
</mapper>
