<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Coupon">
    
    <!--쿠폰ID 생성 조회-->
    <select id="couponGenerateId" resultType="String">
       /* CouponMapper.xml, couponGenerateId, SAC : 김형식 , 2013-01-08 */
       SELECT 
         'S90000'||(MAX(SUBSTR(PROD_ID,3,8))+1)
        FROM TB_DP_SHPG_PROD A
    </select>
    
    <!--아이템ID 생성 조회-->
    <select id="itemGenerateId" resultType="String">
       /* CouponMapper.xml, itemGenerateId, SAC : 김형식 , 2013-01-08 */
       SELECT 
         (MAX(SUBSTR(PROD_ID,3,8))+2)
        FROM TB_DP_SHPG_PROD A
    </select>

    <!--쿠폰ID,아이템ID 가져오기 조회-->
    <select id="getGenerateId" resultType="String"  parameterType="String">
       /* CouponMapper.xml, getCouponGenerateId, SAC : 김형식 , 2013-01-08 */
       SELECT 
         PROD_ID
        FROM TB_DP_SHPG_PROD A
        WHERE SRC_CONTENT_ID= #{scrContentId}
    </select>       
    
    <!--TB_DP_PROD 테이블에 INSERT-->    
    <insert id="insertTbDpProdInfo" parameterType="com.skplanet.storeplatform.sac.api.vo.TbDpProdInfo">
      /* CouponMapper.xml, insertTbDpProdInfo, SAC : 김형식 , 2013-01-08 */
        insert into TB_DP_PROD(
             PROD_ID                /* 상품_ID */
            ,PROD_CHRG_YN           /* 상품_유료_여부 */
            ,SELLER_MBR_NO          /* 판매자_회원_번호 */
            ,SVC_GRP_CD             /* 서비스_그룹_코드 */
            ,SVC_TYPE_CD            /* 서비스_타입_코드 */
            ,PROD_GRD_CD            /* 상품_등급_코드 */
            ,CID                    /* CID */
            ,FEE_CASE_CD            /* 요금_유형_코드 */
            ,USE_PERIOD_UNIT_CD     /* 사용_기간_단위_코드 */
            ,USE_PERIOD             /* 사용_기간 */
            ,DRM_YN                 /* DRM_여부 */
            ,META_CLSF_CD           /* 메타_구분_코드(CT28) */
            ,CONTENTS_TYPE_CD       /* 컨텐츠_타입_코드(PD0057, PD0073, PD0093, PD0104) */
            ,TOP_MENU_ID            /* 상위메뉴아이디 (DP28) */
            ,REG_ID                 /* 등록_ID */
            ,REG_DT                 /* 등록_일시 */
            ,UPD_ID                 /* 수정_ID */
            ,UPD_DT                 /* 수정_일시 */
        ) values (
             #{prodId}
            ,#{prodChrgYn}
            ,#{sellerMbrNo}
            ,#{svcGrpCd}
            ,#{svcTypeCd}
            ,#{prodGrdCd}
            ,#{cid}
            ,#{feeCaseCd}
            ,#{usePeriodUnitCd}
            ,#{usePeriod}
            ,#{drmYn}
            ,#{metaClsfCd}
            ,#{contentsTypeCd}
            ,#{topMenuId}
            ,#{regId}
            ,sysdate
            ,#{updId}
            ,sysdate
        )
    </insert>
     <!--TB_DP_PROD 테이블에 UPDATE-->  
    <update id="updateTbDpProdInfo" parameterType="com.skplanet.storeplatform.sac.api.vo.TbDpProdInfo">
    /* CouponMapper.xml, updateTbDpProdInfo, SAC : 김형식 , 2013-01-08 */
        update TB_DP_PROD
        set
             PROD_CHRG_YN      = NVL(#{prodChrgYn},PROD_CHRG_YN)               /* 상품_유료_여부 */
            ,SELLER_MBR_NO     = NVL(#{sellerMbrNo},SELLER_MBR_NO)             /* 판매자_회원_번호 */
            ,SVC_GRP_CD        = NVL(#{svcGrpCd},SVC_GRP_CD)                   /* 서비스_그룹_코드 */
            ,SVC_TYPE_CD       = NVL(#{svcTypeCd},SVC_TYPE_CD)                 /* 서비스_타입_코드 */
            ,PROD_GRD_CD       = NVL(#{prodGrdCd},PROD_GRD_CD)                 /* 상품_등급_코드 */
            ,CID               = NVL(#{cid},CID)                               /* CID */
            ,FEE_CASE_CD       = NVL(#{feeCaseCd},FEE_CASE_CD)                 /* 요금_유형_코드 */
            ,USE_PERIOD_UNIT_CD= NVL(#{usePeriodUnitCd},USE_PERIOD_UNIT_CD)    /* 사용_기간_단위_코드 */
            ,USE_PERIOD        = NVL(#{usePeriod},USE_PERIOD)                  /* 사용_기간 */
            ,DRM_YN            = NVL(#{drmYn},DRM_YN)                          /* DRM_여부 */
            ,META_CLSF_CD      = NVL(#{metaClsfCd},META_CLSF_CD)               /* 메타_구분_코드(CT28) */
            ,CONTENTS_TYPE_CD  = NVL(#{contentsTypeCd},CONTENTS_TYPE_CD)       /* 컨텐츠_타입_코드(PD0057, PD0073, PD0093, PD0104) */
            ,TOP_MENU_ID       = NVL(#{topMenuId},TOP_MENU_ID)                 /* 상위메뉴아이디 (DP28) */
            ,UPD_ID            = NVL(#{updId},UPD_ID)                          /* 수정_ID */
            ,UPD_DT            = sysdate                                       /* 수정_일시 */
        where 1=1
         AND PROD_ID = #{prodId}
    </update>    
    
        <!--TB_DP_SHPG_PROD 테이블에 INSERT-->    
    <insert id="insertTbDpShpgProdInfo" parameterType="com.skplanet.storeplatform.sac.api.vo.TbDpShpgProdInfo">
      /* CouponMapper.xml, insertTbDpShpgProdInfo, SAC : 김형식 , 2013-01-08 */
        insert into TB_DP_SHPG_PROD(
             PROD_ID                      /* 상품_ID */
            ,EPSD_CNT                     /* 에피소드_수 */
            ,CHNL_COMP_NM                 /* 채널_회사_명 */
            ,SALE_YN                      /* 판매_여부 */
            ,CONTENTS_ORDR_CD             /* 컨텐츠_오더_코드(D) */
            ,MM_MAX_SALE_QTY              /* 월_최대_판매_수량 */
            ,DAY_MAX_SALE_QTY             /* 일_최대_판매_수량 */
            ,MM_MBR_MAX_PRCHS_QTY         /* 월_회원_최대_구매_수량 */
            ,DAY_MBR_MAX_PRCHS_QTY        /* 일_회원_최대_구매_수량 */
            ,FIRST_MAX_PRCHS_QTY          /* 1차_최대_구매_수량 */
            ,USE_PLAC                     /* 사용_장소 */
            ,USE_LIMT_DESC                /* 사용_제한_설명 */
            ,NOTICE_MATT                  /* 공지_사항 */
            ,PRCHS_CANCEL_DRBK_REASON     /* 구매_취소_환불_사유 */
            ,PROD_CASE_CD                 /* 상품_유형_코드(DP0063) */
            ,B2B_PROD_YN                  /* B2B_상품_여부 */
            ,DLV_PROD_YN                  /* 배송_상품_여부 */
            ,MANG_BP_ID                   /* 관리_BP_ID */
            ,SRC_CONTENT_ID               /* 소스_컨텐트_ID */
            ,REG_ID                       /* 등록_ID */
            ,REG_DT                       /* 등록_일시 */
            ,UPD_ID                       /* 수정_ID */
            ,UPD_DT                       /* 수정_일시 */
        ) values (
             #{prodId}
            ,#{epsdCnt}
            ,#{chnlCompNm}
            ,#{saleYn}
            ,#{contentsOrdrCd}
            ,#{mmMaxSaleQty}
            ,#{dayMaxSaleQty}
            ,#{mmMbrMaxPrchsQty}
            ,#{dayMbrMaxPrchsQty}
            ,#{firstMaxPrchsQty}
            ,#{usePlac}
            ,#{useLimtDesc}
            ,#{noticeMatt}
            ,#{prchsCancelDrbkReason}
            ,#{prodCaseCd}
            ,#{b2bProdYn}
            ,#{dlvProdYn}
            ,#{mangBpId}
            ,#{srcContentId}
            ,#{regId}
            ,sysdate
            ,#{updId}
            ,sysdate
        )
    </insert>
     <!--TB_DP_SHPG_PROD 테이블에 UPDATE--> 
    <update id="updateTbDpShpgProdInfo" parameterType="com.skplanet.storeplatform.sac.api.vo.TbDpShpgProdInfo">
     /* CouponMapper.xml, updateTbDpShpgProdInfo, SAC : 김형식 , 2013-01-08 */
        update TB_DP_SHPG_PROD
        set
             EPSD_CNT                = NVL(#{epsdCnt},EPSD_CNT)                                 /* 에피소드_수 */
            ,CHNL_COMP_NM            = NVL(#{chnlCompNm},CHNL_COMP_NM)                          /* 채널_회사_명 */
            ,SALE_YN                 = NVL(#{saleYn},SALE_YN)                                   /* 판매_여부 */
            ,CONTENTS_ORDR_CD        = NVL(#{contentsOrdrCd},CONTENTS_ORDR_CD)                  /* 컨텐츠_오더_코드(D) */
            ,MM_MAX_SALE_QTY         = NVL(#{mmMaxSaleQty},MM_MAX_SALE_QTY)                     /* 월_최대_판매_수량 */
            ,DAY_MAX_SALE_QTY        = NVL(#{dayMaxSaleQty},DAY_MAX_SALE_QTY)                   /* 일_최대_판매_수량 */
            ,MM_MBR_MAX_PRCHS_QTY    = NVL(#{mmMbrMaxPrchsQty},MM_MBR_MAX_PRCHS_QTY)            /* 월_회원_최대_구매_수량 */
            ,DAY_MBR_MAX_PRCHS_QTY   = NVL(#{dayMbrMaxPrchsQty},DAY_MBR_MAX_PRCHS_QTY)          /* 일_회원_최대_구매_수량 */
            ,FIRST_MAX_PRCHS_QTY     = NVL(#{firstMaxPrchsQty},FIRST_MAX_PRCHS_QTY)             /* 1차_최대_구매_수량 */
            ,USE_PLAC                = NVL(#{usePlac},USE_PLAC)                                 /* 사용_장소 */
            ,USE_LIMT_DESC           = NVL(#{useLimtDesc},USE_LIMT_DESC)                        /* 사용_제한_설명 */
            ,NOTICE_MATT             = NVL(#{noticeMatt},NOTICE_MATT)                           /* 공지_사항 */
            ,PRCHS_CANCEL_DRBK_REASON= NVL(#{prchsCancelDrbkReason},PRCHS_CANCEL_DRBK_REASON)    /* 구매_취소_환불_사유 */
            ,PROD_CASE_CD            = NVL(#{prodCaseCd},PROD_CASE_CD)                          /* 상품_유형_코드(DP0063) */
            ,B2B_PROD_YN             = NVL(#{b2bProdYn},B2B_PROD_YN)                            /* B2B_상품_여부 */
            ,DLV_PROD_YN             = NVL(#{dlvProdYn},DLV_PROD_YN)                            /* 배송_상품_여부 */
            ,MANG_BP_ID              = NVL(#{mangBpId},MANG_BP_ID)                              /* 관리_BP_ID */
            ,UPD_ID                  = NVL(#{updId},UPD_ID)                                     /* 수정_ID */
            ,UPD_DT                  = sysdate                                                  /* 수정_일시 */
        where 1=1
        AND PROD_ID = #{prodId}
    </update>    
    
        <!--TB_DP_PROD_DESC 테이블에 INSERT-->    
    <insert id="insertTbDpProdDescInfo" parameterType="com.skplanet.storeplatform.sac.api.vo.TbDpProdDescInfo">
      /* CouponMapper.xml, insertTbDpProdDescInfo, SAC : 김형식 , 2013-01-08 */
        insert into TB_DP_PROD_DESC(
             PROD_ID            /*  */
            ,LANG_CD            /*  */
            ,PROD_NM            /*  */
            ,PROD_BASE_DESC     /*  */
            ,PROD_DTL_DESC      /*  */
            ,PROD_INTR_DSCR     /*  */
            ,PROD_USE_MTD       /*  */
            ,REG_ID             /*  */
            ,REG_DT             /*  */
            ,UPD_ID             /*  */
            ,UPD_DT             /*  */
        ) values (
             #{prodId}
            ,#{langCd}
            ,#{prodNm}
            ,#{prodBaseDesc}
            ,#{prodDtlDesc}
            ,#{prodIntrDscr}
            ,#{prodUseMtd}
            ,#{regId}
            ,sysdate
            ,#{updId}
            ,sysdate
        )
    </insert>
     <!--TB_DP_PROD_DESC 테이블에 UPDATE--> 
    <update id="updateTbDpProdDescInfo" parameterType="com.skplanet.storeplatform.sac.api.vo.TbDpProdDescInfo">
     /* CouponMapper.xml, updateTbDpProdDescInfo, SAC : 김형식 , 2013-01-08 */
        update TB_DP_PROD_DESC
        set
             LANG_CD       = NVL(#{langCd},LANG_CD)                /*  */
            ,PROD_NM       = NVL(#{prodNm},PROD_NM)                /*  */
            ,PROD_BASE_DESC= NVL(#{prodBaseDesc},PROD_BASE_DESC)    /*  */
            ,PROD_DTL_DESC = NVL(#{prodDtlDesc},PROD_DTL_DESC)     /*  */
            ,PROD_INTR_DSCR= NVL(#{prodIntrDscr},PROD_INTR_DSCR)    /*  */
            ,PROD_USE_MTD  = NVL(#{prodUseMtd},PROD_USE_MTD)       /*  */
            ,UPD_ID        = NVL(#{updId},UPD_ID)                  /*  */
            ,UPD_DT        = sysdate                               /*  */
        where 1=1
       AND PROD_ID = #{prodId}
    </update>        
    
    <!--TB_DP_PROD_CATALOG_MAPG 테이블에 INSERT-->    
    <insert id="insertTbDpProdCatalogMapgInfo" parameterType="com.skplanet.storeplatform.sac.api.vo.TbDpProdCatalogMapgInfo">
      /* CouponMapper.xml, insertTbDpProdCatalogMapgInfo, SAC : 김형식 , 2013-01-08 */
        insert into TB_DP_PROD_CATALOG_MAPG(
             PROD_ID        /* 상품_ID */
            ,CATALOG_ID     /* 카탈로그_ID */
            ,BASE_YN        /* 기본_여부 */
            ,USE_YN         /* 사용_여부 */
            ,REG_ID         /* 등록_ID */
            ,REG_DT         /* 등록_일시 */
            ,UPD_ID         /* 수정_ID */
            ,UPD_DT         /* 수정_일시 */
        ) values (
             #{prodId}
            ,#{catalogId}
            ,#{baseYn}
            ,#{useYn}
            ,#{regId}
            ,sysdate
            ,#{updId}
            ,sysdate
        )
    </insert>
    
     <!--TB_DP_PROD_CATALOG_MAPG 테이블에 UPDATE--> 
    <update id="updateTbDpProdCatalogMapgInfo" parameterType="com.skplanet.storeplatform.sac.api.vo.TbDpProdCatalogMapgInfo">
     /* CouponMapper.xml, updateTbDpProdCatalogMapgInfo, SAC : 김형식 , 2013-01-08 */
        update TB_DP_PROD_CATALOG_MAPG
        set
             BASE_YN   = NVL(#{baseYn},BASE_YN)         /* 기본_여부 */
            ,USE_YN    = NVL(#{useYn},USE_YN)           /* 사용_여부 */
            ,UPD_ID    = NVL(#{updId},UPD_ID)           /* 수정_ID */
            ,UPD_DT    = sysdate                        /* 수정_일시 */
        where 1=1
       AND PROD_ID = #{prodId}
    </update>           
    
    <!--TB_DP_PROD_RSHP 테이블에 INSERT-->    
    <insert id="insertTbDpProdRshpInfo" parameterType="com.skplanet.storeplatform.sac.api.vo.TbDpProdRshpInfo">
      /* CouponMapper.xml, insertTbDpProdRshpInfo, SAC : 김형식 , 2013-01-08 */
        insert into TB_DP_PROD_RSHP(
             PROD_ID          /*상품ID  */
            ,PART_PROD_ID     /*부분_상품_ID  */
            ,PROD_RSHP_CD     /*상품_관계_코드(DP0108)  */
            ,REG_ID           /*등록_ID  */
            ,REG_DT           /*등록_일시  */
        ) values (
             #{prodId}
            ,#{partProdId}
            ,#{prodRshpCd}
            ,#{regId}
            ,sysdate
        )
    </insert>    
    
     <!--TB_DP_PROD_OPT 테이블에 DELETE--> 
     <!-- 쇼핑 옵션 정보 UPDATE 없이 무조건 INSERT 하는걸로 함 2013.05.31 서영배차장요청 -->
    <delete id="deleteTbDpProdOpt" parameterType="com.skplanet.storeplatform.sac.api.vo.TbDpProdOpt">
     /* CouponMapper.xml, deleteTbDpProdOpt, SAC : 김형식 , 2013-01-08 */
        DELETE FROM TB_DP_PROD_OPT WHERE CHNL_PROD_ID = #{chnlProdId}
    </delete>     
    
    <!--TB_DP_PROD_OPT 테이블에 INSERT-->    
    <insert id="insertTbDpProdOpt" parameterType="com.skplanet.storeplatform.sac.api.vo.TbDpProdOpt">
      /* CouponMapper.xml, insertTbDpProdOpt, SAC : 김형식 , 2013-01-08 */
        insert into TB_DP_PROD_OPT(
             CHNL_PROD_ID     /* 채널_상품_ID */
            ,EPSD_PROD_ID     /* 에피소드_상품_ID */
            ,OPT1_NM          /* 옵션1_명 */
            ,OPT2_NM          /* 옵션2_명 */
            ,EXPO_ORD         /* 노출_순서 */
            ,EXPO_YN          /* 노출_여부 */
            ,REG_ID           /* 등록_ID */
            ,REG_DT           /* 등록_일시 */
            ,UPD_ID           /* 수정_ID */
            ,UPD_DT           /* 수정_일시 */
        ) values (
             #{chnlProdId}
            ,#{epsdProdId}
            ,#{opt1Nm}
            ,#{opt2Nm}
            ,#{expoOrd}
            ,#{expoYn}
            ,#{regId}
            ,sysdate
            ,#{updId}
            ,sysdate
        )
    </insert>
    
    <!--TB_DP_TENANT_PROD 테이블에 INSERT-->    
    <insert id="insertTbDpTenantProdInfo" parameterType="com.skplanet.storeplatform.sac.api.vo.TbDpTenantProdInfo">
      /* CouponMapper.xml, insertTbDpTenantProdInfo, SAC : 김형식 , 2013-01-08 */
        insert into TB_DP_TENANT_PROD(
             PROD_ID            /*  */
            ,TENANT_ID          /*  */
            ,PROD_STATUS_CD     /*  */
            ,EXPO_YN            /*  */
            ,EXPO_ORD           /*  */
            ,REG_ID             /*  */
            ,REG_DT             /*  */
            ,UPD_ID             /*  */
            ,UPD_DT             /*  */
        ) values (
             #{prodId}
            ,#{tenantId}
            ,#{prodStatusCd}
            ,#{expoYn}
            ,#{expoOrd}
            ,#{regId}
            ,sysdate
            ,#{updId}
            ,sysdate
        )
    </insert>
    
     <!--TB_DP_TENANT_PROD 테이블에 UPDATE--> 
    <update id="updateTbDpTenantProdInfo" parameterType="com.skplanet.storeplatform.sac.api.vo.TbDpTenantProdInfo">
     /* CouponMapper.xml, updateTbDpTenantProdInfo, SAC : 김형식 , 2013-01-08 */
        update TB_DP_TENANT_PROD
        set
             PROD_STATUS_CD= NVL(#{prodStatusCd},PROD_STATUS_CD)    /*  */
            ,EXPO_YN       = NVL(#{expoYn},EXPO_YN)                /*  */
            ,EXPO_ORD      = NVL(#{expoOrd},EXPO_ORD)              /*  */
            ,UPD_ID        = NVL(#{updId},UPD_ID)                  /*  */
            ,UPD_DT        = sysdate                               /*  */
        where 1=1
          AND TENANT_ID = #{tenantId}
          AND PROD_ID = #{prodId}
    </update>      
    
   <!--TB_DP_TENANT_PROD_PRICE 테이블에 INSERT-->    
    <insert id="insertTbDpTenantProdPriceInfo" parameterType="com.skplanet.storeplatform.sac.api.vo.TbDpTenantProdPriceInfo">
      /* CouponMapper.xml, insertTbDpTenantProdPriceInfo, SAC : 김형식 , 2013-01-08 */
        insert into TB_DP_TENANT_PROD_PRICE(
             TENANT_ID           /* 테넌트_ID */
            ,PROD_ID             /* 상품_ID */
            ,APPLY_START_DT      /* 적용_시작_일시 */
            ,SEQ                 /* SEQ */
            ,APPLY_END_DT        /* 적용_종료_일시 */
            ,PROD_AMT            /* 상품_금액 */
            ,CHNL_UNLMT_AMT      /* 채널_무제한_금액 */
            ,CHNL_PERIOD_AMT     /* 채널_기간_금액 */
            ,PROD_NET_AMT        /* 상품_정찰_금액 */
            ,DC_RATE             /* 할인_율 */
            ,DC_AMT              /* 할인_금액 */
            ,TAX_CLSF            /* 세금_구분 */
            ,REG_ID              /* 등록_ID */
            ,REG_DT              /* 등록_일시 */
            ,UPD_ID              /* 수정_ID */
            ,UPD_DT              /* 수정_일시 */
        ) values (
             #{tenantId}
            ,#{prodId}
            ,TO_DATE(#{applyStartDt},'yyyymmddhh24miss')
            ,#{seq}
            ,TO_DATE(#{applyEndDt},'yyyymmddhh24miss')
            ,#{prodAmt}
            ,#{chnlUnlmtAmt}
            ,#{chnlPeriodAmt}
            ,#{prodNetAmt}
            ,#{dcRate}
            ,#{dcAmt}
            ,#{taxClsf}
            ,#{regId}
            ,sysdate
            ,#{updId}
            ,sysdate
        )
    </insert>
    
     <!--TB_DP_TENANT_PROD_PRICE 테이블에 UPDATE--> 
    <update id="updateTbDpTenantProdPriceInfo" parameterType="com.skplanet.storeplatform.sac.api.vo.TbDpTenantProdPriceInfo">
     /* CouponMapper.xml, updateTbDpTenantProdPriceInfo, SAC : 김형식 , 2013-01-08 */
        update TB_DP_TENANT_PROD_PRICE
        set
             APPLY_START_DT = TO_DATE(#{applyStartDt},'yyyymmddhh24miss') /* 적용_시작_일시 */
            ,SEQ            = NVL(#{seq},SEQ)                         /* SEQ */
            ,APPLY_END_DT   = TO_DATE(#{applyEndDt},'yyyymmddhh24miss')   /* 적용_종료_일시 */
            ,PROD_AMT       = NVL(#{prodAmt},PROD_AMT)                /* 상품_금액 */
            ,CHNL_UNLMT_AMT = NVL(#{chnlUnlmtAmt},CHNL_UNLMT_AMT)     /* 채널_무제한_금액 */
            ,CHNL_PERIOD_AMT= NVL(#{chnlPeriodAmt},CHNL_PERIOD_AMT)    /* 채널_기간_금액 */
            ,PROD_NET_AMT   = NVL(#{prodNetAmt},PROD_NET_AMT)         /* 상품_정찰_금액 */
            ,DC_RATE        = NVL(#{dcRate},DC_RATE)                  /* 할인_율 */
            ,DC_AMT         = NVL(#{dcAmt},DC_AMT)                    /* 할인_금액 */
            ,TAX_CLSF       = NVL(#{taxClsf},TAX_CLSF)                /* 세금_구분 */
            ,UPD_ID         = NVL(#{updId},UPD_ID)                    /* 수정_ID */
            ,UPD_DT         = sysdate                                 /* 수정_일시 */
        where 1=1
          AND TENANT_ID = #{tenantId}
          AND PROD_ID = #{prodId}
    </update>            
    
    
    <!-- 전시단 쿠폰상품 상태변경 -->
    <update id="updateDPCouponStatus" parameterType="HashMap">
        /* CouponMapper.xml, updateDPCouponStatus, SAC : 김형식 , 2013-01-08 */
        UPDATE 
            TB_DP_TENANT_PROD
        SET PROD_STATUS_CD = #{dpStatusCode}
        WHERE 1=1
        <if test='upType == "0"'>
          AND PROD_ID =#{prodId}
        </if>
        <if test='upType == "1"'>
          AND PROD_ID =#{itemCode}
        </if>
        <if test='upType == "2"'>        
          AND PROD_ID IN (
               SELECT 
                      PROD_ID 
                 FROM TB_DP_SHPG_PROD
                WHERE  PROD_ID = #{prodId}
            UNION ALL 
               SELECT 
                       B.PART_PROD_ID
                FROM   TB_DP_SHPG_PROD A 
                      ,TB_DP_PROD_RSHP B
                WHERE A.PROD_ID = B.PROD_ID
                  AND A.PROD_ID = #{prodId}     
          )
        </if>
    </update>
    
    <!-- 전시단 쿠폰상품 판매중인 ITEM의 갯수 변경 -->
    <update id="updateDPCouponItemCNT" parameterType="String">
        /* CouponMapper.xml, updateDPCouponItemCNT, SAC : 김형식 , 2013-01-08 */
        UPDATE 
             TB_DP_SHPG_PROD
        SET EPSD_CNT = (
				SELECT 
				       COUNT(B.PART_PROD_ID)  
				FROM   TB_DP_SHPG_PROD A 
				      ,TB_DP_PROD_RSHP B
				      ,TB_DP_TENANT_PROD C
				WHERE A.PROD_ID = B.PROD_ID
				  AND A.PROD_ID =C.PROD_ID
				  AND C.PROD_STATUS_CD = 'PD000403'
				  AND C.EXPO_YN ='Y'
				  AND A.PROD_ID =  #{prodId}      
        )
        WHERE PROD_ID = #{prodId}
    </update>    
    
    <!-- 전시단 판매중인 채널의 갯수 변경 -->
    <update id="updateDPCouponCNT" parameterType="String">
        /* CouponMapper.xml, updateDPCouponCNT, SAC : 김형식 , 2013-01-08 */
        UPDATE 
            TB_DP_SHPG_CATALOG
        SET CHNL_CNT =  (
				  SELECT 
				        COUNT(B.PROD_ID)
				  FROM  TB_DP_PROD_CATALOG_MAPG A
				       ,TB_DP_TENANT_PROD B
				  WHERE A.PROD_ID = B.PROD_ID
				    AND A.BASE_YN ='Y'
				    AND A.USE_YN ='Y'
				    AND B.EXPO_YN ='Y' 
				    AND B.PROD_STATUS_CD = 'PD000403'      
				    AND A.CATALOG_ID = (
				         SELECT 
				             CATALOG_ID 
				         FROM TB_DP_PROD_CATALOG_MAPG
				         WHERE PROD_ID =#{prodId}
				   )                 
        )
        WHERE CATALOG_ID =
        (
          SELECT 
                 CATALOG_ID 
            FROM TB_DP_PROD_CATALOG_MAPG
           WHERE PROD_ID =#{prodId}
             AND BASE_YN ='Y'
             AND USE_YN ='Y'    
        )
        
    </update>

    <!-- 전시단 쿠폰 전시여부 변경 -->
    <update id="updateDPYNStatus" parameterType="String">
        /* CouponMapper.xml, updateDPYNStatus, SAC : 김형식 , 2013-01-08 */
        MERGE INTO 
            TB_DP_PROD_OPT A
        USING ( SELECT  T1.CHNL_PROD_ID
                        ,T1.OPT1_NM
                        ,CASE WHEN SUM(CASE WHEN T3.PROD_STATUS_CD = 'PD000403' THEN 1 ELSE 0  END) > 0 THEN 'Y' ELSE 'N' END EXPO_YN
                FROM 
                      TB_DP_PROD_OPT T1
                    , TB_DP_SHPG_PROD T2
                    , TB_DP_TENANT_PROD T3
                WHERE T1.CHNL_PROD_ID != T1.EPSD_PROD_ID
                AND T1.EPSD_PROD_ID = T2.PROD_ID
                AND T1.EPSD_PROD_ID = T3.PROD_ID
                AND T3.EXPO_YN ='Y'                
                AND T1.CHNL_PROD_ID = #{prodId}
                GROUP BY T1.CHNL_PROD_ID, T1.OPT1_NM
        ) B
        ON (A.CHNL_PROD_ID = B.CHNL_PROD_ID AND A.OPT1_NM = B.OPT1_NM AND EXPO_ORD = 1)
        WHEN MATCHED THEN
        UPDATE
            SET A.EXPO_YN = B.EXPO_YN
    </update>    
        
    <!--특가 상품 목록 조회-->
    <select id="GET_SPECIAL_PRODUCT_INFO" resultType="int" parameterType="String">
       /* CouponMapper.xml, GET_SPECIAL_PRODUCT_INFO, SAC : 김형식 , 2013-01-08 */
        SELECT 
               COUNT(A.PROD_ID) as CNT
        FROM   TB_DP_SPRC_PROD A
              ,TB_DP_SHPG_PROD B
        WHERE A.PROD_ID = B.PROD_ID
          AND B.SRC_CONTENT_ID =  #{prodId}
          AND A.EXPO_YN = 'Y' 
    </select>
    
    <!--특가 상품 상세 조회-->
    <select id="GET_COUPON_INFO"  resultType="int" parameterType="String">
       /* CouponMapper.xml, GET_COUPON_INFO, SAC : 김형식 , 2013-01-08 */
        SELECT 
            COUNT(PROD_ID) as CNT
        FROM TB_DP_SHPG_PROD
        WHERE SRC_CONTENT_ID = #{prodId}
    </select>
    
    <!--특가 상품 상세 조회-->
    <select id="GET_SPECIAL_PRODUCT_DETAIL" resultType="com.skplanet.storeplatform.external.client.shopping.vo.CouponRes" parameterType="String">
       /* CouponMapper.xml, GET_SPECIAL_PRODUCT_DETAIL, SAC : 김형식 , 2013-01-08 */
		SELECT 
			   A.PROD_ID as couponCode
			  ,B.PROD_NM  as eventName
			  ,TO_CHAR(A.SPRC_APPLY_START_DT,'yyyyMMddHH24miss')  as eventStartDate
			  ,TO_CHAR(A.SPRC_APPLY_END_DT,'yyyyMMddHH24miss')    as eventEndDate
			  ,A.SPRC_DC_RATE as eventDcRate 
		FROM   TB_DP_SPRC_PROD A
		      ,TB_DP_PROD_DESC B
		      ,TB_DP_SHPG_PROD C
		WHERE A.PROD_ID = B.PROD_ID
		  AND A.PROD_ID = C.PROD_ID
		  AND C.SRC_CONTENT_ID =  #{prodId}
		  AND A.EXPO_YN = 'Y' 
		  AND ROWNUM =1
    </select>    
        
    
</mapper>
