<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Appguide">
    <select id="getVersion" parameterType="java.util.Map" resultType="Appguide">
    SELECT /* AppguideMapper.xml, getVersion, JuYoung Yun, 2014-02-28 */
           *
    FROM   (
            SELECT  P.*
            FROM   (
                   SELECT 
                           SC.APK_PKG_NM              AS APK_PKG
                          ,SC.APK_VER_NM              AS APK_VER_CD
                          ,ROW_NUMBER( ) OVER( PARTITION BY P.PROD_ID, SC.VM_VER
                                                   ORDER BY P.REG_DT DESC, SC.SUB_CONTENTS_ID DESC ) AS RNUM
                    FROM   TB_DP_PROD P
                          ,TB_DP_SUB_CONTENTS SC
                          ,TB_DP_SPRT_DEVICE SH
                          ,TB_CM_DEVICE PHI
                    WHERE  P.PROD_ID = SC.PROD_ID
                    AND    SH.PROD_ID = P.PROD_ID
                    AND    SH.DEVICE_MODEL_CD = PHI.DEVICE_MODEL_CD
                    AND   (PHI.DEVICE_MODEL_CD = #{deviceHeader.model}
                    OR     PHI.DEVICE_MODEL_CD = #{virtualDeviceModel})
                    AND    PHI.REP_DEVICE_YN = 'Y'
                    AND    PHI.USE_YN = 'Y'
                    AND    SC.SALE_YN = 'Y'
                    AND    SC.APK_PKG_NM = #{packageName}
                    AND    SC.VM_VER LIKE '%'||#{osVersion}||'%'
                   ) P
            WHERE  RNUM = 1
           )
    WHERE  ROWNUM = 1
    </select>
</mapper>
