<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppguideAppranking">
    <select id="selectApprankingList" parameterType="AppguideApprankingSacReq" resultType="ProductBasicInfo">
    SELECT /* AppguideAppranking.xml, selectApprankingList,  SeungHun Lee , 2014-03-03*/
           B.TENANT_ID
           , B.MENU_ID
           , B.PROD_ID
           , B.META_CLSF_CD
           , B.SVC_GRP_CD
           , B.PART_PROD_ID
           , B.TOP_MENU_ID
           , B.CONTENTS_TYPE_CD
           , B.TOTAL_COUNT
        FROM (SELECT A.*
                   , COUNT(*) OVER () AS TOTAL_COUNT
                   , ROW_NUMBER() OVER(ORDER BY A.EXPO_ORD_ALWAYS_YN DESC, A.EXPO_ORD, A.EXPO_ORD_SUB, A.PROD_NM) AS RNUM
               FROM (SELECT A.TENANT_ID
                          , D.MENU_ID
                          , A.PROD_ID
                          , D.TOP_MENU_ID
                          , E.META_CLSF_CD
                          , E.SVC_GRP_CD
                          , B.PART_PROD_ID
                          , E.CONTENTS_TYPE_CD
                          , A.EXPO_ORD_ALWAYS_YN
                          , A.EXPO_ORD
                          , A.EXPO_ORD_SUB
                          , E.REG_DT
                          , H.PROD_NM
                          , ROW_NUMBER() OVER(PARTITION BY A.PROD_ID ORDER BY E.REG_DT DESC) AS RN
                       FROM (SELECT LP.*
                               FROM TB_DP_LIST_PROD LP  /* 채널 */
                                  , TB_DP_LIST LT
                              WHERE LP.TENANT_ID = #{tenantId}   /* 테넌트ID */
                                AND LP.LIST_ID = #{listId}       
                                AND LP.EXPO_YN = 'Y'             /* Y : 노출 (노출여부) */
                                AND LP.STD_DT = TO_DATE(#{stdDt}, 'YYYYMMDDHH24MISS')
                                --AND SYSDATE BETWEEN EXPO_START_DT AND EXPO_END_DT
                                AND LP.TENANT_ID = LT.TENANT_ID
                                AND LP.LIST_ID = LT.LIST_ID
                                AND LT.EXPO_YN = 'Y'
                            ) A
                          , TB_DP_PROD_RSHP B
                          , TB_DP_MENU_CATEGORY_PROD_MAPG C
                          , TB_DP_MENU_CATEGORY D
                          , TB_DP_PROD E
                          , TB_DP_TENANT_PROD F
                          , TB_DP_SPRT_DEVICE G
                          , TB_DP_PROD_DESC H  /* 채널 */
                          , TB_CM_DEVICE I
                      WHERE A.PROD_ID = B.PROD_ID
                        AND B.PROD_RSHP_CD = 'DP010802'
                        AND A.MENU_ID = C.MENU_ID
                        AND B.PART_PROD_ID = C.PROD_ID
                        AND C.USE_YN = 'Y'
                        AND C.MENU_ID = D.MENU_ID
                        AND D.USE_YN = 'Y'
                        AND C.PROD_ID = E.PROD_ID
                        AND E.PROD_ID = F.PROD_ID
                        AND F.TENANT_ID = #{tenantId}
                        AND F.PROD_STATUS_CD = 'PD000403'
                        AND F.EXPO_YN = 'Y'
                        AND F.PROD_ID = G.PROD_ID
                        AND (G.DEVICE_MODEL_CD = #{deviceModelCd} OR G.DEVICE_MODEL_CD = 'android_standard2') /* 단말기 모델 코드 */
                        AND (I.DEVICE_MODEL_CD = #{deviceModelCd} OR I.DEVICE_MODEL_CD = 'android_standard2') /* 단말기 모델 코드 */
                        AND I.USE_YN = 'Y'
                        AND B.PROD_ID = H.PROD_ID
                        AND H.LANG_CD = #{langCd}
                        AND DECODE( E.TOP_MENU_ID
                                  , 'DP13'
                                  , DECODE( I.EBOOK_SPRT_YN
                                          , 'Y'
                                          , DECODE( E.META_CLSF_CD
                                                  , 'CT24'
                                                  , DECODE( I.MAGAZINE_SPRT_YN, 'Y', 1, 0 )
                                                  , 'CT26'
                                                  , DECODE( I.MAGAZINE_SPRT_YN, 'Y', 1, 0 )
                                                  , 1 )
                                          , 0 )
                                  , 'DP14'
                                  , DECODE( I.COMIC_SPRT_YN , 'Y', 1 , 0 )
                                  , 'DP16'
                                  , DECODE( E.META_CLSF_CD
                                          , 'CT25'
                                          , DECODE( I.MUSIC_SPRT_YN, 'Y', 1, 0)
                                          , 1 )
                                  , 1 ) = 1
                      AND ( CASE WHEN E.TOP_MENU_ID IN ( 'DP17', 'DP18' )
                                 THEN ( SELECT 1
                                          FROM TB_DP_SUB_CONTENTS SC
                                         WHERE SC.PROD_ID = B.PART_PROD_ID
                                           AND SC.SALE_YN = 'Y'
                                           AND DECODE( I.HDV_SPRT_YN
                                                     , 'PD005201'
                                                     , DECODE ( SC.DP_PG_QULT_CD
                                                              , 'PD009701', 1
                                                              , 'PD009702', 1
                                                              , 0)
                                                     , DECODE( SC.DP_PG_QULT_CD , 'PD009701', 1 , 0 ) ) = 1
                                           AND ROWNUM <![CDATA[ <= ]]> 1  )
                                 ELSE 1
                             END ) = 1
                      AND ( CASE WHEN E.TOP_MENU_ID IN ( 'DP17', 'DP18' )
                                 THEN DECODE( I.VIDEO_DRM_SPRT_YN
                                            , 'N'
                                            , DECODE( NVL( E.DRM_YN, 'N' ), 'N', 1, 0 )
                                            , 'Y'
                                            , 1 )
                                 ELSE 1
                             END ) = 1
                      AND ( CASE WHEN E.TOP_MENU_ID IN ( 'DP28' )
                            THEN ( SELECT 1
                                     FROM TB_DP_SHPG_PROD SP
                                    WHERE SP.PROD_ID = B.PROD_ID
                                      AND SP.SALE_YN = 'Y'
	                                  <if test='b2bProd != "A"'>
	                                  AND SP.B2B_PROD_YN = #{b2bProd}
	                                  </if>
                                      AND SP.B2B_PROD_YN = 'Y'
                                      AND ROWNUM <![CDATA[ <= ]]> 1  )
                            ELSE 1
                        END ) = 1
                    ) A
              WHERE RN = 1
            ) B
    WHERE RNUM BETWEEN 1 AND (1+20-1)
      ORDER BY RNUM
    </select>
</mapper>
