<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DisplayList">
	<select id="selectDisplayList" parameterType="DisplayListCriteria" resultType="DisplayList">
	SELECT /* DisplayListMapper.xml, selectDisplayList, SAC 전시 , 2014-11-05 */
            A.LIST_ID
          , A.LIST_NM
          , A.IMG_PATH
          , A.EXPO_ORD
          , A.EXPO_ORD_SUB
          , A.ETC_PROP
       FROM (
			SELECT  LIST_ID, LIST_NM,
					EXPO_ORD, EXPO_ORD_SUB,
					IMG_PATH, ETC_PROP
			  FROM TB_DP_LIST LI
			 WHERE 1=1
				AND TENANT_ID='S01'
				<if test="listId != null">    
				AND LIST_ID = #{listId}
				</if>
				<if test="listGrpCd != null">    
				AND LIST_GRP_CD_EXTD = #{listGrpCd} 
				</if>
				AND EXPO_YN='Y'
				AND (SYSDATE BETWEEN EXPO_START_DT AND EXPO_END_DT OR EXPO_START_DT IS NULL OR EXPO_END_DT IS NULL) 
				AND EXPO_ORD     &gt;= #{lastExpoOrd,javaType=Integer,jdbcType=NUMERIC}
				AND EXPO_ORD_SUB &gt;  #{lastExpoOrdSub,javaType=Integer,jdbcType=NUMERIC}
			ORDER BY EXPO_ORD, EXPO_ORD_SUB
			) A
	WHERE ROWNUM &lt;= #{count,javaType=Integer,jdbcType=NUMERIC}
    ORDER BY ROWNUM
	</select>
</mapper>