<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="PurchaseExistence">

    <!-- 1. ResultMap-->    
    <resultMap id="ExistenceResMap" type="existenceScRes" > 
        <result property="prodId"          column="PROD_ID"            jdbcType="VARCHAR" />
        <result property="prchsId"         column="PRCHS_ID"           jdbcType="VARCHAR" />
        <result property="prchsDt"         column="PRCHS_DT"           jdbcType="VARCHAR" />
        <result property="statusCd"        column="STATUS_CD"          jdbcType="VARCHAR" />
        <result property="useInsdDeviceId" column="USE_INSD_DEVICE_ID" jdbcType="VARCHAR" />
        <result property="tenantProdGrpCd" column="TENANT_PROD_GRP_CD" jdbcType="VARCHAR" />
        <result property="prchsReqPathCd"  column="PRCHS_REQ_PATH_CD"  jdbcType="VARCHAR" />
        <result property="prchsCaseCd"     column="PRCHS_CASE_CD"      jdbcType="VARCHAR" />
        <result property="prodAmt"         column="PROD_AMT"           jdbcType="NUMERIC" />
        <result property="useExprDt"       column="USE_EXPR_DT"        jdbcType="VARCHAR" />
        <result property="partChrgProdNm"  column="PART_CHRG_PROD_NM"  jdbcType="VARCHAR" />
    </resultMap> 

    <!-- 2. SELECT SQL -->
    <select id="purchaseExist" parameterType="exist" resultMap="ExistenceResMap">
        /* Purchase.purchaseExist, 기구매체크, 조용진/엔텔스, 2013-12-10 */
        SELECT  
	        <if test="prchsId != null and prchsId != ''">
                /*+ INDEX(a PK_PR_PRCHS_DTL) */
	        </if>
	        <if test="prodId != null and prodId != '' and prchsId == null and prchsId == ''">
                /*+ INDEX(a IDX_PR_PRCHS_DTL_01) */
	        </if>
                prod_id  /* 상품ID */
              , prchs_id  /* 구매ID */
              , TO_CHAR(prchs_dt, 'YYYYMMDDHH24MISS') AS prchs_dt  /* 구매일시 */
              , status_cd  /* 구매상태코드 */
              , use_insd_device_id
              , use_insd_usermbr_no
              , tenant_prod_grp_cd
              , prchs_req_path_cd
              , prchs_case_cd
              , prod_amt
              , TO_CHAR(a.use_expr_dt, 'YYYYMMDDHH24MISS') AS use_expr_dt /* 이용종료일시 */
              , PART_CHRG_PROD_NM
          FROM  tb_pr_prchs_dtl a
         WHERE  1=1
        <if test="prchsId != null and prchsId != ''">
           AND  tenant_id = #{tenantId} 
           AND  prchs_id = #{prchsId}
        </if>
        <if test="userKey != null and userKey != ''">
           AND  use_tenant_id = #{tenantId} 
           AND  use_insd_usermbr_no  = #{userKey} 
        </if>
        <if test="checkValue == true ">
           AND  use_insd_device_id  = #{deviceKey} 
        </if>
        <if test="prodId != null and prodId != ''">
           AND  prod_id  = #{prodId}
        </if>
        <if test="tenantProdGrpCd != null and tenantProdGrpCd != ''">
           AND  tenant_prod_grp_cd  LIKE #{tenantProdGrpCd} ||'%'
        </if>        
           and  sysdate &gt;= a.dwld_start_dt
           and  sysdate &lt;= a.dwld_expr_dt
    </select>  
    
    
    <select id="purchaseExistV2" parameterType="ExistenceScV2Req" resultMap="ExistenceResMap">
         
         <foreach collection="userList" item="item" index="idx" separator=" UNION ALL" >
             
            SELECT /* Purchase.purchaseExistV2, 기구매체크V2, 조용진/엔텔스, 2013-12-10 */
                    tenant_id
                  , prod_id  /* 상품ID */
                  , prchs_id  /* 구매ID */
                  , TO_CHAR(prchs_dt, 'YYYYMMDDHH24MISS') AS prchs_dt  /* 구매일시 */
                  , status_cd  /* 구매상태코드 */
                  , use_insd_device_id
                  , use_insd_usermbr_no
                  , tenant_prod_grp_cd
                  , prchs_req_path_cd
                  , prchs_case_cd
                  , prod_amt
                  , TO_CHAR(a.use_expr_dt, 'YYYYMMDDHH24MISS') AS use_expr_dt /* 이용종료일시 */
                  , PART_CHRG_PROD_NM
              FROM  tb_pr_prchs_dtl a
             WHERE  1=1
               AND  use_tenant_id = #{item.tenantId} 
               AND  use_insd_usermbr_no  = #{item.userKey} 
                <foreach collection="item.deviceList" item="deviceKey" separator="," open="AND use_insd_device_id IN (" close=")">
                  #{deviceKey, jdbcType=VARCHAR}
                </foreach>
                
                <foreach collection="prodList" item="prodId" separator="," open="AND prod_id IN (" close=")">
                  #{prodId, jdbcType=VARCHAR}
                </foreach>
               and  sysdate &gt;= a.dwld_start_dt
               and  sysdate &lt;= a.dwld_expr_dt
               and  status_cd = 'OR000301'
           
           
         </foreach>
         
    </select>
    

</mapper>
