<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="PurchaseInterworking">

    <!-- 1. update SQL -->    
    <insert id="createInterworking" parameterType="interworkingScReq">
  	    /* "PurchaseInterworking".createInterworking, 구매후 전송처리 , 조용진/엔텔스, 2014-02-11 */
		INSERT INTO tb_pr_prchs_trans
		    (
		        tenant_id
		      , prchs_id
		      , insd_usermbr_no
		      , insd_device_id
		      , trans_clas_cd
		      , trans_clas_value
		      , prod_id
		      , comp_cid
		      , prchs_dt
		      , prod_amt
		      , prchs_cancel_dt
		      , file_make_yn
		      , reg_id
		      , reg_dt
		      , upd_id
		      , upd_dt
		    )values(
		        #{tenantId, jdbcType=VARCHAR}
		      , #{prchsId, jdbcType=VARCHAR}
		      , #{insdUsermbrNo, jdbcType=VARCHAR}
		      , #{insdDeviceId, jdbcType=VARCHAR}
		      , #{transClasCd, jdbcType=VARCHAR}
		      , #{transClasValue, jdbcType=VARCHAR}
		      , #{prodId, jdbcType=VARCHAR}
		      , #{compCid, jdbcType=VARCHAR}
		      , TO_DATE(#{prchsDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
		      , #{prodAmt}
		      , TO_DATE(#{prchsCancelDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
		      , 'N'
		      , #{systemId, jdbcType=VARCHAR}
		      , SYSDATE
		      , #{systemId, jdbcType=VARCHAR}
		      , SYSDATE
		    )
    </insert>      

</mapper>