<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="Payment">

    <resultMap id="paymentMap" type="paymentScRes">
        <result property="prchsId" column="PRCHS_ID"  jdbcType="VARCHAR" />
        <result property="paymentMtdCd"    column="PAYMENT_MTD_CD"  jdbcType="VARCHAR" />
        <result property="paymentDt"       column="PAYMENT_DT"      jdbcType="VARCHAR" />
        <result property="paymentAmt"      column="PAYMENT_AMT"     jdbcType="NUMERIC" />
    </resultMap>
    
    <resultMap id="checkBillingForSktCarrierMap" type="CheckBillingForSktCarrierScRes">
        <result property="month"    column="month"  jdbcType="VARCHAR" />
        <result property="totAmt"   column="totAmt" jdbcType="NUMERIC" />
    </resultMap>

    
    <!-- 2. SELECT SQL-->
    <select id="searchPaymentList" resultType="paymentScRes">
        SELECT  /* Payment.searchPaymentList, 결제내역조회, 조용진/엔텔스, 2014-01-21 */
                prchs_id
              , payment_mtd_cd  /* 결제방법코드 */
              , TO_CHAR(payment_dt,'YYYYMMDDHH24MISS') AS payment_dt  /* 결제일시 */
              , payment_amt
          FROM  tb_pr_payment
         WHERE  tenant_id = #{tenantId} 
         <foreach collection="prchsId" item="prchsId" separator="," open="AND prchs_id IN (" close=")">
           #{prchsId, jdbcType=VARCHAR}
         </foreach>
        order by prchs_id
    </select>  
    
    <!-- 2. SELECT SQL-->
    <select id="checkBillingForSktCarrier" parameterType="CheckBillingForSktCarrierScReq" resultMap="checkBillingForSktCarrierMap">
        SELECT  /* Payment.checkBillingForSktCarrier, 이용자별 당월 skt후불 결제금액, cswoo8101/nTels, 2014-02-26 */
                TO_CHAR(SYSDATE, 'YYYYMM') AS month
              , NVL(SUM(a.payment_amt), 0) AS totAmt
          FROM  tb_pr_payment a
         WHERE  1=1 
           
           <!-- 서비스관리번호 요청 -->
           <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(svcMangNo)">
           AND  a.moid = #{svcMangNo}
           AND  a.prchs_dt BETWEEN TO_DATE(TO_CHAR(SYSDATE, 'YYYYMM') || '01000000', 'YYYYMMDDHH24MISS') AND SYSDATE
           AND  a.tenant_id = #{tenantId} 
           </if>
           <!-- 사용자정보 요청 -->
           <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isBlank(svcMangNo)">
           AND  a.tenant_id = #{tenantId} 
           AND  a.insd_usermbr_no = #{userKey}
           AND  a.insd_device_id = #{deviceKey} 
           AND  a.prchs_dt BETWEEN TO_DATE(TO_CHAR(SYSDATE, 'YYYYMM') || '01000000', 'YYYYMMDDHH24MISS') AND SYSDATE
           </if>
           
           AND  a.status_cd = #{paymentStatusCd}
           AND  a.payment_mtd_cd = #{paymentMtdCd}
           /* InApp 상품은 제외 */
           AND  NOT EXISTS ( 
                            SELECT  1 
                              FROM  tb_pr_prchs_dtl sa 
                             WHERE  sa.tenant_id = #{tenantId} 
                               AND  sa.tenant_prod_grp_cd LIKE #{inAppProdCd} || '%'
                               AND  sa.prchs_id = a.prchs_id
                           )
    </select>  
    
</mapper>