<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="PurchaseUserInfo">

    <update id="updatePurchase" parameterType="autoPaymentCancelScReq">
        /* PurchaseUserInfo.updatePurchase, 구매table 회원정보수정, 조용진/엔텔스, 2014-01-16 */
        UPDATE  tb_pr_prchs
           SET  insd_usermbr_no = #{newUserKey, jdbcType=VARCHAR}  /* newUserKey */
           <if test="newDeviceKey != null and newDeviceKey != ''">
              , insd_device_id = #{newDeviceKey, jdbcType=VARCHAR}  /* newDeviceKey */
           </if>
              , upd_id = #{systemId, jdbcType=VARCHAR}  /* 업데이트시스템ID */
              , upd_dt = SYSDATE  /* 업데이트일시 */
         WHERE  tenant_id = #{tenantId} 
           AND  insd_usermbr_no = #{userKey}
           <if test="deviceKey != null and deviceKey != ''">
           AND  insd_device_id = #{deviceKey}
           </if>
    </update>
    
    <update id="updatePurchaseDetail" parameterType="autoPaymentCancelScReq">
        /* PurchaseUserInfo.updatePurchaseDetail, 구매상세(보유)table 회원정보수정, 조용진/엔텔스, 2014-01-16 */
        UPDATE  tb_pr_prchs_dtl
           SET  use_insd_usermbr_no = #{newUserKey, jdbcType=VARCHAR}  /* newUserKey */
           <if test="newDeviceKey != null and newDeviceKey != ''">
              , use_insd_device_id = #{newDeviceKey, jdbcType=VARCHAR}  /* newDeviceKey */
              </if>
              , upd_id = #{systemId, jdbcType=VARCHAR}  /* 업데이트시스템ID */
              , upd_dt = SYSDATE  /* 업데이트일시 */
         WHERE  use_tenant_id = #{tenantId} 
           AND  use_insd_usermbr_no = #{userKey}
           <if test="deviceKey != null and deviceKey != ''">
           AND  use_insd_device_id = #{deviceKey}
           </if>
    </update>
    
    <update id="updatePurchaseSend" parameterType="autoPaymentCancelScReq">
        /* PurchaseUserInfo.updatePurchaseSend, 구매상세(미보유)table 회원정보수정, 조용진/엔텔스, 2014-01-16 */
        UPDATE  tb_pr_prchs_dtl
           SET  send_insd_usermbr_no = #{newUserKey, jdbcType=VARCHAR}  /* newUserKey */
           <if test="newDeviceKey != null and newDeviceKey != ''">
              , send_insd_device_id = #{newDeviceKey, jdbcType=VARCHAR}  /* newDeviceKey */
           </if>
              , upd_id = #{systemId, jdbcType=VARCHAR}  /* 업데이트시스템ID */
              , upd_dt = SYSDATE  /* 업데이트일시 */
         WHERE  tenant_id = #{tenantId} 
           AND  send_insd_usermbr_no = #{userKey}
           <if test="deviceKey != null and deviceKey != ''">
           AND  send_insd_device_id = #{deviceKey}
           </if>
    </update>
    
    <update id="updatePayment" parameterType="autoPaymentCancelScReq">
        /* PurchaseUserInfo.updatePayment, 결제table 회원정보수정, 조용진/엔텔스, 2014-01-16 */
        UPDATE  tb_pr_payment
           SET  insd_usermbr_no = #{newUserKey, jdbcType=VARCHAR}  /* newUserKey */
           <if test="newDeviceKey != null and newDeviceKey != ''">
              , insd_device_id = #{newDeviceKey, jdbcType=VARCHAR}  /* newDeviceKey */
           </if>
              , upd_id = #{systemId, jdbcType=VARCHAR}  /* 업데이트시스템ID */
              , upd_dt = SYSDATE  /* 업데이트일시 */
         WHERE  tenant_id = #{tenantId} 
           AND  insd_usermbr_no = #{userKey}
          <if test="deviceKey != null and deviceKey != ''">
           AND  insd_device_id = #{deviceKey}
          </if>
    </update>  
    
    <update id="updateAutoPaymentCancel" parameterType="autoPaymentCancelScReq">
        /* PurchaseUserInfo.updateAutoPaymentCancel, 자동결제table 회원정보수정, 조용진/엔텔스, 2014-01-16 */
        UPDATE  tb_pr_auto_prchs
           SET  insd_usermbr_no = #{newUserKey, jdbcType=VARCHAR}  /* newUserKey */
           <if test="newDeviceKey != null and newDeviceKey != ''">
              , insd_device_id = #{newDeviceKey, jdbcType=VARCHAR}  /* newDeviceKey */
           </if>
              , upd_id = #{systemId, jdbcType=VARCHAR}  /* 업데이트시스템ID */
              , upd_dt = SYSDATE  /* 업데이트일시 */
         WHERE  tenant_id = #{tenantId} 
           AND  insd_usermbr_no = #{userKey}
           <if test="deviceKey != null and deviceKey != ''">
           AND  insd_device_id = #{deviceKey}
           </if>
    </update>  
    
    <update id="updateTransfer" parameterType="autoPaymentCancelScReq">
        /* PurchaseUserInfo.updateTransfer, 구매내역전송table 회원정보수정, 조용진/엔텔스, 2014-01-16 */
        UPDATE  tb_pr_prchs_trans
           SET  insd_usermbr_no = #{newUserKey, jdbcType=VARCHAR}  /* newUserKey */
           <if test="newDeviceKey != null and newDeviceKey != ''">
              , insd_device_id = #{newDeviceKey, jdbcType=VARCHAR}  /* newDeviceKey */
           </if>
              , upd_id = #{systemId, jdbcType=VARCHAR}  /* 업데이트시스템ID */
              , upd_dt = SYSDATE  /* 업데이트일시 */
         WHERE  tenant_id = #{tenantId} 
           AND  insd_usermbr_no = #{userKey}
           <if test="deviceKey != null and deviceKey != ''">
           AND  insd_device_id = #{deviceKey}
           </if>
    </update>  
    
    <update id="updateMileage" parameterType="autoPaymentCancelScReq">
        /* PurchaseUserInfo.updateTransfer, 마일리지table 회원정보수정, 조용진/엔텔스, 2014-01-16 */
        UPDATE  tb_pr_membership_reserve
           SET  insd_usermbr_no = #{newUserKey, jdbcType=VARCHAR}  /* newUserKey */
           <if test="newDeviceKey != null and newDeviceKey != ''">
              , insd_device_id = #{newDeviceKey, jdbcType=VARCHAR}  /* newDeviceKey */
           </if>
              , upd_id = #{systemId, jdbcType=VARCHAR}  /* 업데이트시스템ID */
              , upd_dt = SYSDATE  /* 업데이트일시 */
         WHERE  tenant_id = #{tenantId} 
           AND  insd_usermbr_no = #{userKey}
           <if test="deviceKey != null and deviceKey != ''">
           AND  insd_device_id = #{deviceKey}
           </if>
    </update>  
  
      <!-- 1. ResultMap-->    
<!--     <resultMap id="PurchaseUserInfoMap" type="userInfoScRes" > 
        <result property="useInsdDeviceId"            column="USE_INSD_DEVICE_ID"              jdbcType="VARCHAR" />        
    </resultMap> -->
    
    <!-- 2. SELECT SQL-->
    <select id="searchDeviceKey" parameterType="userInfoScReq" resultType="String">
		select  /* PurchaseUserInfo.use_insd_device_id, deviceKey조회, 조용진/엔텔스, 2013-12-10 */
		        use_insd_device_id 
		  from  tb_pr_prchs_dtl
		 where  use_tenant_id = #{tenantId}
		   and  use_insd_usermbr_no = #{userKey}
		   and  rownum=1
    </select>  
</mapper>