<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CmpxInfo">
    
    
    <select id="searchCmpxBasicInfoList" parameterType="Map" resultType="CmpxBasicInfo">
      /* CmpxInfoMapper.xml, searchCmpxBasicInfoList,이용권 기본 정보 조회 , 김형식/SK플래닛, 2015-05-07 */
         SELECT  
                 PD.PROD_ID as cmpxProdId
               , DC.PROD_NM as cmpxProdNm
               , (CASE WHEN FREE_PASS_CLSF_CD !='OR004305' THEN PD.PROD_GRD_CD ELSE '' END) AS PROD_GRD_CD
 			   , UP.USE_PERIOD_UNIT_CD
			   , UP.USE_PERIOD               
               , CM.FREE_PASS_CLSF_CD as cmpxProdClsfCd
               , (CASE WHEN FREE_PASS_CLSF_CD !='OR004305' THEN UP.POSS_LEND_CLSF_CD
                  ELSE ''
                  END
                  ) AS POSS_LEND_CLSF_CD
               , (CASE WHEN FREE_PASS_CLSF_CD !='OR004305' THEN CM.SERIES_BOOK_CLSF_CD
                  ELSE ''
                  END
                  ) AS SERIES_BOOK_CLSF_CD                  
			   , PD.DRM_YN  
           FROM 
                 TB_DP_PROD PD
               , TB_DP_CMPX_PROD CM
               , TB_DP_PROD_DESC DC
               , TB_DP_TENANT_PROD TP
               , TB_DP_USE_POLICY UP
           WHERE PD.PROD_ID = #{prodId}
           AND PD.PROD_ID = CM.PROD_ID
           AND PD.PROD_ID = DC.PROD_ID
           AND PD.PROD_ID = TP.PROD_ID
           AND PD.USE_POLICY_ID = UP.USE_POLICY_ID
           AND DC.LANG_CD = #{lang}
           AND TP.TENANT_ID = #{tenantId}
    </select>  

	<select id="searchCmpxProductList" parameterType="Map" resultType="CmpxProductInfoList">
	   /* CmpxInfoMapper.xml, searchCmpxProductList,이용권에 등록된 상품 정보 조회 , 김형식/SK플래닛, 2015-05-07 */
	    SELECT  
	        IV.*
	    FROM (
	        SELECT  
	              PD.PROD_ID
	            , DC.PROD_NM
	            , PR.PROD_AMT
	            , PD.TOP_MENU_ID
	            , TP.PROD_STATUS_CD 
	            ,(CASE WHEN FREE_PASS_CLSF_CD !='OR004305' THEN PD.PROD_GRD_CD ELSE '' END) AS PROD_GRD_CD
	            ,  (SELECT DECODE (COUNT(1), 0, 'N', 'Y') 
	                   FROM TB_DP_SPRT_DEVICE A
	                  WHERE (A.DEVICE_MODEL_CD = #{deviceModelCd} or A.DEVICE_MODEL_CD = #{dpAnyPhone4mm}) 
	                     AND A.PROD_ID = PD.PROD_ID 
	                     AND (
	                       CASE WHEN PD.TOP_MENU_ID IN ('DP17','DP18') THEN   /* DP17 :영화 ,DP18: 방송 */
	                                CASE WHEN NVL(PD.DRM_YN, 'N') = 'Y' AND #{supportDevice.videoDrmSprtYn} = 'N' THEN 0
	                                     ELSE 
	                                    CASE WHEN #{supportDevice.sdVideoSprtYn} = 'Y' THEN 1 
	                                    ELSE 0
	                                    END
	                                 END
	                            WHEN PD.TOP_MENU_ID IN ('DP13','DP14') THEN    /* DP13 :이북 ,DP14: 코믹 */
	                             CASE WHEN PD.TOP_MENU_ID = 'DP13' THEN
	                                  CASE WHEN #{supportDevice.ebookSprtYn} = 'Y' THEN 1 
	                                  ELSE 0 
	                                  END
	                                  WHEN PD.TOP_MENU_ID = 'DP14' THEN
	                                  CASE WHEN #{supportDevice.comicSprtYn} = 'Y' THEN 1 
	                                  ELSE 0 
	                                  END
	                             ELSE 1
	                             END
	                        END                         
	                     ) = 1
	               ) AS PROD_SPRT_YN            
	            ,(CASE WHEN PM.DRM_ATTR_CLSF  ='PD013401' THEN PM.FREE_PASS_DRM_YN
	                   WHEN PM.DRM_ATTR_CLSF  ='PD013402' THEN PM.DRM_YN
	              END)  AS DRM_YN     
                ,(CASE WHEN PM.USE_PERIOD_ATTR_CLSF  ='PD013401' THEN PM.FREE_PASS_USE_PERIOD_UNIT_CD
                       WHEN PM.USE_PERIOD_ATTR_CLSF  ='PD013402' THEN PM.USE_PERIOD_UNIT_CD
                  END)  AS USE_PERIOD_UNIT_CD
                ,(CASE WHEN PM.USE_PERIOD_ATTR_CLSF  ='PD013401' THEN PM.FREE_PASS_USE_PERIOD
                       WHEN PM.USE_PERIOD_ATTR_CLSF  ='PD013402' THEN PM.USE_PERIOD
                  END)  AS USE_PERIOD                    	              
	            , PD.CID  
	            , PM.CHAPTER AS chapterText                
                , (CASE WHEN PD.TOP_MENU_ID IN ('DP13','DP14') THEN
                       (CASE WHEN PM.BOOK_CLSF_CD = 'DP004301' THEN '권'
                            WHEN PM.BOOK_CLSF_CD = 'DP004302' THEN '회'
                            WHEN PM.BOOK_CLSF_CD = 'DP004303' THEN '호'
                       ELSE ''
                       END)
                  ELSE 
                       (CASE
                            WHEN PD.META_CLSF_CD IN ('CT14', 'CT15','CT16') THEN '회'
                       ELSE ''
                       END)
                  END) AS chapterUnit
	            , (CASE WHEN FREE_PASS_CLSF_CD !='OR004305' THEN PM.POSS_LEND_CLSF_CD ELSE '' END) AS POSS_LEND_CLSF_CD
                , (CASE WHEN FREE_PASS_CLSF_CD !='OR004305' THEN
	                    CASE WHEN PM.DWLD_STRM_ATTR_CLSF  ='PD013401' THEN PM.FREE_PASS_DWLD_STRM_CLSF_CD
	                         WHEN PM.DWLD_STRM_ATTR_CLSF  ='PD013402' THEN PM.DWLD_STRM_CLSF_CD
	                    END
	               ELSE ''
	               END)  AS downStrmClsfCd  
	            , TP.PROD_STATUS_CD AS episodeProdStatusCd	            
	        FROM 
	              TB_DP_PROD PD
	            , TB_DP_PROD_DESC DC
	            , TB_DP_TENANT_PROD TP
	            , TB_DP_TENANT_PROD_PRICE PR
	            , TB_DP_USE_POLICY UP
	            ,(SELECT  A.PROD_ID 
	                    , B.PART_PROD_ID
	                    , C.DWLD_STRM_ATTR_CLSF
	                    , BB.DWLD_STRM_CLSF_CD AS FREE_PASS_DWLD_STRM_CLSF_CD
	                    , H.DWLD_STRM_CLSF_CD
	                    , BB.POSS_LEND_CLSF_CD AS FREE_PASS_POSS_LEND_CLSF_CD
	                    , H.POSS_LEND_CLSF_CD
	                    , C.USE_PERIOD_ATTR_CLSF
	                    , BB.USE_PERIOD_UNIT_CD AS FREE_PASS_USE_PERIOD_UNIT_CD
	                    , BB.USE_PERIOD AS FREE_PASS_USE_PERIOD
                        , H.USE_PERIOD_UNIT_CD 
                        , H.USE_PERIOD 
                        , C.DRM_ATTR_CLSF
                        , AA.DRM_YN AS FREE_PASS_DRM_YN
                        , G.DRM_YN                      
	                    , (CASE WHEN G.TOP_MENU_ID IN ('DP17','DP18') THEN J.CHAPTER ELSE I.CHAPTER END) AS CHAPTER
	                    , I.BOOK_CLSF_CD
	                    , C.FREE_PASS_CLSF_CD
	                    , C.SERIES_BOOK_CLSF_CD
	                FROM  
	                      TB_DP_PROD AA
	                     ,TB_DP_USE_POLICY BB
	                     ,TB_DP_FIXRATE_PROD_MAPG A
	                     ,TB_DP_PROD_RSHP B
	                     ,TB_DP_CMPX_PROD C
	                     ,TB_DP_PROD_DESC D
	                     ,TB_DP_TENANT_PROD E
	                     ,TB_DP_TENANT_PROD_PRICE F
	                     ,TB_DP_PROD G
	                     ,TB_DP_USE_POLICY H   
	                     ,TB_DP_EBOOK_PROD I
	                     ,TB_DP_VOD_PROD J        
	               WHERE AA.PROD_ID= A.PROD_ID
	                 AND AA.USE_POLICY_ID = BB.USE_POLICY_ID
	                 AND A.PART_PROD_ID = B.PROD_ID
	                 AND A.PROD_ID = C.PROD_ID
	                 AND A.PROD_ID = D.PROD_ID
	                 AND A.PROD_ID = E.PROD_ID
	                 AND A.PROD_ID = F.PROD_ID
	                 AND B.PART_PROD_ID  = G.PROD_ID
	                 AND G.PROD_ID  = I.PROD_ID(+)
	                 AND G.PROD_ID  = J.PROD_ID(+)
                     <if test="chapter != null">
                     AND (CASE WHEN G.TOP_MENU_ID IN ('DP17','DP18') THEN J.CHAPTER ELSE I.CHAPTER END) <![CDATA[ <= ]]> #{chapter}                  
                     </if>
	                 AND G.USE_POLICY_ID = H.USE_POLICY_ID
	                 AND D.LANG_CD = #{langCd} 
	                 AND E.TENANT_ID = #{tenantId}
	                 AND E.TENANT_ID = F.TENANT_ID 
	                 AND SYSDATE BETWEEN F.APPLY_START_DT AND F.APPLY_END_DT              
	                 AND B.PROD_RSHP_CD =#{prodRshpCd}
	                 AND A.PROD_ID =#{prodId}
	                 AND C.FREE_PASS_CLSF_CD =#{cmpxProdClsfCd}
	                 
	             )PM             
	        WHERE PD.PROD_ID = PM.PART_PROD_ID
	        AND PD.PROD_ID = DC.PROD_ID
	        AND PD.PROD_ID = TP.PROD_ID
	        AND PD.PROD_ID = PR.PROD_ID
            AND PD.USE_POLICY_ID = UP.USE_POLICY_ID
            <if test='cmpxProdClsfCd != "OR004305"'>   
	            <if test='possLendClsfCd == "DP010603"'>   
	            AND PM.POSS_LEND_CLSF_CD IN ('DP010601','DP010602')
	            </if>
	            <if test='possLendClsfCd != "DP010603"'>   
	            AND PM.POSS_LEND_CLSF_CD = #{possLendClsfCd}
	            </if>
            </if>
            <if test='cmpxProdClsfCd != "OR004305"'>  
	            <if test="seriesBookClsfCd != null">
		            <if test='seriesBookClsfCd == "DP004305"'>   
		            AND PM.BOOK_CLSF_CD IN ('DP004301','DP004302')
		            </if>
		            <if test='seriesBookClsfCd != "DP004305"'>   
		            AND PM.BOOK_CLSF_CD = #{seriesBookClsfCd}
		            </if>    
	            </if>        
            </if>
            <if test="episodeProdStatusCdList != null">
            AND TP.PROD_STATUS_CD  IN
                         <foreach collection="episodeProdStatusCdList" item="prodGradeCd" separator="," open="(" close=")">
                           #{prodGradeCd}
                         </foreach>                        
            </if>                
            
	        AND DC.LANG_CD = #{langCd} 
	        AND TP.TENANT_ID = #{tenantId}
	        AND TP.TENANT_ID = PR.TENANT_ID 
	        --AND SYSDATE BETWEEN PR.APPLY_START_DT AND PR.APPLY_END_DT
	    ) IV 
	  </select>    

   <select id="searchCmpxProductInfo" parameterType="CmpxProductInfoSacReq" resultType="CmpxProductInfo">
   /* CmpxInfoMapper.xml, searchCmpxProductInfo,이용권 및 에피소드 상품 정보 조회  , 김형식/SK플래닛, 2015-05-07 */
    SELECT  
        IV.*
    FROM (
        SELECT  
              PD.PROD_ID AS cmpxProdId
            , DC.PROD_NM AS cmpxProdNm
            , (CASE WHEN FREE_PASS_CLSF_CD !='OR004305' THEN PM.FREE_PASS_POSS_LEND_CLSF_CD ELSE '' END) AS cmpxProdPossLendClsfCd
            , PM.PART_PROD_ID AS episodeProdId
            ,(CASE WHEN CM.DRM_ATTR_CLSF  ='PD013401' THEN PM.FREE_PASS_DRM_YN
                   WHEN CM.DRM_ATTR_CLSF  ='PD013402' THEN PM.DRM_YN
              END)  AS DRM_YN     
            ,(CASE WHEN CM.USE_PERIOD_ATTR_CLSF  ='PD013401' THEN PM.FREE_PASS_USE_PERIOD_UNIT_CD
                   WHEN CM.USE_PERIOD_ATTR_CLSF  ='PD013402' THEN PM.USE_PERIOD_UNIT_CD
              END)  AS USE_PERIOD_UNIT_CD
            ,(CASE WHEN CM.USE_PERIOD_ATTR_CLSF  ='PD013401' THEN PM.FREE_PASS_USE_PERIOD
                   WHEN CM.USE_PERIOD_ATTR_CLSF  ='PD013402' THEN PM.USE_PERIOD
              END)  AS USE_PERIOD  
                       
            ,(CASE WHEN FREE_PASS_CLSF_CD !='OR004305' THEN
                   CASE WHEN CM.DWLD_STRM_ATTR_CLSF  ='PD013401' THEN PM.FREE_PASS_DWLD_STRM_CLSF_CD
                        WHEN CM.DWLD_STRM_ATTR_CLSF  ='PD013402' THEN PM.DWLD_STRM_CLSF_CD
                   END
              ELSE ''
              END)  AS downStrmClsfCd                  
            , (CASE WHEN FREE_PASS_CLSF_CD !='OR004305' THEN PM.POSS_LEND_CLSF_CD ELSE '' END) AS POSS_LEND_CLSF_CD    
            , CM.FREE_PASS_CLSF_CD AS cmpxProdClsfCd
            , PD.TOP_MENU_ID      
            , TP.PROD_STATUS_CD     
            , PM.episodeProdStatusCd
        FROM 
              TB_DP_PROD PD
            , TB_DP_CMPX_PROD CM
            , TB_DP_PROD_DESC DC
            , TB_DP_TENANT_PROD TP
            , TB_DP_TENANT_PROD_PRICE PR
            ,(SELECT   A.PROD_ID
                     , B.PART_PROD_ID
                     , BB.POSS_LEND_CLSF_CD AS FREE_PASS_POSS_LEND_CLSF_CD
                     , D.POSS_LEND_CLSF_CD
                     , BB.DWLD_STRM_CLSF_CD AS FREE_PASS_DWLD_STRM_CLSF_CD
                     , D.DWLD_STRM_CLSF_CD
                     , BB.USE_PERIOD_UNIT_CD AS FREE_PASS_USE_PERIOD_UNIT_CD
                     , BB.USE_PERIOD AS FREE_PASS_USE_PERIOD
                     , D.USE_PERIOD_UNIT_CD 
                     , D.USE_PERIOD 
                     , AA.DRM_YN AS FREE_PASS_DRM_YN
                     , C.DRM_YN           
                     , E.PROD_STATUS_CD AS episodeProdStatusCd 
                FROM  
                      TB_DP_PROD AA
                     ,TB_DP_USE_POLICY BB 
                     ,TB_DP_CMPX_PROD CC
                     ,TB_DP_FIXRATE_PROD_MAPG A
                     ,TB_DP_PROD_RSHP B
                     ,TB_DP_PROD C
                     ,TB_DP_USE_POLICY D     
                     ,TB_DP_TENANT_PROD E 
                     ,TB_DP_EBOOK_PROD I      
                     ,TB_DP_VOD_PROD H                     
               WHERE AA.PROD_ID= A.PROD_ID
                 AND A.PROD_ID = CC.PROD_ID
                 AND AA.USE_POLICY_ID = BB.USE_POLICY_ID
                 AND A.PART_PROD_ID = B.PROD_ID
                 AND B.PROD_RSHP_CD ='DP010802'
                 AND B.PART_PROD_ID = C.PROD_ID
                 AND C.USE_POLICY_ID =D.USE_POLICY_ID
                 AND C.PROD_ID = E.PROD_ID   
                 AND E.TENANT_ID = #{tenantId}
                 AND C.PROD_ID  = I.PROD_ID(+)               
                 AND C.PROD_ID  = H.PROD_ID(+)
                 AND B.PART_PROD_ID=#{episodeProdId}
                 <if test="chapter != null">
                 AND (CASE WHEN C.TOP_MENU_ID IN ('DP17','DP18') THEN H.CHAPTER ELSE I.CHAPTER END) = #{chapter}                     
                 </if>              
                     
                 <if test="episodeProdStatusCdList != null">
                 AND E.PROD_STATUS_CD  IN
                              <foreach collection="episodeProdStatusCdList" item="prodGradeCd" separator="," open="(" close=")">
                                #{prodGradeCd}
                              </foreach>                        
                 </if>                   
                 
             )PM             
        WHERE PD.PROD_ID = #{prodId}
        AND PD.PROD_ID = CM.PROD_ID
        AND PD.PROD_ID = DC.PROD_ID
        AND PD.PROD_ID = TP.PROD_ID
        AND PD.PROD_ID = PR.PROD_ID
        AND PD.PROD_ID = PM.PROD_ID
        AND DC.LANG_CD = #{langCd} 
        AND TP.TENANT_ID = #{tenantId}
        AND TP.TENANT_ID = PR.TENANT_ID
        --AND SYSDATE BETWEEN PR.APPLY_START_DT AND PR.APPLY_END_DT
    ) IV 
    </select>    
   
</mapper>