<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IapProductInfo">

	<select id="getIapProductInfo" parameterType="map" resultType="com.skplanet.storeplatform.sac.display.localsci.sci.vo.IapProductInfo">
        SELECT /* IapProductInfo.getIapProductInfo, 정희원/SKP, 2014-11-04 */
             RSHP.PROD_ID AS PARENT_PROD_ID
            ,RSHP.PART_PROD_ID
            ,PARTAPP.PROD_CASE || NVL2(PARTAPP.PROD_KIND, '/'||PARTAPP.PROD_KIND, '') AS PART_PRODUCT_TYPE
            ,PARTAPP.PROD_CASE
            ,PARTAPP.PROD_KIND
            ,NVL2(PARTAPP.FULL_PROD_ID, 'Y', 'N') AS HAS_FULL_PROD_YN
            ,PARTAPP.FULL_PROD_ID AS FULL_AID
            ,(SELECT PROD_ID FROM TB_DP_APP_PROD WHERE AID = PARTAPP.FULL_PROD_ID AND PART_PARENT_CLSF_CD='PD012301') AS FULL_PROD_ID
            ,MCM.MENU_ID
            ,PARTAPP.USE_PERIOD
        FROM TB_DP_PROD_RSHP RSHP
            INNER JOIN TB_DP_PROD PARTPROD
                ON PARTPROD.PROD_ID = RSHP.PART_PROD_ID
            INNER JOIN TB_DP_APP_PROD PARTAPP
                ON PARTAPP.PROD_ID = PARTPROD.PROD_ID
            INNER JOIN TB_DP_MENU_CATEGORY_PROD_MAPG MCM
                ON MCM.PROD_ID = RSHP.PROD_ID AND MCM.BASE_YN = 'Y'
        WHERE 1=1
              AND RSHP.PROD_RSHP_CD = 'DP010801'
              AND PARTAPP.PART_PARENT_CLSF_CD = 'PD012302'
              AND RSHP.PART_PROD_ID = #{partProdId}
    </select>

    <select id="getSapProdMapg" parameterType="String" resultType="map">
        SELECT /* IapProductInfo.getSapProdMapg, 정희원/SKP, 2014-11-04 */
            AID,
            PROD_ID AS S01_PROD_ID,
            CASE KT_CHECK_YN WHEN 'Y' THEN KT_PROD_ID ELSE null END AS S02_PROD_ID,
            CASE LG_CHECK_YN WHEN 'Y' THEN LG_PROD_ID ELSE null END AS S03_PROD_ID
        FROM TB_DP_SAP_PROD_MAPG
        WHERE PROD_ID = #{id}
    </select>

</mapper>
