<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LocalSci">
    <!-- Aid로 Seller Key 조회 -->
    <select id="getSellerKey" resultType="String">
		SELECT /* LocalSciMapper.xml, getSellerKey, SAC : 이석희 , 2014-02-13 */ 
			   MAX(SELLER_MBR_NO) AS SELLER_MBR_NO
		  FROM TB_DP_PROD
		 WHERE PROD_ID = (
		                   SELECT PROD_ID
		                     FROM TB_DP_APP_PROD
		                    WHERE AID=#{aid}
		                  )                             
    </select>
    
    <!-- 상품 구매건수 업데이트 -->
    <update id="updatePurchaseCount" parameterType="HashMap">
        /* LocalSciMapper.xml, updatePurchaseCount, SAC : 이석희 , 2014-02-14 */ 
			UPDATE TB_DP_TENANT_PROD_STATS
			   SET PRCHS_CNT =#{purchaseCount}
			 WHERE PROD_ID= #{productId}
    </update>    
</mapper>