<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LocalSci">
    <!-- Aid로 Seller Key 조회 -->
    <select id="getSellerKey" resultType="String">
		SELECT /* LocalSciMapper.xml, getSellerKey, SAC : 이석희 , 2014-02-13 */ 
			   SELLER_MBR_NO
		  FROM TB_DP_PROD
		 WHERE PROD_ID = (
		                   SELECT PROD_ID
		                     FROM TB_DP_APP_PROD
		                    WHERE AID=#{aid}
		                  )                             
    </select>
    
    <!-- 상품 구매건수 업데이트 -->
    <update id="updatePurchaseCount" parameterType="HashMap">
        /* LocalSciMapper.xml, updatePurchaseCount, SAC : 이석희 , 2014-02-14 */ 
			UPDATE TB_DP_TENANT_PROD_STATS
			   SET PRCHS_CNT =#{purchaseCount}
			 WHERE TENANT_ID = #{tenantId} 
			   AND PROD_ID= #{productId}
    </update>
    
    <!-- 평점 테이블 회원 ID, KEY 변경 -->
    <update id="changeMbrAvg" parameterType="ChangeDisplayUser">
	    UPDATE /* LocalSciMapper.xml, changeMbrAvg, SAC : 김현일 , 2014-02-17 */
	           TB_DP_MBR_AVG
	      <set>
	           <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(newUserKey)">MBR_NO = #{newUserKey} </if>
	           <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(newUserId)">REG_ID = #{newUserId} </if>
	      </set>
	      <where>
	           TENANT_ID = #{tenantId}
	           <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(oldUserKey)">AND MBR_NO = #{oldUserKey}</if>
	           <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(oldUserId)">AND REG_ID = #{oldUserId}</if>
	      </where>
    </update>    
    
    <!-- 사용후기 테이블 회원 ID, KEY 변경 -->
    <update id="changeProdNoti" parameterType="ChangeDisplayUser">
        UPDATE /* LocalSciMapper.xml, changeProdNoti, SAC : 김현일 , 2014-02-17 */
               TB_DP_PROD_NOTI
          <set>
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(newUserKey)">MBR_NO = #{newUserKey} </if>
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(newUserId)">REG_ID = #{newUserId} </if>
          </set>
          <where>
               TENANT_ID = #{tenantId}
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(oldUserKey)">AND MBR_NO = #{oldUserKey}</if>
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(oldUserId)">AND REG_ID = #{oldUserId}</if>
          </where>    
    </update>
    
        <!-- 사용후기 신고 테이블 회원 ID, KEY 변경 -->
    <update id="changeBadNoti" parameterType="ChangeDisplayUser">
        UPDATE /* LocalSciMapper.xml, changeProdNoti, SAC : 김현일 , 2014-02-17 */
               TB_DP_BAD_NOTI
          <set>
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(newUserKey)">MBR_NO = #{newUserKey} </if>
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(newUserId)">REG_ID = #{newUserId} </if>
          </set>
          <where>
               TENANT_ID = #{tenantId}
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(oldUserKey)">AND MBR_NO = #{oldUserKey}</if>
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(oldUserId)">AND REG_ID = #{oldUserId}</if>
          </where>    
    </update>
    
    <!-- 사용후기 추천 테이블 회원 ID, KEY 변경 -->
    <update id="changeProdNotiGood" parameterType="ChangeDisplayUser">
        UPDATE /* LocalSciMapper.xml, changeProdNotiGood, SAC : 김현일 , 2014-02-17 */
               TB_DP_PROD_NOTIGOOD
          <set>
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(newUserKey)">MBR_NO = #{newUserKey} </if>
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(newUserId)">REG_ID = #{newUserId} </if>
          </set>
          <where>
               TENANT_ID = #{tenantId}
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(oldUserKey)">AND MBR_NO = #{oldUserKey}</if>
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(oldUserId)">AND REG_ID = #{oldUserId}</if>
          </where>    
    </update>
    
    <!-- 테넌트 상품 통계 테이블 회원ID, KEY 변경 -->
    <update id="changeTenantProdStats" parameterType="ChangeDisplayUser">
        UPDATE /* LocalSciMapper.xml, changeTenantProdStats, SAC : 김현일 , 2014-02-17 */
               TB_DP_TENANT_PROD_STATS
          <set>
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(newUserId)">REG_ID = #{newUserId} </if>
          </set>
          <where>
               TENANT_ID = #{tenantId}
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(oldUserId)">AND REG_ID = #{oldUserId}</if>
          </where>     
    </update>
    
    <!-- 메시지 회원 맵핑 테이블 회원ID, KEY 변경 -->
    <update id="changeMsgMbrMapg" parameterType="ChangeDisplayUser">
        UPDATE /* LocalSciMapper.xml, changeMsgMbrMapg, SAC : 김현일 , 2014-02-17 */
               TB_DP_MSG_MBR_MAPG
          <set>
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(newUserKey)">MBR_NO = #{newUserKey} </if>
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(newUserId)">REG_ID = #{newUserId} </if>
          </set>
          <where>
               TENANT_ID = #{tenantId}
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(oldUserKey)">AND MBR_NO = #{oldUserKey}</if>
               <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(oldUserId)">AND REG_ID = #{oldUserId}</if>
          </where>        
    </update>
    
    <select id="getDcdSupportProduct" resultType="Map">
         SELECT /* LocalSciMapper.xml, getDcdSupportProduct, SAC : 이석희 , 2014-02-17 */ 
                B.PART_PROD_ID AS PROD_ID
              , C.DCD_SPRT_CD
           FROM TB_DP_PROD                A
               ,TB_DP_PROD_RSHP           B
               ,UV_TB_DP_MULTIMDA_PROD    C
          WHERE A.PROD_ID = B.PART_PROD_ID
            AND B.PART_PROD_ID = C.PROD_ID
            AND C.DCD_SPRT_CD IS NOT NULL           
    </select>
    
</mapper>