<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PaymentInfo">
    <!-- 상품 군 조회 -->
    <select id="searchProdType" parameterType="PaymentInfoSacReq" resultType="PaymentInfo">
		SELECT /* PaymentInfoMapper.xml, searchProdType, H.J.H, 2014-02-27 */ 
		       IA.* 
		FROM (
		  	SELECT A.TOP_MENU_ID
		          ,C.SVC_GRP_CD
		    FROM   TB_DP_MENU_CATEGORY           A
		          ,TB_DP_MENU_CATEGORY_PROD_MAPG B
		          ,TB_DP_PROD                    C
		    WHERE  A.MENU_ID = B.MENU_ID
		    AND    B.PROD_ID = C.PROD_ID
		    AND    C.PROD_ID = #{prodId}
		    UNION ALL
		    SELECT A.TOP_MENU_ID
		          ,D.SVC_GRP_CD
		    FROM   TB_DP_MENU_CATEGORY     A
		          ,TB_DP_MENU_SHPG_MAPG    B
		          ,TB_DP_PROD_CATALOG_MAPG C
		          ,TB_DP_PROD              D
		          ,TB_DP_PROD_RSHP         E
		    WHERE  A.MENU_ID      = B.MENU_ID
		    AND    B.CATALOG_ID   = C.CATALOG_ID
		    AND    C.PROD_ID      = D.PROD_ID
		    AND    D.PROD_ID      = E.PART_PROD_ID
		    AND    E.PART_PROD_ID = #{prodId}
		) IA
		WHERE ROWNUM = 1
    </select>
    
    <select id="searchPaymentInfo" parameterType="PaymentInfoSacReq" resultType="PaymentInfo">
        SELECT /* PaymentInfoMapper.xml, searchPaymentInfo, H.J.H, 2014-02-27 */
		       A.PROD_ID
		      ,B.PROD_NM
		      ,D.PROD_AMT
		      ,C.PROD_STATUS_CD
		      ,A.PROD_GRD_CD
		      ,'Y' AS PROD_SPRT_YN
		      ,A.DRM_YN
		      ,A.USE_PERIOD_UNIT_CD
		      ,A.USE_PERIOD
		      ,(SELECT AID FROM TB_DP_APP_PROD WHERE PROD_ID = A.PROD_ID) AS AID
		      ,A.MALL_CD
		      ,(SELECT OUTSD_CONTENTS_ID FROM UV_TB_DP_MULTIMDA_PROD WHERE PROD_ID = A.PROD_ID) AS OUTSD_CONTENTS_ID
		      ,A.SELLER_MBR_NO
		      ,A.EXPO_SELLER_NM AS SELLER_NM
		      ,A.EXPO_SELLER_EMAIL AS SELLER_EMAIL
		      ,A.EXPO_SELLER_TELNO AS SELLER_TELNO
		FROM   TB_DP_PROD              A
		      ,TB_DP_PROD_DESC         B
		      ,TB_DP_TENANT_PROD       C
		      ,TB_DP_TENANT_PROD_PRICE D
		WHERE  A.PROD_ID = B.PROD_ID
		AND    B.LANG_CD = #{langCd}
		AND    A.PROD_ID = C.PROD_ID
		AND    C.TENANT_ID = #{tenantId}
		AND    C.PROD_ID = D.PROD_ID
		AND    C.TENANT_ID = D.TENANT_ID
		AND    A.PROD_ID = #{prodId}
    </select>
    
    <select id="getShoppingMetaInfo" parameterType="Map" resultType="PaymentInfo">
          /* PaymentInfoMapper.xml, getShoppingMetaInfo, 김형식, 2014-02-27 */
           SELECT  
                KK.*
           FROM (
                  SELECT 
                         H.PROD_ID
                        ,CASE WHEN N.PROD_ID IS NOT NULL THEN M.PROD_NM ELSE C.CATALOG_NM  END PROD_NM
                        ,NVL(L.PROD_AMT, 0) AS PROD_AMT 
                        ,K.PROD_STATUS_CD
                        ,J.PROD_GRD_CD
                        ,(SELECT DECODE (COUNT(1), 0, 'N', 'Y') FROM TB_DP_SPRT_DEVICE WHERE DEVICE_MODEL_CD = #{deviceModelNo} AND PROD_ID  = H.PART_PROD_ID) AS PHONE_SPRT_YN
                        ,J.DRM_YN 
                        ,J.USE_PERIOD_UNIT_CD
                        ,J.USE_PERIOD
                        ,'' as aid
                        ,J.MALL_CD  
                        ,'' as outsdContentsId      
                        ,J.SELLER_MBR_NO 
                        ,'' AS sellerNm
                        ,'' AS sellerEmail
                        ,'' AS sellerTelno
                        ,(SELECT SRC_CONTENT_ID 
                            FROM TB_DP_SHPG_PROD 
                           WHERE prod_id=H.PROD_ID 
                         ) AS COUPON_CODE                        
                        ,I.SRC_CONTENT_ID AS ITEM_CODE 
                        ,NVL(N.SPRC_PRICE,0) specialSaleAmt
                        ,N.SPRC_APPLY_START_DT AS specialSaleStartDt
                        ,N.SPRC_APPLY_END_DT AS specialSaleEndDt
                        ,N.CPN_ID AS specialSaleCouponId                        
                        ,NVL(N.MM_PROD_MAX_SALE_QTY,0) AS specialSaleMonthLimit
                        ,NVL(N.DLY_PROD_MAX_SALE_QTY,0) AS specialSaleDayLimit    
                        ,NVL(N.PERMAN_MM_MAX_PRCHS_QTY,0) AS specialSaleMonthLimitPerson
                        ,NVL(N.PERMAN_DAY_MAX_PRCHS_QTY,0) AS specialSaleDayLimitPerson
                        ,CONCAT(CONCAT(J.SVC_GRP_CD, '||' ),J.TOP_MENU_ID) as tenantProdGrpCd
                  FROM 
                          TB_DP_SHPG_BRAND A
                         ,TB_DP_SHPG_CATALOG B
                         ,TB_DP_SHPG_CATALOG_DESC C
                         ,TB_DP_MENU_SHPG_MAPG D
                         ,TB_DP_MENU_CATEGORY E
                         ,TB_DP_MENU_CATEGORY_DESC F 
                         ,TB_DP_PROD_CATALOG_MAPG G 
                         ,TB_DP_PROD_RSHP H
                         ,TB_DP_SHPG_PROD I
                         ,TB_DP_PROD J
                         ,TB_DP_TENANT_PROD K
                         ,TB_DP_TENANT_PROD_PRICE L
                         ,TB_DP_PROD_DESC M
                         ,(SELECT 
                                 B1.PROD_ID
                               , B1.CPN_ID
                               , B1.SPRC_DC_RATE
                               , B1.SPRC_PRICE
                               , B1.SPRC_APPLY_START_DT
                               , B1.SPRC_APPLY_END_DT
                               , B1.MM_PROD_MAX_SALE_QTY
                               , B1.DLY_PROD_MAX_SALE_QTY   
                               , B1.PERMAN_MM_MAX_PRCHS_QTY
                               , B1.PERMAN_DAY_MAX_PRCHS_QTY
                               , B1.ONCE_MAX_PRCHS_POSB_CNT                                    
                           FROM  TB_DP_PROD_RSHP A1
                                ,TB_DP_SPRC_PROD B1
                           WHERE 1=1
                             AND A1.PART_PROD_ID = B1.PROD_ID
                             <if test="prodId != null ">
                             AND B1.PROD_ID  = #{prodId}
                             </if>                             
                             AND B1.EXPO_YN ='Y'
                             AND B1.CPN_ID IS NOT NULL
                             AND SYSDATE BETWEEN  B1.SPRC_APPLY_START_DT AND B1.SPRC_APPLY_END_DT 
                          )N                         
                         ,TB_DP_PROD_IMG PI
                WHERE 1=1
                AND A.BRAND_ID = B.BRAND_ID
                AND B.CATALOG_ID = C.CATALOG_ID
                AND C.CATALOG_ID = D.CATALOG_ID     
                AND D.MENU_ID = E.MENU_ID
                AND D.MENU_ID = F.MENU_ID
                AND B.CATALOG_ID = G.CATALOG_ID
                AND G.PROD_ID = H.PROD_ID
                AND H.PART_PROD_ID = I.PROD_ID
                AND I.PROD_ID = J.PROD_ID
                AND I.PROD_ID = K.PROD_ID
                AND I.PROD_ID = L.PROD_ID
                AND I.PROD_ID = M.PROD_ID
                AND K.TENANT_ID = L.TENANT_ID
                AND C.CATALOG_ID = PI.PROD_ID
                AND PI.IMG_CD = #{imageCd}
                AND PI.EXPO_ORD ='1'           
                AND I.PROD_ID = N.PROD_ID(+)    
                AND H.PROD_RSHP_CD =#{prodRshpCd}    /*채널-에피소드 상품 관계*/ 
                AND NVL(B.CHNL_CNT, 0) > 0          
                AND C.LANG_CD= #{lang}          /* ko : 한국어 */
                AND F.LANG_CD= #{lang}          /* ko : 한국어 */
                AND M.LANG_CD =#{lang}          /* ko : 한국어 */
                AND D.BASE_YN='Y'                 /* Y : 기본(기본여부) */
                AND D.USE_YN ='Y'                 /* Y : 기본(기본여부) */
                AND E.USE_YN='Y'                  /* Y : 기본(기본여부) */
                AND G.BASE_YN='Y'                 /* Y : 기본(기본여부) */
                AND G.USE_YN ='Y'                  /* Y : 기본(기본여부) */
                AND NVL(I.B2B_PROD_YN, 'N') <![CDATA[ <> ]]> 'Y'
                AND K.EXPO_YN = 'Y'                /* Y : 노출(노출여부) */
                AND SYSDATE BETWEEN L.APPLY_START_DT AND L.APPLY_END_DT
                AND K.TENANT_ID = #{tenantId}        /* INPUT 테넌트ID */
                AND I.PROD_ID = #{prodId}        /* 상품ID */
           ) KK
    </select>    
    
  <select id="getAvailableFixrateProdIdList" parameterType="Map" resultType="String">
          /* PaymentInfoMapper.xml, getAvailableFixrateProdIdList, 김형식, 2014-02-27 */
            SELECT  
                IV.*
            FROM (
                SELECT  
                      PD.PROD_ID
                 FROM 
                      TB_DP_PROD PD
                    , TB_DP_CMPX_PROD CM
                    , TB_DP_PROD_DESC DC
                    , TB_DP_TENANT_PROD TP
                    , TB_DP_TENANT_PROD_PRICE PR
                    ,(SELECT   A.PROD_ID 
                             , B.PART_PROD_ID
                        FROM TB_DP_FIXRATE_PROD_MAPG A
                             ,TB_DP_PROD_RSHP B
                       WHERE A.PART_PROD_ID = B.PROD_ID
                         AND B.PROD_RSHP_CD =#{prodRshpCd}    /*채널-에피소드 상품 관계*/ 
                         AND B.PART_PROD_ID= #{prodId}
                     )PM                    
                WHERE  PD.PROD_ID = CM.PROD_ID
                AND PD.PROD_ID = DC.PROD_ID
                AND PD.PROD_ID = TP.PROD_ID
                AND PD.PROD_ID = PR.PROD_ID
                AND PD.PROD_ID = PM.PROD_ID
                AND DC.LANG_CD = #{lang}
                AND TP.TENANT_ID = #{tenantId} 
                AND TP.TENANT_ID = PR.TENANT_ID
                AND SYSDATE BETWEEN PR.APPLY_START_DT AND PR.APPLY_END_DT
            ) IV 
    </select>       
    
    <select id="getFreePassMetaInfo" parameterType="Map" resultType="PaymentInfo">
          /* PaymentInfoMapper.xml, getFreePassMetaInfo, 김형식, 2014-02-27 */
		    SELECT  
		        IV.*
		    FROM (
		        SELECT  
		              PD.PROD_ID
		            , DC.PROD_NM
		            , PR.PROD_AMT
		            , TP.PROD_STATUS_CD
		            , PD.PROD_GRD_CD
		            , (SELECT DECODE (COUNT(1), 0, 'N', 'Y') FROM TB_DP_SPRT_DEVICE WHERE DEVICE_MODEL_CD = #{deviceModelNo} AND PROD_ID  = PM.PART_PROD_ID) AS PHONE_SPRT_YN
		            , PD.DRM_YN
                    , PD.USE_PERIOD_UNIT_CD
                    , PD.USE_PERIOD
                    , '' as aid	
                    , CONCAT(CONCAT(PD.SVC_GRP_CD, '||' ),PD.TOP_MENU_ID) as tenantProdGrpCd
                    , PD.MALL_CD
                    ,'' AS outsdContentsId
                    ,'' AS sellerMbrNo 
                    ,'' AS sellerNm
                    ,'' AS sellerEmail
                    ,'' AS sellerTelno       
                    , CM.AUTO_APPR_YN AS autoPrchsYN             	            
                    , PD.USE_PERIOD_UNIT_CD AS autoPrchsPeriodUnitCd
                    , PD.USE_PERIOD	AS autoPrchsPeriodValue	
                    , '' AS autoPrchsLastDt           
		        FROM 
		              TB_DP_PROD PD
		            , TB_DP_CMPX_PROD CM
		            , TB_DP_PROD_DESC DC
		            , TB_DP_TENANT_PROD TP
		            , TB_DP_TENANT_PROD_PRICE PR
		            ,(SELECT   A.PROD_ID 
		                     , B.PART_PROD_ID
		                FROM TB_DP_FIXRATE_PROD_MAPG A
		                     ,TB_DP_PROD_RSHP B
		               WHERE A.PART_PROD_ID = B.PROD_ID
		                 AND B.PROD_RSHP_CD =#{prodRshpCd}    /*채널-에피소드 상품 관계*/ 
		                 AND B.PART_PROD_ID= #{prodId}
		             )PM 		            
		        WHERE  PD.PROD_ID = CM.PROD_ID
		        AND PD.PROD_ID = DC.PROD_ID
		        AND PD.PROD_ID = TP.PROD_ID
		        AND PD.PROD_ID = PR.PROD_ID
		        AND PD.PROD_ID = PM.PROD_ID
		        AND DC.LANG_CD = #{lang}
		        AND TP.TENANT_ID = #{tenantId} 
		        AND TP.TENANT_ID = PR.TENANT_ID
		        AND SYSDATE BETWEEN PR.APPLY_START_DT AND PR.APPLY_END_DT
		    ) IV 
    </select>     
    
    <select id="getExclusiveFixrateProdIdList" parameterType="Map" resultType="String">
          /* PaymentInfoMapper.xml, getExclusiveFixrateProdIdList, 김형식, 2014-02-27 */
			SELECT 
			       DUP_PRCHS_LIMT_PROD_ID 
			  FROM TB_DP_DUP_PRCHS_LIMT
			 WHERE PROD_ID =#{productId} 
    </select>            
    
</mapper>