<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PossLendProductInfo">
    <!-- 소장/대여 상품 조회 -->
    <select id="searchPossLendProductInfo" parameterType="PossLendProductInfoSacReq" resultType="PossLendProductInfo">
		SELECT /* PossLendProductInfo.xml, searchPossLendProductInfo, SAC 전시, 2014-04-16 */
		       A.PROD_ID              AS POSS_PROD_ID
		      ,B.POSS_LEND_CLSF_CD
		      ,C.PROD_NM              AS POSS_PROD_NM 
		      ,E.PROD_AMT             AS POSS_PROD_AMT
		      ,F.PROD_ID              AS LEND_PROD_ID
		      ,G.POSS_LEND_CLSF_CD
		      ,H.PROD_NM              AS LEND_PROD_NM
		      ,J.PROD_AMT             AS LEND_PROD_AMT
		      ,F.USE_PERIOD_UNIT_CD
		      ,F.USE_PERIOD
		      ,F.USE_PERIOD_UNIT_CD   AS DOWN_POSSIBLE_PERIOD_UNIT_CD
		      ,F.USE_PERIOD           AS DOWN_POSSIBLE_PERIOD
		FROM   TB_DP_PROD              A /* 소장 상품 */
		      ,UV_TB_DP_MULTIMDA_PROD  B /* 소장 상품 */
		      ,TB_DP_PROD_DESC         C /* 소장 상품 설명 */
		      ,TB_DP_TENANT_PROD       D /* 소장 상품 */
		      ,TB_DP_TENANT_PROD_PRICE E /* 소장 상품 가격 */
		      ,TB_DP_PROD              F /* 대여 상품 */
		      ,UV_TB_DP_MULTIMDA_PROD  G /* 대여 상품 */
		      ,TB_DP_PROD_DESC         H /* 대여 상품 설명 */
		      ,TB_DP_TENANT_PROD       I /* 대여 상품 */
		      ,TB_DP_TENANT_PROD_PRICE J /* 대여 상품 가격 */
		WHERE  A.PROD_ID = B.PROD_ID
		AND    A.PROD_ID = C.PROD_ID
		AND    C.LANG_CD = #{langCd}
		AND    A.PROD_ID = D.PROD_ID
		AND    D.TENANT_ID = #{tenantId}
		AND    A.PROD_ID = E.PROD_ID
		AND    E.TENANT_ID = D.TENANT_ID
		AND    SYSDATE BETWEEN E.APPLY_START_DT AND E.APPLY_END_DT
		AND    A.CID = F.CID
		AND    F.PROD_ID = G.PROD_ID
		AND    F.PROD_ID = H.PROD_ID
		AND    H.LANG_CD = C.LANG_CD
		AND    F.PROD_ID = I.PROD_ID
		AND    I.TENANT_ID = D.TENANT_ID
		AND    F.PROD_ID = J.PROD_ID
		AND    J.TENANT_ID = D.TENANT_ID
		AND    SYSDATE BETWEEN J.APPLY_START_DT AND J.APPLY_END_DT
		-----------------------------------------------------------------
		-- INPUT PARAMETER
		-----------------------------------------------------------------
		AND    B.POSS_LEND_CLSF_CD = 'DP010601' /* DP010601 : 소장 상품 */
		AND    D.PROD_STATUS_CD    = 'PD000403' /* PD000403 : 판매중 */
		AND    D.EXPO_YN           = 'Y'        /* Y : 노출 (노출여부) */
		AND    G.POSS_LEND_CLSF_CD = 'DP010602' /* DP010602 : 대여 상품 */
		AND    I.PROD_STATUS_CD    = 'PD000403' /* PD000403 : 판매중 */
		AND    I.EXPO_YN           = 'Y'        /* Y : 노출 (노출여부) */
		<if test='possLendClsfCd == "DP010601"'>
		AND    A.PROD_ID = #{prodId}
		</if>
		<if test='possLendClsfCd != "DP010601"'>
		AND    F.PROD_ID = #{prodId}
		</if>
    </select>
    
</mapper>