<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SpecialPurchaseCount">

    <!-- 특가 상품 여부 조회 -->
    <select id="getSpecialProductCount" parameterType="HashMap" resultType="Int">
        SELECT /* SpecialPurchaseCount.getSpecialProductCount, 특가 상품 여부 조회 , 김형식/SK플래닛, 2015-03-26 */
	            count(1)
          FROM  TB_DP_SPRC_PROD 
	     WHERE 1=1
	       AND PROD_ID =#{productId}
	       AND EXPO_YN ='Y'
	       AND CPN_ID IS NOT NULL
	       AND TO_DATE(#{purchaseDate},'yyyymmddhh24miss') BETWEEN  SPRC_APPLY_START_DT AND SPRC_APPLY_END_DT    
    </select>  
    
    
    <!-- 상품 기본 정보(상품군) 조회 -->
    <select id="getProductInfo" parameterType="HashMap" resultType="ProductBasicInfo">
        SELECT /* SpecialPurchaseCount.getProductInfo, 상품 기본정보(서비스 그룹) 조회 , 김형식/SK플래닛, 2015-03-26 */
                A.PROD_ID AS PART_PROD_ID
              , B.PROD_ID
              , A.SVC_GRP_CD
              , A.SVC_TYPE_CD
              , A.CONTENTS_TYPE_CD
              , A.META_CLSF_CD
              , A.TOP_MENU_ID       
              , C.CATALOG_ID       
          FROM TB_DP_PROD A
              ,TB_DP_PROD_RSHP B
              ,TB_DP_PROD_CATALOG_MAPG C
              ,TB_DP_TENANT_PROD D
         WHERE 1=1 
           AND A.PROD_ID = B.PART_PROD_ID
           AND B.PROD_ID = C.PROD_ID
           AND A.PROD_ID = D.PROD_ID
           AND A.PROD_ID = #{productId}
           AND B.PROD_RSHP_CD = 'DP010802'
           AND C.BASE_YN ='Y'
           AND C.USE_YN ='Y'
           AND D.TENANT_ID =#{tenantId}    
    </select>  
    
    <!-- 특가 상품 존재 유무 조회 -->
    <select id="getSpecialProdCount" parameterType="HashMap" resultType="Integer">
        SELECT /* SpecialPurchaseCount.getSpecialProdCount, 특가 상품 존재 유무 조회 , 김형식/SK플래닛, 2015-03-26 */
               NVL(COUNT(*),0) AS COUNT
          FROM TB_DP_SPRC_PROD_PRCHS_MANG
         WHERE 1=1
           AND PROD_ID = #{productId}
           AND TO_CHAR(PRCHS_DT,'YYYYMMDDHH24') = SUBSTR(#{purchaseDate},0,10) 
    </select>       
    
    <!--특가 상품 구매건수 업데이트 상품이 없을시 Insert-->
    <insert id="insertSpecialPurchaseProd" parameterType="HashMap">
       /* SpecialPurchaseCount.insertSpecialPurchaseProd,특가 상품 구매수 조회시 조회대상 상품이 없을때 상품 Insert , 김형식/SK플래닛, 2015-03-26 */
        INSERT INTO TB_DP_SPRC_PROD_PRCHS_MANG(
             PRCHS_DT
           , PROD_ID
           , PRCHS_CNT
           , REG_DT
           , UPD_DT
        )VALUES(
            TO_DATE(SUBSTR(#{purchaseDate},0,10)||'0000','yyyymmddhh24miss')
           ,#{productId}
           ,#{purchaseCount,jdbcType=NUMERIC}
           , SYSDATE
           , SYSDATE
        )
    </insert>      

    <!--특가 상품 구매수 조회 -->
    <select id="getSpecialPurchaseCount" parameterType="HashMap" resultType="Integer">
        SELECT /* SpecialPurchaseCount.getSpecialPurchaseCount, 특가 상품 구매수 조회 , 김형식/SK플래닛, 2015-03-26 */
               NVL(PRCHS_CNT, 0) AS PRCHS_CNT
          FROM TB_DP_SPRC_PROD_PRCHS_MANG
         WHERE 1=1
           AND PROD_ID = #{productId}
           AND TO_CHAR(PRCHS_DT,'YYYYMMDDHH24') = SUBSTR(#{purchaseDate},0,10) 
    </select>   


    <!-- 특가 상품 구매건수 업데이트 -->
    <update id="updateSpecialPurchaseCount" parameterType="HashMap">
        /* SpecialPurchaseCount.updateSpecialPurchaseCount,특가 상품 구매건수 UPDATE , 김형식/SK플래닛, 2015-03-26 */
        UPDATE TB_DP_SPRC_PROD_PRCHS_MANG
           SET PRCHS_CNT =  ( SELECT NVL(PRCHS_CNT, 0) + #{purchaseCount,jdbcType=NUMERIC} 
                                  FROM TB_DP_SPRC_PROD_PRCHS_MANG
                                 WHERE 1=1
                                   AND PROD_ID = #{productId}
                                   AND TO_CHAR(PRCHS_DT,'YYYYMMDDHH24') = SUBSTR(#{purchaseDate},0,10) 
                              )
                ,UPD_DT = SYSDATE            
         WHERE 1=1 
           AND PROD_ID= #{productId}
           AND TO_CHAR(PRCHS_DT,'YYYYMMDDHH24') = SUBSTR(#{purchaseDate},0,10) 
    </update>    

</mapper>