<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberCommon">

    <!-- Tenant 약관코드 조회 -->
    <select id="getTenantClauseCode" parameterType="ClauseDTO" resultType="ClauseDTO">
        SELECT    /* MemberCommonMapper.getTenantClauseCode, 테넌트약관조회, 강신완/부르칸, 2014-02-12 */
            clause_id           AS clauseId

        FROM TB_CM_TENANT_CLAUSE 
        WHERE 1=1
        
        AND clause_id = #{clauseId}
        AND use_yn = 'Y'  
        ORDER BY clause_id ASC
    </select>
    
    <!-- 약관 상세 조회 -->
    <select id="getClauseDetail" parameterType="ClauseDTO" resultType="ClauseDTO">
		SELECT    /* MemberCommonMapper.getClauseDetail, 약관상세조회, 강신완/부르칸, 2014-02-12 */
            clause_id           AS clauseItemCd,
            clause_item_cd      AS clauseId,
            start_day           AS startDay,
            end_day             AS endDay,
            file_path           AS filePath,
            file_nm             AS fileNm,
            clause_ver          AS clauseVer,
            up_clause_item_cd   AS upClauseItemCd,
            dp_yn               AS dpYn,
            reg_id              AS regId,
            TO_CHAR(reg_dt, 'YYYYMMDDHH24MISS') AS regDt, 
            upd_id AS updId, 
            TO_CHAR(upd_dt, 'YYYYMMDDHH24MISS') AS updDt 
         FROM TB_CM_CLAUSE 
        WHERE dp_yn='Y'
        AND clause_id = #{clauseId}
        ORDER BY start_day DESC
    </select>
    
    <!-- 약관 목록 조회 -->
    <select id="getClauseList" parameterType="ClauseDTO" resultType="ClauseDTO">
        SELECT    /* MemberCommonMapper.getClauseList, 약관목록조회, 강신완/부르칸, 2014-04-29 */
            A.clause_id           AS clauseItemCd,
            A.clause_item_cd      AS clauseId,
            A.start_day           AS startDay,
            A.end_day             AS endDay,
            A.file_path           AS filePath,
            A.file_nm             AS fileNm,
            A.clause_ver          AS clauseVer,
            A.up_clause_item_cd   AS upClauseItemCd,
            A.dp_yn               AS dpYn,
            A.reg_id              AS regId,
            TO_CHAR(A.reg_dt, 'YYYYMMDDHH24MISS') AS regDt, 
            A.upd_id AS updId, 
            TO_CHAR(A.upd_dt, 'YYYYMMDDHH24MISS') AS updDt 
         FROM TB_CM_CLAUSE A, TB_CM_TENANT_CLAUSE B
        WHERE A.dp_yn='Y'
        AND A.clause_id = B.clause_id
        AND TO_CHAR(SYSDATE, 'YYYYMMDD') <![CDATA[>=]]> a.start_day
        AND TO_CHAR(SYSDATE, 'YYYYMMDD') <![CDATA[<]]> a.end_day
        AND B.tenant_id = #{tenantId}
        AND B.use_yn = 'Y'
        ORDER BY A.clause_id ASC
    </select>
    
    <!-- 폰 정보 조회 -->
    <select id="getPhoneInfo" parameterType="DeviceDTO" resultType="DeviceDTO">
		SELECT /* MemberCommonMapper.getPhoneInfo, 폰정보 조회, 심대진/다모아, 2014-01-08 */
		        device_model_cd
		      , model_nm
		      , eng_model_nm
		      , rep_device_yn
		      , ua_cd
		      , list_img_path
		      , dtl_img_path
		      , cmnt_comp_cd
		      , cpu_type_cd
		      , vm_ver_cd
		      , lcd_size_cd
		      , color_cd
		      , audio_type_cd
		      , audio_poly_cd
		      , giga_ver_cd
		      , drm_ver_cd
		      , v4_sprt_type_cd
		      , device_type_cd
		      , prchs_posb_type_cd
		      , inner_mem_size
		      , network_type
		      , use_yn
		      , dp_yn
		      , feature_phone_yn
		      , camera_sprt_yn
		      , extrr_mem_yn
		      , touch_screen_yn
		      , bluetooth_sprt_yn
		      , gps_sprt_yn
		      , itopp_v4_sprt_yn
		      , sound_3d_sprt_yn
		      , virtual_key_yn
		      , t_player_sprt_yn
		      , video_drm_sprt_yn
		      , cmf_sprt_yn
		      , embedded_yn
		      , wsl_sprt_yn
		      , sd_video_sprt_yn
		      , fr_dvc_yn
		      , verify_dvc_yn
		      , ebook_sprt_yn
		      , comic_sprt_yn
		      , hdv_sprt_yn
		      , kpad_sprt_yn
		      , kwac_sprt_yn
		      , flash_sprt_yn
		      , hdmi_sprt_yn
		      , hdcp_sprt_yn
		      , gift_sprt_yn
		      , scl_shpg_sprt_yn
		      , magazine_sprt_yn
		      , music_sprt_yn
		      , aom_sprt_yn
		      , skt_drm_sprt_yn
		      , strm_sprt_yn
		      , wgtp_sprt_yn
		      , arm_sprt_yn
		      , vod_fixistt_sprt_yn
		      , dolby_sprt_yn
		      , webtoon_sprt_yn
		      , reg_id
		      , reg_dt
		      , upd_id
		      , upd_dt
		      , (SELECT cd_nm FROM TB_CM_CD WHERE cd_id = mnft_comp_cd AND lang_cd = 'ko') AS MNFT_COMP_CD
		      , (SELECT cd_nm FROM TB_CM_CD WHERE cd_id = vm_type_cd AND lang_cd = 'ko') AS VM_TYPE_CD
		 FROM TB_CM_DEVICE
		WHERE use_yn = 'Y'
        <if test='deviceModelCd != null'>
          AND device_model_cd = #{deviceModelCd}
        </if>
        <if test='uaCd != null'>
          AND ua_cd = #{uaCd}
          AND rep_device_yn = 'Y'
        </if>
        
    </select>

    <!-- OMD 단말여부 확인 -->
    <select id="getOmdCount" parameterType="String" resultType="Integer">
        SELECT /* MemberCommonMapper.getOmdCount, OMD 단말여부 확인, 심대진/다모아, 2014-01-17 */
               COUNT(1)
          FROM TB_CM_OMD_DEVICE
         WHERE ua_cd = #{uacd}
    </select>
    
    <!-- 공통 약관 코드 정보 조회 -->
    <select id="getClauseItemInfo" parameterType="ClauseDTO" resultType="ClauseDTO">
        SELECT /* MemberCommonMapper.getClauseItemInfo, 공통 약관 코드 정보 조회, 심대진/다모아, 2014-04-29 */
               a.clause_id AS clauseId
             , a.start_day AS startDay
             , a.end_day AS endDay
             , a.clause_ver AS clauseVer
             , b.mand_agree_yn AS mandAgreeYn
         FROM TB_CM_CLAUSE a
        INNER JOIN TB_CM_TENANT_CLAUSE b ON a.clause_id = b.clause_id
        WHERE TO_CHAR(SYSDATE, 'YYYYMMDD') <![CDATA[>=]]> a.start_day
          AND TO_CHAR(SYSDATE, 'YYYYMMDD') <![CDATA[<]]> a.end_day
          AND b.use_yn = 'Y'
          AND b.tenant_id = #{tenantId}
          AND a.clause_id = #{clauseId}
    </select>
    
</mapper>
