<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberCommon">

    <!-- 필수 약관 동의 목록 조회 -->
    <select id="getMandAgreeList" parameterType="ClauseDTO" resultType="ClauseDTO">
		SELECT /* MemberCommonMapper.xml, getMandAgreeList, SAC : 심대진 , 2014-01-08 */
		      A.TENANT_ID         AS tenantId
			, A.MAND_AGREE_YN     AS mandAgreeYn
			, A.USE_YN            AS useYn
		    , B.CLAUSE_ID         AS clauseId
			, B.CLAUSE_ITEM_CD    AS clauseItemCd
			, B.START_DAY         AS startDay
			, B.END_DAY           AS endDay
			, B.FILE_PATH         AS filePath
			, B.FILE_NM           AS fileNm
			, B.CLAUSE_VER        AS clauseVer
			, B.UP_CLAUSE_ID      AS upClauseId
			, B.DP_YN             AS dpYn
			, B.REG_ID            AS regId
			, B.REG_DT            AS regDt
			, B.UPD_ID            AS updId
			, B.UPD_DT            AS updDt
		FROM TB_CM_TENANT_CLAUSE A, TB_CM_CLAUSE B
		WHERE A.CLAUSE_ID = B.CLAUSE_ID
		AND A.TENANT_ID = #{tenantId}
		AND A.USE_YN = 'Y'
		AND A.MAND_AGREE_YN = 'Y'
		ORDER BY B.CLAUSE_ITEM_CD
    </select>
    
    <!-- 약관 목록 조회 -->
    <select id="getClauseList" parameterType="ClauseDTO" resultType="ClauseDTO">
		SELECT    /* MemberCommonMapper.xml, getClauseList, SAC : 강신완 , 2014-02-12 */
            CLAUSE_ID           AS clauseId,
            CLAUSE_ITEM_CD      AS clauseItemCd,
            START_DAY           AS startDay,
            END_DAY             AS endDay,
            FILE_PATH           AS filePath,
            FILE_NM             AS fileNm,
            CLAUSE_VER          AS clauseVer,
            UP_CLAUSE_ID        AS upClauseId,
            DP_YN               AS dpYn,
            REG_ID              AS regId,
            TO_CHAR(REG_DT, 'YYYYMMDDHH24MISS') AS regDt, 
            UPD_ID AS updId, 
            TO_CHAR(UPD_DT, 'YYYYMMDDHH24MISS') AS updDt 
        FROM TB_CM_CLAUSE 
        WHERE DP_YN=#{dpYn}
        <if test='clauseItemCd != null'>
        AND CLAUSE_ITEM_CD = #{clauseItemCd}
        </if>
        <if test='clauseItemCd == null'>
        AND (SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') FROM DUAL) BETWEEN START_DAY AND END_DAY
        </if>
        
        ORDER BY CLAUSE_ITEM_CD ASC
    </select>

    <!-- 폰 정보 조회 -->
    <select id="getPhoneInfo" parameterType="DeviceDTO" resultType="DeviceDTO">
		SELECT /* MemberCommonMapper.xml, getPhoneInfo, SAC : 심대진 , 2014-01-08 */
            DEVICE_MODEL_CD,
			MODEL_NM,
			ENG_MODEL_NM,
			REP_DEVICE_YN,
			UA_CD,
			LIST_IMG_PATH,
			DTL_IMG_PATH,
			CMNT_COMP_CD,
			CPU_TYPE_CD,
			VM_VER_CD,
			LCD_SIZE_CD,
			COLOR_CD,
			AUDIO_TYPE_CD,
			AUDIO_POLY_CD,
			GIGA_VER_CD,
			DRM_VER_CD,
			V4_SPRT_TYPE_CD,
			DEVICE_TYPE_CD,
			PRCHS_POSB_TYPE_CD,
			INNER_MEM_SIZE,
			NETWORK_TYPE,
			USE_YN,
			DP_YN,
			FEATURE_PHONE_YN,
			CAMERA_SPRT_YN,
			EXTRR_MEM_YN,
			TOUCH_SCREEN_YN,
			BLUETOOTH_SPRT_YN,
			GPS_SPRT_YN,
			ITOPP_V4_SPRT_YN,
			SOUND_3D_SPRT_YN,
			VIRTUAL_KEY_YN,
			T_PLAYER_SPRT_YN,
			VIDEO_DRM_SPRT_YN,
			CMF_SPRT_YN,
			EMBEDDED_YN,
			WSL_SPRT_YN,
			SD_VIDEO_SPRT_YN,
			FR_DVC_YN,
			VERIFY_DVC_YN,
			EBOOK_SPRT_YN,
			COMIC_SPRT_YN,
			HDV_SPRT_YN,
			KPAD_SPRT_YN,
			KWAC_SPRT_YN,
			FLASH_SPRT_YN,
			HDMI_SPRT_YN,
			HDCP_SPRT_YN,
			GIFT_SPRT_YN,
			SCL_SHPG_SPRT_YN,
			MAGAZINE_SPRT_YN,
			MUSIC_SPRT_YN,
			AOM_SPRT_YN,
			SKT_DRM_SPRT_YN,
			STRM_SPRT_YN,
			WGTP_SPRT_YN,
			ARM_SPRT_YN,
			VOD_FIXISTT_SPRT_YN,
			DOLBY_SPRT_YN,
			WEBTOON_SPRT_YN,
			REG_ID,
			REG_DT,
			UPD_ID,
			UPD_DT,
			(SELECT CD_NM FROM TB_CM_CD WHERE CD_ID = MNFT_COMP_CD) AS MNFT_COMP_CD,
            (SELECT CD_NM FROM TB_CM_CD WHERE CD_ID = VM_TYPE_CD) AS VM_TYPE_CD
        FROM TB_CM_DEVICE
        WHERE REP_DEVICE_YN = 'Y'
        <if test='deviceModelCd != null'>
        AND DEVICE_MODEL_CD = #{deviceModelCd}
        </if>
        <if test='uaCd != null'>
        AND UA_CD = #{uaCd}
        </if>
        
    </select>

    <!-- OMD 단말여부 확인 -->
    <select id="getOmdCount" parameterType="String" resultType="Integer">
        SELECT /* MemberCommonMapper.xml, getOmdCount, SAC : 심대진 , 2014-01-17 */
               COUNT(1)
          FROM TB_CM_OMD_DEVICE
         WHERE UA_CD = #{uacd}
    </select>
    
</mapper>
