<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SellerSearch">



    <!-- 탈퇴 사유 목록 조회 -->
    <select id="listWithdrawalReason" parameterType="ListWithdrawalReasonReq" resultType="SecedeReson">
        SELECT 
            cd_id secedeReasonCode,
            cd_nm secedeReasonMessage
        FROM 
            TB_CM_CD 
        WHERE 
            cd_id LIKE '%US0104%'
            AND lang_cd =#{koUsWhether} 
    </select>
    
    <!-- 나라별 해외은행 정보 조회 -->
    <select id="listBanksByCountry" parameterType="ListBanksByCountryReq" resultType="BanksByCountry">
        SELECT 
		    NATION_CD nationCode,
		    NATION_NM nationName,
		    ALPHA2_CD alphaCode,
		    BANK_NO bankNo,
		    NATION_TEL_NO nationTelNo,
		    NATION_DESC nationDesc,
            IBAN_USE_YN ibanUseYn, 
            ABA_USE_YN abaUseYn, 
            SORT_USE_YN sortUseYn, 
            BSB_USE_YN bsbUseYn
		FROM 
		    TB_CM_NATION
		WHERE 
		  USE_YN=#{useYn} 
    </select>
    
</mapper>
