<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Isf.AppCodi">
    <select id="getAppCodiProdList" parameterType="Map" resultType="ProductBasicInfo">
    	SELECT /* IsfAppCodiMapper.xml, getAppCodiProdList, 앱코디 개인화 추천 상품 목록 조회, 윤주영/SK플래닛, 2014-02-06 */
           	COUNT(S.PROD_ID) OVER() AS TOTAL_COUNT
        	, S.*
    	FROM
          (
          	SELECT
                 P.PROD_ID
               , P.SVC_GRP_CD
               , P.SVC_TYPE_CD
               , P.CONTENTS_TYPE_CD
               , P.META_CLSF_CD
               , P.TOP_MENU_ID
               , CP.MENU_ID
               , P2.PROD_ID AS PART_PROD_ID
               , ROW_NUMBER( ) OVER ( PARTITION BY PR.PROD_ID
                                          ORDER BY P2.REG_DT DESC ) AS RN
           	FROM TB_DP_PROD_RSHP PR
               , TB_DP_MENU_CATEGORY_PROD_MAPG CP
               , TB_DP_MENU_CATEGORY C
               , TB_DP_PROD P
               , TB_DP_TENANT_PROD TP
               , TB_DP_PROD P2
               , TB_DP_TENANT_PROD TP2
           	WHERE 1 = 1
      		<if test="pidList  != null">
           	AND PR.PROD_ID IN (
            <foreach collection="pidList" item="pid" separator=",">#{pid}</foreach>
          	)
      		</if>
           	AND CP.PROD_ID = PR.PROD_ID
           	AND C.MENU_ID = CP.MENU_ID
           	AND P.PROD_ID = CP.PROD_ID
           	AND TP.PROD_ID = P.PROD_ID
           	AND P2.PROD_ID = PR.PART_PROD_ID -- EPISODE
           	AND PR.PROD_RSHP_CD = 'DP010802'
           	AND TP2.PROD_ID = P2.PROD_ID
           	AND CP.USE_YN = 'Y'
           	AND CP.BASE_YN = 'Y'
           	AND C.USE_YN = 'Y'
            AND P.TOP_MENU_ID <![CDATA[<>]]> 'DP02'
            AND TP.TENANT_ID = #{tenantHeader.tenantId}
            AND TP.PROD_STATUS_CD = 'PD000403'
            AND TP.EXPO_YN = 'Y'
            AND TP2.TENANT_ID = #{tenantHeader.tenantId}
            AND TP2.PROD_STATUS_CD = 'PD000403'
            AND TP2.EXPO_YN = 'Y'
            AND EXISTS (
		            	SELECT 'X' 
		            	  FROM TB_DP_SPRT_DEVICE SH 
		            	 WHERE SH.PROD_ID = P2.PROD_ID
		              	   AND (SH.DEVICE_MODEL_CD = #{deviceHeader.model} OR SH.DEVICE_MODEL_CD = #{virtualDeviceModel})
              	       )
			AND (CASE WHEN P.TOP_MENU_ID = 'DP13' THEN
			               CASE WHEN #{ebookSprtYn} = 'Y' THEN 1
			                    ELSE 0
			               END
			          WHEN P.TOP_MENU_ID = 'DP14' THEN
			               CASE WHEN #{comicSprtYn} = 'Y' THEN 1 
			                    ELSE 0 
			               END
			          WHEN P.TOP_MENU_ID = 'DP15' THEN 0
			          WHEN P.TOP_MENU_ID = 'DP16' THEN
			               CASE WHEN P2.META_CLSF_CD = 'CT25' THEN 
			                    CASE WHEN #{musicSprtYn} = 'Y' THEN 1 
			                         ELSE 0
			                    END
			                    ELSE 1
			               END
			          WHEN P.TOP_MENU_ID IN ('DP17', 'DP18') THEN
			               CASE WHEN #{videoDrmSprtYn} = 'N' THEN
			                         CASE WHEN P2.DRM_YN ='N' THEN 1
			                              ELSE 0
			                         END
			                    ELSE 1
			               END
			          ELSE 1
			    END) = 1
    		) S
    	WHERE S.RN = 1
    </select>
    
    <select id="getAppCodiProdListV2" parameterType="Map" resultType="ProductBasicInfo">
        SELECT /* IsfAppCodiMapper.xml, getAppCodiProdList, 앱코디 개인화 추천 상품 목록 조회, 이석희/아이에스플러스, 2014-10-20 */
            COUNT(S.PROD_ID) OVER() AS TOTAL_COUNT
            , S.*
        FROM
            (
			SELECT
			      P.PROD_ID
			    , P.SVC_GRP_CD
			    , P.SVC_TYPE_CD
			    , P.CONTENTS_TYPE_CD
			    , P.META_CLSF_CD
			    , P.TOP_MENU_ID
			    , CP.MENU_ID
			    , P2.PROD_ID AS PART_PROD_ID
			    , ROW_NUMBER( ) OVER ( PARTITION BY PR.PROD_ID
			                               ORDER BY P2.REG_DT DESC ) AS RN
			 FROM TB_DP_PROD_RSHP PR
			    , TB_DP_MENU_CATEGORY_PROD_MAPG CP
			    , TB_DP_MENU_CATEGORY C
			    , TB_DP_PROD P
			    , TB_DP_TENANT_PROD TP
			    , TB_DP_PROD P2
			    , TB_DP_TENANT_PROD TP2
			 WHERE 1 = 1
			  <if test="pidList  != null">
			   AND PR.PROD_ID IN (
			  <foreach collection="pidList" item="pid" separator=",">#{pid}</foreach>
			                      )
			  </if>
			   AND CP.PROD_ID = PR.PROD_ID
			   AND C.MENU_ID = CP.MENU_ID
			   AND P.PROD_ID = CP.PROD_ID
			   AND TP.PROD_ID = P.PROD_ID
			   AND P2.PROD_ID = PR.PART_PROD_ID -- EPISODE
			   AND PR.PROD_RSHP_CD = 'DP010802'
			   AND TP2.PROD_ID = P2.PROD_ID
			   AND CP.USE_YN = 'Y'
			   AND CP.BASE_YN = 'Y'
			   AND C.USE_YN = 'Y'
			   AND P.TOP_MENU_ID <![CDATA[<>]]> 'DP02'
			   AND TP.TENANT_ID = #{tenantHeader.tenantId}
			   AND TP.PROD_STATUS_CD = 'PD000403'
			   AND TP.EXPO_YN = 'Y'
			   AND TP2.TENANT_ID = #{tenantHeader.tenantId}
			   AND TP2.PROD_STATUS_CD = 'PD000403'
			   AND TP2.EXPO_YN = 'Y'
			   AND EXISTS (
			               SELECT 'X' 
			                 FROM TB_DP_SPRT_DEVICE SH 
			                WHERE SH.PROD_ID = P2.PROD_ID
			                  AND (SH.DEVICE_MODEL_CD = #{deviceHeader.model} OR SH.DEVICE_MODEL_CD = #{virtualDeviceModel})
			              )
            ) S
        WHERE S.RN = 1
    </select>    
 
	<select id="getRelProdList" resultType="java.util.HashMap" parameterType="java.util.Map">
	    SELECT /* IsfAppCodiMapper.xml, getRelProdList, 앱코디 연관 상품 목록 조회 , 윤주영/SK플래닛, 2014-02-06 */
	           P.TOP_MENU_ID
	         , P.PROD_ID
	         , PD.PROD_NM
	         , TRIM(REPLACE((SELECT MENU_NM 
		                          FROM TB_DP_MENU_CATEGORY_DESC 
			                      WHERE MENU_ID = P.TOP_MENU_ID 
		                          AND LANG_CD = #{tenantHeader.langCd}), 'TOP', '')) AS TOP_MENU_NM
		     , DC.MENU_NM
		FROM TB_DP_PROD P
		     , TB_DP_MENU_CATEGORY_PROD_MAPG CP
		     , TB_DP_MENU_CATEGORY C
		     , TB_DP_PROD_DESC PD
		     , TB_DP_MENU_CATEGORY_DESC DC
		     , TB_DP_TENANT_PROD TP
		WHERE CP.PROD_ID = P.PROD_ID
		  AND PD.PROD_ID = P.PROD_ID
		  AND CP.MENU_ID = C.MENU_ID
		  AND DC.MENU_ID = C.MENU_ID
		  AND P.PROD_ID = TP.PROD_ID
		  AND DC.LANG_CD = #{tenantHeader.langCd}
		  AND TP.TENANT_ID = #{tenantHeader.tenantId}
	    <if test="pidList  != null">
	      AND P.PROD_ID IN (
	    <foreach collection="pidList" item="pid" separator=",">#{pid}</foreach>
	      )
	    </if>
    </select>

    <!-- 선호 카테고리 정보 조회 -->
    <select id="getCategoryInfoList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
         SELECT /* IsfAppCodiMapper.xml, getCategoryInfoList, 선호 카테고리 정보 조회(앱코디), 이태희/부르칸, 2014-11-18 */
                A.MENU_ID,
                CASE WHEN A.MENU_ID = 'DP30' AND B.MENU_NM IS NULL THEN '앱' ELSE B.MENU_NM END MENU_NM
           FROM (
                 SELECT MENU_ID, MENU_ORD
                   FROM (
                         SELECT 'DUMMY' AS MENU_ID, 0 AS MENU_ORD FROM DUAL
                     <if test="menuList != null">
                       <foreach collection="menuList" item="menu">
                         UNION ALL
                         SELECT #{menu.menuId} AS MENU_ID, #{menu.menuOrd} AS MENU_ORD FROM DUAL
                       </foreach>
                     </if>
                        )
                  WHERE MENU_ID != 'DUMMY'
                ) A,
                TB_DP_MENU_CATEGORY_DESC B
         WHERE A.MENU_ID = B.MENU_ID(+)
           AND B.LANG_CD(+) = #{tenantHeader.langCd}
         ORDER BY A.MENU_ORD
    </select>

    <!-- 추천상품 리스트에 대한 상품 기본정보 조회 -->
    <select id="getProdBasicInfoList" parameterType="java.util.HashMap" resultType="ProductBasicInfo">
        SELECT /* IsfAppCodiMapper.xml, getCategoryInfoList, 선호 카테고리 정보 조회(앱코디), 이태희/부르칸, 2014-11-18 */
               PROD_ID,
               TOP_MENU_ID,
               'PD002501' AS CONTENTS_TYPE_CD,
               PROD_ID AS PART_PROD_ID,
               CASE WHEN (RCD != '903001' AND RCD != '909001') AND (R_PROD_NM IS NULL OR R_MENU_NM IS NULL) THEN '요즘 HOT! Power User의 BEST 상품을 소개합니다.'
                    ELSE CASE WHEN RCD = '901001' THEN '따끈따끈 ' || R_PROD_NM || '의 신작이 나왔어요!'
                              WHEN RCD = '901002' THEN R_PROD_NM || '의 다음 이야기가 궁금하시다면? 지금 확인하세요!'
                              WHEN RCD = '903001' THEN DECODE(APP_YN, 'Y', '앱', MENU_NM) || ' 매니아들이 선택한 오늘의 ' || DECODE(APP_YN, 'Y', '앱', MENU_NM)
                              WHEN RCD = '904001' THEN R_PROD_NM || '를 좋아하셨다면, 이 ' || DECODE(APP_YN, 'Y', '앱', MENU_NM) || '도 좋아하실거에요.'
                              WHEN RCD = '904002' THEN '나의 ' || DECODE(R_APP_YN, 'Y', '앱', R_MENU_NM) || ' MATE들이 추천하는 ' || DECODE(APP_YN, 'Y', '앱', MENU_NM)
                              WHEN RCD = '909001' THEN 'Everyone''s Pick! 모두의 주목을 받은 BEST ' || DECODE(APP_YN, 'Y', '앱', MENU_NM)
                              ELSE '요즘 HOT! Power User의 BEST 상품을 소개합니다.' END
                    END AS RECM_REASON
          FROM (
                SELECT A.RK,
                       A.RID,
                       A.RCD,
                       B.PROD_ID,
                       C.TOP_MENU_ID,
                       D.MENU_NM,
                       (SELECT PROD_NM
                          FROM TB_DP_PROD_DESC
                         WHERE PROD_ID = A.RID
                           AND LANG_CD = #{tenantHeader.langCd}
                           AND ROWNUM = 1) AS R_PROD_NM,
                       (SELECT MENU_NM
                          FROM TB_DP_PROD X, TB_DP_MENU_CATEGORY_DESC Y
                         WHERE X.PROD_ID = A.RID
                           AND X.TOP_MENU_ID = Y.MENU_ID
                           AND Y.LANG_CD = #{tenantHeader.langCd}
                           AND ROWNUM = 1) AS R_MENU_NM,
                       CASE WHEN C.TOP_MENU_ID IN ('DP03', 'DP04', 'DP08') THEN 'Y' ELSE 'N' END AS APP_YN,
                       (SELECT CASE WHEN C.TOP_MENU_ID IN ('DP03', 'DP04', 'DP08') THEN 'Y' ELSE 'N' END
                          FROM TB_DP_PROD Z
                         WHERE Z.PROD_ID = A.RID) AS R_APP_YN,
                       ROW_NUMBER() OVER(PARTITION BY B.PROD_ID ORDER BY C.REG_DT DESC) AS RNUM
                  FROM (
                        SELECT ID, RK, RID, RCD
                          FROM (
                                /* ID : 추천상품ID, RK : 추천상품 순위, RID : 추천근거 상품ID, RCD : 추천근거 코드*/
                                SELECT 'DUMMY' AS ID, 0 AS RK, '' AS RID, '' AS RCD FROM DUAL
                            <if test="itemList != null">
                              <foreach collection="itemList" item="item">
                                UNION ALL
                                SELECT #{item.itemId} AS ID, #{item.itemOrd} AS RK, #{item.recmItemId} AS RID, #{item.recmReasonCd} AS RCD FROM DUAL
                              </foreach>
                            </if>
                               )
                         WHERE ID != 'DUMMY'
                       )                        A,
                       TB_DP_PROD_RSHP          B,
                       TB_DP_PROD               C,
                       TB_DP_MENU_CATEGORY_DESC D
                 WHERE A.ID = B.PROD_ID
                   AND B.PART_PROD_ID = C.PROD_ID
                   AND C.TOP_MENU_ID = D.MENU_ID
                   AND B.PROD_RSHP_CD = 'DP010802'
                   AND D.LANG_CD = #{tenantHeader.langCd}
               )
         WHERE RNUM = 1
         ORDER BY RK
    </select>
</mapper>
