<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isf">
    <select id="getAppCodiProdList" parameterType="Map" resultType="ProductBasicInfo">
    SELECT /* IsfMapper.xml, getAppCodiProdList, Yun JuYoung, 2014-02-06 */
           S.*
      FROM
          (
          SELECT
                 P.PROD_ID
               , P.SVC_GRP_CD
               , P.SVC_TYPE_CD
               , P.CONTENTS_TYPE_CD
               , P.META_CLSF_CD
               , P.TOP_MENU_ID
               , P2.PROD_ID AS PART_PROD_ID
               , ROW_NUMBER( ) OVER ( PARTITION BY PR.PROD_ID
                                          ORDER BY P2.REG_DT DESC ) AS RN
            FROM TB_DP_PROD_RSHP PR
               , TB_DP_MENU_CATEGORY_PROD_MAPG CP
               , TB_DP_MENU_CATEGORY C
               , TB_DP_PROD P
               , TB_DP_TENANT_PROD TP
               , TB_DP_PROD P2
               , TB_DP_TENANT_PROD TP2
               , TB_DP_SPRT_DEVICE SH
               , TB_CM_DEVICE PHI
           WHERE 1 = 1
      <if test="pidList  != null">
           AND PR.PROD_ID IN (
              <foreach collection="pidList" item="pid" separator=",">#{pid}</foreach>
          )
      </if>
              AND CP.PROD_ID = PR.PROD_ID
              AND C.MENU_ID = CP.MENU_ID
              AND P.PROD_ID = CP.PROD_ID
              AND TP.PROD_ID = P.PROD_ID
              AND P2.PROD_ID = PR.PART_PROD_ID -- EPISODE
              AND TP2.PROD_ID = P2.PROD_ID
              AND SH.PROD_ID = P.PROD_ID  -- AND SH.PROD_ID = P2.PART_PROD_ID <![CDATA[<-]]> AS IS 쿼리 기준으로 EPISODE PROD ID 로 연결되어야 하나, 데이타가 한건도 나오지 않음...
              AND SH.DEVICE_MODEL_CD = PHI.DEVICE_MODEL_CD
              AND CP.USE_YN = 'Y'
              AND C.USE_YN = 'Y'
              AND P.TOP_MENU_ID <![CDATA[<>]]> 'DP02'
              AND TP.PROD_STATUS_CD = 'PD000403'
              AND TP.EXPO_YN = 'Y'
              AND TP2.PROD_STATUS_CD = 'PD000403'
              AND TP2.EXPO_YN = 'Y'
              AND (PHI.DEVICE_MODEL_CD = #{deviceHeader.model}
                OR PHI.DEVICE_MODEL_CD = 'android_standard2')
              AND PHI.USE_YN = 'Y'
              AND DECODE( P.TOP_MENU_ID
                        , 'DP13'
                        , DECODE( PHI.EBOOK_SPRT_YN
                                , 'Y'
                                , DECODE( P2.META_CLSF_CD
                                        , 'CT24'
                                        , DECODE( PHI.MAGAZINE_SPRT_YN, 'Y', 1, 0 )
                                        , 'CT26'
                                        , DECODE( PHI.MAGAZINE_SPRT_YN, 'Y', 1, 0 )
                                        , 1 )
                                , 0 )
                        , 'DP14'
                        , DECODE( PHI.COMIC_SPRT_YN , 'Y', 1 , 0 )
                        , 'DP15'
                        , 0
                        , 'DP16'
                        , DECODE( P2.META_CLSF_CD
                                , 'CT25'
                                , DECODE( PHI.MUSIC_SPRT_YN, 'Y', 1, 0)
                                , 1 )
                        , 1 ) = 1
              AND ( CASE WHEN P.TOP_MENU_ID IN ( 'DP17', 'DP18' )
                         THEN ( SELECT 1
                                  FROM TB_DP_SUB_CONTENTS SC
                                 WHERE SC.PROD_ID = PR.PART_PROD_ID
                                   AND SC.SALE_YN = 'Y'
                                   AND DECODE( PHI.HDV_SPRT_YN
                                             , 'PD005201'
                                             , DECODE ( SC.DP_PG_QULT_CD
                                                      , 'PD009701', 1
                                                      , 'PD009702', 1
                                                      , DECODE( PHI.SD_VIDEO_SPRT_YN , 'Y', 1 , 0 ) )
                                             , DECODE( SC.DP_PG_QULT_CD , 'PD009701', 1 , 0 ) ) = 1
                                   AND ROWNUM <![CDATA[<=]]> 1  )
                         ELSE 1
                     END ) = 1
              AND ( CASE WHEN P.TOP_MENU_ID IN ( 'DP17', 'DP18' )
                         THEN DECODE( PHI.VIDEO_DRM_SPRT_YN
                                    , 'PD005200'
                                    , DECODE( NVL( P2.DRM_YN, 'N' ), 'N', 1, 0 )
                                    , 'PD005201'
                                    , 1 )
                         ELSE 1
                     END ) = 1
           ) S
        WHERE S.RN = 1
    </select>
 
     <select id="getRelProdList" resultType="java.util.HashMap" parameterType="java.util.Map">
		    SELECT /* IsfMapper.xml, getRelProdList, Yun JuYoung, 2014-02-06 */
		           P.TOP_MENU_ID
		         , CP.PROD_ID
		         , PD.PROD_NM
		         , TRIM(REPLACE((SELECT MENU_NM 
		                          FROM TB_DP_MENU_CATEGORY_DESC 
		                         WHERE MENU_ID = P.TOP_MENU_ID 
		                           AND LANG_CD = #{tenantHeader.langCd}), 'TOP', '')) AS TOP_MENU_NM
		         , DC.MENU_NM
		      FROM TB_DP_PROD P
		         , TB_DP_PROD_RSHP PR
		         , TB_DP_MENU_CATEGORY_PROD_MAPG CP
		         , TB_DP_MENU_CATEGORY C
		         , TB_DP_PROD_DESC PD
		         , TB_DP_MENU_CATEGORY_DESC DC
		     WHERE P.PROD_ID = PR.PROD_ID
		       AND CP.PROD_ID = P.PROD_ID
		       AND PD.PROD_ID = P.PROD_ID
		       AND CP.MENU_ID = C.MENU_ID
		       AND DC.MENU_ID = C.MENU_ID
		       AND DC.LANG_CD = #{tenantHeader.langCd}
	      <if test="pidList  != null">
	           AND PR.PROD_ID IN (
	              <foreach collection="pidList" item="pid" separator=",">#{pid}</foreach>
	          )
	      </if>
    </select>
    
    <select id="getMusicMetaInfo" parameterType="Map" resultType="MetaInfo">
       SELECT /* IsfMapper.xml, getMusicMetaInfo, Yun JuYoung, 2014-02-06 */
            , CP.PROD_ID 
            , CP.PART_PROD_ID
            , C.MENU_ID
            , CD.MENU_NM
            , CD.MENU_DESC
            , C.TOP_MENU_ID
            , CD2.MENU_NM AS TOP_MENU_NM
            , CD2.MENU_DESC AS TOP_MENU_DESC
            , MP.OUTSD_CONTENTS_ID -- 외부_컨텐츠_ID
            , PD.PROD_NM
            , PD.PROD_DTL_DESC
            , TPP.PROD_AMT
            , P.PROD_GRD_CD
            , P.META_CLSF_CD
            , PD.ARTIST1_NM
            , PD.ARTIST2_NM
            , PD.ARTIST3_NM                        
            , MP.CHNL_COMP_NM
            , MP.AGENCY_NM
            , MP.ISSUE_DAY
            , 'Y' AS MP3_SPRT_YN
            , MP.BELL_SPRT_YN
            , MP.COLORRING_SPRT_YN
            , CONCAT(PI.FILE_PATH, PI.FILE_NM) AS FILE_PATH
            , PI.FILE_NM
            , PI.FILE_SIZE
            , P.CONTENTS_TYPE_CD
         FROM TB_DP_MULTIMDA_PROD MP
            , TB_DP_PROD P
            , TB_DP_PROD_DESC PD
            , TB_DP_PROD_RSHP CP
            , TB_DP_TENANT_PROD TP
            , TB_DP_TENANT_PROD_PRICE TPP
            , TB_DP_MENU_CATEGORY_PROD_MAPG CPM
            , TB_DP_MENU_CATEGORY C
            , TB_DP_MENU_CATEGORY_DESC CD
            , TB_DP_MENU_CATEGORY_DESC CD2
            , TB_DP_MULTIMDA_PROD MP2
            , TB_DP_PROD P2
            , TB_DP_TENANT_PROD TP2
            , TB_DP_PROD_IMG PI
        WHERE MP.PROD_ID = CP.PART_PROD_ID
          AND P.PROD_ID = CP.PART_PROD_ID
          AND CPM.PROD_ID = CP.PART_PROD_ID
          AND C.MENU_ID = CPM.MENU_ID
          AND CD.MENU_ID = C.MENU_ID
          AND CD2.MENU_ID = C.TOP_MENU_ID
          AND CD2.LANG_CD = CD.LANG_CD
          AND P2.PROD_ID = CP.PROD_ID -- CHANNEL PROD ID
          AND P2.META_CLSF_CD = P.META_CLSF_CD
          AND TP2.PROD_ID = P2.PROD_ID
          AND TP2.TENANT_ID = TP.TENANT_ID
          AND TP2.PROD_STATUS_CD = TP.PROD_STATUS_CD
          AND TP2.EXPO_YN = TP.EXPO_YN
          AND MP2.PROD_ID = P2.PROD_ID
          AND TP.PROD_ID = P.PROD_ID
          AND TPP.PROD_ID = TP.PROD_ID
          AND TPP.TENANT_ID = TP.TENANT_ID
          AND PD.PROD_ID = P.PROD_ID
          AND PI.PROD_ID = CP.PROD_ID
          <if test='prodStatusCd != null'>
          AND TP.PROD_STATUS_CD = 'PD000403'   -- 판매중
          </if>
          AND TP.EXPO_YN = 'Y'                 -- 노출 여부
          AND P2.CONTENTS_TYPE_CD = 'PD002501' -- 채널
          AND P.CONTENTS_TYPE_CD = 'PD002502'  -- 에피소드
          <if test='productBasicInfo.metaClsfCd != null'>
          AND P.META_CLSF_CD = #{productBasicInfo.metaClsfCd}          -- 통합 뮤직
          </if>
          AND CPM.USE_YN = 'Y'
          AND C.USE_YN = 'Y'
       -----------------------------------------------------------------------------
       -- INPUT PARAMETER
       ----------------------------------------------------------------------------- 
          <if test='productBasicInfo.contentsTypeCd == "PD002501"'>
            AND CP.PROD_ID = #{productBasicInfo.prodId}
          </if>
          <if test='productBasicInfo.contentsTypeCd == "PD002502"'>
            AND CP.PART_PROD_ID = #{productBasicInfo.partProdId}
          </if>
          AND P.TOP_MENU_ID = #{productBasicInfo.topMenuId}
          AND PI.IMG_CD = #{imageCd}
          AND TP.TENANT_ID = #{tenantHeader.tenantId}
          AND PD.LANG_CD = #{tenantHeader.langCd}
          AND CD.LANG_CD = #{tenantHeader.langCd}
          AND ROWNUM = 1
    </select>    
    
    <select id="getAdminRecommandProdList" parameterType="Map" resultType="AppCodiRes">
		    SELECT /* IsfMapper.xml, getAdminRecommandProdList, Yun JuYoung, 2014-02-06 */
		            P.TOTAL_COUNT
		          , P.TOP_MENU_ID
		          , TRIM(REPLACE((SELECT MENU_NM
		                            FROM TB_DP_MENU_CATEGORY_DESC 
		                           WHERE MENU_ID = P.TOP_MENU_ID
		                             AND LANG_CD = #{tenantHeader.langCd}), 'TOP', '')) AS TOP_MENU_NM
		          , P.MENU_ID
                  , TRIM(REPLACE((SELECT MENU_NM
                                    FROM TB_DP_MENU_CATEGORY_DESC 
                                   WHERE MENU_ID = P.MENU_ID
                                     AND LANG_CD = #{tenantHeader.langCd}), 'TOP', '')) AS MENU_NM
                  , P.META_CLSF_CD
		          , P.PROD_ID
		          , ( CASE WHEN P.TOP_MENU_ID IN ( 'DP17', 'DP18' ) THEN
		                        CONCAT( P.VOD_TITL_NM, P.PROD_NM )
		                   ELSE P.PROD_NM
		               END ) AS PROD_NM
		          , DECODE( P.TOP_MENU_ID, 'DP13', P.PROD_DTL_DESC, P.PROD_BASE_DESC ) AS PROD_DESC
		          , ( CASE WHEN P.TOP_MENU_ID IN ( 'DP17', 'DP18' ) THEN
		                       ( CASE WHEN ( P.CHNL_PERIOD_AMT <![CDATA[>=]]> 0 AND P.STRM_EPSD_CNT <![CDATA[>]]> 0 ) THEN P.CHNL_PERIOD_AMT
		                              ELSE P.CHNL_UNLMT_AMT
		                          END )
		                    ELSE P.PROD_AMT
		               END ) AS PROD_AMT
		          , P.PROD_NET_AMT
		          , DECODE( P.PROD_GRD_CD
		                  , 'PD004401', 0
		                  , 'PD004402', 1
		                  , 'PD004403', 2
		                  , 'PD004404', 4 ) AS PROD_GRD_CD
		          , P.SVC_GRP_CD
		          , P.CONTENTS_TYPE_CD
		          , P.OUTSD_CONTENTS_ID
		          , DECODE( P.SVC_GRP_CD, 'DP000201', P.AID ) AS AID
		          , DECODE( P.SVC_GRP_CD, 'DP000201', REGEXP_SUBSTR(P.PKG_INF,'[^,]+',1,1) ) AS APK_PKG
		          , DECODE( P.SVC_GRP_CD, 'DP000201', REGEXP_SUBSTR(P.PKG_INF,'[^,]+',1,2) ) AS APK_VER_CD
		          , DECODE( P.SVC_GRP_CD, 'DP000201', REGEXP_SUBSTR(P.PKG_INF,'[^,]+',1,3) ) AS APK_FILE_SIZE
		          , DECODE( P.SVC_GRP_CD, 'DP000201', P.VER_MAJOR||'.'||P.VER_MINOR ) AS PROD_VER
		          , DECODE( P.SVC_GRP_CD, 'DP000201', DECODE( P.PART_PARENT_CLSF_CD, 'PD012301', 'iab', NULL ) ) AS IN_APP_BILLING
		          , DECODE( P.SVC_GRP_CD, 'DP000201', DECODE( P.DRM_YN, 'Y', 'drm', NULL ) ) AS DRM
		          , ( CASE WHEN P.TOP_MENU_ID IN ( 'DP13', 'DP14' ) THEN P.ARTIST1_NM END ) AS BOOK_ARTIST_NM
		          , ( CASE WHEN P.TOP_MENU_ID IN ( 'DP13', 'DP14' ) THEN P.ARTIST2_NM END ) AS BOOK_ARTIST_NM2
		          , ( CASE WHEN P.TOP_MENU_ID IN ( 'DP13', 'DP14' ) THEN P.ARTIST3_NM END ) AS BOOK_ARTIST_NM3
		          , ( CASE WHEN P.TOP_MENU_ID IN ( 'DP13', 'DP14' ) THEN P.CHNL_COMP_NM END ) AS BOOK_CHNL_COMP_NM
		          , ( CASE WHEN P.TOP_MENU_ID IN ( 'DP13', 'DP14' ) THEN P.ISSUE_DAY END ) AS BOOK_SALE_DT
		          , DECODE( P.HDV_YN, 'Y', 'hd', NULL ) AS HDV_YN
		          , DECODE( P.DOLBY_SPRT_YN, 'Y', 'dolby', NULL ) AS DOLBY_SPRT_YN
		          , ( CASE WHEN P.TOP_MENU_ID IN ( 'DP17', 'DP18' ) THEN P.ARTIST1_NM END ) AS VOD_ARTIST_NM
		          , ( CASE WHEN P.TOP_MENU_ID IN ( 'DP17', 'DP18' ) THEN P.ARTIST2_NM END ) AS VOD_ARTIST_NM2
		          , ( CASE WHEN P.TOP_MENU_ID IN ( 'DP17', 'DP18' ) THEN P.CHNL_COMP_NM END ) AS VOD_CHNL_COMP_NM
		          , ( CASE WHEN P.TOP_MENU_ID IN ( 'DP17', 'DP18' ) THEN P.ISSUE_DAY END ) AS VOD_SALE_DT
		          , DECODE( P.TOP_MENU_ID, 'DP16', P.ARTIST1_NM ) AS MUSIC_ARTIST_NM
		          , DECODE( P.TOP_MENU_ID, 'DP16', P.ARTIST2_NM ) AS MUSIC_ARTIST_NM2
		          , DECODE( P.TOP_MENU_ID, 'DP16', P.ARTIST3_NM ) AS MUSIC_ARTIST_NM3
		          , DECODE( P.TOP_MENU_ID, 'DP16', P.CHNL_COMP_NM ) AS MUSIC_CHNL_COMP_NM
		          , DECODE( P.TOP_MENU_ID, 'DP16', P.PLN_COMP_NM ) AS MUSIC_AGENCY_NM
		          , DECODE( P.TOP_MENU_ID, 'DP16', 'support' ) AS MP3_SPRT
		          , DECODE( P.TOP_MENU_ID, 'DP16', DECODE( P.BELL_SPRT_YN, 'Y', 'support', 'restrict' ) ) AS BELL_SPRT
		          , DECODE( P.TOP_MENU_ID, 'DP16', DECODE( P.COLORRING_SPRT_YN, 'Y', 'support', 'restrict' ) ) AS RING_SPRT
		          , ( CASE WHEN P.SVC_GRP_CD = 'DP000203' THEN CONCAT( PI.FILE_PATH, PI.FILE_NM )
		                   ELSE PI.FILE_PATH
		               END ) AS FILE_POS
		          , NVL( ( CASE WHEN ( PP.AVG_EVLU_SCORE <![CDATA[>]]> 0 AND PP.AVG_EVLU_SCORE <![CDATA[<]]> 1 ) THEN 1
		                        WHEN PP.AVG_EVLU_SCORE <![CDATA[>]]> 5 THEN 5
		                        ELSE ROUND( PP.AVG_EVLU_SCORE , 1 )
		                    END )
		               , 0 ) AS AVG_SCORE
		          , NVL( PP.PATICPERS_CNT, 0 ) AS PART_CNT
		          , NVL( PP.PRCHS_CNT, 0 ) AS DWLD_CNT
		       FROM
		          (
		          SELECT C.*
		               , DECODE( C.SVC_GRP_CD
		                       , 'DP000201'
		                       , ( SELECT SCF.APK_PKG_NM||','||SCF.APK_VER
		                             FROM TB_DP_SUB_CONTENTS SCF
		                            WHERE SCF.SUB_CONTENTS_ID = C.SUB_CONTENTS_ID
		                              AND SCF.PROD_ID = C.PROD_ID ) ) AS PKG_INF
		            FROM
		               (
		               SELECT B.*
		                    , ROWNUM AS RNUM
		                 FROM
		                    (
		                    SELECT COUNT(*) OVER () AS TOTAL_COUNT
		                         , S.*
		                      FROM
		                         (
		                            SELECT 
		                                  AR.PROD_ID
		                                , AR.EXPO_ORD
		                                , P.TOP_MENU_ID
		                                , CP.MENU_ID
		                                , P.SVC_GRP_CD
                                        , P.CONTENTS_TYPE_CD
                                        , MP.OUTSD_CONTENTS_ID
		                                , PD.PROD_NM
		                                , MP.VOD_TITL_NM
		                                , PD.PROD_BASE_DESC
		                                , PD.PROD_DTL_DESC
		                                , PP.CHNL_PERIOD_AMT
		                                , PP.CHNL_UNLMT_AMT
		                                , MP.STRM_EPSD_CNT
		                                , P.PROD_GRD_CD
		                                , P.META_CLSF_CD
		                                , NVL( PD.ARTIST1_NM, PD2.ARTIST1_NM ) AS ARTIST1_NM
		                                , NVL( PD.ARTIST2_NM, PD2.ARTIST2_NM ) AS ARTIST2_NM
		                                , NVL( PD.ARTIST3_NM, PD2.ARTIST3_NM ) AS ARTIST3_NM
		                                , NVL( MP.CHNL_COMP_NM, MP2.CHNL_COMP_NM ) AS CHNL_COMP_NM
		                                , NVL( MP.AGENCY_NM, MP2.AGENCY_NM ) AS PLN_COMP_NM
		                                , MP.HDV_YN
		                                , DECODE( PHI.DOLBY_SPRT_YN, 'Y', MP.DOLBY_SPRT_YN ) AS DOLBY_SPRT_YN
		                                , MP2.ISSUE_DAY
		                                , PP2.PROD_AMT
		                                , PP2.PROD_NET_AMT
		                                , MP2.CHAPTER
		                                , AP.AID
		                                , AP.VER_MAJOR
		                                , AP.VER_MINOR
		                                , AP.PART_PARENT_CLSF_CD
		                                , P2.DRM_YN
		                                , MP2.BELL_SPRT_YN
		                                , MP2.COLORRING_SPRT_YN
		                                , P2.REG_DT
		                                , SH.SUB_CONTENTS_ID
		                                , ROW_NUMBER( ) OVER ( PARTITION BY PR.PROD_ID
		                                                           ORDER BY P2.REG_DT DESC ) AS RN
		                            FROM TB_DP_LIST_PROD AR
		                               , TB_DP_PROD_RSHP PR
		                               , TB_DP_MENU_CATEGORY_PROD_MAPG CP
		                               , TB_DP_MENU_CATEGORY C
		                               , TB_DP_PROD P
		                               , TB_DP_TENANT_PROD TP
		                               , TB_DP_PROD P2
		                               , TB_DP_TENANT_PROD TP2
		                               , TB_DP_SPRT_DEVICE SH
		                               , TB_CM_DEVICE PHI
		                               , TB_DP_MULTIMDA_PROD MP
		                               , TB_DP_MULTIMDA_PROD MP2
		                               , TB_DP_APP_PROD AP
		                               , TB_DP_TENANT_PROD_PRICE PP
		                               , TB_DP_TENANT_PROD_PRICE PP2
		                               , TB_DP_PROD_DESC PD
		                               , TB_DP_PROD_DESC PD2
		                           WHERE PR.PROD_ID = AR.PROD_ID
		                            AND CP.PROD_ID = PR.PROD_ID
		                            AND C.MENU_ID = CP.MENU_ID
		                            AND P.PROD_ID = PR.PROD_ID
		                            AND TP.PROD_ID = P.PROD_ID
		                            AND PD.PROD_ID = P.PROD_ID
		                            AND PP.PROD_ID = P.PROD_ID
		                            AND MP.PROD_ID(+) = P.PROD_ID
		                            AND P2.PROD_ID = PR.PART_PROD_ID -- EPISODE
		                            AND TP2.PROD_ID = P2.PROD_ID
		                            AND MP2.PROD_ID(+) = P2.PROD_ID
		                            AND PP2.PROD_ID = P2.PROD_ID
		                            AND AP.PROD_ID(+) = P2.PROD_ID
		                            AND PD2.PROD_ID = P2.PROD_ID
		                            AND SH.PROD_ID = P2.PROD_ID
		                            AND SH.DEVICE_MODEL_CD = PHI.DEVICE_MODEL_CD
		                            AND CP.USE_YN = 'Y'
		                            AND C.USE_YN = 'Y'
		                            AND P.TOP_MENU_ID <![CDATA[<>]]> 'DP02'
		                            AND AR.LIST_ID = #{listId}
		                            AND AR.EXPO_YN = 'Y'
		                            AND TP.PROD_STATUS_CD = 'PD000403'
		                            AND TP.EXPO_YN = 'Y'
		                            AND TP2.PROD_STATUS_CD = 'PD000403'
		                            AND TP2.EXPO_YN = 'Y'
		                            AND (PHI.DEVICE_MODEL_CD = #{deviceHeader.model} OR PHI.DEVICE_MODEL_CD = 'android_standard2')
		                            AND PHI.USE_YN = 'Y'
		                            AND DECODE( P.TOP_MENU_ID
		                                , 'DP13'
		                                , DECODE( PHI.EBOOK_SPRT_YN
		                                        , 'Y'
		                                        , DECODE( P2.META_CLSF_CD
		                                                , 'CT24'
		                                                , DECODE( PHI.MAGAZINE_SPRT_YN, 'Y', 1, 0 )
		                                                , 'CT26'
		                                                , DECODE( PHI.MAGAZINE_SPRT_YN, 'Y', 1, 0 )
		                                                , 1 )
		                                        , 0 )
		                                , 'DP14'
		                                , DECODE( PHI.COMIC_SPRT_YN , 'Y', 1 , 0 )
		                                , 'DP15'
		                                , 0
		                                , 'DP16'
		                                , DECODE( P2.META_CLSF_CD
		                                        , 'CT25'
		                                        , DECODE( PHI.MUSIC_SPRT_YN, 'Y', 1, 0)
		                                        , 1 )
		                                , 1 ) = 1
		                            AND ( CASE WHEN P.TOP_MENU_ID IN ( 'DP17', 'DP18' )
		                                 THEN ( SELECT 1
		                                          FROM TB_DP_SUB_CONTENTS SC
		                                         WHERE SC.PROD_ID = PR.PART_PROD_ID
		                                           AND SC.SALE_YN = 'Y'
		                                           AND DECODE( PHI.HDV_SPRT_YN
		                                                     , 'PD005201'
		                                                     , DECODE ( SC.DP_PG_QULT_CD
		                                                              , 'PD009701', 1
		                                                              , 'PD009702', 1
		                                                              , DECODE( PHI.SD_VIDEO_SPRT_YN , 'Y', 1 , 0 ) )
		                                                     , DECODE( SC.DP_PG_QULT_CD , 'PD009701', 1 , 0 ) ) = 1
		                                           AND ROWNUM <![CDATA[<=]]> 1 )
		                                 ELSE 1
		                             END ) = 1
		                            AND ( CASE WHEN P.TOP_MENU_ID IN ( 'DP17', 'DP18' )
		                                 THEN DECODE( PHI.VIDEO_DRM_SPRT_YN
		                                            , 'PD005200'
		                                            , DECODE( NVL( P2.DRM_YN, 'N' ), 'N', 1, 0 )
		                                            , 'PD005201'
		                                            , 1 )
		                                 ELSE 1
		                             END ) = 1
		                             ) S
		                         WHERE S.RN = 1
		                         ORDER BY S.EXPO_ORD
		                                , S.PROD_NM                             
		                    ) B
		                 WHERE ROWNUM <![CDATA[<=]]> #{END_ROW}
		               ) C
		           WHERE RNUM <![CDATA[>=]]> #{START_ROW}
		          ) P
		          , TB_DP_PROD_IMG PI
		          , TB_DP_TENANT_PROD_STATS PP
		      WHERE PI.PROD_ID(+) = P.PROD_ID
		        AND PP.PROD_ID(+) = P.PROD_ID
		        AND PP.TENANT_ID(+) = #{tenantHeader.tenantId}
		        AND PI.IMG_CD(+) = #{imageCd}
		     ORDER BY P.EXPO_ORD
		            , P.PROD_NM
    </select>
    
    <select id="getBasicAdminRecommandProdList" parameterType="Map" resultType="ProductBasicInfo">
      SELECT /* IsfMapper.xml, getBasicAdminRecommandProdList, Yun JuYoung, 2014-02-06 */
             *
        FROM            
            (
            SELECT 
                  P.PROD_ID
                , P.SVC_GRP_CD
                , P.SVC_TYPE_CD
                , P.CONTENTS_TYPE_CD
                , P.META_CLSF_CD
                , P.TOP_MENU_ID
                , P2.PROD_ID AS PART_PROD_ID
                , ROW_NUMBER( ) OVER ( PARTITION BY PR.PROD_ID
                                           ORDER BY P2.REG_DT DESC ) AS RN
            FROM TB_DP_LIST_PROD AR
               , TB_DP_PROD_RSHP PR
               , TB_DP_MENU_CATEGORY_PROD_MAPG CP
               , TB_DP_MENU_CATEGORY C
               , TB_DP_PROD P
               , TB_DP_TENANT_PROD TP
               , TB_DP_PROD P2
               , TB_DP_TENANT_PROD TP2
               , TB_DP_SPRT_DEVICE SH
               , TB_CM_DEVICE PHI             
           WHERE PR.PROD_ID = AR.PROD_ID -- RECOMMAND PID == CHNNEL PID 
            AND CP.PROD_ID = PR.PROD_ID
            AND C.MENU_ID = CP.MENU_ID
            AND P.PROD_ID = PR.PROD_ID
            AND TP.PROD_ID = P.PROD_ID
            AND P2.PROD_ID = PR.PART_PROD_ID -- EPISODE
            AND TP2.PROD_ID = P2.PROD_ID
            AND SH.PROD_ID = P2.PROD_ID  -- AND SH.PROD_ID = P2.PART_PROD_ID <![CDATA[<-]]> AS IS 쿼리 기준으로 EPISODE PROD ID 로 연결되어야 하나, 데이타가 한건도 나오지 않음...
            AND SH.DEVICE_MODEL_CD = PHI.DEVICE_MODEL_CD
            AND AR.TENANT_ID = 'S01'
            AND CP.USE_YN = 'Y'
            AND CP.BASE_YN = 'Y'
            AND C.USE_YN = 'Y'
            AND P.TOP_MENU_ID <![CDATA[<>]]> 'DP02'
            AND AR.LIST_ID = 'ADM000000012'
            AND AR.EXPO_YN = 'Y'
            AND TP.PROD_STATUS_CD = 'PD000403'
            AND TP.EXPO_YN = 'Y'
            AND TP.TENANT_ID = 'S01'
            AND TP2.PROD_STATUS_CD = 'PD000403'
            AND TP2.EXPO_YN = 'Y'
            AND TP2.TENANT_ID = 'S01'
            AND (PHI.DEVICE_MODEL_CD = 'SHW-M250S' OR PHI.DEVICE_MODEL_CD = 'android_standard2')
            AND PHI.USE_YN = 'Y'
            AND DECODE( P.TOP_MENU_ID
                , 'DP13'
                , DECODE( PHI.EBOOK_SPRT_YN
                        , 'Y'
                        , DECODE( P2.META_CLSF_CD
                                , 'CT24'
                                , DECODE( PHI.MAGAZINE_SPRT_YN, 'Y', 1, 0 )
                                , 'CT26'
                                , DECODE( PHI.MAGAZINE_SPRT_YN, 'Y', 1, 0 )
                                , 1 )
                        , 0 )
                , 'DP14'
                , DECODE( PHI.COMIC_SPRT_YN , 'Y', 1 , 0 )
                , 'DP15'
                , 0
                , 'DP16'
                , DECODE( P2.META_CLSF_CD
                        , 'CT25'
                        , DECODE( PHI.MUSIC_SPRT_YN, 'Y', 1, 0)
                        , 1 )
                , 1 ) = 1
            AND ( CASE WHEN P.TOP_MENU_ID IN ( 'DP17', 'DP18' )
                 THEN ( SELECT 1
                          FROM TB_DP_SUB_CONTENTS SC
                         WHERE SC.PROD_ID = PR.PART_PROD_ID
                           AND SC.SALE_YN = 'Y'
                           AND DECODE( PHI.HDV_SPRT_YN
                                     , 'PD005201'
                                     , DECODE ( SC.DP_PG_QULT_CD
                                              , 'PD009701', 1
                                              , 'PD009702', 1
                                              , DECODE( PHI.SD_VIDEO_SPRT_YN , 'Y', 1 , 0 ) )
                                     , DECODE( SC.DP_PG_QULT_CD , 'PD009701', 1 , 0 ) ) = 1
                           AND ROWNUM <![CDATA[<=]]> 1  )
                 ELSE 1
             END ) = 1
            AND ( CASE WHEN P.TOP_MENU_ID IN ( 'DP17', 'DP18' )
                 THEN DECODE( PHI.VIDEO_DRM_SPRT_YN
                            , 'PD005200'
                            , DECODE( NVL( P2.DRM_YN, 'N' ), 'N', 1, 0 )
                            , 'PD005201'
                            , 1 )
                 ELSE 1
             END ) = 1
           ) S
       WHERE S.RN = 1
    </select>    
</mapper>
