<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductList">

	<!--상품 목록 통합 조회 -->
	<select id="selectListProdList" parameterType="ListProductCriteria" resultType="ListProduct">
		SELECT /* ProductListMapper.xml, selectListProdList, SAC 전시 , 2014-10-08 */
	              A.PROD_ID
	            , A.CONTENTS_TYPE_CD
	            , A.SVC_GRP_CD
	            , A.TOP_MENU_ID
	            , A.MENU_ID
	            , A.IMG_PATH
	            , A.EXPO_ORD
	            , A.EXPO_ORD_SUB
	            , A.RECOM_REASON
	            , A.ETC_PROP
	         FROM (
					SELECT DISTINCT
					       LP.PROD_ID, P.CONTENTS_TYPE_CD, P.SVC_GRP_CD, P.TOP_MENU_ID,
					       LP.MENU_ID, LP.IMG_PATH, LP.EXPO_ORD, LP.EXPO_ORD_SUB,
					       LP.RECOM_REASON, LP.ETC_PROP
					  FROM TB_DP_LIST_PROD LP
					  	LEFT OUTER JOIN TB_DP_PROD P				ON LP.PROD_ID  = P.PROD_ID
					  	LEFT OUTER JOIN TB_DP_TENANT_PROD TP		ON LP.PROD_ID  = TP.PROD_ID
					  	LEFT OUTER JOIN TB_DP_PROD_CATALOG_MAPG PCM ON LP.PROD_ID  = PCM.CATALOG_ID
					  	LEFT OUTER JOIN TB_DP_TENANT_PROD TP2       ON PCM.PROD_ID = TP2.PROD_ID
					  	LEFT OUTER JOIN TB_DP_MENU_CATEGORY     MC  ON LP.MENU_ID  = MC.MENU_ID 
					 WHERE 1=1
						AND LP.TENANT_ID='S01'
						AND LP.LIST_ID=#{listId}
						AND LP.EXPO_YN = 'Y'
						AND MC.USE_YN  = 'Y'
						/* PROD_STATUS_CD : PD000403(판매중) */
						/* 앨범은 TB_DP_TENANT_PROD에 없음. PROD_ID가 'AL%'이면 앨범 */ 
						AND (  (TP.PROD_STATUS_CD  = 'PD000403' AND TP.EXPO_YN  = 'Y')
                        	OR (TP2.PROD_STATUS_CD = 'PD000403' AND TP2.EXPO_YN = 'Y')
                        	OR  P.PROD_ID LIKE 'AL%' 
                        	)
						<if test="menuIdCondList != null">
						AND
						  <foreach collection="menuIdCondList" item="menuIdCond" open=" (" close=") " >
						    <if test='menuIdCond.op1st=="AND"'> AND </if>
						    <if test='menuIdCond.op1st=="OR"'>  OR  </if>
						    LP.MENU_ID 
						    <if test='menuIdCond.op2nd=="NOT"'> NOT </if>
						    LIKE #{menuIdCond.menuId}||'%'
						  </foreach>
						</if>
						<if test='stdDt != null and stdDt != ""'>
						AND LP.STD_DT = TO_DATE(#{stdDt}, 'YYYYMMDDHH24MISS')
						</if>
						/* 상품등급코드 */
						/* 쇼핑은 등급을 무시하기 위해 NULL인 경우 표시 */
			            <if test='prodGradeCdList != null'>
			            AND ( P.PROD_GRD_CD IS NULL OR P.PROD_GRD_CD IN
			            <foreach collection="prodGradeCdList" item="prodGradeCd" index="index" open="(" close=")" separator=",">
			             #{prodGradeCd}          
			            </foreach>
			            	)
			            </if>
			            AND ( (LP.EXPO_ORD          =  #{lastExpoOrd,   javaType=Integer,jdbcType=NUMERIC}
			                  AND LP.EXPO_ORD_SUB &gt; #{lastExpoOrdSub,javaType=Integer,jdbcType=NUMERIC}
			                  ) OR LP.EXPO_ORD    &gt; #{lastExpoOrd,   javaType=Integer,jdbcType=NUMERIC}
			                )
						AND SYSDATE BETWEEN LP.EXPO_START_DT AND LP.EXPO_END_DT
					ORDER BY LP.EXPO_ORD, LP.EXPO_ORD_SUB
					) A
		WHERE ROWNUM &lt;= #{count,javaType=Integer,jdbcType=NUMERIC}
         ORDER BY ROWNUM
	</select>
			
	<!--상품 단건 통합 조회 -->
	<select id="selectListProd" parameterType="string" resultType="ListProduct">
		SELECT /* ProductListMapper.xml, selectListProd, SAC 전시 , 2014-11-05 */
			PROD_ID, 
			CONTENTS_TYPE_CD, 
			SVC_GRP_CD, 
			TOP_MENU_ID
		FROM TB_DP_PROD			
		WHERE PROD_ID = #{prodId}
	</select>

</mapper>
