<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductList">

	<!--상품 목록 통합 조회 -->
	<select id="selectListProdList" parameterType="ListProductCriteria" resultType="ListProduct">
        SELECT  /* ProductListMapper.xml, selectListProdList, SAC 전시 : 정화수 M , 2015-12-23 */
                *
        FROM (
                SELECT  LP.prod_id
                      , P.contents_type_cd
                      , P.svc_grp_cd
                      , P.top_menu_id
                      , LP.menu_id
                      , LP.img_path
                      , LP.expo_ord
                      , LP.expo_ord_sub
                      , LP.recom_reason
                      , LP.etc_prop
                FROM    TB_DP_LIST_PROD      LP
                JOIN    TB_DP_MENU_CATEGORY  MC
                        ON( LP.menu_id = MC.menu_id AND use_yn = 'Y' )
                LEFT OUTER JOIN
                        TB_DP_TENANT_PROD    TP
                        ON( LP.tenant_id = TP.tenant_id AND LP.prod_id = TP.prod_id )
                LEFT OUTER JOIN
                        TB_DP_PROD           P
                        ON( LP.prod_id = P.prod_id )
                WHERE   LP.tenant_id = #{tenantId}
                AND     LP.list_id   = #{listId}
        <if test='stdDt != null and stdDt != ""'>
                AND     LP.std_dt    = TO_DATE( #{stdDt}, 'YYYYMMDDHH24MISS' )
        </if>
                AND     LP.expo_yn   = 'Y'
                AND     SYSDATE BETWEEN LP.expo_start_dt AND LP.expo_end_dt
        <if test="menuIdCondList != null">
                AND
            <foreach collection="menuIdCondList" item="menuIdCond" open=" (" close=") " >
                <if test='menuIdCond.op1st=="AND"'> AND </if>
                <if test='menuIdCond.op1st=="OR"'>  OR  </if>
                        LP.menu_id
                <if test='menuIdCond.op2nd=="NOT"'> NOT </if>
                            LIKE #{menuIdCond.menuId}||'%'
            </foreach>
        </if>
        /* 상품등급코드 */
        /* 쇼핑은 등급을 무시하기 위해 NULL인 경우 표시 */
        <if test='prodGradeCdList != null'>
                AND ( P.prod_grd_cd IS NULL OR P.prod_grd_cd IN <foreach collection="prodGradeCdList" item="prodGradeCd" index="index" open="(" close=")" separator=",">#{prodGradeCd}</foreach> )
        </if>
                <!-- 판매중 (PD000403) 상태 체크 (쇼핑상품 및 앨범상품은 무조건 추출 후 서비스로직으로 판별 -->
                AND   ( LP.prod_id LIKE 'CL%' OR LP.prod_id LIKE 'AL%' OR (TP.prod_status_cd = 'PD000403' AND TP.expo_yn = 'Y') )
                <!-- stopKey -->
                AND   ( ( LP.expo_ord > #{lastExpoOrd,javaType=Integer,jdbcType=NUMERIC} ) OR ( LP.expo_ord = #{lastExpoOrd,javaType=Integer,jdbcType=NUMERIC} AND LP.expo_ord_sub > #{lastExpoOrdSub,javaType=Integer,jdbcType=NUMERIC} ) )
                ORDER BY expo_ord, expo_ord_sub
        )
        WHERE   ROWNUM &lt;= #{count,javaType=Integer,jdbcType=NUMERIC}
	</select>

	<!--상품 단건 통합 조회 -->
	<select id="selectListProd" parameterType="string" resultType="ListProduct">
		SELECT  /* ProductListMapper.xml, selectListProd, SAC 전시 , 2014-11-05 */
			    prod_id,
			    contents_type_cd,
			    svc_grp_cd,
			    top_menu_id
		FROM    TB_DP_PROD
		WHERE   prod_id = #{prodId}
	</select>

</mapper>
