<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common">

    <!-- Device 정보 조회 -->
    <select id="getDevice" parameterType="String" resultType="CmDevice">
        select *from tb_cm_device where device_model_cd = #{deviceModelCd}
    </select>
    
</mapper>

