<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MetaInfo">
	<select id="getVODMetaInfo" parameterType="ProductBasicInfo" resultType="VODMetaInfo">
 	   SELECT  /* MetaInfoMapper.xml, selectCategoryAppList, tae hee Lee, 2014-01-07 */
		        LA.UP_MENU_ID
		      , LA.TOP_MENU_ID
		      , LA.MENU_ID
		      , LA.MENU_NM
		      , LA.MENU_DESC
		      , LA.META_CLSF_CD
		      , LA.PROD_ID
		--      , LA.PART_PROD_ID
		      , LA.VOD_TITL_NM
		      , LA.PROD_NM
		      , LA.PROD_BASE_DESC
		      , LA.PROD_GRD_CD
		      , LA.ARTIST1_NM
		      , LA.ARTIST2_NM
		      , LA.ISSUE_DAY
		      , LA.CHNL_COMP_NM
		      , LA.AGENCY_NM
		      , LA.HDV_YN
		      , LA.DOLBY_SPRT_YN
		      , CASE WHEN (LA.USE_PERIOD_UNIT_CD = 'PD00312' AND STRM_EPSD_CNT > 0) THEN CHNL_PERIOD_AMT
		             ELSE CHNL_UNLMT_AMT END AS PROD_AMT
		      , NVL(LB.PATICPERS_CNT, 0) AS PATICPERS_CNT
		      , NVL(LB.PRCHS_CNT, 0) AS PRCHS_CNT
               <![CDATA[		     
		      , NVL((CASE WHEN (LB.AVG_EVLU_SCORE > 0 AND LB.AVG_EVLU_SCORE < 1) THEN 1
		                  WHEN LB.AVG_EVLU_SCORE > 5 THEN 5
		                  ELSE ROUND(LB.AVG_EVLU_SCORE, 1) END), 0) AS AVG_EVLU_SCORE
		      ]]>
		      , LA.FILE_PATH
		      , LA.FILE_NM
		      , (SELECT MENU_NM
		           FROM TB_DP_MENU_CATEGORY_DESC
		          WHERE MENU_ID = LA.UP_MENU_ID
		            AND LANG_CD = 'ko'
		            AND ROWNUM = 1) AS UP_MENU_NM
		  FROM (          
		                    SELECT JA.*
		                          FROM (SELECT 'S01' AS TENANT_ID
		                                     , A.MENU_ID
		                                     , B.UP_MENU_ID
		                                     , B.TOP_MENU_ID
		                                     , A.PROD_ID
		                                --     , I.PART_PROD_ID
		                                     , C.MENU_NM
		                                     , C.MENU_DESC
		                                     , D.PROD_GRD_CD
		                                     , D.USE_PERIOD_UNIT_CD
		                                     , D.META_CLSF_CD
		                                     , E.VOD_TITL_NM
		                                     , E.STRM_EPSD_CNT
		                                     , E.ISSUE_DAY
		                                     , E.CHNL_COMP_NM
		                                     , E.AGENCY_NM
		                                     , E.HDV_YN
		                                     , E.DOLBY_SPRT_YN
		                                     , F.PROD_NM
		                                     , F.ARTIST1_NM
		                                     , F.ARTIST2_NM
		                                     , F.PROD_BASE_DESC
		                                     , H.CHNL_PERIOD_AMT
		                                     , H.CHNL_UNLMT_AMT                                     
		                                     , D.DRM_YN
		                                     , K.FILE_PATH
		                                     , K.FILE_NM
		                                     , K.FILE_SIZE
		                                  FROM TB_DP_MENU_CATEGORY_PROD_MAPG    A                                       
		                                     , TB_DP_MENU_CATEGORY              B
		                                     , TB_DP_MENU_CATEGORY_DESC         C
		                                     , TB_DP_PROD              D
		                                     , TB_DP_MULTIMDA_PROD     E
		                                     , TB_DP_PROD_DESC         F
		                                     , TB_DP_TENANT_PROD       G
		                                     , TB_DP_TENANT_PROD_PRICE H                                     
		                                --   , TB_DP_PROD_RSHP         I
		                                --   , TB_DP_PROD              J
		                                     , TB_DP_PROD_IMG          K
		                                 WHERE A.MENU_ID = B.MENU_ID
		                                   AND A.MENU_ID = C.MENU_ID
		                                   AND A.PROD_ID = D.PROD_ID
		                                   AND D.PROD_ID = E.PROD_ID
		                                   AND D.PROD_ID = F.PROD_ID                                   
		                                   AND D.PROD_ID = G.PROD_ID
		                                   AND D.PROD_ID = H.PROD_ID
		                               --    AND A.PROD_ID = I.PROD_ID                                   
		                               --    AND I.PART_PROD_ID = J.PROD_ID
		                               --    AND I.PROD_ID = K.PROD_ID
		                                   AND D.PROD_ID = K.PROD_ID 
		                                   AND A.BASE_YN = 'Y'                        /* Y : 사용 (사용여부) */
		                                   AND B.USE_YN = 'Y'                        /* Y : 사용 (사용여부) */
		                                   AND C.LANG_CD = 'ko'                      /* ko : 한국어 */                                   
		                                   AND G.TENANT_ID = #{tenantId}
		                                   AND F.LANG_CD = 'ko'                      /* ko : 한국어 */
		                                   AND K.IMG_CD = 'DP000101'                 
		                                   AND K.EXPO_ORD = '1'                 
		                                   AND SYSDATE BETWEEN H.APPLY_START_DT AND H.APPLY_END_DT
		                                   AND D.PROD_ID = #{prodId} 
                                       ) JA 
		       ) LA
		     , TB_DP_TENANT_PROD_STATS LB
		 WHERE LA.TENANT_ID = LB.TENANT_ID(+)
		   AND LA.PROD_ID = LB.PROD_ID(+)
	</select>
	
	<select id="getMusicMetaInfo" parameterType="ProductBasicInfo" resultType="VODMetaInfo">
	</select>
	<select id="getEbookComidMetaInfo" parameterType="ProductBasicInfo" resultType="VODMetaInfo">
    </select>
	<select id="getAppMetaInfo" parameterType="ProductBasicInfo" resultType="VODMetaInfo">
    </select>
    <select id="getShoppingMetaInfo" parameterType="ProductBasicInfo" resultType="VODMetaInfo">
    </select>
 </mapper>