<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MetaInfo">
	<select id="getVODMetaInfo" parameterType="ProductBasicInfo" resultType="VODMetaInfo">
 	   SELECT  /* MetaInfoMapper.xml, selectCategoryAppList, tae hee Lee, 2014-01-07 */
		        LA.UP_MENU_ID
		      , LA.TOP_MENU_ID
		      , LA.MENU_ID
		      , LA.MENU_NM
		      , LA.MENU_DESC
		      , LA.META_CLSF_CD
		      , LA.PROD_ID
		--      , LA.PART_PROD_ID
		      , LA.VOD_TITL_NM
		      , LA.PROD_NM
		      , LA.PROD_BASE_DESC
		      , LA.PROD_GRD_CD
		      , LA.ARTIST1_NM
		      , LA.ARTIST2_NM
		      , LA.ISSUE_DAY
		      , LA.CHNL_COMP_NM
		      , LA.AGENCY_NM
		      , LA.HDV_YN
		      , LA.DOLBY_SPRT_YN
		      , CASE WHEN (LA.USE_PERIOD_UNIT_CD = 'PD00312' AND STRM_EPSD_CNT > 0) THEN CHNL_PERIOD_AMT
		             ELSE CHNL_UNLMT_AMT END AS PROD_AMT
		      , NVL(LB.PATICPERS_CNT, 0) AS PATICPERS_CNT
		      , NVL(LB.PRCHS_CNT, 0) AS PRCHS_CNT
               <![CDATA[		     
		      , NVL((CASE WHEN (LB.AVG_EVLU_SCORE > 0 AND LB.AVG_EVLU_SCORE < 1) THEN 1
		                  WHEN LB.AVG_EVLU_SCORE > 5 THEN 5
		                  ELSE ROUND(LB.AVG_EVLU_SCORE, 1) END), 0) AS AVG_EVLU_SCORE
		      ]]>
		      , LA.FILE_PATH
		      , LA.FILE_NM
		      , (SELECT MENU_NM
		           FROM TB_DP_MENU_CATEGORY_DESC
		          WHERE MENU_ID = LA.UP_MENU_ID
		            AND LANG_CD = 'ko'
		            AND ROWNUM = 1) AS UP_MENU_NM
		  FROM (          
		                    SELECT JA.*
		                          FROM (SELECT 'S01' AS TENANT_ID
		                                     , A.MENU_ID
		                                     , B.UP_MENU_ID
		                                     , B.TOP_MENU_ID
		                                     , A.PROD_ID
		                                --     , I.PART_PROD_ID
		                                     , C.MENU_NM
		                                     , C.MENU_DESC
		                                     , D.PROD_GRD_CD
		                                     , D.USE_PERIOD_UNIT_CD
		                                     , D.META_CLSF_CD
		                                     , E.VOD_TITL_NM
		                                     , E.STRM_EPSD_CNT
		                                     , E.ISSUE_DAY
		                                     , E.CHNL_COMP_NM
		                                     , E.AGENCY_NM
		                                     , E.HDV_YN
		                                     , E.DOLBY_SPRT_YN
		                                     , F.PROD_NM
		                                     , F.ARTIST1_NM
		                                     , F.ARTIST2_NM
		                                     , F.PROD_BASE_DESC
		                                     , H.CHNL_PERIOD_AMT
		                                     , H.CHNL_UNLMT_AMT                                     
		                                     , D.DRM_YN
		                                     , K.FILE_PATH
		                                     , K.FILE_NM
		                                     , K.FILE_SIZE
		                                  FROM TB_DP_MENU_CATEGORY_PROD_MAPG    A                                       
		                                     , TB_DP_MENU_CATEGORY              B
		                                     , TB_DP_MENU_CATEGORY_DESC         C
		                                     , TB_DP_PROD              D
		                                     , TB_DP_MULTIMDA_PROD     E
		                                     , TB_DP_PROD_DESC         F
		                                     , TB_DP_TENANT_PROD       G
		                                     , TB_DP_TENANT_PROD_PRICE H                                     
		                                --   , TB_DP_PROD_RSHP         I
		                                --   , TB_DP_PROD              J
		                                     , TB_DP_PROD_IMG          K
		                                 WHERE A.MENU_ID = B.MENU_ID
		                                   AND A.MENU_ID = C.MENU_ID
		                                   AND A.PROD_ID = D.PROD_ID
		                                   AND D.PROD_ID = E.PROD_ID
		                                   AND D.PROD_ID = F.PROD_ID                                   
		                                   AND D.PROD_ID = G.PROD_ID
		                                   AND D.PROD_ID = H.PROD_ID
		                               --    AND A.PROD_ID = I.PROD_ID                                   
		                               --    AND I.PART_PROD_ID = J.PROD_ID
		                               --    AND I.PROD_ID = K.PROD_ID
		                                   AND D.PROD_ID = K.PROD_ID 
		                                   AND A.BASE_YN = 'Y'                        /* Y : 사용 (사용여부) */
		                                   AND B.USE_YN = 'Y'                        /* Y : 사용 (사용여부) */
		                                   AND C.LANG_CD = 'ko'                      /* ko : 한국어 */                                   
		                                   AND G.TENANT_ID = #{tenantId}
		                                   AND F.LANG_CD = 'ko'                      /* ko : 한국어 */
		                                   AND K.IMG_CD = 'DP000101'                 
		                                   AND K.EXPO_ORD = '1'                 
		                                   AND SYSDATE BETWEEN H.APPLY_START_DT AND H.APPLY_END_DT
		                                   AND D.PROD_ID = #{prodId} 
                                       ) JA 
		       ) LA
		     , TB_DP_TENANT_PROD_STATS LB
		 WHERE LA.TENANT_ID = LB.TENANT_ID(+)
		   AND LA.PROD_ID = LB.PROD_ID(+)
	</select>
	
	<select id="getMusicMetaInfo" parameterType="ProductBasicInfo" resultType="VODMetaInfo">
         SELECT MCI.RANK_CHG_CNT
              , MCI.RANK_CHG_CLSF_CD
              , MCI.ARTIST_ID
              , CP.PROD_ID AS CHNL_PROD_ID
              , CP.PART_PROD_ID AS EPSD_PROD_ID
              , C.MENU_ID
              , CD.MENU_NM
              , CD.MENU_DESC
              , C.TOP_MENU_ID
              , CD2.MENU_NM AS TOP_MENU_NM
              , CD2.MENU_DESC AS TOP_MENU_DESC
              , MP.OUTSD_CONTENTS_ID -- 외부_컨텐츠_ID
              , PD.PROD_NM
              , PD.PROD_DTL_DESC
              , TPP.PROD_AMT
              , P.PROD_GRD_CD
              , PD.ARTIST1_NM
              , PD.ARTIST2_NM
              , PD.ARTIST3_NM                        
              , MP.CHNL_COMP_NM
              , MP.AGENCY_NM
              , MP.ISSUE_DAY
              , MP.BELL_SPRT_YN
              , MP.COLORRING_SPRT_YN
              , PI.FILE_PATH
              , PI.FILE_NM
              , PI.FILE_SIZE
           FROM TB_DP_MULTIMDA_PROD MP
              , TB_DP_MUSIC_CHART MCI
              , TB_DP_PROD P
              , TB_DP_PROD_DESC PD
              , TB_DP_PROD_RSHP CP
              , TB_DP_TENANT_PROD TP
              , TB_DP_TENANT_PROD_PRICE TPP
              , TB_DP_MENU_CATEGORY_PROD_MAPG CPM
              , TB_DP_MENU_CATEGORY C
              , TB_DP_MENU_CATEGORY_DESC CD
              , TB_DP_MENU_CATEGORY_DESC CD2
              , TB_DP_MULTIMDA_PROD MP2
              , TB_DP_PROD P2
              , TB_DP_TENANT_PROD TP2
              , TB_DP_PROD_IMG PI
          WHERE MP.PROD_ID = CP.PART_PROD_ID
            AND P.PROD_ID = CP.PART_PROD_ID
            AND MCI.PROD_ID = CP.PART_PROD_ID -- EPISODE PROD ID
            AND CPM.PROD_ID = CP.PART_PROD_ID
            AND C.MENU_ID = CPM.MENU_ID
            AND CD.MENU_ID = C.MENU_ID
            AND CD2.MENU_ID = C.TOP_MENU_ID
            AND CD2.LANG_CD = CD.LANG_CD
            AND P2.PROD_ID = CP.PROD_ID -- CHANNEL PROD ID
            AND P2.META_CLSF_CD = P.META_CLSF_CD
            AND TP2.PROD_ID = P2.PROD_ID
            AND TP2.TENANT_ID = TP.TENANT_ID
            AND TP2.PROD_STATUS_CD = TP.PROD_STATUS_CD
            AND TP2.EXPO_YN = TP.EXPO_YN
            AND MP2.PROD_ID = P2.PROD_ID
            AND TP.PROD_ID = P.PROD_ID
            AND TPP.PROD_ID = TP.PROD_ID
            AND TPP.TENANT_ID = TP.TENANT_ID
            AND PD.PROD_ID = P.PROD_ID
            AND PI.PROD_ID = CP.PROD_ID
         -----------------------------------------------------------------------------
         -- 차트 정보 조건절 START
         -- ( 멜론 TOP 100 : CHART_CLSF_CD = DP004901, BATCH_ID = MELON_DP004901 )
         -- ( 최신    음악 : CHART_CLSF_CD = DP004904, BATCH_ID = MELON_DP004904 )
         ----------------------------------------------------------------------------- 
            AND MCI.CHART_CLSF_CD = 'DP004901' -- 멜론 TOP 100
            AND MCI.RANK_START_DAY = ( SELECT MAX(TO_CHAR(STD_DT,'YYYYMMDD'))
                                         FROM TB_DP_BATCH_COMPT
                                        WHERE TENANT_ID = TP.TENANT_ID
                                          AND BATCH_ID = 'MELON_DP004901') -- 멜론 TOP 100
         -----------------------------------------------------------------------------
         -- 차트 정보 조건절 END
         ----------------------------------------------------------------------------- 
            AND TP.PROD_STATUS_CD = 'PD000403'   -- 판매중
            AND TP.EXPO_YN = 'Y'                 -- 노출 여부
            AND P.CONTENTS_TYPE_CD = 'PD002502'  -- 에피소드
            AND P.META_CLSF_CD = 'CT25'          -- 통합 뮤직
            AND CPM.USE_YN = 'Y'
            AND C.USE_YN = 'Y'
            AND P2.CONTENTS_TYPE_CD = 'PD002501' -- 채널
         -----------------------------------------------------------------------------
         -- INPUT PARAMETER
         ----------------------------------------------------------------------------- 
         <if test='prodType == "episode"'>
            AND CP.PART_PROD_ID = #{prodId} -- EPISODE PROD ID
         </if>
         <if test='prodType == "channel"'>
            AND CP.PROD_ID = #{prodId} -- CHANNEL PROD ID
         </if>
            AND C.MENU_ID LIKE #{menuId}||'%'
            AND PI.IMG_CD = #{imageCd}
            AND TP.TENANT_ID = #{tenantId}
            AND PD.LANG_CD = #{langCd}
            AND CD.LANG_CD = #{langCd}
	</select>
	<select id="getEbookComidMetaInfo" parameterType="ProductBasicInfo" resultType="VODMetaInfo">
    </select>
	<select id="getAppMetaInfo" parameterType="ProductBasicInfo" resultType="VODMetaInfo">
    </select>
    <select id="getShoppingMetaInfo" parameterType="ProductBasicInfo" resultType="VODMetaInfo">
      /* ShoppingMapper.xml.getShoppingMetaInfo, sac: kim Hyung Sik , 2014-01-07 */
                   SELECT  * 
                   FROM (
                          SELECT 
                                B.CATALOG_ID 
                               ,C.CATALOG_NM 
                               ,C.CATALOG_DESC
                               ,NVL(L.PROD_NET_AMT, 0) AS PROD_NET_AMT 
                               ,NVL(L.PROD_AMT, 0) AS PROD_AMT 
                               ,NVL(N.SPRC_DC_RATE, L.DC_RATE) AS DC_RATE
                               ,NVL(N.SPRC_PRICE, L.PROD_AMT) AS DC_AMT
                               ,CASE WHEN N.SPRC_DC_RATE IS NOT NULL THEN 'Y' ELSE 'N'END AS SPECIAL_SALE_YN
                               ,A.BRAND_ID  
                               ,A.BRAND_NM  
                               ,D.MENU_ID  
                               ,F.MENU_NM
                               ,J.TOP_MENU_ID   
                               ,(SELECT MENU_NM
                                   FROM TB_DP_MENU_CATEGORY_DESC
                                  WHERE MENU_ID = J.TOP_MENU_ID
                                    AND LANG_CD = 'ko'
                                    AND ROWNUM = 1
                                ) AS UP_MENU_NM                                   
                               ,ROW_NUMBER() OVER(PARTITION BY B.CATALOG_ID ORDER BY NVL(N.SPRC_PRICE, L.PROD_AMT) ASC) as NO
                               ,CASE WHEN (SYSDATE - 7)    <![CDATA[ <= ]]>  I.REG_DT THEN 'Y' ELSE 'N' END AS NEW_YN  
                               ,I.REG_DT 
                               ,K.TENANT_ID 
                               ,H.PROD_ID 
                               ,H.PART_PROD_ID  
                               ,I.DLV_PROD_YN
                               ,NVL(M.PRCHS_CNT, 0)  PRCHS_CNT
                               ,J.PROD_GRD_CD   
                               ,L.APPLY_START_DT     
                               ,L.APPLY_END_DT    
                               ,DECODE(I.PROD_CASE_CD
                                     , 'DP006301', 'giftcard'
                                     , 'DP006302', 'exchange'
                                     , 'DP006303', 'delivery' ) PROD_CASE_CD
                               ,J.PROD_CHRG_YN
                               ,I.B2B_PROD_YN
                               ,PI.FILE_PATH
                               ,PI.FILE_NM
                               ,PI.FILE_SIZE                               
                          FROM 
                                  TB_DP_SHPG_BRAND         A
                                 ,TB_DP_SHPG_CATALOG       B
                                 ,TB_DP_SHPG_CATALOG_DESC  C
                                 ,TB_DP_MENU_SHPG_MAPG     D
                                 ,TB_DP_MENU_CATEGORY      E
                                 ,TB_DP_MENU_CATEGORY_DESC F 
                                 ,TB_DP_PROD_CATALOG_MAPG  G 
                                 ,TB_DP_PROD_RSHP          H
                                 ,TB_DP_SHPG_PROD          I
                                 ,TB_DP_PROD               J
                                 ,TB_DP_TENANT_PROD        K
                                 ,TB_DP_TENANT_PROD_PRICE  L
                                 ,TB_DP_PROD_IMG           PI
                                 ,(SELECT  PROD_ID
                                          ,PRCHS_CNT
                                     FROM TB_DP_TENANT_PROD_STATS 
                                    WHERE TENANT_ID = #{tenantId}    /* INPUT 테넌트ID */
                                   ) M
                                 ,(SELECT 
                                        B1.PROD_ID
                                      , B1.SPRC_DC_RATE
                                      , B1.SPRC_PRICE
                                   FROM  TB_DP_PROD_CATALOG_MAPG A1
                                        ,TB_DP_SPRC_PROD B1
                                   WHERE 1=1
                                     AND A1.PROD_ID = B1.PROD_ID
                                     AND B1.EXPO_YN ='Y'
                                     AND B1.CPN_ID IS NOT NULL
                                     AND SYSDATE BETWEEN  B1.SPRC_APPLY_START_DT AND B1.SPRC_APPLY_END_DT 
                                  )                        N
                        WHERE 1=1
                        AND A.BRAND_ID = B.BRAND_ID
                        AND B.CATALOG_ID = C.CATALOG_ID
                        AND C.CATALOG_ID = D.CATALOG_ID     
                        AND D.MENU_ID = E.MENU_ID
                        AND D.MENU_ID = F.MENU_ID
                        AND B.CATALOG_ID = G.CATALOG_ID
                        AND G.PROD_ID = H.PROD_ID
                        AND H.PART_PROD_ID = I.PROD_ID
                        AND I.PROD_ID = J.PROD_ID
                        AND I.PROD_ID = K.PROD_ID
                        AND I.PROD_ID = L.PROD_ID
                        AND C.CATALOG_ID = PI.PROD_ID
                        AND PI.IMG_CD =#{imageCd}
                        AND PI.EXPO_ORD ='1'
                        AND I.PROD_ID = M.PROD_ID(+)                           
                        AND I.PROD_ID = N.PROD_ID(+)
                      <if test='contentsTypeCd == "PD002501"'>
                        AND B.CATALOG_ID = #{prodId}          
                      </if>
                      <if test='contentsTypeCd == "PD002502"'>
                        AND H.PART_PROD_ID = #{prodId}
                      </if>
                        
                        AND H.PROD_RSHP_CD ='DP010802'    /*채널-에피소드 상품 관계*/
                        AND PI.LANG_CD= #{langCd}                /* ko : 한국어 */         
                        AND C.LANG_CD= #{langCd}          /* ko : 한국어 */
                        AND F.LANG_CD= #{langCd}          /* ko : 한국어 */
                        AND D.BASE_YN='Y'                 /* Y : 기본(기본여부) */
                        AND D.USE_YN ='Y'                 /* Y : 기본(기본여부) */
                        AND E.USE_YN='Y'                  /* Y : 기본(기본여부) */
                        AND G.BASE_YN='Y'                 /* Y : 기본(기본여부) */
                        AND G.USE_YN ='Y'                  /* Y : 기본(기본여부) */
                        AND NVL(I.B2B_PROD_YN, 'N') <![CDATA[ <> ]]>  'Y'
                        AND SYSDATE BETWEEN L.APPLY_START_DT AND L.APPLY_END_DT
                        AND K.TENANT_ID = #{tenantId}       /* INPUT 테넌트ID */
                   ) 
                 WHERE NO =1    
    </select>
 </mapper>