<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StatLike">    
	<!-- 회원별 LIKE 목록 조회 -->
    <select id="selectList" parameterType="StatLike" resultType="StatLike">
        /* StatLike.xml, selectList, SAC 전시 , 2014-11-05 */
		SELECT
		  TENANT_ID,
		  USER_KEY,
		  STATS_CLSF, 
		  STATS_KEY,
		  CNT_LIKE,
		  CNT_BRWS,
		  CNT_SHAR,
		  TOTAL_COUNT
		FROM (  
		  SELECT
		    TENANT_ID,
		    USER_KEY,
		    STATS_CLSF, 
		    STATS_KEY,
		    CNT_LIKE,
		    CNT_BRWS,
		    CNT_SHAR,
		    COUNT(*) OVER () AS TOTAL_COUNT,
		    ROW_NUMBER() OVER(ORDER BY A.REG_DT DESC) AS RNUM
		  FROM TB_DP_SOCIAL_STATS_MBR_LIKE A
		  LEFT OUTER JOIN TB_DP_SOCIAL_STATS B
		  USING (TENANT_ID, STATS_CLSF, STATS_KEY)
		  WHERE TENANT_ID = #{tenantId}
		  AND USER_KEY = #{userKey}
		)
		WHERE RNUM BETWEEN #{startKey} AND (#{startKey} + #{count}) /* select 1 more for hasNext.*/
		ORDER BY RNUM
    </select>

	<insert id="insert" parameterType="java.util.HashMap">
		INSERT INTO 
			TB_DP_SOCIAL_STATS_MBR_LIKE 
		(
			TENANT_ID
			, USER_KEY
			, STATS_CLSF
			, STATS_KEY
			, REG_DT
			, REG_ID
			, UPD_DT
			, UPD_ID
		)
		VALUES(
			#{tenantId, jdbcType=VARCHAR}
			, #{userKey, jdbcType=VARCHAR}
			, #{clsf, jdbcType=VARCHAR}
			, #{key, jdbcType=VARCHAR}
			, SYSDATE
			, 'SAC'
			, SYSDATE
			, 'SAC'
			
		)
	</insert>
	
	<delete id="delete" parameterType="java.util.HashMap">
		DELETE FROM 
			TB_DP_SOCIAL_STATS_MBR_LIKE
		WHERE 1=1
			AND TENANT_ID = #{tenantId, jdbcType=VARCHAR}
			AND USER_KEY = #{userKey, jdbcType=VARCHAR}
			AND STATS_CLSF = #{clsf, jdbcType=VARCHAR}
			AND STATS_KEY = #{key, jdbcType=VARCHAR}
	</delete>
</mapper>