<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductList">

	<!--상품 목록 통합 조회 -->
	<select id="selectListProdList" parameterType="ListProductCriteria" resultType="ListProduct">
        SELECT  /* ProductListMapper.xml, selectListProdList, SAC 전시 , 2014-10-08 */
                A.prod_id
              , A.contents_type_cd
              , A.svc_grp_cd
              , A.top_menu_id
              , A.menu_id
              , A.img_path
              , A.expo_ord
              , A.expo_ord_sub
              , A.recom_reason
              , A.etc_prop
        FROM
        (
                SELECT  DISTINCT
                        LP.prod_id
                      , P.contents_type_cd
                      , P.svc_grp_cd
                      , P.top_menu_id
                      , LP.menu_id
                      , LP.img_path
                      , LP.expo_ord
                      , LP.expo_ord_sub
                      , LP.recom_reason
                      , LP.etc_prop
                FROM            TB_DP_LIST_PROD         LP
                LEFT OUTER JOIN TB_DP_PROD              P   ON( LP.prod_id  = P.prod_id      )
                LEFT OUTER JOIN TB_DP_TENANT_PROD       TP  ON( LP.prod_id  = TP.prod_id     )
                LEFT OUTER JOIN TB_DP_PROD_CATALOG_MAPG PCM ON( LP.prod_id  = PCM.catalog_id )
                LEFT OUTER JOIN TB_DP_TENANT_PROD       TP2 ON( PCM.prod_id = TP2.prod_id    )
                LEFT OUTER JOIN TB_DP_MENU_CATEGORY     MC  ON( LP.menu_id  = MC.menu_id     )
                WHERE   1 = 1
                AND     LP.tenant_id = #{tenantId}
                AND     LP.list_id   = #{listId}
                AND     LP.expo_yn   = 'Y'
                AND     MC.use_yn    = 'Y'
                /* PROD_STATUS_CD : PD000403(판매중) */
                /* 앨범은 TB_DP_TENANT_PROD에 없음. PROD_ID가 'AL%'이면 앨범 */
                AND (
                       ( TP.prod_status_cd  = 'PD000403' AND TP.expo_yn  = 'Y' )
                    OR ( TP2.prod_status_cd = 'PD000403' AND TP2.expo_yn = 'Y' )
                    OR  P.prod_id LIKE 'AL%'
                )
                <if test="menuIdCondList != null">
                    AND
                    <foreach collection="menuIdCondList" item="menuIdCond" open=" (" close=") " >
                      <if test='menuIdCond.op1st=="AND"'> AND </if>
                      <if test='menuIdCond.op1st=="OR"'>  OR  </if>
                    LP.menu_id
                      <if test='menuIdCond.op2nd=="NOT"'> NOT </if>
                        LIKE #{menuIdCond.menuId}||'%'
                    </foreach>
                </if>
                <if test='stdDt != null and stdDt != ""'>
                    AND LP.std_dt = TO_DATE(#{stdDt}, 'YYYYMMDDHH24MISS')
                </if>
                /* 상품등급코드 */
                /* 쇼핑은 등급을 무시하기 위해 NULL인 경우 표시 */
                <if test='prodGradeCdList != null'>
                    AND ( P.prod_grd_cd IS NULL OR P.prod_grd_cd IN <foreach collection="prodGradeCdList" item="prodGradeCd" index="index" open="(" close=")" separator=",">#{prodGradeCd}</foreach> )
                </if>
                AND (
                       ( LP.expo_ord =    #{lastExpoOrd,javaType=Integer,jdbcType=NUMERIC} AND LP.expo_ord_sub &gt; #{lastExpoOrdSub,javaType=Integer,jdbcType=NUMERIC} )
                    OR ( LP.expo_ord &gt; #{lastExpoOrd,javaType=Integer,jdbcType=NUMERIC} )
                )
                AND  SYSDATE BETWEEN LP.expo_start_dt AND LP.expo_end_dt
                ORDER BY LP.expo_ord, LP.expo_ord_sub
        ) A
        WHERE   ROWNUM &lt;= #{count,javaType=Integer,jdbcType=NUMERIC}
        ORDER BY ROWNUM
	</select>

	<!--상품 단건 통합 조회 -->
	<select id="selectListProd" parameterType="string" resultType="ListProduct">
		SELECT  /* ProductListMapper.xml, selectListProd, SAC 전시 , 2014-11-05 */
			    prod_id,
			    contents_type_cd,
			    svc_grp_cd,
			    top_menu_id
		FROM    TB_DP_PROD
		WHERE   prod_id = #{prodId}
	</select>

</mapper>
