<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Miscellaneous">

    <!-- UA 코드 정보 조회 -->
    <select id="getUaCode" parameterType="String" resultType="String">
        SELECT  /* MiscellaneousMapper.getUaCode, UA 코드 정보 조회, 김다슬/인크로스, 2014-01-09 */
                ua_cd
          FROM  tb_cm_device
         WHERE  device_model_cd = #{deviceModelNo}
           AND use_yn = 'Y'
    </select>
    
</mapper>