<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="History">
     
    <sql id="puchaseSearchParam">
        <!-- 조회요청일자 체크(구매일) -->
        <choose>
            <when
                test="startDt != null and startDt != '' and endDt != null and endDt != ''">
                AND a.prchs_dt BETWEEN TO_DATE(#{startDt}, 'yyyymmddhh24miss') AND
                TO_DATE(#{endDt}, 'yyyymmddhh24miss')
            </when>
            <when
                test="startDt != null and startDt != '' and (endDt == null or endDt == '')">
                AND a.prchs_dt &gt;= TO_DATE(#{startDt}, 'yyyymmddhh24miss')
            </when>
            <when
                test="(startDt == null or startDt == '') and endDt != null and endDt != ''">
                AND a.prchs_dt &lt;= TO_DATE(#{endDt}, 'yyyymmddhh24miss')
            </when>
        </choose>
        
        <!-- 2014.07.21 현재날짜보다 작거나 같은 구매내역만 조회  -->
        AND a.prchs_dt &lt;= SYSDATE
        
        <!-- 구매상태 -->
        <choose>
            <when  test="prchsStatusCd != null and prchsStatusCd != ''">
                 <choose>
                    <when test="prchsStatusCd == 'S01HST01'">   <!-- 쇼핑일 경우에만 구매취소건이 노출된다. -->
                         AND a.status_cd IN ('OR000301','OR000302')
                         AND a.status_cd = DECODE(a.tenant_prod_grp_cd
                                            , 'OR006221DP28OR006311', a.status_cd
                                            , 'OR006221DP15OR006311', a.status_cd
                                            , 'OR000301')
                    </when>
                    <when test="prchsStatusCd == 'OR000301' or prchsStatusCd == 'OR000302'">
                         AND a.status_cd = #{prchsStatusCd}  
                    </when>
                    <otherwise>
                         AND a.status_cd != a.status_cd
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                 AND a.status_cd in ('OR000301','OR000302')
            </otherwise>
        </choose>
        
        <!-- 요청경로코드 -->
        <if test="prchsReqPathCd != null and prchsReqPathCd != ''">
            AND a.prchs_req_path_cd = #{prchsReqPathCd}  
        </if>
        
        <!-- 구매유형 -->
        <if test="prchsCaseCd != null and prchsCaseCd != ''">
            AND a.prchs_case_cd = #{prchsCaseCd}  <!-- OR0017S : 구매, OR0017G : 선물 -->
        </if>
        
        <!-- 숨김여부 -->
        <choose>
            <when test='prchsProdHaveYn == "Y"'>
                <!-- 보유상품숨김여부 -->
                <if test="hidingYn != null and hidingYn != ''">
                    AND a.use_hiding_yn = #{hidingYn}
                </if>
            </when>
            <when test='prchsProdHaveYn == "N"'>
                <!-- 미보유상품숨김여부 -->
                <if test="hidingYn != null and hidingYn != ''">
                    AND a.send_hiding_yn = #{hidingYn}
                </if>
            </when>
        </choose>
        
        <!-- 구매상품타입(단위상품, 권한상품) -->
        <if test="prchsProdType != null and prchsProdType != ''">
            AND a.prchs_prod_type = #{prchsProdType}    <!-- OR020201 : 단위상품, OR020202 : 권한상품 -->
        </if>
        
        <!-- 테넌트상품분류 -->
        <if test="tenantProdGrpCd != null and tenantProdGrpCd != ''">
            AND a.tenant_prod_grp_cd LIKE #{tenantProdGrpCd} || '%'
        </if>
        
        <!-- 정액권ID -->
        <if test="useFixrateProdId != null and useFixrateProdId != ''">
            AND a.use_fixrate_prod_id = #{useFixrateProdId}
        </if>
        
        <!-- 선물수신확인여부 -->
        <choose>
            <when test='giftRecvConfYn == "Y"'>
                AND a.recv_dt is not null
            </when>
            <when test='giftRecvConfYn == "N"'>
                AND a.recv_dt is null
            </when>
        </choose>
        
        <!-- 상품ID List -->
        <if test="productList != null and productList.size > 0">
            <foreach collection="productList" item="item" index="index"
                open="AND a.prod_id IN (" separator=" , " close=")">
                #{item, jdbcType=VARCHAR}
            </foreach>
        </if>
    </sql>
    
    <!-- 보유상품조회 -->     
    <select id="searchHistoryList" parameterType="historyListRequest" resultType="historyList">
    
        SELECT /* HistoryMapper.searchHistoryList, 보유상품조회, 양주원/엔텔스, 2013-12-10 */ 
                a.tenant_id
              , a.prchs_id
              , a.prchs_dtl_id
              , a.totCnt
              , a.use_tenant_id
              , a.use_insd_usermbr_no AS useUserKey
              , DECODE(a.use_insd_usermbr_no,'NONMEMBER',
                    REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
                        a.use_insd_device_id
                        ,'Ab','0')
                        ,'cDe','5')
                        ,'Fg','2')
                        ,'HiJk','6')
                        ,'Lm','4')
                        ,'NoP','1')
                        ,'qR','8')
                        ,'sTu','7')
                        ,'Vw','3')
                        ,'XyZ','9')
                    ,a.use_insd_device_id) AS useDeviceKey
              , a.prchs_req_path_cd
              , TO_CHAR(a.prchs_dt, 'yyyymmddhh24miss') AS prchs_dt
              , a.tot_amt
              , a.send_insd_usermbr_no AS sendUserKey
              , a.send_insd_device_id AS sendDeviceKey
              , TO_CHAR(a.recv_dt, 'yyyymmddhh24miss') AS recv_dt
              , a.recv_conf_path_cd
              , a.tenant_prod_grp_cd
              , a.prod_id
              , a.prod_amt
              , a.prod_qty
              , a.status_cd
              , TO_CHAR(a.use_start_dt, 'yyyymmddhh24miss') AS use_start_dt
              , TO_CHAR(a.use_expr_dt, 'yyyymmddhh24miss') AS use_expr_dt
              , a.use_hiding_yn AS hidingYn
              , a.cancel_req_path_cd
              , TO_CHAR(a.cancel_dt, 'yyyymmddhh24miss') AS cancel_dt
              , a.prchs_case_cd
              , TO_CHAR(a.dwld_start_dt, 'yyyymmddhh24miss') AS dwld_start_dt
              , TO_CHAR(a.dwld_expr_dt, 'yyyymmddhh24miss') AS dwld_expr_dt
              , a.cpn_publish_cd
              , a.cpn_dlv_url
              , a.use_fixrate_prod_id
              , a.prchs_prod_type
              , TO_CHAR(b.payment_start_dt, 'yyyymmddhh24miss') AS payment_start_dt
              , TO_CHAR(b.payment_end_dt, 'yyyymmddhh24miss') AS payment_end_dt
              , TO_CHAR(b.after_payment_dt, 'yyyymmddhh24miss') AS after_payment_dt
              , b.prchs_tme
              , b.auto_payment_status_cd
              , TO_CHAR(b.closed_dt, 'yyyymmddhh24miss') AS closed_dt
              , b.closed_reason_cd
              , b.closed_req_path_cd
              , a.resv_col_01
              , a.resv_col_02
              , a.resv_col_03
              , a.resv_col_04
              , a.resv_col_05
              , a.drm_yn
              , a.alarm_yn
              , a.cpn_add_info
              , a.cpn_biz_prod_seq 
              , a.cpn_biz_order_no
              , a.currency_cd  
              , a.tid       
              , a.tx_id     
              , a.parent_prod_id
              , a.part_chrg_ver       
              , a.part_chrg_prod_nm        
              , a.rn_bill_cd        
              , a.info_use_fee   
              , a.cid       
              , a.contents_clsf  
              , a.contents_type
              , a.prchs_type    
              , a.timbre_clsf  
              , a.timbre_sctn  
              , a.menu_id       
              , a.genre_clsf_cd
              , a.use_period_set_cd
              , a.use_period_redate_cd
              , a.use_period_unit_cd
              , a.use_period
		      , NVL((CASE WHEN a.tenant_prod_grp_cd like 'OR006221%' 
		                  THEN (SELECT payment_amt
						          FROM tb_pr_payment
						         WHERE tenant_id = a.tenant_id
						           AND prchs_id = a.prchs_id
						           AND payment_mtd_cd = 'OR000606'
						           AND cpn_type IN ('OR002406','PD015104')
						           AND ROWNUM = 1)
		                  ELSE 0
		              END), 0) AS spcCpnAmt
              <choose>
                  <when test="mdnCategoryList != null and mdnCategoryList.size > 0">
                      <foreach collection="mdnCategoryList" item="item" index="index"
                           open=", CASE WHEN (tenant_prod_grp_cd LIKE  " separator="|| '%' OR tenant_prod_grp_cd LIKE " close="|| '%')" >
                           #{item}
                       </foreach>
                           AND USE_INSD_DEVICE_ID = #{deviceKey, jdbcType=VARCHAR} THEN 'Y'
                       <foreach collection="mdnCategoryList" item="item" index="index"
                           open="WHEN (tenant_prod_grp_cd NOT LIKE " separator="|| '%' and  tenant_prod_grp_cd NOT LIKE " close=" || '%')  THEN 'Y'" >
                           #{item}
                       </foreach>
                        ELSE 'N'
                        END AS permit_device_yn
                  </when>
                  <otherwise>
                  ,  'Y' AS permit_device_yn
                  </otherwise>
              </choose>
          FROM (
                SELECT  
	               <choose>
	                   <when test="productList != null and productList.size > 0">
	                         /*+ INDEX(a IDX_PR_PRCHS_DTL_01) */
	                    </when>
	                    <otherwise>
	                             /*+ INDEX(a IDX_PR_PRCHS_DTL_02) */
	                    </otherwise>
	               </choose>
                        ROW_NUMBER() OVER(ORDER BY a.prchs_dt DESC, a.prchs_id, a.prchs_dtl_id) AS rnum
                      , COUNT(*) OVER () AS totcnt
                      , a.tenant_id
                      , a.prchs_id
                      , a.prchs_dtl_id
                      , a.use_tenant_id
                      , a.use_insd_usermbr_no
                      , a.use_insd_device_id
                      , a.prchs_dt
                      , a.tot_amt
                      , a.send_insd_usermbr_no
                      , a.send_insd_device_id
                      , a.prchs_req_path_cd
                      , a.recv_dt
                      , a.recv_conf_path_cd
                      , a.prod_id
                      , a.prod_amt
                      , a.prod_qty
                      , a.tenant_prod_grp_cd
                      , a.status_cd
                      , a.use_hiding_yn
                      , a.use_start_dt
                      , a.use_expr_dt
                      , a.cancel_req_path_cd
                      , a.cancel_dt
                      , a.cpn_publish_cd
                      , a.cpn_dlv_url
                      , a.prchs_case_cd
                      , a.dwld_start_dt
                      , a.dwld_expr_dt
                      , a.prchs_prod_type
                      , a.use_fixrate_prod_id
                      , a.resv_col_01
                      , a.resv_col_02
                      , a.resv_col_03
                      , a.resv_col_04
                      , a.resv_col_05
                      , a.drm_yn
                      , a.alarm_yn
                      , a.cpn_add_info
                      , a.cpn_biz_prod_seq 
                      , a.cpn_biz_order_no
                      , a.currency_cd   
                      , a.tid     
                      , a.tx_id       
                      , a.parent_prod_id
                      , a.part_chrg_ver     
                      , a.part_chrg_prod_nm      
                      , a.rn_bill_cd      
                      , a.info_use_fee 
                      , a.cid     
                      , a.contents_clsf    
                      , a.contents_type
                      , a.prchs_type  
                      , a.timbre_clsf    
                      , a.timbre_sctn    
                      , a.menu_id     
                      , a.genre_clsf_cd
                      , a.use_period_set_cd
                      , a.use_period_redate_cd
                      , a.use_period_unit_cd
                      , a.use_period
                  FROM  tb_pr_prchs_dtl a
                      
                 WHERE  1=1
                   AND  a.use_tenant_id = #{tenantId}
                   AND  a.use_insd_usermbr_no = #{userKey}
                <!-- 조회조건 -->
                <include refid="puchaseSearchParam"/>

                <!-- 테넌트상품분류 -->
                <if test="notTenantProdGrpCd != null and notTenantProdGrpCd != ''">
                    AND a.tenant_prod_grp_cd NOT LIKE #{notTenantProdGrpCd} || '%'
                </if>

                <choose>
                    <when  test='selectDeviceYn == "Y"'><!-- 테넌트상품분류가 Device정책 분류와 동일할 경우에는 DeviceKey를 조회조건으로 생성 -->
                      AND a.use_insd_device_id = #{deviceKey, jdbcType=VARCHAR}
                    </when>
                </choose>
                ) a 
                , tb_pr_auto_prchs b
           WHERE  RNUM between #{startRow} and #{endRow}
             AND  a.tenant_id = b.tenant_id(+)
             AND  a.prchs_id = b.last_prchs_id(+)
             AND  a.prchs_dtl_id = b.last_prchs_dtl_id(+)
                
    </select>
    
    <!-- 보유상품조회 -->     
    <select id="searchHistoryListV2" parameterType="historyListRequest" resultType="historyList">
    
        SELECT /* HistoryMapper.searchHistoryListV2, 보유상품조회V2, 양주원/엔텔스, 2013-12-10 */ 
                a.tenant_id
              , a.prchs_id
              , a.prchs_dtl_id
              , a.use_tenant_id
              , a.use_insd_usermbr_no AS useUserKey
              , DECODE(a.use_insd_usermbr_no,'NONMEMBER',
                    REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
                        a.use_insd_device_id
                        ,'Ab','0')
                        ,'cDe','5')
                        ,'Fg','2')
                        ,'HiJk','6')
                        ,'Lm','4')
                        ,'NoP','1')
                        ,'qR','8')
                        ,'sTu','7')
                        ,'Vw','3')
                        ,'XyZ','9')
                    ,a.use_insd_device_id) AS useDeviceKey
              , a.prchs_req_path_cd
              , TO_CHAR(a.prchs_dt, 'yyyymmddhh24miss') AS prchs_dt
              , a.tot_amt
              , a.send_insd_usermbr_no AS sendUserKey
              , a.send_insd_device_id AS sendDeviceKey
              , TO_CHAR(a.recv_dt, 'yyyymmddhh24miss') AS recv_dt
              , a.recv_conf_path_cd
              , a.tenant_prod_grp_cd
              , a.prod_id
              , a.prod_amt
              , a.prod_qty
              , a.status_cd
              , TO_CHAR(a.use_start_dt, 'yyyymmddhh24miss') AS use_start_dt
              , TO_CHAR(a.use_expr_dt, 'yyyymmddhh24miss') AS use_expr_dt
              , a.use_hiding_yn AS hidingYn
              , a.cancel_req_path_cd
              , TO_CHAR(a.cancel_dt, 'yyyymmddhh24miss') AS cancel_dt
              , a.prchs_case_cd
              , TO_CHAR(a.dwld_start_dt, 'yyyymmddhh24miss') AS dwld_start_dt
              , TO_CHAR(a.dwld_expr_dt, 'yyyymmddhh24miss') AS dwld_expr_dt
              , a.cpn_publish_cd
              , a.cpn_dlv_url
              , a.use_fixrate_prod_id
              , a.prchs_prod_type
              , TO_CHAR(b.payment_start_dt, 'yyyymmddhh24miss') AS payment_start_dt
              , TO_CHAR(b.payment_end_dt, 'yyyymmddhh24miss') AS payment_end_dt
              , TO_CHAR(b.after_payment_dt, 'yyyymmddhh24miss') AS after_payment_dt
              , b.prchs_tme
              , b.auto_payment_status_cd
              , TO_CHAR(b.closed_dt, 'yyyymmddhh24miss') AS closed_dt
              , b.closed_reason_cd
              , b.closed_req_path_cd
              , a.resv_col_01
              , a.resv_col_02
              , a.resv_col_03
              , a.resv_col_04
              , a.resv_col_05
              , a.drm_yn
              , a.alarm_yn
              , a.cpn_add_info
              , a.cpn_biz_prod_seq 
              , a.cpn_biz_order_no
              , a.cpn_use_status_cd
              , a.currency_cd  
              , a.tid       
              , a.tx_id     
              , a.parent_prod_id
              , a.part_chrg_ver       
              , a.part_chrg_prod_nm        
              , a.rn_bill_cd        
              , a.info_use_fee   
              , a.cid       
              , a.contents_clsf  
              , a.contents_type
              , a.prchs_type    
              , a.timbre_clsf  
              , a.timbre_sctn  
              , a.menu_id       
              , a.genre_clsf_cd
              , a.gift_msg
              , a.use_period_set_cd
              , a.use_period_redate_cd
              , a.use_period_unit_cd
              , a.use_period
              , NVL((CASE WHEN a.tenant_prod_grp_cd like 'OR006221%' 
                          THEN (SELECT payment_amt
                                  FROM tb_pr_payment
                                 WHERE tenant_id = a.tenant_id
                                   AND prchs_id = a.prchs_id
                                   AND payment_mtd_cd = 'OR000606'
                                   AND cpn_type IN ('OR002406','PD015104')
                                   AND ROWNUM = 1)
                          ELSE 0
                      END), 0) AS spcCpnAmt
              <choose>
                  <when test="mdnCategoryList != null and mdnCategoryList.size > 0">
                      <foreach collection="mdnCategoryList" item="item" index="index"
                           open=", CASE WHEN (tenant_prod_grp_cd LIKE  " separator="|| '%' OR tenant_prod_grp_cd LIKE " close="|| '%')" >
                           #{item}
                       </foreach>
                           AND USE_INSD_DEVICE_ID = #{deviceKey, jdbcType=VARCHAR} THEN 'Y'
                       <foreach collection="mdnCategoryList" item="item" index="index"
                           open="WHEN (tenant_prod_grp_cd NOT LIKE " separator="|| '%' and  tenant_prod_grp_cd NOT LIKE " close=" || '%')  THEN 'Y'" >
                           #{item}
                       </foreach>
                        ELSE 'N'
                        END AS permit_device_yn
                  </when>
                  <otherwise>
                  ,  'Y' AS permit_device_yn
                  </otherwise>
              </choose>
          FROM (
                SELECT  
                
                <choose>
                       <when test="productList != null and productList.size > 0">
                             /*+ INDEX(a IDX_PR_PRCHS_DTL_01) */
                        </when>
                        <otherwise>
                            /*+ INDEX(a IDX_PR_PRCHS_DTL_02) */
                        </otherwise>
                   </choose>
                
                        a.tenant_id
                      , a.prchs_id
                      , a.prchs_dtl_id
                      , a.use_tenant_id
                      , a.use_insd_usermbr_no
                      , a.use_insd_device_id
                      , a.prchs_dt
                      , a.tot_amt
                      , a.send_insd_usermbr_no
                      , a.send_insd_device_id
                      , a.prchs_req_path_cd
                      , a.recv_dt
                      , a.recv_conf_path_cd
                      , a.prod_id
                      , a.prod_amt
                      , a.prod_qty
                      , a.tenant_prod_grp_cd
                      , a.status_cd
                      , a.use_hiding_yn
                      , a.use_start_dt
                      , a.use_expr_dt
                      , a.cancel_req_path_cd
                      , a.cancel_dt
                      , a.cpn_publish_cd
                      , a.cpn_dlv_url
                      , a.prchs_case_cd
                      , a.dwld_start_dt
                      , a.dwld_expr_dt
                      , a.prchs_prod_type
                      , a.use_fixrate_prod_id
                      , a.resv_col_01
                      , a.resv_col_02
                      , a.resv_col_03
                      , a.resv_col_04
                      , a.resv_col_05
                      , a.drm_yn
                      , a.alarm_yn
                      , a.cpn_add_info
                      , a.cpn_biz_prod_seq 
                      , a.cpn_biz_order_no
                      , a.cpn_use_status_cd
                      , a.currency_cd   
                      , a.tid     
                      , a.tx_id       
                      , a.parent_prod_id
                      , a.part_chrg_ver     
                      , a.part_chrg_prod_nm      
                      , a.rn_bill_cd      
                      , a.info_use_fee 
                      , a.cid     
                      , a.contents_clsf    
                      , a.contents_type
                      , a.prchs_type  
                      , a.timbre_clsf    
                      , a.timbre_sctn    
                      , a.menu_id     
                      , a.genre_clsf_cd
                      , a.gift_msg
                      , a.use_period_set_cd
                      , a.use_period_redate_cd
                      , a.use_period_unit_cd
                      , a.use_period
                  FROM  tb_pr_prchs_dtl a
                 WHERE  1=1
                   AND  a.use_tenant_id = #{tenantId}
                   AND  a.use_insd_usermbr_no = #{userKey}
                   
                   
                <!-- 조회조건 -->
                <include refid="puchaseSearchParam"/>
		        
		        <!-- 구매일시 -->
                <if  test="prchsDt != null and prchsDt != ''">
                    AND a.prchs_dt &lt;= TO_DATE(#{prchsDt}, 'yyyymmddhh24miss')
                </if>
                
                <!-- 구매ID -->
                <if  test="prchsId != null and prchsId != '' and prchsDtlId != null and prchsDtlId != ''" >
                    AND a.prchs_dtl_id &gt;= (CASE a.prchs_id WHEN #{prchsId} THEN #{prchsDtlId} ELSE 1  END)
                </if>
                
                <!-- 테넌트상품분류 -->
		        <if test="notTenantProdGrpCd != null and notTenantProdGrpCd != ''">
		            AND a.tenant_prod_grp_cd NOT LIKE #{notTenantProdGrpCd} || '%'
		        </if>
		        
		        <choose>
                    <when  test='selectDeviceYn == "Y"'><!-- 테넌트상품분류가 Device정책 분류와 동일할 경우에는 DeviceKey를 조회조건으로 생성 -->
                      AND a.use_insd_device_id = #{deviceKey, jdbcType=VARCHAR}
                    </when>
                </choose>
		        
		        
                ORDER BY  a.prchs_dt DESC  , a.prchs_dtl_id
                ) a 
                , tb_pr_auto_prchs b
           WHERE  a.tenant_id = b.tenant_id(+)
             AND  a.prchs_id = b.last_prchs_id(+)
             AND  a.prchs_dtl_id = b.last_prchs_dtl_id(+)
             AND  ROWNUM &lt;= #{count}
        
    </select>
    
    <!-- 보유상품건수조회 -->     
    <select id="searchHistoryCount" parameterType="historyCountRequest" resultType="Integer">
        SELECT <choose>
                    <when test="productList != null and productList.size > 0">
                        /*+ INDEX(a IDX_PR_PRCHS_DTL_01) */
                     </when>
                     <otherwise>
                        /*+ INDEX(a IDX_PR_PRCHS_DTL_02) */
                     </otherwise>
                </choose>
               /* HistoryMapper.searchHistoryCount, 보유상품건수조회, 양주원/엔텔스, 2013-12-10 */ 
                COUNT(*)
          FROM  tb_pr_prchs_dtl a
         WHERE  1=1
           AND  a.use_tenant_id = #{tenantId}
           AND  a.use_insd_usermbr_no = #{userKey}
           
           <!-- 조회조건 -->
           <include refid="puchaseSearchParam"/>
           
            <choose>
                <when  test='selectDeviceYn == "Y"'><!-- 테넌트상품분류가 Device정책 분류와 동일할 경우에는 DeviceKey를 조회조건으로 생성 -->
                  AND a.use_insd_device_id = #{deviceKey, jdbcType=VARCHAR}
                </when>
            </choose>
    </select>
    
    <!-- 보유상품별건수조회 -->     
    <select id="searchHistoryProdCount" parameterType="historyCountRequest" resultType="historyCountList">
        SELECT <choose>
                    <when test="productList != null and productList.size > 0">
                        /*+ INDEX(a IDX_PR_PRCHS_DTL_01) */
                     </when>
                     <otherwise>
                        /*+ INDEX(a IDX_PR_PRCHS_DTL_02) */
                     </otherwise>
                </choose>
               /* HistoryMapper.searchHistoryProdCount, 보유상품별건수조회, 양주원/엔텔스, 2013-12-10 */ 
                a.prod_id
              , COUNT(*) AS prod_count
          FROM  tb_pr_prchs_dtl a
         WHERE  1=1
           AND  a.use_tenant_id = #{tenantId}
           AND  a.use_insd_usermbr_no = #{userKey}
                           
           <!-- 조회조건 -->
           <include refid="puchaseSearchParam"/>
           
           <choose>
                <when  test='selectDeviceYn == "Y"'><!-- 테넌트상품분류가 Device정책 분류와 동일할 경우에는 DeviceKey를 조회조건으로 생성 -->
                  AND a.use_insd_device_id = #{deviceKey, jdbcType=VARCHAR}
                </when>
            </choose>
            
         GROUP BY a.prod_id
    </select>

    <!-- 미보유상품구매내역조회 -->     
    <select id="searchHistorySendList" parameterType="historyListRequest" resultType="historyList">
    
        SELECT /* HistoryMapper.searchHistorySendList, 미보유상품구매내역조회, 양주원/엔텔스, 2013-12-10 */ 
                a.tenant_id
              , a.prchs_id
              , a.prchs_dtl_id
              , a.totCnt
              , a.use_tenant_id 
              , a.use_insd_usermbr_no AS useUserKey
              ,DECODE(a.use_insd_usermbr_no,'NONMEMBER',
                    REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
                        a.use_insd_device_id
                        ,'Ab','0')
                        ,'cDe','5')
                        ,'Fg','2')
                        ,'HiJk','6')
                        ,'Lm','4')
                        ,'NoP','1')
                        ,'qR','8')
                        ,'sTu','7')
                        ,'Vw','3')
                        ,'XyZ','9')
                    ,a.use_insd_device_id) AS useDeviceKey
              , TO_CHAR(a.prchs_dt, 'yyyymmddhh24miss') AS prchs_dt
              , a.tot_amt
              , a.send_insd_usermbr_no AS sendUserKey
              , a.send_insd_device_id AS sendDeviceKey
              , a.prchs_req_path_cd
              , TO_CHAR(a.recv_dt, 'yyyymmddhh24miss') AS recv_dt
              , a.recv_conf_path_cd
              , a.prod_id
              , a.prod_amt
              , a.prod_qty
              , a.tenant_prod_grp_cd
              , a.status_cd
              , a.send_hiding_yn AS hidingYn
              , TO_CHAR(a.use_start_dt, 'yyyymmddhh24miss') AS use_start_dt
              , TO_CHAR(a.use_expr_dt, 'yyyymmddhh24miss') AS use_expr_dt
              , a.cancel_req_path_cd
              , TO_CHAR(a.cancel_dt, 'yyyymmddhh24miss') AS cancel_dt
              , a.cpn_publish_cd
              , a.cpn_dlv_url
              , a.prchs_case_cd
              , TO_CHAR(a.dwld_start_dt, 'yyyymmddhh24miss') AS dwld_start_dt
              , TO_CHAR(a.dwld_expr_dt, 'yyyymmddhh24miss') AS dwld_expr_dt
              , a.prchs_prod_type
              , a.use_fixrate_prod_id
              , a.resv_col_01
              , a.resv_col_02
              , a.resv_col_03
              , a.resv_col_04
              , a.resv_col_05
              , a.drm_yn
              , a.alarm_yn
              , a.cpn_add_info
              , a.cpn_biz_prod_seq 
              , a.cpn_biz_order_no    
              , a.currency_cd  
              , a.tid       
              , tx_id     
              , a.parent_prod_id
              , a.part_chrg_ver       
              , a.part_chrg_prod_nm        
              , a.rn_bill_cd        
              , a.info_use_fee   
              , a.cid       
              , a.contents_clsf  
              , a.contents_type
              , a.prchs_type    
              , a.timbre_clsf  
              , a.timbre_sctn  
              , a.menu_id       
              , a.genre_clsf_cd    
              , NVL((CASE WHEN a.tenant_prod_grp_cd like 'OR006221%' 
                          THEN (SELECT payment_amt
                                  FROM tb_pr_payment
                                 WHERE tenant_id = a.tenant_id
                                   AND prchs_id = a.prchs_id
                                   AND payment_mtd_cd = 'OR000606'
                                   AND cpn_type IN ('OR002406','PD015104')
                                   AND ROWNUM = 1)
                          ELSE 0
                      END), 0) AS spcCpnAmt 
          FROM (
                 SELECT /*+ INDEX(a IDX_PR_PRCHS_DTL_03) */
                        ROW_NUMBER() OVER(ORDER BY prchs_dt DESC, prchs_id, prchs_dtl_id) AS rnum
                      , COUNT(*) OVER () AS totcnt  
                      , a.tenant_id
                      , a.prchs_id
                      , a.prchs_dtl_id
                      , a.use_tenant_id
                      , a.use_insd_usermbr_no
                      , a.use_insd_device_id
                      , a.prchs_dt
                      , a.tot_amt
                      , a.send_insd_usermbr_no
                      , a.send_insd_device_id
                      , a.prchs_req_path_cd
                      , a.recv_dt
                      , a.recv_conf_path_cd
                      , a.prod_id
                      , a.prod_amt
                      , a.prod_qty
                      , a.tenant_prod_grp_cd
                      , a.status_cd
                      , a.send_hiding_yn
                      , a.use_start_dt
                      , a.use_expr_dt
                      , a.cancel_req_path_cd
                      , a.cancel_dt
                      , a.cpn_publish_cd
                      , a.cpn_dlv_url
                      , a.prchs_case_cd
                      , a.dwld_start_dt
                      , a.dwld_expr_dt
                      , a.prchs_prod_type
                      , a.use_fixrate_prod_id
                      , a.resv_col_01
                      , a.resv_col_02
                      , a.resv_col_03
                      , a.resv_col_04
                      , a.resv_col_05
                      , a.drm_yn
                      , a.alarm_yn
                      , a.cpn_add_info
                      , a.cpn_biz_prod_seq 
                      , a.cpn_biz_order_no  
                      , a.currency_cd   
                      , a.tid     
                      , a.tx_id       
                      , a.parent_prod_id
                      , a.part_chrg_ver     
                      , a.part_chrg_prod_nm      
                      , a.rn_bill_cd      
                      , a.info_use_fee 
                      , a.cid     
                      , a.contents_clsf    
                      , a.contents_type
                      , a.prchs_type  
                      , a.timbre_clsf    
                      , a.timbre_sctn    
                      , a.menu_id     
                      , a.genre_clsf_cd
                  FROM  tb_pr_prchs_dtl a
                 WHERE  1=1
                   AND  tenant_id = #{tenantId}
                   AND  send_insd_usermbr_no = #{userKey} 
                
                <!-- 조회조건 -->
                <include refid="puchaseSearchParam"/>

                <!-- 테넌트상품분류 -->
                <if test="notTenantProdGrpCd != null and notTenantProdGrpCd != ''">
                    AND a.tenant_prod_grp_cd NOT LIKE #{notTenantProdGrpCd} || '%'
                </if>
                ) a
         WHERE  RNUM between #{startRow} and #{endRow}      
        
    </select> 
    
    <!-- 미보유상품구매내역조회 -->     
    <select id="searchHistorySendListV2" parameterType="historyListRequest" resultType="historyList">
    
        SELECT /* HistoryMapper.searchHistorySendListV2, 미보유상품구매내역조회V2, 양주원/엔텔스, 2013-12-10 */ 
                a.tenant_id
              , a.prchs_id
              , a.prchs_dtl_id
              , a.use_tenant_id 
              , a.use_insd_usermbr_no AS useUserKey
              ,DECODE(a.use_insd_usermbr_no,'NONMEMBER',
                    REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
                        a.use_insd_device_id
                        ,'Ab','0')
                        ,'cDe','5')
                        ,'Fg','2')
                        ,'HiJk','6')
                        ,'Lm','4')
                        ,'NoP','1')
                        ,'qR','8')
                        ,'sTu','7')
                        ,'Vw','3')
                        ,'XyZ','9')
                    ,a.use_insd_device_id) AS useDeviceKey
              , TO_CHAR(a.prchs_dt, 'yyyymmddhh24miss') AS prchs_dt
              , a.tot_amt
              , a.send_insd_usermbr_no AS sendUserKey
              , a.send_insd_device_id AS sendDeviceKey
              , a.prchs_req_path_cd
              , TO_CHAR(a.recv_dt, 'yyyymmddhh24miss') AS recv_dt
              , a.recv_conf_path_cd
              , a.prod_id
              , a.prod_amt
              , a.prod_qty
              , a.tenant_prod_grp_cd
              , a.status_cd
              , a.send_hiding_yn AS hidingYn
              , TO_CHAR(a.use_start_dt, 'yyyymmddhh24miss') AS use_start_dt
              , TO_CHAR(a.use_expr_dt, 'yyyymmddhh24miss') AS use_expr_dt
              , a.cancel_req_path_cd
              , TO_CHAR(a.cancel_dt, 'yyyymmddhh24miss') AS cancel_dt
              , a.cpn_publish_cd
              , a.cpn_dlv_url
              , a.prchs_case_cd
              , TO_CHAR(a.dwld_start_dt, 'yyyymmddhh24miss') AS dwld_start_dt
              , TO_CHAR(a.dwld_expr_dt, 'yyyymmddhh24miss') AS dwld_expr_dt
              , a.prchs_prod_type
              , a.use_fixrate_prod_id
              , a.resv_col_01
              , a.resv_col_02
              , a.resv_col_03
              , a.resv_col_04
              , a.resv_col_05
              , a.drm_yn
              , a.alarm_yn
              , a.cpn_add_info
              , a.cpn_biz_prod_seq 
              , a.cpn_biz_order_no    
              , a.cpn_use_status_cd
              , a.currency_cd  
              , a.tid       
              , tx_id     
              , a.parent_prod_id
              , a.part_chrg_ver       
              , a.part_chrg_prod_nm        
              , a.rn_bill_cd        
              , a.info_use_fee   
              , a.cid       
              , a.contents_clsf  
              , a.contents_type
              , a.prchs_type    
              , a.timbre_clsf  
              , a.timbre_sctn  
              , a.menu_id       
              , a.genre_clsf_cd    
              , a.gift_msg
              , NVL((CASE WHEN a.tenant_prod_grp_cd like 'OR006221%' 
                          THEN (SELECT payment_amt
                                  FROM tb_pr_payment
                                 WHERE tenant_id = a.tenant_id
                                   AND prchs_id = a.prchs_id
                                   AND payment_mtd_cd = 'OR000606'
                                   AND cpn_type IN ('OR002406','PD015104')
                                   AND ROWNUM = 1)
                          ELSE 0
                      END), 0) AS spcCpnAmt 
          FROM (
                 SELECT /*+ INDEX(a IDX_PR_PRCHS_DTL_03) */
                        a.tenant_id
                      , a.prchs_id
                      , a.prchs_dtl_id
                      , a.use_tenant_id
                      , a.use_insd_usermbr_no
                      , a.use_insd_device_id
                      , a.prchs_dt
                      , a.tot_amt
                      , a.send_insd_usermbr_no
                      , a.send_insd_device_id
                      , a.prchs_req_path_cd
                      , a.recv_dt
                      , a.recv_conf_path_cd
                      , a.prod_id
                      , a.prod_amt
                      , a.prod_qty
                      , a.tenant_prod_grp_cd
                      , a.status_cd
                      , a.send_hiding_yn
                      , a.use_start_dt
                      , a.use_expr_dt
                      , a.cancel_req_path_cd
                      , a.cancel_dt
                      , a.cpn_publish_cd
                      , a.cpn_dlv_url
                      , a.prchs_case_cd
                      , a.dwld_start_dt
                      , a.dwld_expr_dt
                      , a.prchs_prod_type
                      , a.use_fixrate_prod_id
                      , a.resv_col_01
                      , a.resv_col_02
                      , a.resv_col_03
                      , a.resv_col_04
                      , a.resv_col_05
                      , a.drm_yn
                      , a.alarm_yn
                      , a.cpn_add_info
                      , a.cpn_biz_prod_seq 
                      , a.cpn_biz_order_no  
                      , a.cpn_use_status_cd
                      , a.currency_cd   
                      , a.tid     
                      , a.tx_id       
                      , a.parent_prod_id
                      , a.part_chrg_ver     
                      , a.part_chrg_prod_nm      
                      , a.rn_bill_cd      
                      , a.info_use_fee 
                      , a.cid     
                      , a.contents_clsf    
                      , a.contents_type
                      , a.prchs_type  
                      , a.timbre_clsf    
                      , a.timbre_sctn    
                      , a.menu_id     
                      , a.genre_clsf_cd
                      , a.gift_msg
                  FROM  tb_pr_prchs_dtl a
                 WHERE  1=1
                   AND  tenant_id = #{tenantId}
                   AND  send_insd_usermbr_no = #{userKey} 
                
                <!-- 조회조건 -->
                <include refid="puchaseSearchParam"/>
                
                <!-- 구매일시 -->
                <if  test="prchsDt != null and prchsDt != ''">
                    AND a.prchs_dt &lt;= TO_DATE(#{prchsDt}, 'yyyymmddhh24miss')
                </if>
                
                <!-- 구매ID -->
                <if  test="prchsId != null and prchsId != '' and prchsDtlId != null and prchsDtlId != ''" >
                    AND a.prchs_dtl_id &gt;= (CASE a.prchs_id WHEN #{prchsId} THEN #{prchsDtlId} ELSE 1  END)
                </if>
                
                <!-- 테넌트상품분류 -->
                <if test="notTenantProdGrpCd != null and notTenantProdGrpCd != ''">
                    AND a.tenant_prod_grp_cd NOT LIKE #{notTenantProdGrpCd} || '%'
                </if>
                ORDER BY  a.prchs_dt DESC, a.prchs_dtl_id
                ) a
         WHERE ROWNUM &lt;= #{count}
        
    </select> 
    
    <!-- 미보유상품구매건수조회 -->     
    <select id="searchHistorySendCount" parameterType="historyCountRequest" resultType="Integer">
        SELECT /*+ INDEX(a IDX_PR_PRCHS_DTL_03) */ 
               /* HistoryMapper.searchHistorySendCount, 미보유상품구매건수조회, 양주원/엔텔스, 2013-12-10 */ 
                COUNT(*)
          FROM  tb_pr_prchs_dtl a
         WHERE  1=1
           AND  tenant_id = #{tenantId}
           AND  send_insd_usermbr_no = #{userKey}       
        <!-- 조회조건 -->
        <include refid="puchaseSearchParam"/>
    </select>  
    
    <!-- 미보유상품별구매건수조회 -->     
    <select id="searchHistorySendProdCount" parameterType="historyCountRequest" resultType="historyCountList">
        SELECT /*+ INDEX(a IDX_PR_PRCHS_DTL_03) */
               /* HistoryMapper.searchHistorySendProdCount, 미보유상품별구매건수조회, 양주원/엔텔스, 2013-12-10 */ 
                prod_id
              , COUNT(*) AS prod_count
          FROM  tb_pr_prchs_dtl a
         WHERE  1=1
           AND  tenant_id = #{tenantId}
           AND  send_insd_usermbr_no = #{userKey}  
        
        <!-- 조회조건 -->
        <include refid="puchaseSearchParam"/>
         GROUP BY prod_id         
    </select>       
    
    
    
    <!-- 기간 재산정 -->
    <update id="updatePrchaseDrm" parameterType="PurchaseDrmInfoScReq">
        /* HistoryMapper.updatePrchaseDrm, 기간재산정, 조용진/엔텔스, 2015-06-11 */
        UPDATE  tb_pr_prchs_dtl
           SET  use_start_dt  = CASE WHEN use_period_set_cd = 'DP013001'
					                 THEN SYSDATE
					                 ELSE use_start_dt
					             END
              , use_expr_dt   = CASE WHEN use_period_set_cd = 'DP013001'
					                 THEN FN_PRCHS_EXPR_DT(SYSDATE, use_period_unit_cd, use_period, decode(prchs_prod_type,'OR020202','Y','N'))
					                 ELSE use_expr_dt
					             END
              , dwld_start_dt = CASE WHEN use_period_set_cd = 'DP013001'
                                     THEN SYSDATE
                                     ELSE dwld_start_dt
                                 END
              , dwld_expr_dt  = CASE WHEN use_period_set_cd = 'DP013001'
                                     THEN FN_PRCHS_EXPR_DT(SYSDATE, use_period_unit_cd, use_period, decode(prchs_prod_type,'OR020202','Y','N'))
                                     ELSE dwld_expr_dt
                                 END             
              , use_period_redate_cd = 'OR021102' /* 처리완료 */                               
              , upd_id = #{systemId}  /* 업데이트시스템ID */
              , upd_dt = sysdate      /* 업데이트일시 */
         WHERE  use_tenant_id = #{tenantId} 
           AND  use_insd_usermbr_no = #{userKey}
           AND  tenant_id = #{tenantId}
           AND  prchs_id = #{prchsId}
           AND  status_cd = 'OR000301'
           AND  use_period_redate_cd = 'OR021101' /*처리대기 상태*/
           AND  recv_dt is null /*선물수신 안된 상태*/
           AND  tenant_prod_grp_cd not like 'OR006221%' /*쇼핑상품이 아닌경우*/
    </update>  
    
    <!-- 기간 재산정 조회    2015.10.06 사용안함
    <select id="selectPrchsDtl" parameterType="PurchaseDrmInfoScReq" resultType="PurchaseDrmInfoSc">
        SELECT /* HistoryMapper.selectPrchsDtl, 구매상세조회, 조용진/엔텔스, 2015-06-11 */
                tenant_id
               ,prchs_id
               ,use_tenant_id
               ,use_insd_usermbr_no
               ,prchs_case_cd
               ,status_cd
               ,tenant_prod_grp_cd
               ,recv_dt
               ,use_period_set_cd
			   ,use_period_redate_cd
			   ,use_period_unit_cd
			   ,use_period
          FROM  tb_pr_prchs_dtl a
         WHERE  1=1
           AND  tenant_id = #{tenantId}
           AND  prchs_id = #{prchsId}  
           AND  use_tenant_id = #{tenantId} 
           AND  use_insd_usermbr_no = #{userKey}
        <if test="prodId != null and prodId != ''">
            AND prod_id = #{prodId, jdbcType=VARCHAR}
        </if>
    </select>
    -->  


    <!-- SELECT SQL-->
    <select id="retrieveUpdatedDtl" parameterType="PurchaseDrmInfoScReq" resultType="PurchaseDrmInfoScRes">
        SELECT  /* PurchaseGift.getUpdatedGiftDtl, 선물수신 처리 결과 조회, 황민규/SK플래닛, 2015-06-01 */
        dtl.PRCHS_ID
        , dtl.prod_id
        , TO_CHAR(dtl.use_start_dt,'YYYYMMDDHH24MISS') AS use_start_dt  /* 이용 시작 일시 */
        , TO_CHAR(dtl.use_expr_dt,'YYYYMMDDHH24MISS') AS use_expr_dt /* 이용 만료 일시 */
        , TO_CHAR(dtl.dwld_start_dt,'YYYYMMDDHH24MISS') AS dwld_start_dt /* 다운로드 시작 일시 */
        , TO_CHAR(dtl.dwld_expr_dt,'YYYYMMDDHH24MISS') AS dwld_expr_dt /* 다운로드 만료 일시 */
        FROM  tb_pr_prchs_dtl dtl
        WHERE  dtl.use_tenant_id = #{tenantId}
        AND  dtl.use_insd_usermbr_no = #{userKey}
        AND  dtl.prod_id = #{prodId}
        AND  dtl.prchs_id = #{prchsId}
    </select>
</mapper>
