<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="UseStop">
    
    <!-- 구매내역조회 -->
    <select id="searchPrchsDtl" parameterType="ImmediatelyUseStopScReq" resultType="PrchsDtl">
		SELECT  /* UseStop.searchPrchsDtl, 구매상세 내역 조회 ntels_yjw/nTels, 2014-07-22 */
		        tenant_id
		      , prchs_id
		      , prchs_dtl_id
		      , use_insd_usermbr_no
		      , use_insd_device_id
		      , TO_CHAR(prchs_dt, 'YYYYMMDDHH24MISS') prchs_dt
              , TO_CHAR(dwld_start_dt, 'YYYYMMDDHH24MISS') dwld_start_dt
              , TO_CHAR(dwld_expr_dt, 'YYYYMMDDHH24MISS') dwld_expr_dt
              , tot_amt
		      , prod_id
		      , prod_amt
		      , prod_qty
		      , tenant_prod_grp_cd
		      , status_cd
		      , prchs_prod_type
		  FROM tb_pr_prchs_dtl
		 WHERE tenant_id = #{tenantId}
		   AND prchs_id = #{prchsId}
		   <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(userKey)">
    		   AND use_insd_usermbr_no = #{userKey}
		   </if>
    </select>
    
    <!-- 정액권으로 구매한 상품 이용정지 -->
    <!--<update id="updatePrchsUseFix" parameterType="ImmediatelyUseStopScReq">-->
        <!--UPDATE  tb_pr_prchs /* UseStop.updatePrchs, 구매 내역 업데이트 ntels_yjw/nTels, 2014-07-22 */-->
           <!--SET  status_cd = #{prchsStatusCd} -->
              <!--, cancel_req_path_cd = #{reqPathCd}-->
              <!--, cancel_dt = SYSDATE-->
              <!--, upd_id = #{adminId}-->
              <!--, upd_dt = SYSDATE-->
         <!--WHERE (tenant_id, prchs_id) IN (SELECT a.tenant_id ,a.prchs_id-->
									       <!--FROM tb_pr_prchs_dtl a-->
										 <!--WHERE a.use_insd_usermbr_no = #{userKey}-->
										   <!--AND a.use_insd_device_id = #{deviceKey}-->
										   <!--AND a.use_fixrate_prod_id = #{prodId}-->
										   <!--AND a.prchs_dt BETWEEN TO_DATE(#{useStartDt}, 'YYYYMMDDHH24MISS') AND TO_DATE(#{useExprDt}, 'YYYYMMDDHH24MISS'))-->
		 <!--AND  status_cd = #{statusCd}-->
    <!--</update>-->

    <!-- 정액권으로 구매한 에피소드 상품 구매 테이블 이용정지 상태변경
        전권상품(권한상품과 에피소드상품의 구매ID가 동일..)인 경우 TB_PR_PRCHS는 권한 상품 update시 수정한다.
        AND  prchs_id != #{prchsId} 옵션 추가
     -->
    <update id="updatePrchsUseContent" parameterType="ImmediatelyUseStopScReq">
        UPDATE  tb_pr_prchs /* UseStop.updatePrchsUseContent, 이용권 사용 내역 업데이트, eastaim SK planet, 2016-01-15 */
        SET  status_cd = #{prchsStatusCd}
            , cancel_req_path_cd = #{reqPathCd}
            , cancel_dt = SYSDATE
            , upd_id = #{adminId}
            , upd_dt = SYSDATE
        WHERE 1=1
        AND (tenant_id, prchs_id) IN (
                                        SELECT a.tenant_id ,a.prchs_id
                                        FROM tb_pr_prchs_dtl a
                                        WHERE 1=1
                                        AND  use_tenant_id = #{tenantId} /* TODO remove use_tenant_id */
                                        AND  use_insd_usermbr_no = #{userKey}
                                        AND  use_fixrate_prchs_id = #{prchsId}
                                        AND  prchs_id != #{prchsId}
                                        AND  status_cd = #{statusCd}
                                        AND  prchs_dt BETWEEN TO_DATE(#{dwldStartDt}, 'YYYYMMDDHH24MISS') AND TO_DATE(#{dwldExprDt}, 'YYYYMMDDHH24MISS')
                                      )
    </update>
    
    <!-- 정액권으로 구매한 에피소드 상품 구매상세 테이블 이용정지 상태변경 -->
    <update id="updatePrchsDtlUseContent" parameterType="ImmediatelyUseStopScReq">
        UPDATE  tb_pr_prchs_dtl /* UseStop.updatePrchsDtlUseContent, 구매상세 내역 업데이트 eastaim/SK planet, 2016-01-15 */
           SET  status_cd = #{prchsStatusCd} 
              , dwld_expr_dt = SYSDATE
              , use_expr_dt = SYSDATE
              , cancel_req_path_cd = #{reqPathCd}
              , cancel_dt = SYSDATE
              , upd_id = #{adminId}
              , upd_dt = SYSDATE
         WHERE 1=1
           AND use_tenant_id = #{tenantId} /* TODO remove use_tenant_id */
           AND use_insd_usermbr_no = #{userKey}
           AND use_fixrate_prchs_id = #{prchsId}
           AND status_cd = #{statusCd}
           AND prchs_dt BETWEEN TO_DATE(#{dwldStartDt}, 'YYYYMMDDHH24MISS') AND TO_DATE(#{dwldExprDt}, 'YYYYMMDDHH24MISS')
    </update>
    
    <!-- 이용정지 -->
    <update id="updatePrchs" parameterType="ImmediatelyUseStopScReq">
        UPDATE  tb_pr_prchs /* UseStop.updatePrchs, 구매 내역 업데이트 ntels_yjw/nTels, 2014-07-22 */
           SET  status_cd = #{prchsStatusCd} 
              , cancel_req_path_cd = #{reqPathCd}
              , cancel_dt = SYSDATE
              , upd_id = #{adminId}
              , upd_dt = SYSDATE
         WHERE  tenant_id = #{tenantId}
           AND  prchs_id = #{prchsId}
           AND  status_cd = #{statusCd}
    </update>
    
    <!-- 이용정지
        전권 상품의 경우 에피소드는 updatePrchsDtlUseContent에서 update가 되고.. 권한 상품은 updatePrchsDtl에서 상태 변경이 된다.
    -->
    <update id="updatePrchsDtl" parameterType="ImmediatelyUseStopScReq">
        UPDATE  tb_pr_prchs_dtl /* UseStop.updatePrchsDtl, 구매상세 내역 업데이트 ntels_yjw/nTels, 2014-07-22 */
           SET  status_cd = #{prchsStatusCd} 
              , dwld_expr_dt = SYSDATE
              , use_expr_dt = SYSDATE
              , cancel_req_path_cd = #{reqPathCd}
              , cancel_dt = SYSDATE
              , upd_id = #{adminId}
              , upd_dt = SYSDATE
         WHERE  tenant_id = #{tenantId}
           AND  prchs_id = #{prchsId}
           AND  status_cd = #{statusCd}
           AND  use_fixrate_prod_id IS NULL
    </update>
    
    <!-- 이용정지 -->
    <update id="updateAutoPrchs" parameterType="ImmediatelyUseStopScReq">
        UPDATE  tb_pr_auto_prchs /* UseStop.updateAutoPrchs, 자동 구매 내역 업데이트 ntels_yjw/nTels, 2014-07-22 */
           SET  status_cd = #{prchsStatusCd} 
              , upd_id = #{adminId}
              , upd_dt = SYSDATE
         WHERE  tenant_id = #{tenantId}
           AND  last_prchs_id = #{prchsId}
    </update>
    
    <!-- 환불 결제 이력 생성 -->
    <update id="insertPayment" parameterType="ImmediatelyUseStopScReq">
		INSERT
		  INTO TB_PR_PAYMENT( TENANT_ID
		                     ,PRCHS_ID
		                     ,PAYMENT_DTL_ID
		                     ,INSD_USERMBR_NO
		                     ,INSD_DEVICE_ID
		                     ,PRCHS_DT
		                     ,TOT_AMT
		                     ,PAYMENT_MTD_CD
		                     ,STATUS_CD
		                     ,PAYMENT_AMT
		                     ,PAYMENT_DT
		                     ,REG_ID
		                     ,REG_DT
		                     ,UPD_ID
		                     ,UPD_DT)
		SELECT  tenant_id
		       ,prchs_id
		       ,(SELECT NVL(MAX(payment_dtl_id), 0) + 1
		           FROM tb_pr_payment
		          WHERE a.tenant_id = tenant_id
		            AND a.prchs_id = prchs_id) 
		       ,insd_usermbr_no
		       ,insd_device_id
		       ,prchs_dt
		       ,tot_amt
		       ,#{paymentMtdCd}
		       ,#{prchsStatusCd}
		       ,#{drawbackAmt}
		       ,SYSDATE
		       ,#{adminId}
		       ,SYSDATE
		       ,#{adminId}
		       ,SYSDATE
		  FROM tb_pr_payment a
		 WHERE tenant_id = #{tenantId}
		   AND prchs_id = #{prchsId}
		   AND status_cd = #{statusCd}
		   AND ROWNUM = 1
    </update>
    
</mapper>