<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="UseStop">
    
    <!-- 구매내역조회 -->
    <select id="searchPrchsDtl" parameterType="ImmediatelyUseStopScReq" resultType="prchsDtl">
		SELECT  /* UseStop.searchPrchsDtl, 구매상세 내역 조회 ntels_yjw/nTels, 2014-07-22 */
		        TENANT_ID
		      , PRCHS_ID
		      , PRCHS_DTL_ID
		      , USE_TENANT_ID
		      , USE_INSD_USERMBR_NO
		      , USE_INSD_DEVICE_ID
		      , PRCHS_DT
		      , TOT_AMT
		      , PROD_ID
		      , PROD_AMT
		      , PROD_QTY
		      , TENANT_PROD_GRP_CD
		      , STATUS_CD
		      , PRCHS_PROD_TYPE
		  FROM tb_pr_prchs_dtl
		 WHERE tenant_id = #{tenantId}
		   AND prchs_id = #{prchsId}
		   <if test="userKey != null and userKey != ''">
		   AND use_tenant_id = #{tenantId}
		   AND use_insd_usermbr_no = #{userKey} 
		   </if>
    </select>
    
    <!-- 정액권으로 구매한 상품 이용정지 -->
    <update id="updatePrchsUseFix" parameterType="ImmediatelyUseStopScReq">
        UPDATE  tb_pr_prchs /* UseStop.updatePrchs, 구매 내역 업데이트 ntels_yjw/nTels, 2014-07-22 */
           SET  status_cd = #{prchsStatusCd} 
              , cancel_req_path_cd = #{reqPathCd}
              , cancel_dt = SYSDATE
              , upd_id = #{adminId}
              , upd_dt = SYSDATE
         WHERE (tenant_id, prchs_id) IN (SELECT a.tenant_id ,a.prchs_id
									       FROM tb_pr_prchs_dtl a
									          ,(SELECT  use_tenant_id
											           ,use_insd_usermbr_no
											           ,use_insd_device_id
											           ,prod_id
											           ,use_start_dt
											           ,use_expr_dt
											      FROM  tb_pr_prchs_dtl
										         WHERE  tenant_id = #{tenantId}
										           AND  prchs_id = #{prchsId}
										           AND  status_cd = #{statusCd}
										           <if test="userKey != null and userKey != ''">
										           AND  use_tenant_id = #{tenantId}
										           AND  use_insd_usermbr_no = #{userKey}
										           </if>
										           ) b
										 WHERE a.use_tenant_id = b.use_tenant_id
										   AND a.use_insd_usermbr_no = b.use_insd_usermbr_no
										   AND a.use_insd_device_id = b.use_insd_device_id
										   AND a.use_fixrate_prod_id = b.prod_id
										   AND a.prchs_dt BETWEEN b.use_start_dt AND b.use_expr_dt)
    </update>
    
    <!-- 정액권으로 구매한 상품 이용정지 -->
    <update id="updatePrchsDtlUseFix" parameterType="ImmediatelyUseStopScReq">
        UPDATE  tb_pr_prchs_dtl /* UseStop.updatePrchsDtl, 구매상세 내역 업데이트 ntels_yjw/nTels, 2014-07-22 */
           SET  status_cd = #{prchsStatusCd} 
              , dwld_expr_dt = SYSDATE
              , use_expr_dt = SYSDATE
              , cancel_req_path_cd = #{reqPathCd}
              , cancel_dt = SYSDATE
              , upd_id = #{adminId}
              , upd_dt = SYSDATE
         WHERE (tenant_id, prchs_id) IN (SELECT a.tenant_id ,a.prchs_id
                                           FROM tb_pr_prchs_dtl a
                                              ,(SELECT  use_tenant_id
                                                       ,use_insd_usermbr_no
                                                       ,use_insd_device_id
                                                       ,prod_id
                                                       ,use_start_dt
                                                       ,use_expr_dt
                                                  FROM  tb_pr_prchs_dtl
                                                 WHERE  tenant_id = #{tenantId}
                                                   AND  prchs_id = #{prchsId}
                                                   AND  status_cd = #{statusCd}
                                                   <if test="userKey != null and userKey != ''">
                                                   AND  use_tenant_id = #{tenantId}
                                                   AND  use_insd_usermbr_no = #{userKey}
                                                   </if>
                                                   ) b
                                         WHERE a.use_tenant_id = b.use_tenant_id
                                           AND a.use_insd_usermbr_no = b.use_insd_usermbr_no
                                           AND a.use_insd_device_id = b.use_insd_device_id
                                           AND a.use_fixrate_prod_id = b.prod_id
                                           AND a.prchs_dt BETWEEN b.use_start_dt AND b.use_expr_dt)
    </update>
    
    <!-- 이용정지 -->
    <update id="updatePrchs" parameterType="ImmediatelyUseStopScReq">
        UPDATE  tb_pr_prchs /* UseStop.updatePrchs, 구매 내역 업데이트 ntels_yjw/nTels, 2014-07-22 */
           SET  status_cd = #{prchsStatusCd} 
              , cancel_req_path_cd = #{reqPathCd}
              , cancel_dt = SYSDATE
              , upd_id = #{adminId}
              , upd_dt = SYSDATE
         WHERE  tenant_id = #{tenantId}
           AND  prchs_id = #{prchsId}
           AND  status_cd = #{statusCd}
    </update>
    
    <!-- 이용정지 -->
    <update id="updatePrchsDtl" parameterType="ImmediatelyUseStopScReq">
        UPDATE  tb_pr_prchs_dtl /* UseStop.updatePrchsDtl, 구매상세 내역 업데이트 ntels_yjw/nTels, 2014-07-22 */
           SET  status_cd = #{prchsStatusCd} 
              , dwld_expr_dt = SYSDATE
              , use_expr_dt = SYSDATE
              , cancel_req_path_cd = #{reqPathCd}
              , cancel_dt = SYSDATE
              , upd_id = #{adminId}
              , upd_dt = SYSDATE
         WHERE  tenant_id = #{tenantId}
           AND  prchs_id = #{prchsId}
           AND  status_cd = #{statusCd}
           <if test="userKey != null and userKey != ''">
           AND  use_tenant_id = #{tenantId}
           AND  use_insd_usermbr_no = #{userKey}        
           </if>
    </update>
    
    <!-- 이용정지 -->
    <update id="updateAutoPrchs" parameterType="ImmediatelyUseStopScReq">
        UPDATE  tb_pr_auto_prchs /* UseStop.updateAutoPrchs, 자동 구매 내역 업데이트 ntels_yjw/nTels, 2014-07-22 */
           SET  status_cd = #{prchsStatusCd} 
              , upd_id = #{adminId}
              , upd_dt = SYSDATE
         WHERE  tenant_id = #{tenantId}
           AND  last_prchs_id = #{prchsId}
    </update>
    
    <!-- 환불 결제 이력 생성 -->
    <update id="insertPayment" parameterType="ImmediatelyUseStopScReq">
		INSERT
		  INTO TB_PR_PAYMENT( TENANT_ID
		                     ,PRCHS_ID
		                     ,PAYMENT_DTL_ID
		                     ,INSD_USERMBR_NO
		                     ,INSD_DEVICE_ID
		                     ,PRCHS_DT
		                     ,TOT_AMT
		                     ,PAYMENT_MTD_CD
		                     ,STATUS_CD
		                     ,PAYMENT_AMT
		                     ,PAYMENT_DT
		                     ,REG_ID
		                     ,REG_DT
		                     ,UPD_ID
		                     ,UPD_DT)
		SELECT  tenant_id
		       ,prchs_id
		       ,(SELECT NVL(MAX(payment_dtl_id), 0) + 1
		           FROM tb_pr_payment
		          WHERE a.tenant_id = tenant_id
		            AND a.prchs_id = prchs_id) 
		       ,insd_usermbr_no
		       ,insd_device_id
		       ,prchs_dt
		       ,tot_amt
		       ,#{paymentMtdCd}
		       ,#{prchsStatusCd}
		       ,#{drawbackAmt}
		       ,SYSDATE
		       ,#{adminId}
		       ,SYSDATE
		       ,#{adminId}
		       ,SYSDATE
		  FROM tb_pr_payment a
		 WHERE tenant_id = #{tenantId}
		   AND prchs_id = #{prchsId}
		   AND status_cd = #{statusCd}
		   AND ROWNUM = 1
    </update>
    
    
    
</mapper>