<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- Definition of myBatis Configuration -->
    <settings>
        <!-- 설정에서 각 mapper 에 설정된 캐시를 전역적으로 사용할지 말지에 대한 여부 -->
        <setting name="cacheEnabled" value="true" />
        <!-- 생성키에 대한 JDBC 지원을 허용 -->
        <setting name="useGeneratedKeys" value="true" />
        <!-- REUSE 실행자는 PreparedStatement 를 재사용한다. -->
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="safeResultHandlerEnabled" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--
    <typeHandlers>
        <typeHandler javaType="String" jdbcType="INTEGER" handler="com.skplanet.icms.commons.mybatis.BlankIntegerTypeHandler" />
    </typeHandlers>
    -->

    <!-- Definition of MAPPER Alias -->
    <typeAliases> 
        <typeAlias alias="AclAuthKeyInfo"     type="com.skplanet.storeplatform.sac.runtime.acl.vo.AclAuthKeyInfo" />
        <typeAlias alias="AclAuthInfo"        type="com.skplanet.storeplatform.sac.runtime.acl.vo.AclAuthInfo" />
        <typeAlias alias="InterfaceInfo"      type="com.skplanet.storeplatform.sac.runtime.cache.vo.InterfaceInfo" />
        <typeAlias alias="ServiceInfo"      type="com.skplanet.storeplatform.sac.runtime.cache.vo.ServiceInfo" />
        <typeAlias alias="BypassInfo"      type="com.skplanet.storeplatform.sac.runtime.cache.vo.BypassInfo" />
        
        <typeAlias alias="ProductCommonRequest"  type="com.skplanet.storeplatform.sac.client.product.vo.common.ProductCommonRequest" />
        <typeAlias alias="ProductCommonDTO"  type="com.skplanet.storeplatform.sac.product.vo.ProductCommonDTO" />
        <typeAlias alias="ProductCategoryRequest"  type="com.skplanet.storeplatform.sac.client.product.vo.category.ProductCategoryRequest" />
        <typeAlias alias="ProductCategoryDTO"  type="com.skplanet.storeplatform.sac.product.vo.ProductCategoryDTO" />
        <typeAlias alias="FeatureVodProductRequest"  type="com.skplanet.storeplatform.sac.client.product.vo.feature.FeatureVodProductRequest" />
        <typeAlias alias="FeatureVodProductDTO"  type="com.skplanet.storeplatform.sac.product.vo.FeatureVodProductDTO" />
        <typeAlias alias="MenuRequest"  type="com.skplanet.storeplatform.sac.client.product.vo.menu.MenuRequest" />
        <typeAlias alias="MenuDetailDTO"  type="com.skplanet.storeplatform.sac.product.vo.MenuDetailDTO" />
        													
        <typeAlias alias="WebtoonRequest"  type="com.skplanet.storeplatform.sac.client.product.vo.category.WebtoonRequest" />
        <typeAlias alias="WebtoonDTO"  type="com.skplanet.storeplatform.sac.product.vo.WebtoonDTO" />
        
         <!-- 특정 단말 조회 -->
        <typeAlias alias="DeviceProfileRequest"  type="com.skplanet.storeplatform.sac.client.product.vo.provision.DeviceProfileRequest" />
        <typeAlias alias="DeviceProfileDTO"  type="com.skplanet.storeplatform.sac.client.product.vo.provision.DeviceProfileDTO" />
        
        <!--  특정 상품 조회 -->
        <typeAlias alias="SpecificProductDTO"  type="com.skplanet.storeplatform.sac.client.product.vo.category.SpecificProductDTO" />
    </typeAliases>
</configuration>
