<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- Definition of myBatis Configuration -->
    <settings>
        <!-- 설정에서 각 mapper 에 설정된 캐시를 전역적으로 사용할지 말지에 대한 여부 -->
        <setting name="cacheEnabled" value="true" />
        <!-- 생성키에 대한 JDBC 지원을 허용 -->
        <setting name="useGeneratedKeys" value="true" />
        <!-- REUSE 실행자는 PreparedStatement 를 재사용한다. -->
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="safeResultHandlerEnabled" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--
    <typeHandlers>
        <typeHandler javaType="String" jdbcType="INTEGER" handler="com.skplanet.icms.commons.mybatis.BlankIntegerTypeHandler" />
    </typeHandlers>
    -->

    <!-- Definition of MAPPER Alias -->
    <typeAliases> 
        <!-- ACL 관련 조회-->
        <typeAlias alias="AclAuthKeyInfo"     type="com.skplanet.storeplatform.sac.runtime.acl.vo.AclAuthKeyInfo" />
        <typeAlias alias="AclAuthInfo"        type="com.skplanet.storeplatform.sac.runtime.acl.vo.AclAuthInfo" />
        <typeAlias alias="InterfaceInfo"      type="com.skplanet.storeplatform.sac.runtime.cache.vo.InterfaceInfo" />
        <typeAlias alias="ServiceInfo"      type="com.skplanet.storeplatform.sac.runtime.cache.vo.ServiceInfo" />
        <typeAlias alias="BypassInfo"      type="com.skplanet.storeplatform.sac.runtime.cache.vo.BypassInfo" />
        
        <!-- 공통 관련 조회 -->
        <typeAlias alias="DeviceDTO"      type="com.skplanet.storeplatform.sac.member.common.vo.Device" />
        <typeAlias alias="ClauseDTO"      type="com.skplanet.storeplatform.sac.member.common.vo.Clause" />
        
        <!-- 회원-판매자 공통 -->
        <typeAlias alias="SellerDTO"      type="com.skplanet.storeplatform.sac.member.common.vo.SellerDTO" />
    
            
        <!-- 휴대폰 SMS 인증 / 이메일 인증  -->
        <typeAlias alias="ServiceAuthDTO" type="com.skplanet.storeplatform.sac.member.miscellaneous.vo.ServiceAuthDTO"/>
        
        <!-- 전시 상품 공통 -->
        <typeAlias alias="ProductCommonRequest"  type="com.skplanet.storeplatform.sac.client.product.vo.common.ProductCommonRequest" />
        <typeAlias alias="ProductCommonDTO"  type="com.skplanet.storeplatform.sac.product.vo.ProductCommonDTO" /> 
        
        <!-- 일반카테고리 앱 상품 조회 -->
        <typeAlias alias="CategoryAppReq"  type="com.skplanet.storeplatform.sac.client.display.vo.category.CategoryAppReq" />
        <typeAlias alias="CategoryAppDTO"  type="com.skplanet.storeplatform.sac.display.category.vo.CategoryAppDTO" />
        
        <!-- 일반카테고리 ebook/만화 상품 조회 -->
        <typeAlias alias="FeatureVodProductRequest"  type="com.skplanet.storeplatform.sac.client.product.vo.feature.FeatureVodProductRequest" />
        <typeAlias alias="FeatureVodProductDTO"  type="com.skplanet.storeplatform.sac.product.vo.FeatureVodProductDTO" />
        
        <!-- 일반카테고리 음원 상품 조회 -->
        <typeAlias alias="MusicContentsRequest"  type="com.skplanet.storeplatform.sac.client.display.vo.music.MusicContentsReq" />
        <typeAlias alias="MusicContentsDTO"  type="com.skplanet.storeplatform.sac.display.category.vo.MusicContentsDTO" />

        <!-- 메뉴/카테고리 조회 -->
        <typeAlias alias="MenuRequest"  type="com.skplanet.storeplatform.sac.client.display.vo.menu.MenuReq" />
        <typeAlias alias="MenuDetailDTO"  type="com.skplanet.storeplatform.sac.display.menu.vo.MenuDetailDTO" />
        <typeAlias alias="MenuCategoryDTO"  type="com.skplanet.storeplatform.sac.display.menu.vo.MenuCategoryDTO" />
                			
        <!-- 일반카테고리 웹툰 상품 조회 -->        													
        <typeAlias alias="CategoryWebtoonReq"  type="com.skplanet.storeplatform.sac.client.display.vo.category.CategoryWebtoonReq" />
        <typeAlias alias="CategoryWebtoonDTO"  type="com.skplanet.storeplatform.sac.display.category.vo.CategoryWebtoonDTO" />
        <!-- 운영자 추천 웹툰 상품 조회 -->   
        <typeAlias alias="RecommendWebtoonReq"  type="com.skplanet.storeplatform.sac.client.display.vo.feature.recommend.RecommendWebtoonReq" />
        <typeAlias alias="RecommendWebtoonDTO"  type="com.skplanet.storeplatform.sac.display.feature.recommend.vo.RecommendWebtoonDTO" />       
        
         <!-- 특정 단말 조회 -->
        <typeAlias alias="DeviceProfileRequest"  type="com.skplanet.storeplatform.sac.client.display.vo.device.DeviceProfileReq" />
        <typeAlias alias="DeviceProfileDTO"  type="com.skplanet.storeplatform.sac.display.device.vo.DeviceProfileDTO" />
        
        <!--  특정 상품 조회 -->
        <typeAlias alias="CategorySpecificProduct"  type="com.skplanet.storeplatform.sac.display.category.vo.CategorySpecificProduct" />
        
        <!-- feature app 카테고리 상품 조회 -->
        <typeAlias alias="FeatureCategoryAppReq"  type="com.skplanet.storeplatform.sac.client.display.vo.feature.category.FeatureCategoryAppReq" />
        <typeAlias alias="FeatureCategoryAppDTO"  type="com.skplanet.storeplatform.sac.display.feature.category.vo.CategoryAppDTO" />
        
        <!-- feature epub 카테고리 상품 조회 -->
        <typeAlias alias="FeatureCategoryEpubReq"  type="com.skplanet.storeplatform.sac.client.display.vo.feature.category.FeatureCategoryEpubReq" />
        <typeAlias alias="FeatureCategoryEpubDTO"  type="com.skplanet.storeplatform.sac.display.feature.category.vo.CategoryEpubDTO" />
        
        <!-- feature vod 카테고리 상품 조회 -->
        <typeAlias alias="FeatureCategoryVodReq"  type="com.skplanet.storeplatform.sac.client.display.vo.feature.category.FeatureCategoryVodReq" />
        <typeAlias alias="FeatureCategoryVodDTO"  type="com.skplanet.storeplatform.sac.display.feature.category.vo.FeatureCategoryVodDTO" />
        
        <!-- 운영자 추천 전체 조회 -->
        <typeAlias alias="FeatureRecommendAdminReq"  type="com.skplanet.storeplatform.sac.client.display.vo.feature.recommend.RecommendAdminReq" />
        <typeAlias alias="FeatureRecommendAdminDTO"  type="com.skplanet.storeplatform.sac.display.feature.recommend.vo.RecommendAdminDTO" />

       <!-- 쇼핑 상품 조회 -->                                                         
        <typeAlias alias="ShoppingReq"  type="com.skplanet.storeplatform.sac.client.display.vo.shopping.ShoppingReq" />
        <typeAlias alias="Shopping"  type="com.skplanet.storeplatform.sac.display.shopping.vo.Shopping" />
        
        <!-- BEST 앱 상품 조회 -->
        <typeAlias alias="BestAppReq"  type="com.skplanet.storeplatform.sac.client.display.vo.best.BestAppReq" />
        <typeAlias alias="BestApp"  type="com.skplanet.storeplatform.sac.display.feature.best.vo.BestApp" />

        <!-- BEST 컨텐츠 상품 조회 -->
        <typeAlias alias="BestContentsReq"  type="com.skplanet.storeplatform.sac.client.display.vo.best.BestContentsReq" />
        <typeAlias alias="BestContents"  type="com.skplanet.storeplatform.sac.display.feature.best.vo.BestContents" />
        
        <!-- 상품 meta 정보 조회 -->
        <typeAlias alias="ProductBasicInfo"  type="com.skplanet.storeplatform.sac.display.meta.vo.ProductBasicInfo" />
        <typeAlias alias="MetaInfo"  type="com.skplanet.storeplatform.sac.display.meta.vo.MetaInfo" />
        
    </typeAliases>
</configuration>
