<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- Definition of myBatis Configuration -->
    <settings>
        <!-- 설정에서 각 mapper 에 설정된 캐시를 전역적으로 사용할지 말지에 대한 여부 -->
        <setting name="cacheEnabled" value="true" />
        <!-- 생성키에 대한 JDBC 지원을 허용 -->
        <setting name="useGeneratedKeys" value="true" />
        <!-- REUSE 실행자는 PreparedStatement 를 재사용한다. -->
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="safeResultHandlerEnabled" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--
    <typeHandlers>
        <typeHandler javaType="String" jdbcType="INTEGER" handler="com.skplanet.icms.commons.mybatis.BlankIntegerTypeHandler" />
    </typeHandlers>
    -->

    <!-- Definition of MAPPER Alias -->
    <typeAliases>
                
        <!-- ################################################# -->
        <!-- SAC 공통                                        -->
        <!-- ################################################# -->
        <!-- ACL 관련 조회-->
        <typeAlias alias="AclAuthKeyInfo"     type="com.skplanet.storeplatform.sac.runtime.acl.vo.AclAuthKeyInfo" />
        <typeAlias alias="AclAuthInfo"        type="com.skplanet.storeplatform.sac.runtime.acl.vo.AclAuthInfo" />
        <typeAlias alias="InterfaceInfo"      type="com.skplanet.storeplatform.sac.runtime.cache.vo.InterfaceInfo" />
        <typeAlias alias="ServiceInfo"      	type="com.skplanet.storeplatform.sac.runtime.cache.vo.ServiceInfo" />
        <typeAlias alias="BypassInfo"      		type="com.skplanet.storeplatform.sac.runtime.cache.vo.BypassInfo" />
        <typeAlias alias="Tenant"      			type="com.skplanet.storeplatform.sac.runtime.acl.vo.Tenant" />
        <typeAlias alias="AuthKey"      		type="com.skplanet.storeplatform.sac.runtime.acl.vo.AuthKey" />
        
        <!-- ################################################# -->
        <!-- 기타                                            -->
        <!-- ################################################# -->
        <typeAlias alias="ProdNoti" type="com.skplanet.storeplatform.sac.other.feedback.vo.ProdNoti" />
        <typeAlias alias="ProdNotiGood" type="com.skplanet.storeplatform.sac.other.feedback.vo.ProdNotiGood" />
        <typeAlias alias="MbrAvg" type="com.skplanet.storeplatform.sac.other.feedback.vo.MbrAvg" />
        <typeAlias alias="TenantProdStats" type="com.skplanet.storeplatform.sac.other.feedback.vo.TenantProdStats" />
        <typeAlias alias="MbrAvgScore" type="com.skplanet.storeplatform.sac.other.feedback.vo.MbrAvgScore" />
        <typeAlias alias="ChangeDisplayUser" type="com.skplanet.storeplatform.sac.display.localsci.sci.vo.ChangeDisplayUser" />
        
        <!-- ################################################# -->
        <!-- 회원                                            -->
        <!-- ################################################# -->
        
        <!-- 공통 관련 조회 -->
        <typeAlias alias="DeviceDTO"      type="com.skplanet.storeplatform.sac.member.common.vo.Device" />
        <typeAlias alias="ClauseDTO"      type="com.skplanet.storeplatform.sac.member.common.vo.Clause" />
        
        <!-- 회원-판매자 Aid 조회 -->
        <typeAlias alias="DetailInformationReq"      type="com.skplanet.storeplatform.sac.client.member.vo.seller.DetailInformationReq" />
        
        <!-- 회원-판매자 탈퇴사유목록 조회 -->
        <typeAlias alias="ListWithdrawalReasonReq"      type="com.skplanet.storeplatform.sac.client.member.vo.seller.ListWithdrawalReasonReq" />
        <typeAlias alias="SecedeReson"      type="com.skplanet.storeplatform.sac.client.member.vo.common.SecedeReson" />
            
        <!-- 회원-판매자 나라별 해외은행 정보 조회 -->
        <typeAlias alias="ListBanksByCountryReq"      type="com.skplanet.storeplatform.sac.client.member.vo.seller.ListBanksByCountryReq" />
        <typeAlias alias="BanksByCountry"      type="com.skplanet.storeplatform.sac.client.member.vo.common.BanksByCountry" />
            
        <!-- 휴대폰 SMS 인증 / 이메일 인증  -->
        <typeAlias alias="ServiceAuth" type="com.skplanet.storeplatform.sac.member.miscellaneous.vo.ServiceAuth"/>
        
        
        
        <!-- ################################################# -->
        <!-- 구매                                            -->
        <!-- ################################################# -->
        
        <!-- 구매Part 테넌트 정책 조회 -->
        <typeAlias alias="PurchaseTenantPolicy" type="com.skplanet.storeplatform.sac.purchase.common.vo.PurchaseTenantPolicy" />
        
        
        <!-- ################################################# -->
        <!-- 전시                                            -->
        <!-- ################################################# -->
        <!-- 상품 이미지 -->
        <typeAlias alias="ProductImage"  type="com.skplanet.storeplatform.sac.display.common.vo.ProductImage" /> 
        
        <!-- 일반카테고리 앱 상품 조회 -->
        <typeAlias alias="CategoryAppSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.category.CategoryAppSacReq" />
        <typeAlias alias="CategoryApp"  type="com.skplanet.storeplatform.sac.display.category.vo.CategoryApp" />
        
        <!-- 일반카테고리 이북/코믹 상품 조회 -->
        <typeAlias alias="CategoryEbookComicSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.category.CategoryEbookComicSacReq" />
        <typeAlias alias="CategoryEbookComic"  type="com.skplanet.storeplatform.sac.display.category.vo.CategoryEbookComic" />
        
        <!-- 일반카테고리 음원 상품 조회 -->
        <typeAlias alias="MusicContentsSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.music.MusicContentsSacReq" />
        <typeAlias alias="MusicContents"  type="com.skplanet.storeplatform.sac.display.category.vo.MusicContents" />

        <!-- 메뉴/카테고리 조회 -->
        <typeAlias alias="MenuSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.menu.MenuSacReq" />
        <typeAlias alias="Menu"  type="com.skplanet.storeplatform.sac.display.menu.vo.Menu" />
        <typeAlias alias="MenuCategory"  type="com.skplanet.storeplatform.sac.display.menu.vo.MenuCategory" />
                            
        <!-- 일반카테고리 웹툰 상품 조회 -->                                                            
        <typeAlias alias="CategoryWebtoonSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.category.CategoryWebtoonSacReq" />
        <typeAlias alias="CategoryWebtoon"  type="com.skplanet.storeplatform.sac.display.category.vo.CategoryWebtoon" />
        <!-- 운영자 추천 웹툰 상품 조회 -->   
        <typeAlias alias="RecommendWebtoonSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.feature.recommend.RecommendWebtoonSacReq" />
        <typeAlias alias="RecommendWebtoon"  type="com.skplanet.storeplatform.sac.display.feature.recommend.vo.RecommendWebtoon" />       
        
        <!-- TODAY 상품 조회 -->
        <typeAlias alias="RecommendTodaySacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.feature.recommend.RecommendTodaySacReq" />
        
         <!-- 특정 단말 조회 -->
        <typeAlias alias="DeviceProfileRequest"  type="com.skplanet.storeplatform.sac.client.display.vo.device.DeviceProfileReq" />
        <typeAlias alias="DeviceProfile"  type="com.skplanet.storeplatform.sac.display.device.vo.DeviceProfile" />
        
        <!--  특정 상품 조회 -->
        <typeAlias alias="CategorySpecificProduct"  type="com.skplanet.storeplatform.sac.display.category.vo.CategorySpecificProduct" />

        <!--  feature app App Codi 상품 조회 -->
        <typeAlias alias="AppCodiRes"  type="com.skplanet.storeplatform.sac.display.feature.appCodi.vo.AppCodiRes" />
        
        <!--  feature 테마 추천 상품 조회 -->
        <typeAlias alias="ThemeRecommend"  type="com.skplanet.storeplatform.sac.display.feature.theme.recommend.vo.ThemeRecommend" />
        
        <!-- feature app 카테고리 상품 조회 -->
        <typeAlias alias="FeatureCategoryAppSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.feature.category.FeatureCategoryAppSacReq" />
        <typeAlias alias="FeatureCategoryApp"  type="com.skplanet.storeplatform.sac.display.feature.category.vo.FeatureCategoryApp" />
        
        <!-- feature epub 카테고리 상품 조회 -->
        <typeAlias alias="FeatureCategoryEpubSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.feature.category.FeatureCategoryEpubSacReq" />
        <typeAlias alias="FeatureCategoryEpub"  type="com.skplanet.storeplatform.sac.display.feature.category.vo.FeatureCategoryEpub" />
        
        <!-- feature vod 카테고리 상품 조회 -->
        <typeAlias alias="FeatureCategoryVodSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.feature.category.FeatureCategoryVodSacReq" />
        <typeAlias alias="FeatureCategoryVod"  type="com.skplanet.storeplatform.sac.display.feature.category.vo.FeatureCategoryVod" />
        
        <!-- 운영자 추천 전체 조회 -->
        <typeAlias alias="FeatureRecommendAdminSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.feature.recommend.RecommendAdminSacReq" />
        <typeAlias alias="FeatureRecommendAdmin"  type="com.skplanet.storeplatform.sac.display.feature.recommend.vo.RecommendAdmin" />

       <!-- 쇼핑 상품 조회 -->                                                         
        <typeAlias alias="ShoppingReq"  type="com.skplanet.storeplatform.sac.client.display.vo.shopping.ShoppingReq" />
        <typeAlias alias="Shopping"  type="com.skplanet.storeplatform.sac.display.shopping.vo.Shopping" />
        
        <!-- BEST 앱 상품 조회 -->
        <typeAlias alias="BestAppSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.best.BestAppSacReq" />
        <typeAlias alias="BestApp"  type="com.skplanet.storeplatform.sac.display.feature.best.vo.BestApp" />

        <!-- BEST 컨텐츠 상품 조회 -->
        <typeAlias alias="BestContentsSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.best.BestContentsSacReq" />
        <typeAlias alias="BestContents"  type="com.skplanet.storeplatform.sac.display.feature.best.vo.BestContents" />
        
        <!-- BEST 다운로드 상품 조회 -->
        <typeAlias alias="BestDownloadSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.best.BestDownloadSacReq" />
        <typeAlias alias="BestDownload"  type="com.skplanet.storeplatform.sac.display.feature.best.vo.BestDownload" />
        
        <!-- 상품 meta 정보 조회 -->
        <typeAlias alias="ProductBasicInfo"  type="com.skplanet.storeplatform.sac.display.meta.vo.ProductBasicInfo" />
        <typeAlias alias="MetaInfo"  type="com.skplanet.storeplatform.sac.display.meta.vo.MetaInfo" />
        
        <!-- VOD 상품상세 정보 조회 -->
        <typeAlias alias="VodDetailReq"  type="com.skplanet.storeplatform.sac.client.display.vo.vod.VodDetailReq" />
        <typeAlias alias="VodDetail"  type="com.skplanet.storeplatform.sac.display.vod.vo.VodDetail" />
        
        <!-- for download App 정보 조회 -->
        <typeAlias alias="DownloadAppSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.download.DownloadAppSacReq" />
        <typeAlias alias="DownloadApp"  type="com.skplanet.storeplatform.sac.display.download.vo.DownloadApp" />
        
        <!-- for download Vod 정보 조회 -->
        <typeAlias alias="DownloadVodSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.download.DownloadVodSacReq" />
        <typeAlias alias="DownloadVod"  type="com.skplanet.storeplatform.sac.display.download.vo.DownloadVod" />    
        
        <!-- for download Music 정보 조회 -->
        <typeAlias alias="DownloadMusicSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.download.DownloadMusicSacReq" />    
        
        <!-- 기타 상품서비스군 정보 조회 -->
        <typeAlias alias="ServiceGroupReq"  type="com.skplanet.storeplatform.sac.client.display.vo.other.OtherServiceGroupSacReq" />
        <typeAlias alias="ServiceGroup"  type="com.skplanet.storeplatform.sac.display.other.vo.OtherServiceGroup" />           
        
        <!-- for download Ebook 정보 조회 -->
        <typeAlias alias="DownloadEbookSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.download.DownloadEbookSacReq" />
         
        <!-- for download Comic 정보 조회 -->
        <typeAlias alias="DownloadComicSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.download.DownloadComicSacReq" /> 
        
        <!-- 배너 정보 조회 -->
        <typeAlias alias="BannerReq"  type="com.skplanet.storeplatform.sac.client.display.vo.banner.BannerReq" />
        <typeAlias alias="Banner"  type="com.skplanet.storeplatform.sac.display.banner.vo.Banner" />
            
        <!-- 이북 상품상세 정보 조회 -->
        <typeAlias alias="EpubChannelReq"  type="com.skplanet.storeplatform.sac.client.display.vo.epub.EpubChannelReq" />
        <typeAlias alias="EpubDetail"  type="com.skplanet.storeplatform.sac.display.epub.vo.EpubDetail" />
        <typeAlias alias="MgzinSubscription"  type="com.skplanet.storeplatform.sac.display.epub.vo.MgzinSubscription" />
        
        <!-- Intimate Message 조회 -->
        <typeAlias alias="IntimateMessageSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.feature.intimateMessage.IntimateMessageSacReq" />
        <typeAlias alias="IntimateMessageDefault"  type="com.skplanet.storeplatform.sac.display.feature.intimateMessage.vo.IntimateMessageDefault" />
        
        <!-- Appzine 회차별 정보 조회 -->
        <typeAlias alias="AppzineVolListSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.appzine.AppzineVolListSacReq" />
        <typeAlias alias="AppzineVolList"  type="com.skplanet.storeplatform.sac.display.appzine.vo.AppzineVolList" />
        
        <!-- Appzine 상세정보 조회 -->
        <typeAlias alias="AppzineDetailSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.appzine.AppzineDetailSacReq" />
        <typeAlias alias="AppzineDetail"  type="com.skplanet.storeplatform.sac.display.appzine.vo.AppzineDetail" />
        
        <!-- Appzine 앱 정보 조회 -->
        <typeAlias alias="AppzineAppListSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.appzine.AppzineAppListSacReq" />
        <typeAlias alias="AppzineAppList"  type="com.skplanet.storeplatform.sac.display.appzine.vo.AppzineAppList" />
        
        <!-- OpenApi Download Best 상품 조회 -->
        <typeAlias alias="DownloadBestSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.openapi.DownloadBestSacReq" />
        
        <!-- 정액제 상품 조회 -->
        <typeAlias alias="FreepassListSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.freepass.FreepassListReq" />        
                
        <!-- Vod 보관함 정보 조회 -->
        <typeAlias alias="CategoryVodBoxSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.category.CategoryVodBoxSacReq" />
        <typeAlias alias="CategoryVodBox"  type="com.skplanet.storeplatform.sac.display.category.vo.CategoryVodBox" />
        
        <!-- ACL -->
        <typeAlias alias="Interface" type="com.skplanet.storeplatform.sac.runtime.acl.vo.Interface" />
        
        <!-- ################################################# -->
        <!-- CMS 상품 배포 정보 및 단말 리맵핑                             -->
        <!-- ################################################# -->
        <typeAlias alias="dpProductVO"     			type="com.skplanet.icms.refactoring.deploy.DPProductVO" />
		<typeAlias alias="dpAppProductVO"     		type="com.skplanet.icms.refactoring.deploy.DPAppProductVO" />
		<typeAlias alias="dpProductCatMapVO"     	type="com.skplanet.icms.refactoring.deploy.DPProductCatMapVO" />
		<typeAlias alias="dpProductDescVO"     		type="com.skplanet.icms.refactoring.deploy.DPProductDescVO" />
		<typeAlias alias="dpProductImgVO"     		type="com.skplanet.icms.refactoring.deploy.DPProductImgVO" />
		<typeAlias alias="dpProductRshpVO"     		type="com.skplanet.icms.refactoring.deploy.DPProductRshpVO" />
		<typeAlias alias="dpProductSubContsVO"     	type="com.skplanet.icms.refactoring.deploy.DPProductSubContsVO" />
		<typeAlias alias="dpProductUpdVO"     		type="com.skplanet.icms.refactoring.deploy.DPProductUpdVO" />
		<typeAlias alias="dpSeedMappVO"     		type="com.skplanet.icms.refactoring.deploy.DPSeedMappVO" />
		<typeAlias alias="dpSprtDeviceVO"     		type="com.skplanet.icms.refactoring.deploy.DPSprtDeviceVO" />
		<typeAlias alias="dpTagInfoVO"     			type="com.skplanet.icms.refactoring.deploy.DPTagInfoVO" />
		<typeAlias alias="dpTenantProductVO"     	type="com.skplanet.icms.refactoring.deploy.DPTenantProductVO" />
		<typeAlias alias="dpTenantProductPriceVO"   type="com.skplanet.icms.refactoring.deploy.DPTenantProductPriceVO" />
		<typeAlias alias="ProductVo" 				type="com.skplanet.storeplatform.sac.display.product.vo.ProductVo"/>  
        
        <!-- ebook/코믹 테마 상품 조회 -->
        <typeAlias alias="ThemeEpubSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.theme.ThemeEpubSacReq" />
        <typeAlias alias="ThemeEpub"  type="com.skplanet.storeplatform.sac.display.feature.theme.vo.ThemeEpubInfo" />
                                 
        <!-- 이 상품과 유사 상품 조회 -->
        <typeAlias alias="SimilarProductSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.related.SimilarProductSacReq" />
        
        <!-- 이 상품과 함께 구매한 상품 조회 -->
        <typeAlias alias="BoughtTogetherProductSacReq"  type="com.skplanet.storeplatform.sac.client.display.vo.related.BoughtTogetherProductSacReq" />
    </typeAliases>
    
    <typeHandlers>
        <typeHandler javaType="com.skplanet.storeplatform.sac.runtime.acl.vo.InterfaceStatus" 
                handler="com.skplanet.storeplatform.sac.runtime.acl.vo.InterfaceStatusTypeHandler" /> 
    </typeHandlers>
</configuration>
