<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="category">

    <!-- 대분류 카테고리정보 조회 -->
    <select id="getTopCategory" parameterType="MenuRequestVO" resultType="MenuDetailMapperVO">
		SELECT 
		       COUNT(MENU_ID) OVER() AS TOTAL_COUNT,
		       MENU_ID,
		       MENU_NM,
		       MENU_DESC,
		       BODY_FILE_SIZE
		  FROM TB_DP_MENU
         WHERE TENANT_ID = #{tenantId}
         <if test="menuId != null">AND MENU_ID = #{menuId}</if>
           AND SYSTEM_ID = #{systemId}
           AND MENU_DEPTH = 1
		   AND USE_YN = 'Y'
		 ORDER BY EXPO_ORD
    </select>

    <!-- 세부 카테고리정보 조회 - (카테고리별 별도의 쿼리문 존재함) - 추가 수정 필요 -->
    <select id="getDetailCategory" parameterType="MenuRequestVO" resultType="MenuDetailMapperVO">
        SELECT 
               COUNT(MENU_ID) OVER() AS TOTAL_COUNT,
               MENU_ID,
               MENU_NM,
               MENU_DESC,
               BODY_FILE_SIZE
          FROM TB_DP_MENU
         WHERE TENANT_ID = #{tenantId}
           <if test="menuId != null">AND MENU_ID = #{menuId}</if>
           AND SYSTEM_ID = #{systemId}
           AND MENU_DEPTH = 1
           AND USE_YN = 'Y'
         ORDER BY EXPO_ORD
    </select>

</mapper>

