<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FeatureVodProduct">
	<!-- 운영자 신규 상품 (영화, 방송)-->
    <select id="selectAdminNewProductList" parameterType="FeatureVodProductRequest" resultType="FeatureVodProductDTO">
		SELECT COUNT(prod_id) OVER() AS total_count
		     , tb.*
		  FROM (SELECT  ROW_NUMBER() OVER(ORDER BY ja.prchs_qty) AS rnum
		              , ja.up_menu_id                                   /* 상위 메뉴ID */
		              , ja.menu_id                                      /* 메뉴ID */
		              , ja.menu_nm                                      /* 메뉴명 */
		              , ja.meta_clsf_cd                                 /* 메타구분코드 */
		              , ja.prod_id                                      /* 상품ID (채널ID)*/
		              , ja.prod_base_desc                                  /* 상품 설명 */
		              , ja.prod_grd_cd                                  /* 상품 등급 코드 */
		              , ja.artist1_nm                                   /* 아티스트명1 */
		              , ja.artist2_nm                                   /* 아티스트명2 */
		              , ja.issue_day                                    /* 발매일자 */
		              , ja.chnl_comp_nm                                 /* 제공업체명 */
		              , ja.agency_nm                                    /* 기획사 */
		              , ja.hdv_yn                                       /* HDV 구분*/
		              , ja.dolby_sprt_yn                                /* 돌비지원여부 */
		              , ja.prchs_qty                                    /* 구매 건수 */
		              , jb.file_path AS img_file_path                   /* 이미지 경로*/
		              , NVL(jc.avg_evlu_score, 0) AS avg_evlu_score     /* 평균 평점 */
		              , NVL(jc.paticpers_cnt, 0) AS paticpers_cnt       /* 참여자 수 */
		              , (CASE WHEN (ja.chnl_period_amt >= 0 AND ja.strm_epsd_cnt > 0) THEN ja.chnl_period_amt
		                      ELSE ja.chnl_unlmt_amt END) AS prod_amt   /* 상품 가격 */
		              , CONCAT(ja.vod_titl_nm, DECODE(ja.meta_clsf_cd, 'CT14', ja.prod_nm || ' ' || ja.chapter, ja.prod_nm)) AS prod_nm /* 상품명 */
		              , (SELECT menu_nm
		                   FROM TB_DP_MENU
		                  WHERE tenant_id = ja.tenant_id
		                    AND menu_id = ja.up_menu_id
		                    AND system_id = ja.system_id
		                    AND ROWNUM = 1) AS up_menu_nm
		          FROM (SELECT ia.*
		                     , ic.chapter
		                     , ROW_NUMBER() OVER(PARTITION BY ia.prod_id ORDER BY TO_NUMBER(REGEXP_REPLACE(ic.chapter, '[^[:digit:]]')) DESC, ic.reg_dt DESC) AS rnum
		                  FROM (SELECT a.prod_id
		                             , NVL(a.prchs_qty, 0) AS prchs_qty
		                             , a.expo_ord
		                             , c.up_menu_id
		                             , c.menu_id
		                             , c.menu_nm
		                             , c.tenant_id
		                             , c.system_id
		                             , d.prod_grd_cd
		                             , d.drm_yn
		                             , e.vod_titl_nm
		                             , e.strm_epsd_cnt
		                             , e.issue_day
		                             , e.meta_clsf_cd
		                             , e.hdv_yn
		                             , e.dolby_sprt_yn
		                             , e.chnl_comp_nm
		                             , e.agency_nm
		                             , f.prod_nm
		                             , f.prod_base_desc
		                             , f.artist1_nm
		                             , f.artist2_nm
		                             , h.chnl_unlmt_amt
		                             , h.chnl_period_amt
		                          FROM (SELECT  tenant_id
		                                      , list_id
		                                      , prod_id
		                                      , prchs_qty
		                                      , expo_ord
		                                  FROM TB_DP_LIST_PROD
		                                 WHERE tenant_id = #{tenantId}                     /* S01 : 테넌트ID */
		                                   AND list_id = #{listId}                         /* ADM000000003 : 영화/방송 신규상품 */
		                                   AND expo_yn = 'Y'                               /* Y : 노출(노출여부) */
		                                   AND etc_clsf_cd NOT IN ('DP003700', 'DP003701') /* 프리미엄영화 제외 */
		                               )                        a
		                              , TB_DP_LIST_MENU_MAPG    b
		                              , TB_DP_MENU              c
		                              , TB_DP_PROD              d
		                              , TB_DP_MULTIMDA_PROD     e
		                              , TB_DP_PROD_DESC         f
		                              , TB_DP_TENANT_PROD       g
		                              , TB_DP_TENANT_PROD_PRICE h
		                         WHERE  a.tenant_id = b.tenant_id
		                           AND  a.list_id = b.list_id
		                           AND  b.tenant_id = c.tenant_id
		                           AND  b.menu_id = c.menu_id
		                           AND  b.system_id = c.system_id
		                           AND  a.prod_id = d.prod_id
		                           AND  d.prod_id = e.prod_id
		                           AND  e.prod_id = f.prod_id
		                           AND  f.prod_id = g.prod_id
		                           AND  a.tenant_id = g.tenant_id
		                           AND  g.prod_id = h.prod_id
		                           AND  g.tenant_id = h.tenant_id
		                           AND  c.menu_id = #{menuId}           /* MN17004 : 영화>드라마 */
		                           AND  c.system_id = #{systemId}       /* Input 시스템ID */
		                           AND  d.svc_grp_cd = 'DP000203'       /* DP000203 : 멀티미디어 */
		                           AND  e.contents_type_cd = 'PD002501' /* PD002501 : 채널타입*/
		                           AND  f.lang_cd = 'ko'                /* ko : 한국어 */
		                           AND  g.prod_status_cd = 'PD000403'   /* PD000403 : 판매중 */
		                           AND  g.expo_yn = 'Y'                 /* Y : 노출(노출여부) */
		                           AND  SYSDATE BETWEEN h.apply_start_dt AND h.apply_end_dt
		                       )                    ia
		                      , TB_DP_PROD_RSHP     ib
		                      , TB_DP_MULTIMDA_PROD ic
		                 WHERE  ia.prod_id = ib.prod_id
		                   AND  ib.part_prod_id = ic.prod_id
		               )                        ja
		              , TB_DP_PROD_IMG          jb
		              , TB_DP_TENANT_PROD_STATS jc
		         WHERE  ja.prod_id = jb.prod_id
		           AND  ja.tenant_id = jc.tenant_id(+)
		           AND  ja.prod_id = jc.prod_id(+)
		           AND  ja.rnum = 1
		           AND  jb.img_cd = #{imageCd}  /* DP000101 : (원본) 대표아이콘 212 X 212 */
		       ) tb
		 WHERE rnum BETWEEN #{offset} AND #{count}
 	</select>
</mapper>
