<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductCommon">
	<!-- 일반 카테고리 상품 리스트 조회-->
    <select id="selectMenuInfo" parameterType="ProductCommonRequest" resultType="ProductCommonDTO">
		SELECT  /* ProductCommonMapper.xml, selectMenuInfo, Tae hee Lee, 2013-12-24 */
		        ia.*
		      , (SELECT menu_nm
		           FROM TB_DP_MENU
		          WHERE menu_id = ia.up_menu_id
		            AND use_yn = 'Y'
		            AND ROWNUM = 1) AS up_menu_nm
		  FROM (SELECT  a.menu_id
		              , a.menu_nm
		              , a.menu_eng_nm
		              , a.menu_desc
		              , a.menu_depth
		              , a.up_menu_id
		          FROM  TB_DP_MENU a
		         WHERE  use_yn = 'Y'
		           AND  tenant_id = #{tenantId}
		           AND  menu_id = #{menuId}
		           AND  system_id = #{systemId}
		       ) ia
 	</select>
</mapper>
