<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductCategory">
	<!-- 일반 카테고리 상품 리스트 조회-->
    <select id="selectCategoryList" parameterType="ProductCategoryRequest" resultType="ProductCategoryDTO">
		SELECT *
		  FROM (SELECT  COUNT(ja.prod_id) OVER() AS total_count
		              , ROW_NUMBER() OVER(ORDER BY NVL(jc.prchs_cnt, 0)) AS RNUM       /* 다운로드 순 */
		              , ja.up_menu_id                                    /* 상위 메뉴ID */
		              , ja.menu_id                                       /* 메뉴ID */
                      , ja.menu_nm                                       /* 메뉴명 */
		              , ja.prod_id                                       /* 상품ID */
		              , ja.prod_nm                                       /* 상품명 */
		              , ja.aid                                           /* 어플리케이션ID */
		              , ja.prod_base_desc                                /* 상품 설명 */
		              , ja.prod_amt                                      /* 상품 가격 */
		              , ja.prod_grd_cd                                   /* 상품 등급 코드 */
		              , ja.drm_yn                                        /* DRM 구분 */
		              , ja.part_parent_clsf_cd                           /* InAppBilling 구분 */
		              , ja.ver_major || '.' || ja.ver_minor AS prod_ver  /* 상품 버젼 */
		              , jb.apk_pkg_nm                                    /* APK 패키지명 */
		              , jb.apk_ver                                       /* APK 패키지 버젼 */
		              , jb.file_size AS apk_file_size                    /* APK 파일 사이즈 */
		              , NVL(jc.prchs_cnt, 0) AS prchs_cnt                /* 구매 건수 */
		              , NVL(jc.avg_evlu_score, 0) AS avg_evlu_score      /* 평균 평점 */
		              , NVL(jc.paticpers_cnt, 0) AS paticpers_cnt        /* 참여자 수 */
		              , jd.file_path AS img_file_path                    /* 이미지 경로 */
		              , (SELECT menu_nm
		                   FROM TB_DP_MENU
		                  WHERE tenant_id = ja.tenant_id
		                    AND menu_id = ja.up_menu_id
		                    AND system_id = ja.system_id
		                    AND ROWNUM = 1) AS up_menu_nm                /* 상위메뉴명 */      
		          FROM (SELECT ia.*
		                      , (SELECT sub_contents_id
		                           FROM TB_DP_SPRT_DEVICE
		                          WHERE prod_id = ia.prod_id
		                            AND device_model_cd = 'SHV-E210S'
		                            AND ROWNUM = 1) as sub_contents_id
		                  FROM (SELECT  a.tenant_id
		                              , a.menu_id
		                              , a.system_id
		                              , a.menu_nm
		                              , a.menu_desc
		                              , a.up_menu_id
		                              , b.category_no
		                              , c.prod_id
		                              , d.drm_yn
		                              , d.prod_grd_cd
		                              , e.aid
		                              , e.part_parent_clsf_cd
		                              , e.ver_major
		                              , e.ver_minor
		                              , f.prod_nm
		                              , f.prod_base_desc
		                              , h.prod_amt
		                          FROM  TB_DP_MENU               a
		                              , TB_DP_CATEGORY_MENU_MAPG b
		                              , TB_DP_PROD_CATEGORY_MAPG c
		                              , TB_DP_PROD               d
		                              , TB_DP_APP_PROD           e
		                              , TB_DP_PROD_DESC          f
		                              , TB_DP_TENANT_PROD        g
		                              , TB_DP_TENANT_PROD_PRICE  h
		                         WHERE  a.tenant_id = b.tenant_id
		                           AND  a.menu_id = b.menu_id
		                           AND  a.system_id = b.system_id
		                           AND  b.category_no = c.category_no
		                           AND  c.prod_id = d.prod_id
		                           AND  d.prod_id = e.prod_id
		                           AND  e.prod_id = f.prod_id
		                           AND  f.prod_id = g.prod_id
		                           AND  a.tenant_id = g.tenant_id
		                           AND  g.prod_id = h.prod_id
		                           AND  g.tenant_id = h.tenant_id
		                           AND  a.tenant_id = #{tenantId}      /* Input 테넌트ID */
		                           AND  a.menu_id = #{menuId}          /* MN01004 : 게임>RPG */
		                           AND  a.system_id = #{systemId}      /* Input 시스템ID */
		                           AND  a.use_yn = 'Y'                 /* Y : 사용(시용여부) */
		                           AND  b.use_yn = 'Y'                 /* Y : 사용(시용여부) */
		                           AND  c.base_yn = 'Y'                /* Y : 기본(기본여부) */
		                           AND  c.use_yn = 'Y'                 /* Y : 사용(시용여부) */
		                           AND  d.svc_grp_cd = 'DP000201'      /* DP000201 : 어플리캐이션 */
		                           AND  f.lang_cd = 'ko'               /* ko : 한국어 */
		                           AND  g.prod_status_cd = 'PD000403'  /* PD000403 : 판매중 */
		                           AND  g.expo_yn = 'Y'                /* Y : 노출(노출여부) */
		                           AND  SYSDATE BETWEEN h.apply_start_dt AND h.apply_end_dt
		                       ) ia
		               )                        ja
		              , TB_DP_SUB_CONTENTS      jb
		              , TB_DP_TENANT_PROD_STATS jc
		              , TB_DP_PROD_IMG          jd
		         WHERE  ja.prod_id = jb.prod_id(+)
		           AND  ja.sub_contents_id = jb.sub_contents_id(+)
		           AND  ja.prod_id = jc.prod_id(+)
		           AND  ja.tenant_id = jc.tenant_id(+)
		           AND  ja.prod_id = jd.prod_id
		           AND  jd.img_cd = #{imageSizeCd}
		       ) ka
		 WHERE RNUM BETWEEN #{offset} AND #{count}
 	</select>
</mapper>
