<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SpecificProduct">
	<!-- 상품별 서비스 그룹 코드 조회-->
	<select id="selectSvcGrpCd" resultType="SpecificProductDTO">
	 SELECT 
	       PROD_ID,SVC_GRP_CD
      FROM TB_DP_PROD
      <if test = "list !=null">
      WHERE PROD_ID IN  
           <foreach collection="list" item="item" index="index" open="(" separator="," close=")"> 
                #{item}
           </foreach>  
      </if>
    </select>
    
    <!-- APP 상품 조회 -->
    <select id="selectApp" resultType="SpecificProductDTO" parameterType="hashMap">
 SELECT B.PROD_ID                                                    /* 상품ID */
      ,B.PROD_NM                                                     /* 상품명 */
      ,B.AID                                                    /* 어플리케이션ID */
      ,B.PROD_BASE_DESC                                            /* 상품 설명 */
      ,B.PROD_AMT                                                  /* 상품 가격 */
      ,B.PROD_GRD_CD                                            /* 상품 등급 코드 */
      ,B.DRM_YN                                                   /* DRM 구분 */
      ,B.PART_PARENT_CLSF_CD                             /* INAPPBILLING 구분 */
      ,B.VER_MAJOR || '.' || B.VER_MINOR AS PROD_VER               /* 상품 버젼 */
      ,SC.APK_PKG_NM                                            /* APK 패키지명 */
      ,SC.APK_VER                                             /* APK 패키지 버젼 */
      ,SC.FILE_SIZE AS APK_FILE_SIZE                          /* APK 파일 사이즈 */
      ,NVL (TPS.PRCHS_CNT, 0) AS PRCHS_CNT                         /* 구매 건수 */
      ,NVL (TPS.AVG_EVLU_SCORE, 0) AS AVG_EVLU_SCORE               /* 평균 평점 */
      ,NVL (TPS.PATICPERS_CNT, 0) AS PATICPERS_CNT                 /* 참여자 수 */
      ,PI.FILE_PATH AS IMG_FILE_PATH                              /* 이미지 경로 */
  FROM (SELECT A.*
              , (SELECT SUB_CONTENTS_ID
                   FROM TB_DP_SPRT_DEVICE
                  WHERE     PROD_ID = A.PROD_ID
                        AND DEVICE_MODEL_CD = #{deviceModelCd}
                        AND ROWNUM = 1)
                  AS SUB_CONTENTS_ID
          FROM (SELECT TP.TENANT_ID
                      --, A.MENU_ID
                      -- , A.SYSTEM_ID
                      -- , A.MENU_NM
                      -- , A.MENU_DESC
                      -- , A.UP_MENU_ID
                      -- , B.CATEGORY_NO
                      ,P.PROD_ID
                      ,P.DRM_YN
                      ,P.PROD_GRD_CD
                      ,AP.AID
                      ,AP.PART_PARENT_CLSF_CD
                      ,AP.VER_MAJOR
                      ,AP.VER_MINOR
                      ,PD.PROD_NM
                      ,PD.PROD_BASE_DESC
                      ,TPP.PROD_AMT
                  FROM TB_DP_PROD P
                      ,TB_DP_APP_PROD AP
                      ,TB_DP_PROD_DESC PD
                      ,TB_DP_TENANT_PROD TP
                      ,TB_DP_TENANT_PROD_PRICE TPP
                 WHERE     P.PROD_ID = AP.PROD_ID
                       AND AP.PROD_ID = PD.PROD_ID
                       AND P.PROD_ID = TP.PROD_ID
                       AND P.PROD_ID = #{prodId}
                       AND TP.TENANT_ID = #{tenantId}
                       AND TP.PROD_ID = TPP.PROD_ID
                       AND TP.TENANT_ID = TPP.TENANT_ID
                       AND TP.prod_status_cd = 'PD000403' /* PD000403 : 판매중 */
                       AND TP.expo_yn = 'Y'                 /* Y : 노출(노출여부) */
                       AND SYSDATE BETWEEN TPP.APPLY_START_DT
                                       AND TPP.APPLY_END_DT
                       AND PD.LANG_CD = 'ko') A) B
      ,TB_DP_SUB_CONTENTS SC
      ,TB_DP_TENANT_PROD_STATS TPS
      ,TB_DP_PROD_IMG PI
 WHERE     B.PROD_ID = SC.PROD_ID(+)
       AND B.SUB_CONTENTS_ID = SC.SUB_CONTENTS_ID(+)
       AND B.PROD_ID = TPS.PROD_ID(+)
       AND B.TENANT_ID = TPS.TENANT_ID(+)
       AND B.PROD_ID = PI.PROD_ID
       AND PI.IMG_CD = #{imageCd}  /* DP000101 : (원본) 대표아이콘 212 X 212 */
    </select>
    
      <select id="selectMultimedia" resultType="SpecificProductDTO" parameterType="hashMap">
 SELECT B.PROD_ID                                                    /* 상품ID */
      ,B.PROD_NM                                                     /* 상품명 */
      ,B.AID                                                    /* 어플리케이션ID */
      ,B.PROD_BASE_DESC                                            /* 상품 설명 */
      ,B.PROD_AMT                                                  /* 상품 가격 */
      ,B.PROD_GRD_CD                                            /* 상품 등급 코드 */
      ,B.DRM_YN                                                   /* DRM 구분 */
      ,B.PART_PARENT_CLSF_CD                             /* INAPPBILLING 구분 */
      ,B.VER_MAJOR || '.' || B.VER_MINOR AS PROD_VER               /* 상품 버젼 */
      ,SC.APK_PKG_NM                                            /* APK 패키지명 */
      ,SC.APK_VER                                             /* APK 패키지 버젼 */
      ,SC.FILE_SIZE AS APK_FILE_SIZE                          /* APK 파일 사이즈 */
      ,NVL (TPS.PRCHS_CNT, 0) AS PRCHS_CNT                         /* 구매 건수 */
      ,NVL (TPS.AVG_EVLU_SCORE, 0) AS AVG_EVLU_SCORE               /* 평균 평점 */
      ,NVL (TPS.PATICPERS_CNT, 0) AS PATICPERS_CNT                 /* 참여자 수 */
      ,PI.FILE_PATH AS IMG_FILE_PATH                              /* 이미지 경로 */
  FROM (SELECT A.*
              , (SELECT SUB_CONTENTS_ID
                   FROM TB_DP_SPRT_DEVICE
                  WHERE     PROD_ID = A.PROD_ID
                        AND DEVICE_MODEL_CD = #{deviceModelCd}
                        AND ROWNUM = 1)
                  AS SUB_CONTENTS_ID
          FROM (SELECT TP.TENANT_ID
                      --, A.MENU_ID
                      -- , A.SYSTEM_ID
                      -- , A.MENU_NM
                      -- , A.MENU_DESC
                      -- , A.UP_MENU_ID
                      -- , B.CATEGORY_NO
                      ,P.PROD_ID
                      ,P.DRM_YN
                      ,P.PROD_GRD_CD
                      ,PD.PROD_NM
                      ,PD.PROD_BASE_DESC
                      ,TPP.PROD_AMT
                  FROM TB_DP_PROD P
                      ,TB_DP_MULTIMDA_PROD MP
                      ,TB_DP_PROD_DESC PD
                      ,TB_DP_TENANT_PROD TP
                      ,TB_DP_TENANT_PROD_PRICE TPP
                 WHERE     P.PROD_ID = AP.PROD_ID
                       AND AP.PROD_ID = PD.PROD_ID
                       AND P.PROD_ID = TP.PROD_ID
                       AND P.PROD_ID = #{prodId}
                       AND TP.TENANT_ID = #{tenantId}
                       AND TP.PROD_ID = TPP.PROD_ID
                       AND TP.TENANT_ID = TPP.TENANT_ID
                       AND TP.prod_status_cd = 'PD000403' /* PD000403 : 판매중 */
                       AND TP.expo_yn = 'Y'                 /* Y : 노출(노출여부) */
                       AND SYSDATE BETWEEN TPP.APPLY_START_DT
                                       AND TPP.APPLY_END_DT
                       AND PD.LANG_CD = 'ko') A) B
      ,TB_DP_TENANT_PROD_STATS TPS
      ,TB_DP_PROD_IMG PI
 WHERE     B.PROD_ID = SC.PROD_ID(+)
       AND B.PROD_ID = TPS.PROD_ID(+)
       AND B.TENANT_ID = TPS.TENANT_ID(+)
       AND B.PROD_ID = PI.PROD_ID
       AND PI.IMG_CD = #{imageCd}  /* DP000101 : (원본) 대표아이콘 212 X 212 */
    </select>
</mapper>
