<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FeatureRecommend">

    <!--운영자 추천 앱상품 조회-->
    <select id="selectRecommendAdminList" parameterType="FeatureRecommendAdminReq" resultType="FeatureRecommendAdminDTO">
       /* FeatureRecommendMapper.xml, selectAdminAppList, SAC : 서영배 , 2014-01-03 */
        SELECT
			PROD.*
			, ST.DWLD_CNT
			, ST.PRCHS_CNT
			FROM (
			SELECT
				TP.TENANT_ID
				, MN.TOP_MENU_ID
				, (SELECT MENU_NM FROM TB_DP_MENU_DESC WHERE MENU_ID = MN.UP_MENU_ID AND LANG_CD = 'ko') TOP_MENU_NM
				, MN.MENU_ID
				, (SELECT MENU_NM FROM TB_DP_MENU_DESC WHERE MENU_ID = MN.MENU_ID AND LANG_CD = 'ko') MENU_NM
				, P1.PROD_ID
				, AP.AID
				, PS.PROD_NM
				, PS.PROD_BASE_DESC
				, TR.PROD_AMT
				, DECODE( P1.PROD_GRD_CD
				        , 'PD004401', 0
				        , 'PD004402', 1
				        , 'PD004403', 2
				        , 'PD004404', 4 ) AS PROD_GRD_CD
				, DECODE( AP.PART_PARENT_CLSF_CD, 'PD012301', 'iab', NULL ) AS IN_APP_BILLING
				, DECODE( P1.DRM_YN, 'Y', 'drm', NULL ) AS DRM
				, SC.APK_PKG_NM
				, SC.APK_VER
				, SC.FILE_SIZE AS APK_FILE_SIZE
				, AP.VER_MAJOR||'.'||AP.VER_MINOR AS PROD_VER
				, PI.FILE_PATH || PI.FILE_NM
			FROM TB_DP_LIST_PROD LP
			    , TB_DP_MENU_PROD_MAPG MP
			    , TB_DP_MENU MN
			    , TB_DP_PROD P1
			    , TB_DP_PROD_DESC PS
			    , TB_DP_TENANT_PROD TP 
			    , TB_DP_TENANT_PROD_PRICE TR
			    , TB_DP_SUB_CONTENTS SC
			    , TB_DP_APP_PROD AP
			    , TB_DP_PROD_IMG PI
			    , TB_DP_SPRT_DEVICE DV
			    , TB_CM_DEVICE CD
			WHERE LP.TENANT_ID = 'S01'
			AND LP.LIST_ID = 'ADM000000003'
			AND LP.PROD_ID = P1.PROD_ID
			AND P1.PROD_ID = PS.PROD_ID
			AND PS.LANG_CD = 'ko'
			AND MN.TOP_MENU_ID = 'DP17'
			AND MN.MENU_ID = MP.MENU_ID
			AND MP.PROD_ID = P1.PROD_ID
			AND TP.PROD_ID = P1.PROD_ID
			AND TP.TENANT_ID = LP.TENANT_ID
			AND TP.PROD_ID = LP.PROD_ID
			AND TP.PROD_STATUS_CD = 'PD000403'
			AND TP.EXPO_YN = 'Y'
			AND P1.PROD_ID = SC.PROD_ID
			AND P1.PROD_ID = AP.PROD_ID
			AND TP.PROD_ID = TR.PROD_ID
			AND TP.TENANT_ID = TR.TENANT_ID
			AND SYSDATE BETWEEN TR.APPLY_START_DT AND TR.APPLY_END_DT
			AND PI.IMG_CD = 'DP001007'
			AND SC.PROD_ID = DV.PROD_ID
			AND SC.SUB_CONTENTS_ID = DV.SUB_CONTENTS_ID
			AND DV.DEVICE_MODEL_CD = CD.DEVICE_MODEL_CD
			AND CD.DEVICE_MODEL_CD = 'SHW_M250S'
			) PROD LEFT OUTER JOIN TB_DP_TENANT_PROD_STATS ST
		ON PROD.PROD_ID = ST.PROD_ID
		AND PROD.TENANT_ID = ST.TENANT_ID
    </select>    
    
    <!--운영자 추천 앱상품 조회-->
    <select id="selectRecommendAdminListDummy" parameterType="FeatureRecommendAdminReq" resultType="FeatureRecommendAdminDTO">
       /* FeatureRecommendMapper.xml, selectAdminAppList, SAC : 서영배 , 2014-01-03 */
        SELECT
			PROD.*
			, NVL(ST.DWLD_CNT, 0) DWLD_CNT
			, NVL(ST.PRCHS_CNT, 0) PRCHS_CNT
		FROM (
			SELECT 
				LP.TENANT_ID
				, MN.UP_MENU_ID AS TOP_MENU_ID
				, (SELECT MENU_NM FROM TB_DP_MENU_DESC WHERE MENU_ID = MN.UP_MENU_ID AND LANG_CD = 'ko') TOP_MENU_NM
				, MN.MENU_ID
				, (SELECT MENU_NM FROM TB_DP_MENU_DESC WHERE MENU_ID = MN.MENU_ID AND LANG_CD = 'ko') MENU_NM
				, DP.PROD_ID
				, AP.AID
				, PS.PROD_NM
				, PS.PROD_BASE_DESC
				, PR.PROD_AMT
				, DECODE( DP.PROD_GRD_CD
				        , 'PD004401', 0
				        , 'PD004402', 1
				        , 'PD004403', 2
				        , 'PD004404', 4 ) AS PROD_GRD_CD
				, DECODE( AP.PART_PARENT_CLSF_CD, 'PD012301', 'iab', NULL ) AS PART_PARENT_CLSF_CD
				, DECODE( DP.DRM_YN, 'Y', 'drm', NULL ) AS DRM_YN
				, SC.APK_PKG_NM
				, SC.APK_VER
				, SC.FILE_SIZE AS APK_FILE_SIZE
				, AP.VER_MAJOR||'.'||AP.VER_MINOR AS PROD_VER
				, PI.FILE_PATH || PI.FILE_NM AS FILE_PATH
			FROM 
				TB_DP_LIST_PROD LP,
				TB_DP_PROD DP,
				TB_DP_TENANT_PROD_PRICE PR,
				TB_DP_MENU_PROD_MAPG MP, 
				TB_DP_APP_PROD AP,
				TB_DP_TENANT_PROD TP, 
				TB_DP_PROD_DESC PS,
				TB_DP_SUB_CONTENTS SC,
				TB_DP_PROD_IMG PI,
				TB_DP_SPRT_DEVICE DV,
				TB_DP_MENU MN
			WHERE LP.LIST_ID = 'ADM000000013'
			AND DP.PROD_ID = LP.PROD_ID
			AND DP.PROD_ID = PR.PROD_ID
			AND MP.PROD_ID = DP.PROD_ID
			AND DP.PROD_ID = AP.PROD_ID
			AND DP.PROD_ID = TP.PROD_ID
			AND DP.PROD_ID = PS.PROD_ID
			AND DP.PROD_ID = SC.PROD_ID
			AND DP.PROD_ID = PI.PROD_ID
			AND SC.SUB_CONTENTS_ID = DV.SUB_CONTENTS_ID 
			AND SC.PROD_ID = DV.PROD_ID 
			AND MN.MENU_ID = MP.MENU_ID
			AND PI.IMG_CD = 'DP000101'
			AND DV.DEVICE_MODEL_CD = 'SCH-W940'
			AND ROWNUM <![CDATA[<=]]> #{count}
		) PROD LEFT OUTER JOIN TB_DP_TENANT_PROD_STATS ST
		ON PROD.PROD_ID = ST.PROD_ID
		AND PROD.TENANT_ID = ST.TENANT_ID
    </select>    
</mapper>
