<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Shopping">
    <!-- 쇼핑 추천 상품 리스트 조회-->
    <select id="getFeatureProductList" parameterType="ShoppingReq" resultType="ShoppingDTO">
       /* ShoppingMapper.xml.getFeatureProductList, sac: kim Hyung Sik , 2014-01-07 */
		SELECT *
		 FROM ( 
		     SELECT 
		            ROW_NUMBER()OVER(ORDER BY AA.REG_DT DESC, AA.CATALOG_NM ) AS RNUM        
		           ,COUNT(CATALOG_ID) OVER() AS TOTALCOUNT      
		           ,AA.CATALOG_ID AS catagoryId
		           ,AA.CATALOG_NM AS catagoryName
		           ,AA.PROD_NET_AMT AS prodNetAmt
		           ,AA.DC_RATE AS dcRate
		           ,AA.DC_AMT AS dcAmt
		           ,AA.DLV_PROD_YN AS dlvProdYn
		           ,AA.BRAND_ID AS brandId
		           ,AA.BRAND_NM AS brandName
		           ,AA.MENU_ID AS menuId
		           ,AA.MENU_NM AS menuName
		           ,AA.NO AS no
		           ,AA.NEW_YN AS newYn
		           ,AA.REG_DT AS regDt
		           ,AA.TENANT_ID AS tenentId
		           ,AA.PROD_ID as prodId
		     FROM (
		          SELECT  * 
		           FROM (
		             SELECT 
			                A.CATALOG_ID 
			               ,B.CATALOG_NM 
			               ,NVL(J.PROD_NET_AMT, 0) AS PROD_NET_AMT 
			               ,NVL(K.SPRC_DC_RATE, J.DC_RATE) AS DC_RATE
			               ,NVL(K.SPRC_PRICE, J.PROD_AMT) AS DC_AMT
			               ,H.BRAND_ID  
			               ,H.BRAND_NM  
			               ,D.MENU_ID  
			               ,E.MENU_NM   
			               ,ROW_NUMBER() OVER(PARTITION BY A.CATALOG_ID ORDER BY NVL(K.SPRC_PRICE, J.PROD_AMT) ASC) as NO
			               ,CASE WHEN TO_CHAR(SYSDATE - 7, 'YYYYMMDD') <![CDATA[ <= ]]>SUBSTR(G.REG_DT, 0, 8) THEN 'Y' ELSE 'N' END AS NEW_YN 
			               ,G.REG_DT 
			               ,I.TENANT_ID 
			               ,G.PROD_ID 
			               ,G.DLV_PROD_YN
		              FROM 
				              TB_DP_SHPG_CATALOG A
				             ,TB_DP_SHPG_CATALOG_DESC B
				             ,TB_DP_MENU_CATALOG_MAPG C
				             ,TB_DP_MENU D
				             ,TB_DP_MENU_DESC E
				             ,TB_DP_PROD_CATALOG_MAPG F
				             ,TB_DP_SHPG_PROD G
				             ,TB_DP_PROD L 
				             ,TB_DP_SHPG_BRAND H
				             ,TB_DP_TENANT_PROD I
				             ,TB_DP_TENANT_PROD_PRICE J
				             ,(SELECT 
				                  B1.PROD_ID, B1.SPRC_DC_RATE, B1.SPRC_PRICE
				               FROM TB_DP_PROD_CATALOG_MAPG A1
				                    ,TB_DP_SPRC_PROD B1
				               WHERE 1=1
				                 AND A1.PROD_ID = B1.PROD_ID
				                 AND B1.EXPO_YN ='Y'
				                 AND B1.CPN_ID IS NOT NULL
				                 AND SYSDATE BETWEEN  B1.SPRC_APPLY_START_DT AND B1.SPRC_APPLY_END_DT 
				              )K
		            WHERE 1=1
		            AND A.CATALOG_ID = B.CATALOG_ID
		            AND A.CATALOG_ID = C.CATALOG_ID
		            AND C.MENU_ID = D.MENU_ID
		            AND C.MENU_ID = E.MENU_ID
		            AND A.CATALOG_ID = F.CATALOG_ID
		            AND F.PROD_ID = G.PROD_ID
		            AND A.BRAND_ID = H.BRAND_ID
		            AND F.PROD_ID = I.PROD_ID
		            AND F.PROD_ID = J.PROD_ID
		            AND G.PROD_ID = L.PROD_ID
		            AND F.PROD_ID = K.PROD_ID(+)
		            AND E.LANG_CD= 'ko'               /* ko : 한국어 */
		            AND C.BASE_YN='Y'                 /* Y : 기본(기본여부) */
		            AND C.USE_YN ='Y'                 /* Y : 기본(기본여부) */
		            AND D.USE_YN='Y'                  /* Y : 기본(기본여부) */
		            AND F.BASE_YN='Y'                 /* Y : 기본(기본여부) */
		            AND NVL(G.B2B_PROD_YN, 'N') != 'Y'
		            <if test="prodCharge != null">
		             AND L.PROD_CHRG_YN =${prodCharge}
		            </if>
                    <if test="b2bProd != null">
                    AND G.B2B_PROD_YN =${b2bProd}
                    </if>
                    <if test="prodGradeCd != null">
                    AND L.PROD_GRD_CD =${prodGradeCd}
                    </if>                    		            
		            AND F.USE_YN ='Y'                  /* Y : 기본(기본여부) */
		            AND I.PROD_STATUS_CD = 'PD000403'  /* PD000403 : 판매중 */
		            AND I.EXPO_YN = 'Y'                /* Y : 노출(노출여부) */
		            AND SYSDATE BETWEEN J.APPLY_START_DT AND J.APPLY_END_DT
		            AND I.TENANT_ID = #{tenantId}       /* INPUT 테넌트ID */
		           ) 
		         WHERE NO =1
		       ) AA
		       ,TB_DP_LIST_PROD BB
		       ,TB_DP_LIST CC
		    WHERE AA.TENANT_ID = BB.TENANT_ID
		      AND AA.TENANT_ID = CC.TENANT_ID
		      AND AA.PROD_ID = BB.PROD_ID
		      AND BB.LIST_ID = CC.LIST_ID  
              AND BB.LIST_ID = #{listId}    
        ) WHERE RNUM BETWEEN #{offset} AND #{count}
    </select>
     
</mapper>
