<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserDownloadInfo">

    <select id="getAidByProdId" parameterType="map" resultType="String">
        select ap.AID
        from TB_DP_APP_PROD ap
        where 1=1
          and ap.prod_id = #{prodId}
    </select>
    
    <select id="getAidByPartProdId" parameterType="map" resultType="String">
        select ap.AID
        from TB_DP_PROD_RSHP rs
          inner join TB_DP_APP_PROD ap
            on ap.prod_id = rs.prod_id
        where 1=1
          and rs.PROD_RSHP_CD = #{prodRshpCd}
          and rs.part_prod_id = #{partProdId}
    </select>
    
    <select id="getRawUserDownloadInfo" parameterType="map" resultType="com.skplanet.storeplatform.sac.display.localsci.sci.service.UserDownloadInfoServiceImpl$RawUserDownloadInfo">
        select
            NVL(MAX(TENANT1_YN), 'N') AS TENANT1_YN,
            NVL(MAX(TENANT2_YN), 'N') AS TENANT2_YN,
            MAX(LATEST_TENANT_ID) AS LATEST_TENANT_ID
        FROM
            (SELECT
                 CASE tp.tenant_id
                 WHEN #{tenant1} THEN 'Y'
                 ELSE null END AS TENANT1_YN,
                 CASE tp.tenant_id
                 WHEN #{tenant2} THEN 'Y'
                 ELSE null END AS TENANT2_YN,
                 ud.tenant_id  AS LATEST_TENANT_ID
             FROM TB_DP_APP_PROD ap
                 INNER JOIN TB_DP_TENANT_PROD tp
                     ON tp.prod_id = ap.prod_id
                 LEFT OUTER JOIN TB_DP_USER_DWLD ud
                     ON ud.AID = ap.aid AND ud.MDNAID_KEY = #{mdnaidKey}
             WHERE ap.aid = #{aid}
                   and (ap.part_parent_clsf_cd = 'PD012301' or ap.part_parent_clsf_cd is null)
                   AND tp.tenant_id IN (#{tenant1}, #{tenant2})
            )
        group by 1
    </select>

</mapper>