<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CategorySpecificProduct">
	<!-- 상품별 서비스 그룹 코드 조회-->
	<select id="selectProductInfoList" resultType="CategorySpecificProductDTO">
	 SELECT 
	       PROD_ID,SVC_GRP_CD,SVC_TYPE_CD
      FROM TB_DP_PROD
      <if test = "list !=null">
      WHERE PROD_ID IN  
           <foreach collection="list" item="item" index="index" open="(" separator="," close=")"> 
                #{item}
           </foreach>  
      </if>
    </select>
    
    <!-- APP 상품 조회 -->
    <select id="selectApp" resultType="CategorySpecificProductDTO" parameterType="hashMap">
        SELECT  /* CategoryMapper.XML, selectCategoryAppList, seung min Oh, 2014-01-07 */
                JA.UP_MENU_ID
              , JA.MENU_ID
              , JA.MENU_NM
              , JA.PROD_ID
              , JA.AID
              , JA.PROD_NM
              , JA.PROD_BASE_DESC
              , JA.PROD_AMT
              , JA.PROD_GRD_CD
              , JA.PART_PARENT_CLSF_CD
              , JA.DRM_YN
              , JA.VER_MAJOR || '.' || JA.VER_MINOR AS PROD_VER
              , JB.APK_PKG_NM
              , JB.APK_VER
              , JB.FILE_SIZE AS APK_FILE_SIZE
              , JC.FILE_PATH AS IMG_PATH
              , NVL(JA.PATICPERS_CNT, 0) AS PATICPERS_CNT
              , NVL(JA.PRCHS_CNT, 0) AS PRCHS_CNT
              <![CDATA[
              , NVL((CASE WHEN (JA.AVG_EVLU_SCORE > 0 AND JA.AVG_EVLU_SCORE < 1) THEN 1
                          WHEN JA.AVG_EVLU_SCORE > 5 THEN 5
                          ELSE ROUND(JA.AVG_EVLU_SCORE, 1) END), 0) AS AVG_EVLU_SCORE
              ]]>
          FROM (    SELECT IA.*
                             , IB.PRCHS_CNT
                             , IB.AVG_EVLU_SCORE
                             , IB.PATICPERS_CNT
                          FROM (SELECT  A.MENU_ID
                                      , A.UP_MENU_ID
                                      , A.TOP_MENU_ID
                                      , B.PROD_ID
                                      , C.MENU_NM
                                      , C.MENU_DESC
                                      , D.PROD_CHRG_YN
                                      , D.PROD_GRD_CD
                                      , D.DRM_YN
                                      , D.REG_DT
                                      , E.AID
                                      , E.VER_MAJOR
                                      , E.VER_MINOR
                                      , E.PART_PARENT_CLSF_CD
                                      , F.PROD_NM
                                      , F.PROD_BASE_DESC
                                      , G.TENANT_ID
                                      , H.PROD_AMT
                                      , I.SUB_CONTENTS_ID
                                  FROM  TB_DP_MENU_CATALOG              A
                                      , TB_DP_MENU_CATALOG_PROD_MAPG    B
                                      , TB_DP_MENU_CATALOG_DESC         C
                                      , TB_DP_PROD              D
                                      , TB_DP_APP_PROD          E
                                      , TB_DP_PROD_DESC         F
                                      , TB_DP_TENANT_PROD       G
                                      , TB_DP_TENANT_PROD_PRICE H
                                      , TB_DP_SPRT_DEVICE       I
                                 WHERE  D.PROD_ID = #{prodId}
                                   AND  A.MENU_ID = B.MENU_ID
                                   AND  A.MENU_ID = C.MENU_ID
                                   AND  B.PROD_ID = D.PROD_ID
                                   AND  B.PROD_ID = E.PROD_ID
                                   AND  B.PROD_ID = F.PROD_ID
                                   AND  B.PROD_ID = G.PROD_ID
                                   AND  G.TENANT_ID = H.TENANT_ID
                                   AND  G.PROD_ID = H.PROD_ID
                                   AND  B.PROD_ID = I.PROD_ID
                                   AND  A.USE_YN = 'Y'                  /* Y : 사용 (사용여부) */
                                   AND  B.BASE_YN = 'Y'                 /* Y : 기본 (기본여부) */
                                   AND  B.USE_YN = 'Y'                  /* Y : 사용 (사용여부) */
                                   AND  C.LANG_CD = 'ko'                /* ko : 한국어 */
                                   -- AND  D.SVC_GRP_CD = 'DP000201'       /* DP000201 : 애플리캐이션 */
                                   AND  F.LANG_CD = 'ko'                /* ko : 한국어 */
                                   AND  G.PROD_STATUS_CD = 'PD000403'   /* PD000403 : 판매중 */
                                   AND  G.EXPO_YN = 'Y'                 /* Y : 노출 (노출여부) */
                                   AND  SYSDATE BETWEEN H.APPLY_START_DT AND H.APPLY_END_DT
                                   AND  G.TENANT_ID = #{tenantId}       /* 테넌트ID */
                                   AND  I.DEVICE_MODEL_CD = #{deviceModelCd} /* 단말모델코드 */
                               )                        IA
                              , TB_DP_TENANT_PROD_STATS IB
                         WHERE  IA.TENANT_ID = IB.TENANT_ID(+)
                           AND  IA.PROD_ID = IB.PROD_ID(+)
               )                   JA
              , TB_DP_SUB_CONTENTS JB
              , TB_DP_PROD_IMG     JC
         WHERE  JA.PROD_ID = JB.PROD_ID
           AND  JA.SUB_CONTENTS_ID = JB.SUB_CONTENTS_ID
           AND  JA.PROD_ID = JC.PROD_ID
           AND  JC.EXPO_ORD = '1'
           AND  JC.IMG_CD = #{imageCd}
          
    </select>
    
    <select id="selectVOD" resultType="CategorySpecificProductDTO" parameterType="hashMap">
       SELECT  /* selectFeatureMovieList.xml, selectCategoryAppList, tae hee Lee, 2014-01-07 */
                LA.UP_MENU_ID
              , LA.TOP_MENU_ID
              , LA.MENU_ID
              , LA.MENU_NM
              , LA.MENU_DESC
              , LA.META_CLSF_CD
              , LA.PROD_ID
              , LA.PART_PROD_ID
              , LA.VOD_TITL_NM
              , LA.PROD_NM
              , LA.PROD_BASE_DESC
              , LA.PROD_GRD_CD
              , LA.ARTIST1_NM
              , LA.ARTIST2_NM
              , LA.ISSUE_DAY
              , LA.CHNL_COMP_NM
              , LA.AGENCY_NM
              , LA.HDV_YN
              , LA.DOLBY_SPRT_YN
              , CASE WHEN (LA.USE_PERIOD_UNIT_CD = 'PD00312' AND STRM_EPSD_CNT > 0) THEN CHNL_PERIOD_AMT
                     ELSE CHNL_UNLMT_AMT END AS PROD_AMT
              , NVL(LB.PATICPERS_CNT, 0) AS PATICPERS_CNT
              , NVL(LB.PRCHS_CNT, 0) AS PRCHS_CNT
               <![CDATA[             
              , NVL((CASE WHEN (LB.AVG_EVLU_SCORE > 0 AND LB.AVG_EVLU_SCORE < 1) THEN 1
                          WHEN LB.AVG_EVLU_SCORE > 5 THEN 5
                          ELSE ROUND(LB.AVG_EVLU_SCORE, 1) END), 0) AS AVG_EVLU_SCORE
              ]]>
              , CONCAT(LA.FILE_PATH, LA.FILE_NM) AS IMG_PATH
              , LA.FILE_NM
              , (SELECT MENU_NM
                   FROM TB_DP_MENU_CATEGORY_DESC
                  WHERE MENU_ID = LA.UP_MENU_ID
                    AND LANG_CD = 'ko'
                    AND ROWNUM = 1) AS UP_MENU_NM
          FROM (          
                            SELECT JA.*
                                  FROM (SELECT G.TENANT_ID
                                             , A.MENU_ID
                                             , B.UP_MENU_ID
                                             , B.TOP_MENU_ID
                                             , A.PROD_ID
                                             , I.PART_PROD_ID
                                             , C.MENU_NM
                                             , C.MENU_DESC
                                             , D.PROD_GRD_CD
                                             , D.USE_PERIOD_UNIT_CD
                                             , E.META_CLSF_CD
                                             , E.VOD_TITL_NM
                                             , E.STRM_EPSD_CNT
                                             , E.ISSUE_DAY
                                             , E.CHNL_COMP_NM
                                             , E.AGENCY_NM
                                             , E.HDV_YN
                                             , E.DOLBY_SPRT_YN
                                             , F.PROD_NM
                                             , F.ARTIST1_NM
                                             , F.ARTIST2_NM
                                             , F.PROD_BASE_DESC
                                             , H.CHNL_PERIOD_AMT
                                             , H.CHNL_UNLMT_AMT                                     
                                             , D.DRM_YN
                                             , K.FILE_PATH
                                             , K.FILE_NM
                                             , K.FILE_SIZE
                                          FROM TB_DP_MENU_CATEGORY_PROD_MAPG    A                                       
                                             , TB_DP_MENU_CATEGORY              B
                                             , TB_DP_MENU_CATEGORY_DESC         C
                                             , TB_DP_PROD              D
                                             , TB_DP_MULTIMDA_PROD     E
                                             , TB_DP_PROD_DESC         F
                                             , TB_DP_TENANT_PROD       G
                                             , TB_DP_TENANT_PROD_PRICE H                                     
                                             , TB_DP_PROD_RSHP         I
                                             , TB_DP_PROD              J
                                             , TB_DP_PROD_IMG          K
                                             , TB_DP_SPRT_DEVICE       L
                                         WHERE A.MENU_ID = B.MENU_ID
                                           AND A.MENU_ID = C.MENU_ID
                                           AND I.PART_PROD_ID = #{prodId}
                                           AND A.PROD_ID = D.PROD_ID
                                           AND D.PROD_ID = E.PROD_ID
                                           AND D.PROD_ID = F.PROD_ID                                   
                                           AND D.PROD_ID = G.PROD_ID
                                           AND D.PROD_ID = H.PROD_ID
                                           AND A.PROD_ID = I.PROD_ID   
                                           AND A.BASE_YN = 'Y'                       /* Y : 기본 (기본여부) */                                
                                           AND I.PART_PROD_ID = J.PROD_ID
                                           AND I.PROD_ID = K.PROD_ID
                                           AND I.PART_PROD_ID = L.PROD_ID(+)
                                           AND A.BASE_YN = 'Y'                       /* Y : 사용 (사용여부) */
                                           AND B.USE_YN = 'Y'                        /* Y : 사용 (사용여부) */
                                           AND C.LANG_CD = 'ko'                      /* ko : 한국어 */                                   
                                           AND G.TENANT_ID = #{tenantId}
                                           AND F.LANG_CD = 'ko'                      /* ko : 한국어 */
                                           AND G.EXPO_YN = 'Y'                       /* Y : 노출 (노출여부) */
                                           AND K.IMG_CD = 'DP000101'                 
                                           AND K.EXPO_ORD = '1'    
                                           AND L.DEVICE_MODEL_CD(+) = #{deviceModelCd} /* 단말기 모델 코드 */
                                           AND L.PROD_ID IS NOT NULL                   /* 멀티미디어 상품 지원단말 블랙리스트 처리 (현재 데이터는 화이트리스트) */
                                           AND (CASE WHEN (SELECT VIDEO_DRM_SPRT_YN FROM TB_CM_DEVICE WHERE DEVICE_MODEL_CD = #{deviceModelCd}) = 'N' AND NVL(J.DRM_YN, 'N') = 'Y' THEN 'NOT SUPPORT'
                                                     ELSE 'SUPPORT' END) = 'SUPPORT'   /* DRM 미지원 단말이고 에피소드 상품이 DRM 상품일 경우 노출 안함 */             
                                           AND SYSDATE BETWEEN H.APPLY_START_DT AND H.APPLY_END_DT
                                       ) JA 
               ) LA
             , TB_DP_TENANT_PROD_STATS LB
         WHERE LA.TENANT_ID = LB.TENANT_ID(+)
           AND LA.PROD_ID = LB.PROD_ID(+)
         <if test = "prodList != null">  
            ORDER BY instr
            <foreach collection="prodList" item="item" index="index" open="(" separator="||" close=",part_prod_id)"> 
                #{item}
            </foreach>
         </if>
    </select>
</mapper>
