<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CardDetail">

	<select id="getCard" 
			parameterType="com.skplanet.storeplatform.sac.display.card.vo.CardDetailParam" 
			resultType="com.skplanet.storeplatform.sac.display.card.vo.CardDetail">		
		SELECT /* CardDetailMapper.xml, getCard, SAC : 양해엽 , 2014-10-10 */
			CRD.TENANT_ID
			,CRD.CARD_ID
			,CRD.CARD_TYPE_CD
			,CRD.CARD_TITLE
			,CRD.CARD_DESC
			,CRD.CARD_LAYOUT
			,CRD.LND_TITLE
			,CRD.LND_DESC
			,CRD.LND_LAYOUT	
			,CRD.DATASET_ID
			,CRD.INJT_VAR AS CARD_INJT_VAR
			,CRD.SEGM_TYPE_CD
			,CRD.CARD_IMG_PATH
			,CRD.CARD_IMG_RATIO
			,CRD.CARD_IMG_TYPE
			,CRD.LND_IMG_PATH
			,CRD.LND_IMG_RATIO	
			,CRD.MENU_ID	
			,CRD.SMART_OFR_LIST_ID
			<if test='userKey != null'>
			,(	SELECT DECODE(COUNT(USER_KEY), 0, 'N', 'Y')
			  	FROM TB_DP_SOCIAL_STATS_MBR_LIKE
			  	WHERE TENANT_ID = #{tenantId}
			   	AND USER_KEY    = #{userKey}
				AND STATS_CLSF  = 'DP01210001'
				AND STATS_KEY   = #{cardId} )            AS LIKE_YN
			</if>
			, (	SELECT REPLACE(NVL(CD_DESC, ''), '\#{cardId}', CRD.CARD_ID) 
				FROM TB_CM_CD 
				WHERE CD_ID = 'DP0124' || #{tenantId})  AS SHARE_URL
			,NVL(CEA.EXPO_YN_CARD_TITLE, 'N') 			AS EXPO_YN_CARD_TITLE
			,NVL(CEA.EXPO_YN_CARD_DESC, 'N') 			AS EXPO_YN_CARD_DESC
			,NVL(CEA.EXPO_YN_CARD_LIKE, 'N') 			AS EXPO_YN_CARD_LIKE
			,NVL(CEA.EXPO_YN_CARD_SHAR, 'N') 			AS EXPO_YN_CARD_SHAR
			,NVL(CEA.EXPO_YN_CARD_LND, 'N') 			AS EXPO_YN_CARD_LND
			,NVL(CEA.EXPO_YN_CARD_DC_PRV_PRICE, 'N') 	AS EXPO_YN_CARD_DC_PRV_PRICE
			,NVL(CEA.EXPO_YN_CARD_DC_RATE, 'N') 		AS EXPO_YN_CARD_DC_RATE
			,NVL(CEA.EXPO_YN_CARD_IMG, 'N') 			AS EXPO_YN_CARD_IMG
			,NVL(CEA.EXPO_YN_CARD_ITEM_NO, 'N') 		AS EXPO_YN_CARD_ITEM_NO
			,NVL(CEA.EXPO_YN_CARD_RECOM_REASON, 'N') 	AS EXPO_YN_CARD_RECOM_REASON
			,NVL(CEA.EXPO_YN_CARD_ABSTR_TM, 'N') 		AS EXPO_YN_CARD_ABSTR_TM			
			,NVL(CEA.EXPO_YN_LND_TITLE, 'N') 			AS EXPO_YN_LND_TITLE
			,NVL(CEA.EXPO_YN_LND_DESC, 'N') 			AS EXPO_YN_LND_DESC
			,NVL(CEA.EXPO_YN_LND_ITEM_NO, 'N') 			AS EXPO_YN_LND_ITEM_NO
			,NVL(CEA.EXPO_YN_LND_DC_PRV_PRICE, 'N') 	AS EXPO_YN_LND_DC_PRV_PRICE
			,NVL(CEA.EXPO_YN_LND_DC_RATE, 'N') 			AS EXPO_YN_LND_DC_RATE
			,NVL(CEA.EXPO_YN_LND_IMG, 'N') 				AS EXPO_YN_LND_IMG
			,NVL(CEA.EXPO_YN_LND_IMG_OVERLAY, 'N') 		AS EXPO_YN_LND_IMG_OVERLAY		
			,DSF.DATASET_GRP_CD
			,DSF.TITLE
			,DSF.DATASET_DESC
			,DSF.TENANT_URL
			,DSF.INJT_VAR AS DATASET_INJT_VAR	
			,DSF.ITEM_LND_URL
			,CASE WHEN NVL(SST.CNT_LIKE, 0) <![CDATA[<]]> 0 THEN 0 ELSE NVL(SST.CNT_LIKE, 0) END AS CNT_LIKE
			,CASE WHEN NVL(SST.CNT_SHAR, 0) <![CDATA[<]]> 0 THEN 0 ELSE NVL(SST.CNT_SHAR, 0) END AS CNT_SHAR
		FROM TB_DP_CARD 					CRD
			INNER JOIN TB_DP_CARD_ETC_ATTR	CEA
				ON CRD.TENANT_ID = CEA.TENANT_ID AND CRD.CARD_ID = CEA.CARD_ID
			INNER JOIN TB_DP_DATASET_FRAME 	DSF
				ON CRD.TENANT_ID = DSF.TENANT_ID AND CRD.DATASET_ID = DSF.DATASET_ID
			LEFT OUTER JOIN TB_DP_SOCIAL_STATS SST
				ON CRD.TENANT_ID = SST.TENANT_ID AND CRD.CARD_ID = SST.STATS_KEY AND SST.STATS_CLSF = 'DP01210001' /* 좋아요 - 카드 */
		WHERE 	1=1
			AND	CRD.TENANT_ID = #{tenantId}
			AND	CRD.CARD_ID = #{cardId}
	</select>	
	
	<select id="getExpoYnInPanel" 
			parameterType="com.skplanet.storeplatform.sac.display.card.vo.CardDetailParam"	
			resultType="java.lang.String">		
		SELECT /* CardDetailMapper.xml, getExpoYnInPanel, SAC : 양해엽 , 2014-11-06 */
			CASE WHEN COUNT(CARD_ID) > 0 THEN 'Y' ELSE 'N' END AS EXPO_YN_IN_PANEL
		FROM TB_DP_PANEL_CARD_MAPG
		WHERE 1       =1
			AND TENANT_ID = #{tenantId}
			AND CARD_ID   = #{cardId}
			AND EXPO_YN   = 'Y'
			AND SYSDATE BETWEEN EXPO_START_DT AND EXPO_END_DT
			AND ( CASE WHEN TO_CHAR(SYSDATE, 'HH') BETWEEN TO_CHAR(NVL(DD_START_TM, SYSDATE), 'HH')	AND TO_CHAR(NVL(DD_END_TM, SYSDATE), 'HH')
					   THEN 1 ELSE 0 END) = 1
			AND SUBSTR(NVL(EXPO_WKDY, '1111111'), TO_CHAR(SYSDATE, 'D'), 1) = '1'
	</select>	

</mapper>