<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CardDetail">

	<select id="getCardDynamicInfo" parameterType="map" resultType="com.skplanet.storeplatform.sac.display.card.vo.CardDynamicInfo">
	   SELECT /* CardDetailMapper.xml, getCardDynamicInfo, SAC : 양해엽 , 2014-11-06 */
		    CRD.CARD_ID
		    ,CASE WHEN NVL(SST.CNT_LIKE, 0) <![CDATA[<]]> 0 THEN 0 ELSE NVL(SST.CNT_LIKE, 0) END AS CNT_LIKE
		    ,CASE WHEN NVL(SST.CNT_SHAR, 0) <![CDATA[<]]> 0 THEN 0 ELSE NVL(SST.CNT_SHAR, 0) END AS CNT_SHAR    
		    ,NVL2(SSML.STATS_KEY, 'Y', 'N') AS LIKE_YN
		FROM    TB_DP_CARD CRD 
		    LEFT OUTER JOIN TB_DP_SOCIAL_STATS SST
		        ON CRD.TENANT_ID = SST.TENANT_ID AND CRD.CARD_ID = SST.STATS_KEY AND SST.STATS_CLSF = 'DP01210001' /* 좋아요 - 카드 */
		    LEFT OUTER JOIN TB_DP_SOCIAL_STATS_MBR_LIKE SSML
		        ON CRD.TENANT_ID = SSML.TENANT_ID AND CRD.CARD_ID = SSML.STATS_KEY AND SSML.STATS_CLSF = 'DP01210001' AND SSML.USER_KEY = #{userKey, jdbcType=VARCHAR}
		WHERE 1=1
		    AND CRD.TENANT_ID   = #{tenantId}        
		    AND CRD.CARD_ID IN <foreach collection="cardList" item="v" open="(" separator="," close=")">#{v}</foreach>
	</select>
	       
	<select id="getExpoYnInPanel" parameterType="map" resultType="java.lang.String">		
		SELECT /* CardDetailMapper.xml, getExpoYnInPanel, SAC : 양해엽 , 2014-11-06 */
			CASE WHEN COUNT(CARD_ID) > 0 THEN 'Y' ELSE 'N' END AS EXPO_YN_IN_PANEL
		FROM TB_DP_PANEL_CARD_MAPG
		WHERE 1=1
			AND TENANT_ID = #{tenantId}
			AND CARD_ID   = #{cardId}
			AND EXPO_YN   = 'Y'
			AND SYSDATE BETWEEN EXPO_START_DT AND EXPO_END_DT
			AND ( CASE WHEN TO_CHAR(SYSDATE, 'HH') BETWEEN TO_CHAR(NVL(DD_START_TM, SYSDATE), 'HH')	AND TO_CHAR(NVL(DD_END_TM, SYSDATE), 'HH')
					   THEN 1 ELSE 0 END) = 1
			AND SUBSTR(NVL(EXPO_WKDY, '1111111'), TO_CHAR(SYSDATE, 'D'), 1) = '1'
	</select>	

</mapper>