<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberSegment">

	<select id="selectMemberSegment" parameterType="map" resultType="com.skplanet.storeplatform.sac.display.card.vo.MemberSegment">
		/* MemberSegmentMapper.xml, selectMemberSegment, SAC/서대영, 2014-11-14 */		
		SELECT TENANT_ID, USER_KEY, B.OUTSD_MBR_LEVEL_CD, B.INSD_MBR_LEVEL_CD, B.CATEGORY_BEST, P.CATEGORY_PREFER
		FROM (
		  SELECT TENANT_ID, USER_KEY, OUTSD_MBR_LEVEL_CD, INSD_MBR_LEVEL_CD, CATEGORY_BEST
		  FROM TB_DP_SMART_OFR_BEST_MBR
		  WHERE STD_DT = (
		    SELECT MAX(STD_DT)
		    FROM TB_DP_BATCH_COMPT
		    WHERE BATCH_ID = 'SMART_OFR_BEST_MBR'
		  )
		) B
		JOIN (
		  SELECT TENANT_ID, USER_KEY, CATEGORY_PREFER
		  FROM TB_DP_SMART_OFR_PREFER_MBR
		  WHERE STD_DT = (
		    SELECT MAX(STD_DT)
		    FROM TB_DP_BATCH_COMPT
		    WHERE BATCH_ID = 'SMART_OFR_PREFER_MBR'
		  )
		) P
		USING (USER_KEY, TENANT_ID)
		WHERE TENANT_ID = #{tenantId}
		AND USER_KEY = #{userKey}
	</select>
</mapper>