<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Miscellaneous">

    <!-- UA 코드 정보 조회 -->
    <select id="getUaCode" parameterType="String" resultType="String">
        SELECT  /* MiscellaneousMapper.getUaCode, UA 코드 정보 조회, 김다슬/인크로스, 2014-01-09 */
                ua_cd
          FROM  tb_cm_device
         WHERE  device_model_cd = #{deviceModelNo}
           AND use_yn = 'Y'
    </select>
    
    <!-- 휴대폰 SMS 인증 정보 확인 (인증 코드,Signature,만료시간)-->
    <select id="searchPhoneAuthInfo" parameterType="ServiceAuth" resultType="ServiceAuth">
       SELECT  /* MiscellaneousMapper.searchPhoneAuthInfo, 휴대폰 SMS 인증 정보 확인 (인증 코드,Signature,만료시간), 김다슬/인크로스, 2014-01-16 */
               auth_seq
             , auth_sign
             , auth_value
               <if test="timeToLive!=null">
             , TO_CHAR(auth_value_create_dt - (SYSDATE - (#{timeToLive}/24/60))) AS curr_dt  /* 인증코드 생성일자-(현재-생존시간) */
               </if>
             , TO_CHAR(auth_value_create_dt, 'yyyyMMdd hh24:mi:ss') AS auth_value_create_dt 
             , auth_compt_yn
             , NVL(auth_cnt, 0) auth_cnt
         FROM  tb_cm_svc_auth
        WHERE  auth_type_cd = #{authTypeCd}
          AND  auth_sign = #{authSign}
          AND  auth_value = #{authValue}
          AND  auth_mdn = #{authMdn}
    </select>
    
    <!--  휴대폰 SMS 및 이메일 인증 여부 업데이트(인증성공) -->
    <update id="updateServiceAuthYn" parameterType="String">
    UPDATE  /* MiscellaneousMapper.updateServiceAuthYn, 휴대폰 SMS 및 이메일 인증 여부 업데이트(인증성공), 김다슬/인크로스, 2014-01-16 */
            tb_cm_svc_auth
       SET  auth_compt_yn = 'Y'
          , upd_id = 'admin'
          , upd_dt = SYSDATE
     WHERE  auth_seq = #{authSeq}
    </update>
    
    <!--  휴대폰 SMS 인증 카운트 업데이트 -->
    <update id="updateServiceAuthCnt" parameterType="ServiceAuth">
    UPDATE /* MiscellaneousMapper.updateServiceAuthCnt, 휴대폰 SMS 인증 카운트 업데이트, 김영균/지티소프트, 2014-08-27 */ 
            tb_cm_svc_auth 
    SET AUTH_CNT = NVL(auth_cnt, 0) + 1
        <if test=' "F" == authComptYn '>
            , AUTH_COMPT_YN = 'F'
        </if>
    WHERE  tenant_id = #{tenantId}
       AND  system_id = #{systemId}
       AND  auth_mdn = #{authMdn}
       AND  auth_type_cd = #{authTypeCd}  /* 인증 타입 (CM010901:SMS, CM010902:Email) */ 
       AND  auth_compt_yn = 'N'       
       AND auth_value_create_dt <![CDATA[>=]]> (SYSDATE - (#{timeToLive} / 24 / 60))        /* 3분이내 */
    </update>
    
    <!--  휴대폰 SMS 인증 카운트 -->
    <select id="searchPhoneAuthCnt" parameterType="ServiceAuth" resultType="Integer">
    SELECT /* MiscellaneousMapper.searchPhoneAuthCnt, 휴대폰 SMS 인증 카운트, 김영균/지티소프트, 2014-08-27 */ 
            NVL(auth_cnt, 0) auth_cnt
    FROM tb_cm_svc_auth
    WHERE  tenant_id = #{tenantId}
       AND  system_id = #{systemId}
       AND  auth_mdn = #{authMdn}
       AND  auth_type_cd = #{authTypeCd}  /* 인증 타입 (CM010901:SMS, CM010902:Email) */ 
       AND  auth_compt_yn = 'N'       
       AND auth_value_create_dt <![CDATA[>=]]> (SYSDATE - (#{timeToLive} / 24 / 60))        /* 3분이내 */
    </select>
    
    <!-- 휴대폰 SMS 및 이메일 인증 코드 정보 저장 -->
    <insert id="createServiceAuthCode" parameterType="ServiceAuth">
    INSERT  /* MiscellaneousMapper.createServiceAuthCode, 휴대폰 SMS 및 이메일 인증 코드 정보 저장, 김다슬/인크로스, 2014-01-21 */
      INTO  tb_cm_svc_auth  
    (
      auth_seq
      <if test="mbrNo !=null">
    , mbr_no
      </if>
      <if test="tenantId !=null">
    , tenant_id
      </if>
      <if test="systemId !=null">
    , system_id
      </if>
      <if test="authMdn !=null">
    , auth_mdn  /* SMS 인증 대상 번호 */
      </if>
    , auth_type_cd  /* 인증 타입 (CM010901:SMS, CM010902:Email) */
      <if test="authSign !=null">
    , auth_sign  /* 인증 Signature */
      </if>
    , auth_value  /* 인증 코드 */
      <if test="authEmail !=null">
    , auth_email  /* Email 인증일 경우 수신자 Email 주소 포함 */
      </if>
    , auth_value_create_dt  /* 인증 코드 생성 일자 */
    , auth_compt_yn  /* 인증 여부 - 초기화 */
    , reg_id
    , reg_dt
    , upd_id
    , upd_dt
    )
    VALUES
    (
       sq_cm_svc_auth.NEXTVAL
       <if test="mbrNo !=null">
     , #{mbrNo}
       </if>
       <if test="tenantId !=null">
     , #{tenantId}
       </if>
       <if test="systemId !=null">
     , #{systemId}
       </if>
       <if test="authMdn !=null">
     , #{authMdn}
       </if>
     , #{authTypeCd}
       <if test="authSign !=null">
     , #{authSign}
       </if>
     , #{authValue}
       <if test="authEmail !=null">
     , #{authEmail}
       </if>
     , SYSDATE
     , 'N'
     , 'admin'
     , SYSDATE
     , 'admin'
     , SYSDATE
     )
    </insert>
    
    <!-- 휴대폰 인증 SMS 기발송 확인 -->
    <select id="confirmSendedSms" parameterType="ServiceAuth" resultType="ServiceAuth">
    SELECT  /* MiscellaneousMapper.confirmSendedSms, 휴대폰 인증 SMS 기발송 확인, 김다슬/인크로스, 2014-06-26 */ 
            auth_seq
          , auth_sign
      FROM  tb_cm_svc_auth
     WHERE  tenant_id = #{tenantId}
       AND  system_id = #{systemId}
       AND  auth_mdn = #{authMdn}
       AND  auth_type_cd = #{authTypeCd}  /* 인증 타입 (CM010901:SMS, CM010902:Email) */ 
       AND  auth_compt_yn = 'N'       
       AND ( auth_value_create_dt <![CDATA[>=]]> (SYSDATE - (3 / 24 / 60))
       AND NVL(auth_cnt, 0) <![CDATA[<]]> #{authCnt} )           /* 3분이내, 3회 실패 */ 
    </select>
    
    <!-- 미인증 이메일 코드 존재여부 확인 -->
    <select id="searchEmailAuthYn" parameterType="ServiceAuth" resultType="ServiceAuth">
    SELECT  /* MiscellaneousMapper.searchEmailAuthYn, 미인증 이메일 코드 존재여부 확인, 김다슬/인크로스, 2014-01-23 */ 
            auth_seq
          , auth_value
      FROM  tb_cm_svc_auth
     WHERE  mbr_no = #{mbrNo} 
       AND  auth_compt_yn = 'N'
    </select>
    
    
    <!--  이메일 인증 코드 업데이트 -->
    <update id="updateServiceAuthCode" parameterType="ServiceAuth">
    UPDATE  /* MiscellaneousMapper.updateServiceAuthCode, 이메일 인증 코드 업데이트, 김다슬/인크로스, 2014-04-15 */
            tb_cm_svc_auth
       SET  auth_value = #{authValue}
          , auth_email = #{authEmail}
          , auth_value_create_dt = SYSDATE
          , upd_id = 'admin'
          , upd_dt = SYSDATE
     WHERE  auth_seq = #{authSeq}
    </update>
  
    <!-- 이메일 인증코드 정보 확인 -->
    <select id="searchEmailAuthInfo" parameterType="ServiceAuth" resultType="ServiceAuth">
    SELECT  /* MiscellaneousMapper.searchEmailAuthInfo, 이메일 인증코드 정보 확인, 김다슬/인크로스, 2014-01-23 */
            auth_seq
          , mbr_no
          , auth_email
            <if test="timeToLive!=null">
          , TO_CHAR(auth_value_create_dt -(SYSDATE -#{timeToLive})) AS curr_dt
            </if>
          , TO_CHAR(auth_value_create_dt, 'yyyyMMdd hh24:mi:ss') AS auth_value_create_dt
          , auth_compt_yn
      FROM  tb_cm_svc_auth
     WHERE  auth_type_cd = #{authTypeCd}  /* 인증 타입 (CM010901:SMS, CM010902:Email) */
       AND  auth_value = #{authValue}
    </select>
</mapper>