<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AclInfo">

    <resultMap id="AclInfoResultMap" type="AclInfo" autoMapping="true">
        <id property="AUTH_KEY_TYPE" column="AUTH_KEY_TYPE_CD"/>
        <id property="AUTH_KEY_STATUS" column="AUTH_KEY_STATUS_CD"/>
        <id property="TENANT_STATUS" column="TENANT_STATUS_CD"/>
        <id property="SYSTEM_STATUS" column="SYSTEM_STATUS_CD"/>
    </resultMap>

    <select id="selectAclInfo" parameterType="map" resultMap="AclInfoResultMap">
  	  SELECT /* AclInfoMapper.selectAclInfo,  ACL 정보 조회, 임근대/SK플래닛, 2014-02-20 */
                A.AUTH_KEY
              , A.AUTH_TYPE
              , A.AUTH_KEY_TYPE_CD
              , A.STATUS_CD AS AUTH_KEY_STATUS_CD
              , A.SECRET
              , (CASE WHEN SYSDATE BETWEEN A.ISSU_DT AND A.EXPR_DT THEN 'Y' ELSE 'N' END) AS USABLE_DATE_YN
   	          , B.TENANT_ID
   	          , B.TENANT_NM
   	          , B.STATUS_CD AS TENANT_STATUS_CD
   	          , C.SYSTEM_ID
   	          , C.SYSTEM_NM
   	          , C.STATUS_CD AS SYSTEM_STATUS_CD
		FROM TB_FW_AUTH_KEY A
		    LEFT OUTER JOIN TB_FW_TENANT B ON A.TENANT_ID = B.TENANT_ID
		    LEFT OUTER JOIN TB_FW_SYSTEM C ON B.TENANT_ID = C.TENANT_ID AND C.SYSTEM_ID = #{systemId}
		WHERE 1=1
		  AND A.AUTH_KEY = #{authKey}

    </select>

</mapper>