<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AuthKey">

    <resultMap id="AuthKeyResultMap" type="AuthKey" autoMapping="true">
        <id property="AUTH_KEY_TYPE" column="AUTH_KEY_TYPE_CD"/>
        <id property="STATUS" column="STATUS_CD"/>
    </resultMap>

    <!-- AuthKey 정보 조회  -->
    <select id="selectAuthKey" parameterType="string" resultMap="AuthKeyResultMap">
            SELECT
                    A.TENANT_ID
                  , A.AUTH_KEY
                  , A.AUTH_TYPE
                  , A.AUTH_KEY_TYPE_CD
                  , (SELECT CD_NM FROM TB_CM_CD WHERE CD_ID = AUTH_KEY_TYPE_CD) AS AUTH_KEY_TYPE_NM
                  , A.ISSU_DT
                  , A.EXPR_DT
                  , A.STATUS_CD
                  , A.SECRET
                  , (CASE WHEN SYSDATE BETWEEN A.ISSU_DT AND A.EXPR_DT THEN 'Y' ELSE 'N' END) AS USABLE_DATE_YN
            FROM TB_FW_AUTH_KEY A
            WHERE 1=1
		   AND A.AUTH_KEY = #{authKey}
    
    </select>
 
    
</mapper>