<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DisplayCommon">

    <!--배치 완료 일시 조회-->
    <select id="getBatchStandardDate" parameterType="com.skplanet.storeplatform.sac.display.common.vo.BatchStandardDateRequest" resultType="String">
        SELECT
          /* DisplayCommonMapper.xml, getBatchStandardDate, SAC : 정희원 , 2014-01-07 */
          to_char(STD_DT, 'yyyyMMddHH24miss')
        FROM TB_DP_BATCH_COMPT
        WHERE TENANT_ID=#{tenantId}
          AND BATCH_ID=#{batchId}
    </select>

    <!-- 메뉴 목록 조회 -->
    <select id="getMenuItemList" parameterType="com.skplanet.storeplatform.sac.display.common.vo.MenuItemReq" resultType="com.skplanet.storeplatform.sac.display.common.vo.MenuItem">
        select
            /* DisplayCommonMapper.xml, getMenuItemList, SAC : 정희원 , 2014-01-24 */
            MC.MENU_ID,
            MC.MENU_DEPTH,
            decode(MC.INFR_MENU_YN, 'Y', 1, 0) as IS_INFR_MENU,
            MC.UP_MENU_ID,
            MC.TOP_MENU_ID,
            MD.MENU_NM,
            MD.MENU_DESC
        from
                TB_DP_MENU_CATEGORY MC inner join TB_DP_MENU_CATEGORY_DESC MD
                    on MC.MENU_ID = MD.MENU_ID and MD.LANG_CD = #{langCd} and MC.USE_YN = 'Y'
        start with
            MC.MENU_ID in (select MP.MENU_ID from TB_DP_MENU_CATEGORY_PROD_MAPG MP where MP.PROD_ID=#{prodId} AND MP.USE_YN = 'Y')
        connect by prior MC.up_menu_id = MC.MENU_ID
    </select>
    
    <!-- 해상도 코드 조회 -->
    <select id="getResolutionCode" parameterType="HashMap" resultType="String">
     SELECT CD_ID
       FROM TB_CM_CD
      WHERE (ADD_FIELD_01 =#{pixel1} OR ADD_FIELD_02=#{pixel1})
        AND (ADD_FIELD_01 =#{pixel2} OR ADD_FIELD_02=#{pixel2})                        
    </select>

    <!-- 메뉴에 해당하는 Tmembership 할인율 조회 -->
    <select id="getTmembershipDcRateForMenu" parameterType="map" resultType="com.skplanet.storeplatform.sac.display.common.vo.TenantSalePolicy">
        SELECT /* DisplayCommonMapper.xml, getTmembershipDcRateForMenu, SAC : 정희원 , 2014-01-24 */
             NVL(SUBSTR(TENANT_PROD_GRP_CD,13,8),'OR006311') PROD_TP
            ,NVL(SUBSTR(REGEXP_SUBSTR(APPLY_VALUE , '21:MAXAMT:[0-9][0-9]') , 11) , 0) DC_RATE
        FROM    TB_CM_TENANT_SALE_POLICY
        WHERE   1=1
                AND TENANT_ID = #{tenantId}
                AND POLICY_ID = #{policyId}
            <if test="menuId != null">
                AND SUBSTR(TENANT_PROD_GRP_CD,9,4) = #{menuId}
            </if>
    </select>
    
    <!-- 단말 지원정보 조회 -->
    <select id="getSupportDeviceInfo" parameterType="String" resultType="com.skplanet.storeplatform.sac.display.common.vo.SupportDevice">
		SELECT  /* DisplayCommonMapper.getSupportDeviceInfo, 단말 지원정보 조회, 이태희/부르칸, 2014-04-01 */ 
		        NVL(EBOOK_SPRT_YN, 'N') AS EBOOK_SPRT_YN
		      , NVL(COMIC_SPRT_YN, 'N') AS COMIC_SPRT_YN
		      , NVL(MUSIC_SPRT_YN, 'N') AS MUSIC_SPRT_YN
		      , NVL(VIDEO_DRM_SPRT_YN, 'N') AS VIDEO_DRM_SPRT_YN
		      , NVL(SD_VIDEO_SPRT_YN, 'N') AS SD_VIDEO_SPRT_YN
		      , NVL(SCL_SHPG_SPRT_YN, 'N') AS SCL_SHPG_SPRT_YN
		      , NVL(VOD_FIXISTT_SPRT_YN, 'N') AS VOD_FIXISTT_SPRT_YN
		  FROM  TB_CM_DEVICE
		 WHERE  DEVICE_MODEL_CD = #{deviceModelCd}
		   AND  USE_YN = 'Y'
    </select>

    <select id="getUpdateList" parameterType="map" resultType="com.skplanet.storeplatform.sac.display.common.vo.UpdateHistory">
        SELECT /* DisplayCommonMapper.xml, getUpdateList, SAC : 정희원 , 2014-01-24 */
          *
        FROM (
            SELECT
            PROD_UPD_DT,
            UPDT_TEXT
            FROM TB_DP_PROD_UPDT_HIS
            WHERE PROD_ID = #{channelId}
            ORDER BY PROD_UPD_DT DESC
        )
        <if test="rowStart != null and rowEnd != null">
            WHERE ROWNUM BETWEEN #{rowStart} AND #{rowEnd}
        </if>
    </select>

    <select id="getUpdateCount" parameterType="String" resultType="Integer">
        SELECT /* DisplayCommonMapper.xml, getUpdateCount, SAC : 정희원 , 2014-05-01 */
        COUNT(*) AS HIST_CNT
        FROM TB_DP_PROD_UPDT_HIS
        WHERE PROD_ID = #{channelId}
    </select>

    <select id="selectProductInfo" parameterType="String" resultType="com.skplanet.storeplatform.sac.display.common.vo.ProductInfo">
        SELECT /* DisplayCommonMapper.xml, selectProductTypeInfo, SAC : 정희원 , 2014-07-08 */
            P.PROD_ID,
            P.SVC_GRP_CD,
            P.SVC_TYPE_CD,
            P.META_CLSF_CD,
            P.CONTENTS_TYPE_CD,
            P.TOP_MENU_ID,
            APP.PART_PARENT_CLSF_CD
        FROM TB_DP_PROD P
          LEFT OUTER JOIN TB_DP_APP_PROD APP
            ON APP.PROD_ID = P.PROD_ID
        WHERE 1=1
              AND P.PROD_ID = #{prodId}
    </select>

    <select id="getMenuInfo" resultType="map">
        select
            TDMC.MENU_ID AS MENU_ID,
            TDMCD.LANG_CD AS LANG_CD,
            MENU_NM,
            MENU_DESC
        from TB_DP_MENU_CATEGORY TDMC
            INNER JOIN TB_DP_MENU_CATEGORY_DESC TDMCD
              ON TDMCD.MENU_ID = TDMC.MENU_ID
        WHERE 1=1
          AND TDMC.USE_YN = 'Y'
        ORDER BY TDMC.MENU_DEPTH, TDMC.MENU_ID
    </select>

</mapper>
