<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="DeviceSet">

    <select id="searchUserKey" parameterType="userMbrDeviceSet" resultType="userMbrDeviceSet">
        SELECT /* DeviceSetMapper.searchUserKey, 휴대기기 정보 조회, burkhan_rejoice, 2014-10-30 */
               a.MBR_ID AS userID
               , a.INSD_USERMBR_NO AS userKey
               , b.INSD_DEVICE_ID AS deviceKey
               , b.DEVICE_ID AS deviceID
               , #{tenantID} AS tenantID
          FROM  TB_US_USERMBR a
               LEFT JOIN
                  TB_US_USERMBR_DEVICE b
               ON a.INSD_USERMBR_NO = b.INSD_USERMBR_NO 
               AND a.TENANT_ID = b.TENANT_ID
         WHERE a.TENANT_ID = #{tenantID} 
               AND b.TENANT_ID = #{tenantID}
               AND b.AUTH_YN = 'Y'
               AND a.MBR_STATUS_MAIN_CD != 'US010202'
        <foreach collection="keySearchList" item="keySearch"   open="AND" close="" separator="AND">
            <if test="keySearch.keyType.equalsIgnoreCase('INSD_DEVICE_ID')"> b.INSD_DEVICE_ID = #{keySearch.keyString} </if>     
            <if test="keySearch.keyType.equalsIgnoreCase('INSD_USERMBR_NO') "> b.INSD_USERMBR_NO =  #{keySearch.keyString} </if>
        </foreach>
    </select>

    <update id="createDevicePin" parameterType="userMbrDeviceSet">
        INSERT /* DeviceSetMapper.createDevicePin, PIN 번호 등록, SAC(SC), 최진호, 2015-11-11 */ 
            INTO TB_US_USERMBR_DEVICE_SET
            (               
                TENANT_ID, 
                INSD_USERMBR_NO, 
                INSD_DEVICE_ID,
                REG_DT
              <if test="userID != null">,REG_ID </if>
              <if test="systemID != null">,SYSTEM_ID </if>
              <if test="pinNo != null"> ,PIN_NO</if>
              <if test="authCnt != null"> ,AUTH_CNT</if>
              <if test="authLockYn != null"> ,AUTH_LOCK_YN </if>
              <if test="isAutoUpdate != null"> ,AUTO_UPDT_YN </if>
              <if test="autoUpdateSet != null"> ,AUTO_UPDT_SET_CLSF </if>   
              <if test="isAutoUpdateWifi != null"> ,WI_FI_AUTO_UPDT_YN </if>
              <if test="isLoginLock != null"> ,LOGIN_LOCK_YN </if>
              <if test="isPinRetry != null"> ,APPR_PIN_REINS_YN </if>
              <if test="isAdult != null"> ,ADULT_CONTENTS_LOCK_YN </if>
              <if test="isAdultLock != null"> ,ADULT_CONTENTS_LIMT_YN </if>
              <if test="isDownloadWifiOnly != null"> ,WI_FI_AUTO_DWLD_YN </if>
              <if test="isIcasAuth != null"> ,ICAS_AUTH_YN </if>
              <if test="realNameDate != null"> ,REAL_NAME_DATE </if>
              <if test="realNameMdn != null"> ,REAL_NAME_MDN </if>
            ) VALUES (              
                #{tenantID},
                #{userKey},
                #{deviceKey},
                SYSDATE
              <if test="userID != null">,#{userID} </if>
              <if test="systemID != null">,#{systemID} </if>
              <if test="pinNo != null"> ,#{pinNo} </if>
              <if test="authCnt != null"> ,#{authCnt} </if>
              <if test="authLockYn != null"> ,#{authLockYn} </if>
              <if test="isAutoUpdate != null"> ,#{isAutoUpdate} </if>
              <if test="autoUpdateSet != null"> ,#{autoUpdateSet} </if>   
              <if test="isAutoUpdateWifi != null"> ,#{isAutoUpdateWifi} </if>
              <if test="isLoginLock != null"> ,#{isLoginLock} </if>
              <if test="isPinRetry != null"> ,#{isPinRetry} </if>
              <if test="isAdult != null"> ,#{isAdult} </if>
              <if test="isAdultLock != null"> ,#{isAdultLock} </if>
              <if test="isDownloadWifiOnly != null"> ,#{isDownloadWifiOnly} </if>
              <if test="isIcasAuth != null"> ,#{isIcasAuth} </if>
              <if test="realNameDate != null"> ,TO_DATE(#{realNameDate}, 'YYYYMMDDHH24MISS') </if>
              <if test="realNameMdn != null"> ,#{realNameMdn} </if>
            )   
    </update>

    <update id="modifyDeviceSet" parameterType="userMbrDeviceSet">
        UPDATE /* DeviceSetMapper.modifyDeviceSet, 휴대기기 설정정보 등록/수정, SAC(SC), 최진호, 2015-11-11 */
            TB_US_USERMBR_DEVICE_SET
                SET
                 UPD_DT = SYSDATE
              <if test="userID != null"> ,UPD_ID = #{userID} </if>
              <if test="pinNo != null"> ,PIN_NO = #{pinNo} </if>
              <if test="authCnt != null"> ,AUTH_CNT = #{authCnt} </if>
              <if test="authLockYn != null"> ,AUTH_LOCK_YN = #{authLockYn} </if>
              <if test="isAutoUpdate != null"> ,AUTO_UPDT_YN = #{isAutoUpdate} </if>
              <if test="autoUpdateSet != null"> ,AUTO_UPDT_SET_CLSF = #{autoUpdateSet} </if>   
              <if test="isAutoUpdateWifi != null"> ,WI_FI_AUTO_UPDT_YN = #{isAutoUpdateWifi} </if>
              <if test="isLoginLock != null"> ,LOGIN_LOCK_YN = #{isLoginLock} </if>
              <if test="isPinRetry != null"> ,APPR_PIN_REINS_YN = #{isPinRetry} </if>
              <if test="isAdult != null"> ,ADULT_CONTENTS_LOCK_YN = #{isAdult} </if>
              <if test="isAdultLock != null"> ,ADULT_CONTENTS_LIMT_YN = #{isAdultLock} </if>
              <if test="isDownloadWifiOnly != null"> ,WI_FI_AUTO_DWLD_YN = #{isDownloadWifiOnly} </if>
              <if test="isIcasAuth != null"> ,ICAS_AUTH_YN = #{isIcasAuth}</if>
              <if test="realNameDate != null"> ,REAL_NAME_DATE = TO_DATE(#{realNameDate}, 'YYYYMMDDHH24MISS') </if>
              <if test="realNameMdn != null"> ,REAL_NAME_MDN = #{realNameMdn} </if>
        WHERE tenant_id = #{tenantID}
          AND insd_usermbr_no = #{userKey}
          AND insd_device_id = #{deviceKey}
    </update>

    <select id="searchDeviceSetInfo" parameterType="userMbrDeviceSet" resultType="userMbrDeviceSet">
        SELECT /* DeviceSetMapper.searchDeviceSetInfo, 휴대기기 설정 정보 조회, SAC(SC), 최진호, 2015-11-11 */
               a.MBR_ID AS userID,
               b.TENANT_ID AS tenantID,
               b.INSD_USERMBR_NO AS userKey,
               b.INSD_DEVICE_ID AS deviceKey,
               b.PIN_NO AS pinNo,
               b.AUTH_CNT AS authCnt,
               b.AUTH_LOCK_YN AS authLockYn,
               b.AUTO_UPDT_YN AS isAutoUpdate,
               b.AUTO_UPDT_SET_CLSF AS autoUpdateSet,
               b.WI_FI_AUTO_UPDT_YN AS isAutoUpdateWifi,
               b.LOGIN_LOCK_YN AS isLoginLock,
               b.APPR_PIN_REINS_YN AS isPinRetry,
               b.ADULT_CONTENTS_LOCK_YN AS isAdult,
               b.ADULT_CONTENTS_LIMT_YN AS isAdultLock,
               b.WI_FI_AUTO_DWLD_YN AS isDownloadWifiOnly,
               TO_CHAR( b.REG_DT,'YYYYMMDDHH24MISS') regDate,
               b.REG_ID AS regID,
               TO_CHAR( b.upd_dt,'YYYYMMDDHH24MISS') updateDate,
               b.UPD_ID AS updateID,
               b.SYSTEM_ID AS systemID,
               b.ICAS_AUTH_YN AS isIcasAuth,
               TO_CHAR( b.REAL_NAME_DATE,'YYYYMMDDHH24MISS') AS realNameDate,
               b.REAL_NAME_MDN AS realNameMdn
          FROM    TB_US_USERMBR a
               LEFT JOIN
                  TB_US_USERMBR_DEVICE_SET b
               ON a.TENANT_ID = b.TENANT_ID 
               AND a.INSD_USERMBR_NO = b.INSD_USERMBR_NO
         WHERE     a.TENANT_ID = #{tenantID}
               AND a.MBR_STATUS_MAIN_CD != 'US010202'
               AND b.TENANT_ID = #{tenantID}
               AND b.INSD_USERMBR_NO = #{userKey}
               AND b.INSD_DEVICE_ID = #{deviceKey}
    </select>
    
    <delete id="removeDeviceSetInfo" parameterType="userMbrDeviceSet">
        DELETE  /* DeviceSetMapper.removeDeviceSetInfo, 휴대기기 설정 정보 삭제, burkhan_rejoice, 2014-11-19 */
          FROM  TB_US_USERMBR_DEVICE_SET
         WHERE  tenant_id = #{tenantID}
           AND  insd_usermbr_no = #{userKey}
           AND  insd_device_id = #{deviceKey}
    </delete>
    
    <select id="onlyDeviceSetInfo" parameterType="userMbrDeviceSet" resultType="userMbrDeviceSet">
		SELECT /* DeviceSetMapper.onlyDeviceSetInfo, 휴대기기 설정 정보만 조회, burkhan_rejoice, 2014-11-20 */
		      TENANT_ID AS tenantID,
		       INSD_USERMBR_NO AS userKey,
		       INSD_DEVICE_ID AS deviceKey,
		       PIN_NO AS pinNo,
		       AUTH_CNT AS authCnt,
		       AUTH_LOCK_YN AS authLockYn,
		       AUTO_UPDT_YN AS isAutoUpdate,
		       AUTO_UPDT_SET_CLSF AS autoUpdateSet,
		       WI_FI_AUTO_UPDT_YN AS isAutoUpdateWifi,
		       LOGIN_LOCK_YN AS isLoginLock,
		       APPR_PIN_REINS_YN AS isPinRetry,
		       ADULT_CONTENTS_LOCK_YN AS isAdult,
               ADULT_CONTENTS_LIMT_YN AS isAdultLock,
               WI_FI_AUTO_DWLD_YN AS isDownloadWifiOnly,
		       TO_CHAR (reg_dt, 'YYYYMMDDHH24MISS') regDate,
		       REG_ID AS regID,
		       TO_CHAR (upd_dt, 'YYYYMMDDHH24MISS') updateDate,
		       UPD_ID AS updateID,
		       SYSTEM_ID AS systemID
		  FROM TB_US_USERMBR_DEVICE_SET 
		WHERE TENANT_ID = #{tenantID}
		      AND INSD_USERMBR_NO = #{userKey}
		      AND INSD_DEVICE_ID = #{deviceKey}
    </select>
    
</mapper>