<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OtherTmembership">
    <select id="searchTMembershipUseStatus" parameterType="Map" resultType="double">
        /* OtherTmembership.searchTMembershipUseStatus, T맴버십 할인 사용여부 조회, 김형식/SK 플래닛, 2014-04-23 */
			SELECT
			        MAX(TO_NUMBER(REGEXP_REPLACE(REGEXP_REPLACE(APPLY_VALUE,'(.*)[;](.*)[;](.*)[;](.*)[;](.*)[;](.*)[;](.*)[;](.*)','\3'),'(.*)[:](.*)[:](.*)','\3'))) AS TMEMBERSHIP_DC_RATE
			FROM    TB_CM_TENANT_SALE_POLICY
			WHERE   1=1
			AND     TENANT_ID = #{tenantHeader.tenantId}       /* INPUT 테넌트ID */
			AND     POLICY_ID = 'policy014'
  </select>
    
</mapper>