<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OtherParentStatus">
    
    <select id="selectParentProductStatus" parameterType="java.util.HashMap" resultType="com.skplanet.storeplatform.sac.display.other.vo.ParentAppInfo">
        SELECT
            /* ProductStatus.xml, selectParentProductStatus, SAC : 정희원 , 2014-02-17 */
            PAPP.PROD_ID as "parentProdId",
            TP.PROD_STATUS_CD as "parentStatus"
        FROM
                TB_DP_PROD_RSHP RS
                INNER JOIN TB_DP_PROD PAPP
                    ON PAPP.PROD_ID = RS.PROD_ID
                INNER JOIN TB_DP_TENANT_PROD TP
                    ON TP.PROD_ID = RS.PROD_ID
        WHERE 1=1
              AND RS.PROD_RSHP_CD = 'DP010801'
              AND RS.PART_PROD_ID = #{partProdId}
              AND TP.TENANT_ID = #{tenantId}
    </select>

</mapper>
