<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OtherAppVersion">
	<select id="getSprtDev" parameterType="map" resultType="com.skplanet.storeplatform.sac.display.other.service.OtherAppVersionServiceImpl$SprtDev">
		SELECT
			SC.SUB_CONTENTS_ID as SC_ID,
			SC.VM_VER as OS_VER,
			SC.APK_VER as VER_CD,
			SC.APK_VER_NM as VER
		FROM TB_DP_SPRT_DEVICE SD
			INNER JOIN TB_DP_SUB_CONTENTS SC
				ON SC.PROD_ID = SD.PROD_ID AND SC.SUB_CONTENTS_ID = SD.SUB_CONTENTS_ID
		WHERE 1=1
			  AND SD.PROD_ID = #{prodId}
			  AND SD.DEVICE_MODEL_CD = #{deviceModelCd}
	</select>

</mapper>
