<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Freepass">
    <!-- 정액제 리스트 조회-->
    <select id="selectFreepassList" parameterType="FreepassListSacReq" resultType="ProductBasicInfo">
			/* FreepassMapper.xml, selectFreepassList, SAC : 서영배 , 2014-02-12 */
			SELECT 
				* 
			FROM
			(
				SELECT 
					IV.*
			    , ROWNUM AS RNUM
				FROM 
				(
					SELECT
						COUNT(PD.PROD_ID) OVER() AS TOTAL_COUNT
						, TP.TENANT_ID
						, DC.LANG_CD
						, PD.PROD_ID
						, PD.TOP_MENU_ID
						, (SELECT MENU_DESC FROM TB_DP_MENU_CATEGORY_DESC WHERE MENU_ID = PD.TOP_MENU_ID AND LANG_CD = DC.LANG_CD) AS TOP_MENU_NM
						, PD.META_CLSF_CD
						, PD.PROD_CHRG_YN
						, PD.SELLER_MBR_NO
						, PD.SVC_GRP_CD
						, PD.SVC_TYPE_CD
						, PD.PROD_GRD_CD
						, PD.CID
						, PD.MALL_CD
						, PD.FEE_CASE_CD
						, PD.FEE_UNIT_CD
						, PD.USE_PERIOD_UNIT_CD
						, PD.USE_PERIOD
						, PD.DRM_YN
						, PD.DRM_SET_CD
						, PD.DRM_SET_VALUE
						, PD.CONTENTS_TYPE_CD
						, PD.SUB_MENU_ID
			      , TP.EXPO_ORD
					FROM
						TB_DP_PROD PD, TB_DP_CMPX_PROD CM, TB_DP_PROD_DESC DC,
						TB_DP_TENANT_PROD TP, TB_DP_TENANT_PROD_PRICE PR
					WHERE PD.PROD_ID = CM.PROD_ID
					AND PD.PROD_ID = DC.PROD_ID
					AND PD.PROD_ID = TP.PROD_ID
					AND PD.PROD_ID = PR.PROD_ID
					AND DC.LANG_CD = #{langCd}
					AND TP.TENANT_ID = #{tenantId}
					AND TP.TENANT_ID = PR.TENANT_ID
					AND SYSDATE BETWEEN PR.APPLY_START_DT AND PR.APPLY_END_DT
			    	AND EXISTS ( SELECT SP.PROD_ID FROM TB_DP_SPRT_DEVICE SP WHERE SP.PROD_ID=PD.PROD_ID 
			    		AND ( SP.DEVICE_MODEL_CD = 'android_standard2' OR SP.DEVICE_MODEL_CD = #{deviceModelCd} ))
			    		AND EXISTS (
			          	SELECT 'X' 
			              FROM TB_CM_DEVICE DV
			              WHERE DV.DEVICE_MODEL_CD = #{deviceModelCd}
			              AND (
			              	/*DV.VOD_FIXISTT_SPRT_YN = ( CASE WHEN CM.CMPX_PROD_CLSF_CD='OR004301' OR CM.CMPX_PROD_CLSF_CD='OR004302' 
			                  			THEN 'Y' ELSE 'NOT SUPPORT' END)
			    			OR
			    			DV.EBOOK_SPRT_YN = ( CASE WHEN CM.CMPX_PROD_CLSF_CD='OR004303' OR CM.CMPX_PROD_CLSF_CD='OR004304' 
			                  			THEN 'Y' ELSE 'NOT SUPPORT' END)*/
			    			DV.VOD_FIXISTT_SPRT_YN = ( CASE WHEN PD.TOP_MENU_ID='DP17' OR PD.TOP_MENU_ID='DP18' 
			                  			THEN 'Y' ELSE 'NOT SUPPORT' END)
			    			OR
			    			DV.EBOOK_SPRT_YN = ( CASE WHEN PD.TOP_MENU_ID='DP13' 
			                  			THEN 'Y' ELSE 'NOT SUPPORT' END)
			    			OR
			    			DV.COMIC_SPRT_YN = ( CASE WHEN PD.TOP_MENU_ID='DP14' 
			                  			THEN 'Y' ELSE 'NOT SUPPORT' END)
			              )
			          )
			    <if test='prodStatusCd != null and prodStatusCd != ""'>
      		AND TP.PROD_STATUS_CD = #{prodStatusCd}    /* PD000403 : 판매중 */
      		</if>
			    AND TP.EXPO_YN = 'Y'
			    <if test='kind != null and kind != ""'>
      		AND CM.CMPX_PROD_CLSF_CD = #{kind}
      		</if>
      		<if test='topMenuId != null and topMenuId != ""'>
      		AND PD.TOP_MENU_ID = #{topMenuId}    /* DP13:ebook/DP14:코믹/DP17:영화/DP18:TV/방송 */
      		</if>
			    ORDER BY TP.EXPO_ORD
			  ) IV
			) OV
			WHERE OV.RNUM BETWEEN #{offset} AND (#{offset}+#{count}-1)
			ORDER BY OV.RNUM
    </select>
    
    <!-- 정액제 상품 상세 조회 -->
    <select id="selectFreepassDetail" parameterType="FreepassDetailSacReq" resultType="metaInfo">
	SELECT  /* MetaInfoMapper.xml, getFreepassMetaInfo, 서영배, 2014-02-11 */
		IV.*
		, NVL(BIG.FILE_PATH, '') || NVL(BIG.FILE_NM, '') AS BANNER_FILE_PATH
		, NVL(TIG.FILE_PATH, '') || NVL(TIG.FILE_NM, '') AS THUMBNAIL_FILE_PATH
	FROM (
		SELECT  
			PD.PROD_ID
			, PD.TOP_MENU_ID
			, (SELECT MENU_DESC FROM TB_DP_MENU_CATEGORY_DESC WHERE MENU_ID = PD.TOP_MENU_ID AND LANG_CD = DC.LANG_CD) AS TOP_MENU_NM
			, PD.META_CLSF_CD
			, PD.PROD_CHRG_YN
			, PD.SELLER_MBR_NO
			, PD.SVC_GRP_CD
			, PD.SVC_TYPE_CD
			, PD.PROD_GRD_CD
			, PD.CID
			, PD.MALL_CD
			, PD.FEE_CASE_CD
			, PD.FEE_UNIT_CD
			, PD.USE_PERIOD_UNIT_CD
			, PD.USE_PERIOD
			, PD.DRM_YN
			, PD.DRM_SET_CD
			, PD.DRM_SET_VALUE
			, PD.CONTENTS_TYPE_CD
			, PD.SUB_MENU_ID
			, CM.CMPX_PROD_CLSF_CD
			, DC.PROD_INTR_DSCR
			, PR.PROD_AMT
			, DC.PROD_NM
			, DC.PROD_ALIAS
			, DC.PROD_BASE_DESC
			, DC.PROD_DTL_DESC
			, DC.PROD_USE_MTD
			, CM.AUTO_APPR_YN
			, CM.MAX_SALE_CNT
			, CM.SALE_POC_CD
			, CM.DUP_PRCHS_LIMT_YN
			, TP.PROD_STATUS_CD
			, TP.EXPO_YN
			, TP.EXPO_ORD
			, TO_CHAR(PR.APPLY_START_DT, 'YYYYMMDDHH24MISS') AS APPLY_START_DT
			, TO_CHAR(PR.APPLY_END_DT, 'YYYYMMDDHH24MISS') AS APPLY_END_DT
			, PR.CHNL_UNLMT_AMT
			, PR.CHNL_PERIOD_AMT
			, PR.PROD_NET_AMT
			, PR.DC_RATE
			, PR.DC_AMT
			, PR.DC_AFT_PROD_AMT
			, PR.TAX_CLSF
			, DC.LANG_CD
			, TP.TENANT_ID
		FROM 
			TB_DP_PROD PD, TB_DP_CMPX_PROD CM, TB_DP_PROD_DESC DC, 
  			TB_DP_TENANT_PROD TP, TB_DP_TENANT_PROD_PRICE PR
		WHERE PD.PROD_ID = #{productId}
		AND PD.PROD_ID = CM.PROD_ID
		AND PD.PROD_ID = DC.PROD_ID
		AND PD.PROD_ID = TP.PROD_ID
		AND PD.PROD_ID = PR.PROD_ID
		AND DC.LANG_CD = #{langCd}
		AND TP.TENANT_ID = #{tenantId}
		AND TP.TENANT_ID = PR.TENANT_ID
		AND SYSDATE BETWEEN PR.APPLY_START_DT AND PR.APPLY_END_DT
		AND EXISTS ( SELECT SP.PROD_ID FROM TB_DP_SPRT_DEVICE SP WHERE SP.PROD_ID=PD.PROD_ID 
			AND ( SP.DEVICE_MODEL_CD = 'android_standard2' OR SP.DEVICE_MODEL_CD = #{deviceModelCd} ))
		AND EXISTS (
			SELECT 'X' 
			FROM TB_CM_DEVICE DV
			WHERE DV.DEVICE_MODEL_CD = #{deviceModelCd}
			AND (
			    /*DV.VOD_FIXISTT_SPRT_YN = ( CASE WHEN CM.CMPX_PROD_CLSF_CD='OR004301' OR CM.CMPX_PROD_CLSF_CD='OR004302' 
			                  			THEN 'Y' ELSE 'NOT SUPPORT' END)
			    OR
			    DV.EBOOK_SPRT_YN = ( CASE WHEN CM.CMPX_PROD_CLSF_CD='OR004303' OR CM.CMPX_PROD_CLSF_CD='OR004304' 
			                  			THEN 'Y' ELSE 'NOT SUPPORT' END)*/
			    DV.VOD_FIXISTT_SPRT_YN = ( CASE WHEN PD.TOP_MENU_ID='DP17' OR PD.TOP_MENU_ID='DP18' 
			                  			THEN 'Y' ELSE 'NOT SUPPORT' END)
			    OR
			    DV.EBOOK_SPRT_YN = ( CASE WHEN PD.TOP_MENU_ID='DP13' 
			                  			THEN 'Y' ELSE 'NOT SUPPORT' END)
			    OR
			    DV.COMIC_SPRT_YN = ( CASE WHEN PD.TOP_MENU_ID='DP14' 
			                  			THEN 'Y' ELSE 'NOT SUPPORT' END)
			)
		)
	) IV LEFT OUTER JOIN TB_DP_PROD_IMG BIG
	ON BIG.LANG_CD = IV.LANG_CD AND IV.PROD_ID = BIG.PROD_ID AND BIG.IMG_CD = #{bannerImageCd}
	LEFT OUTER JOIN TB_DP_PROD_IMG TIG
	ON TIG.LANG_CD = IV.LANG_CD AND IV.PROD_ID = TIG.PROD_ID AND TIG.IMG_CD = #{thumbnailImageCd}
    </select>
    
    <!-- 정액제 매핑상품 조회 -->
    <select id="selectFreepassMapProduct" parameterType="FreepassDetailSacReq" resultType="FreepassMapProduct">
		SELECT  /* FreepassMapper.xml, getFreepassMapProduct, 서영배, 2014-02-17 */
			*
		FROM
		(
			SELECT
				ROWNUM AS RNUM
				, IV.*
			FROM (
				SELECT  /* FreepassMapper.xml, getFreepassMapProduct, 서영배, 2014-02-17 */
					COUNT(PD.PROD_ID) OVER() AS TOTAL_COUNT
					, FM.PROD_ID
    		        , FM.PART_PROD_ID
    		        , FM.CONTENTS_CLSF_CD
    		        , FM.DRM_SET_CLSF_CD
    		        , FM.DRM_USE_PERIOD
    		        , FM.DWLD_DRM_YN
    		        , FM.EXPO_ORD
    		        , FM.ICON_CLSF_CD
    		        , FM.SETT_RATE
    		        , FM.STD_PRICE
    		        , FM.STRM_DRM_YN
				FROM
						TB_DP_FIXISTT_PROD_MAPG FM, TB_DP_PROD PD, TB_DP_TENANT_PROD TP,
    		    TB_DP_MENU_CATEGORY_PROD_MAPG MP, TB_DP_MENU_CATEGORY CT
				WHERE FM.PROD_ID = #{productId}
    		    AND FM.PART_PROD_ID = PD.PROD_ID
    		    AND PD.PROD_ID = TP.PROD_ID
    		    AND TP.TENANT_ID = #{tenantId}
    		    AND PD.PROD_Id = MP.PROD_ID
    		    AND MP.MENU_ID = CT.MENU_ID
    		    AND MP.BASE_YN = 'Y'
    		    AND CT.USE_YN = 'Y'
    		    AND TP.PROD_STATUS_CD = 'PD000403'
    		    AND EXISTS ( 
    		    	SELECT SP.PROD_ID 
    		    	FROM TB_DP_SPRT_DEVICE SP, TB_DP_PROD_RSHP RS, TB_CM_DEVICE DV, 
    		    		TB_DP_PROD EP, TB_DP_SUB_CONTENTS SC, TB_DP_TENANT_PROD ET
    		        WHERE RS.PROD_ID=PD.PROD_ID AND RS.PART_PROD_ID = SP.PROD_ID
    		        AND ( SP.DEVICE_MODEL_CD = 'android_standard2' OR SP.DEVICE_MODEL_CD = #{deviceModelCd} )
    		        AND DV.DEVICE_MODEL_CD = #{deviceModelCd}
    		        AND DV.DEVICE_MODEL_CD = SP.DEVICE_MODEL_CD
    		        AND RS.PART_PROD_ID = EP.PROD_ID
    		        AND EP.PROD_ID = SC.PROD_ID
    		        AND EP.PROD_ID = ET.PROD_ID
    		        AND ET.TENANT_ID = #{tenantId}
    		        AND ET.PROD_STATUS_CD = 'PD000403'
    		        AND CASE WHEN PD.TOP_MENU_ID='DP17' OR PD.TOP_MENU_ID='DP18' THEN 
    		        		CASE WHEN DV.VIDEO_DRM_SPRT_YN = 'N' THEN (CASE WHEN EP.DRM_YN ='N' THEN '1' ELSE '0' END) 
    		            	ELSE '1' END
    		            ELSE '1' END = '1'
    		        AND CASE WHEN PD.TOP_MENU_ID='DP17' OR PD.TOP_MENU_ID='DP18' THEN 
    		        		CASE WHEN DV.HDV_SPRT_YN = 'N' THEN (CASE WHEN SC.DP_PG_QULT_CD ='PD009701' OR SC.DP_PG_QULT_CD ='PD009702' THEN '1' ELSE '0' END) 
    		            	ELSE '1' END
    		            ELSE '1' END = '1'
    		        AND CASE WHEN PD.TOP_MENU_ID='DP17' OR PD.TOP_MENU_ID='DP18' 
					     	THEN DV.VOD_FIXISTT_SPRT_YN 
				    	WHEN PD.TOP_MENU_ID='DP13' 
					        THEN DV.EBOOK_SPRT_YN 
					    WHEN PD.TOP_MENU_ID='DP14' 
					        THEN DV.COMIC_SPRT_YN ELSE 'N' END = 'Y'
    		        )
        		ORDER BY FM.EXPO_ORD
			) IV
		) OV
		WHERE OV.RNUM BETWEEN #{offset} AND (#{offset}+#{count}-1)
		ORDER BY OV.RNUM
    </select>
    
    <!-- 특정 상품에 적용할 자유 이용권 조회-->
    <select id="searchFreepassListByChannel" parameterType="FreepassListSacReq" resultType="ProductBasicInfo">
            /* FreepassMapper.xml, searchFreepassListByChannel, SAC : 서영배 , 2014-02-12 */
            SELECT 
                * 
            FROM
            (
                SELECT 
                    IV.*
                , ROWNUM AS RNUM
                FROM 
                (
                    SELECT
                        COUNT(PD.PROD_ID) OVER() AS TOTAL_COUNT
                        , TP.TENANT_ID
                        , DC.LANG_CD
                        , PD.PROD_ID
                        , PD.TOP_MENU_ID
                        , (SELECT MENU_DESC FROM TB_DP_MENU_CATEGORY_DESC WHERE MENU_ID = PD.TOP_MENU_ID AND LANG_CD = DC.LANG_CD) AS TOP_MENU_NM
                        , PD.META_CLSF_CD
                        , PD.PROD_CHRG_YN
                        , PD.SELLER_MBR_NO
                        , PD.SVC_GRP_CD
                        , PD.SVC_TYPE_CD
                        , PD.PROD_GRD_CD
                        , PD.CID
                        , PD.MALL_CD
                        , PD.FEE_CASE_CD
                        , PD.FEE_UNIT_CD
                        , PD.USE_PERIOD_UNIT_CD
                        , PD.USE_PERIOD
                        , PD.DRM_YN
                        , PD.DRM_SET_CD
                        , PD.DRM_SET_VALUE
                        , PD.CONTENTS_TYPE_CD
                        , PD.SUB_MENU_ID
                  , TP.EXPO_ORD
                    FROM
                        TB_DP_PROD PD, TB_DP_CMPX_PROD CM, TB_DP_PROD_DESC DC,
                        TB_DP_TENANT_PROD TP, TB_DP_TENANT_PROD_PRICE PR
                        ,(SELECT DISTINCT A.PROD_ID 
                            FROM TB_DP_FIXRATE_PROD_MAPG A
                                 ,TB_DP_PROD_RSHP B
                           WHERE A.PART_PROD_ID = B.PROD_ID
                             AND B.PROD_RSHP_CD =#{prodRshpCd}
                             AND (B.PROD_ID =#{productId} OR B.PART_PROD_ID=#{productId})
                         )PM                        
                    WHERE PD.PROD_ID = CM.PROD_ID
                    AND PD.PROD_ID = DC.PROD_ID
                    AND PD.PROD_ID = TP.PROD_ID
                    AND PD.PROD_ID = PR.PROD_ID
                    AND PD.PROD_ID = PM.PROD_ID
                    AND DC.LANG_CD = #{langCd}
                    AND TP.TENANT_ID = #{tenantId}
                    AND TP.TENANT_ID = PR.TENANT_ID
                    AND SYSDATE BETWEEN PR.APPLY_START_DT AND PR.APPLY_END_DT
                        AND EXISTS ( SELECT SP.PROD_ID FROM TB_DP_SPRT_DEVICE SP WHERE SP.PROD_ID=PD.PROD_ID 
                        AND ( SP.DEVICE_MODEL_CD = 'android_standard2' OR SP.DEVICE_MODEL_CD = #{deviceModelCd} ))
                        AND EXISTS (
                        SELECT 'X' 
                          FROM TB_CM_DEVICE DV
                          WHERE DV.DEVICE_MODEL_CD = #{deviceModelCd}
                          AND (
                            DV.VOD_FIXISTT_SPRT_YN = ( CASE WHEN CM.CMPX_PROD_CLSF_CD='OR004301' OR CM.CMPX_PROD_CLSF_CD='OR004302' 
                                                    THEN 'Y' ELSE 'NOT SUPPORT' END)
                            OR
                            DV.EBOOK_SPRT_YN = ( CASE WHEN CM.CMPX_PROD_CLSF_CD='OR004303' OR CM.CMPX_PROD_CLSF_CD='OR004304' 
                                                    THEN 'Y' ELSE 'NOT SUPPORT' END)
                          )
                      )
                <if test='prodStatusCd != null and prodStatusCd != ""'>
            AND TP.PROD_STATUS_CD = #{prodStatusCd}    /* PD000403 : 판매중 */
            </if>
                AND TP.EXPO_YN = 'Y'
                <if test='kind != null and kind != ""'>
            AND CM.CMPX_PROD_CLSF_CD = #{kind}
            </if>
                ORDER BY TP.EXPO_ORD
              ) IV
            ) OV
            WHERE OV.RNUM BETWEEN #{offset} AND (#{offset}+#{count}-1)
            ORDER BY OV.RNUM
    </select>    

 </mapper>