<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PersonalUpdateProduct">
    
     <select id="searchRecentFromPkgNm" parameterType="Map" resultType="Map">
        SELECT 
              LA.* 
          FROM                                            
              ( SELECT  /* PersonalUpdateProductMapper.xml, searchUpdateProductList, SAC : 오승민 , 2014-02-28 */
                           CONTENTS.PROD_ID
                         , CONTENTS.APK_PKG_NM
                         , CONTENTS.APK_VER
                         , CONTENTS.SUB_CONTENTS_ID
                         ,ROW_NUMBER() OVER (PARTITION BY CONTENTS.APK_PKG_NM ORDER BY CONTENTS.APK_VER DESC) AS RNUM 
                     FROM  TB_DP_SUB_CONTENTS            CONTENTS
                          ,TB_DP_SPRT_DEVICE             DEVICE
                     WHERE CONTENTS.APK_PKG_NM IN 
                         <foreach collection="PKG_LIST" item="item" index="index" open="(" separator="," close=")"> 
                        #{item}
                        </foreach>
                        AND CONTENTS.PROD_ID = DEVICE.PROD_ID
                        AND CONTENTS.SUB_CONTENTS_ID = DEVICE.SUB_CONTENTS_ID
                        AND DEVICE.DEVICE_MODEL_CD = #{deviceHeader.model}
                )LA
                WHERE RNUM = 1                                
    </select>
    
    
    
    <select id="getAppInfo" parameterType="Map" resultType="Map">
        SELECT 
        LB.* 
       ,( CASE WHEN ( LB.FAKE_CNT > 0 AND NVL( LB.PROD_AMT, 0 ) = 0 ) THEN 'Y' ELSE 'N' END ) AS FAKE_YN
       ,(SELECT MENU_NM
                   FROM TB_DP_MENU_CATEGORY_DESC
                  WHERE MENU_ID = LB.TOP_MENU_ID
                    AND LANG_CD = 'ko'
                    AND ROWNUM = 1) AS TOP_MENU_NM
       ,LB.VER_MAJOR || '.' || LB.VER_MINOR AS PROD_VER
    FROM(
        SELECT
             LA.*
            ,( SELECT COUNT(*)
                            FROM TB_CM_AUTO_UPGRD_ALTR_PROD AUAP
                           WHERE AUAP.PROD_ID = LA.PROD_ID
             ) AS FAKE_CNT
         FROM (
            SELECT
                 AP.AID
                 ,AP.VER_MAJOR
                 ,AP.VER_MINOR
                 ,MC.TOP_MENU_ID
				 ,MC.UP_MENU_ID
				 ,MC.MENU_ID
				 ,MCD.MENU_NM
				 ,MCD.MENU_DESC
                 ,P.PROD_ID
                 ,P.UPD_DT
                 ,P.PROD_GRD_CD
                 ,PD.PROD_NM
                 ,SC.APK_PKG_NM
                 ,SC.APK_VER
                 ,SC.FILE_SIZE
                 ,SC.FILE_PATH
                 ,PI.FILE_PATH as IMAGE_PATH
                 ,PI.FILE_SIZE as IMAGE_SIZE
                 ,TPP.PROD_AMT
                 ,ROW_NUMBER() OVER (PARTITION BY SC.APK_PKG_NM ORDER BY APK_VER DESC) AS RNUM 
              FROM   TB_DP_PROD P
                    ,TB_DP_PROD_DESC PD
                    ,TB_DP_APP_PROD AP
                    ,TB_DP_SPRT_DEVICE SD
                    ,TB_DP_SUB_CONTENTS SC
                    ,TB_DP_TENANT_PROD TP
                    ,TB_DP_TENANT_PROD_PRICE TPP
                    ,TB_DP_MENU_CATEGORY           MC
                    ,TB_DP_MENU_CATEGORY_PROD_MAPG MCPM
                    ,TB_DP_MENU_CATEGORY_DESC      MCD
                    ,TB_DP_PROD_IMG                PI
             WHERE   MC.MENU_ID = MCPM.MENU_ID
               AND   MC.MENU_ID = MCD.MENU_ID
               AND   MCPM.PROD_ID = P.PROD_ID   
               AND   P.PROD_ID = AP.PROD_ID
               AND   P.PROD_ID = SD.PROD_ID
               AND   P.PROD_ID = PI.PROD_ID
               AND   P.PROD_ID = PD.PROD_ID
               AND   SD.DEVICE_MODEL_CD = #{deviceHeader.model}
               AND   SD.PROD_ID = SC.PROD_ID
               AND   SD.SUB_CONTENTS_ID = SC.SUB_CONTENTS_ID
               AND   P.PROD_ID = #{prodId}
               AND   P.SVC_GRP_CD = #{svcGrpCd}   
               AND   SD.SUB_CONTENTS_ID = #{subContentsId}
               AND   P.PROD_ID = TP.PROD_ID
               AND   TP.TENANT_ID = #{tenantHeader.tenantId}
               AND   TP.PROD_ID = TPP.PROD_ID
               AND   TP.TENANT_ID = TPP.TENANT_ID
               AND   TP.PROD_STATUS_CD = #{prodStatusCd}   /* PD000403 : 판매중 */
               AND   TP.EXPO_YN = 'Y'                 /* Y : 노출 (노출여부) */
               AND   P.CONTENTS_TYPE_CD = #{contentsTypeCd}                -- 에피소드
               AND   MC.USE_YN = 'Y'
               AND   MCPM.USE_YN = 'Y'
               AND   MCD.LANG_CD = #{tenantHeader.langCd}                /* ko : 한국어 */
               AND   PI.IMG_CD = #{imageCd}           /* 이미지코드 */
               AND   PI.EXPO_ORD = 1                  /* 노출순서 */
               AND   PI.LANG_CD = #{tenantHeader.langCd}                /* ko : 한국어 */
               AND   PD.LANG_CD = #{tenantHeader.langCd}                /* ko : 한국어 */
               AND   SYSDATE BETWEEN TPP.APPLY_START_DT AND TPP.APPLY_END_DT
        ) LA
        WHERE RNUM = 1
    )LB
    </select>
     
</mapper>
