<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PersonalUpgradeProduct">
    
    <select id="searchRecentFromPkgNm" parameterType="Map" resultType="MetaInfo">
        SELECT 
        LB.* 
       ,( CASE WHEN ( LB.FAKE_CNT > 0 AND NVL( LB.PROD_AMT, 0 ) = 0 ) THEN 'Y' ELSE 'N' END ) AS FAKE_YN
    FROM(
        SELECT
             LA.*
            ,( SELECT COUNT(*)
                            FROM TB_CM_AUTO_UPGRD_ALTR_PROD AUAP
                           WHERE AUAP.PROD_ID = LA.PROD_ID
             ) AS FAKE_CNT
         FROM (
            SELECT 
                  P.PROD_ID
                 ,SC.APK_PKG_NM
                 ,SC.APK_VER
                 ,TPP.PROD_AMT
                 ,ROW_NUMBER() OVER (PARTITION BY SC.APK_PKG_NM ORDER BY APK_VER DESC) AS RNUM 
              FROM   TB_DP_PROD P
                    ,TB_DP_APP_PROD AP
                    ,TB_DP_SPRT_DEVICE SD
                    ,TB_DP_SUB_CONTENTS SC
                    ,TB_DP_TENANT_PROD TP
                    ,TB_DP_TENANT_PROD_PRICE TPP
             WHERE   P.PROD_ID = AP.PROD_ID
               AND   P.PROD_ID = SD.PROD_ID
               AND   SD.DEVICE_MODEL_CD = #{deviceHeader.model}
               AND   SD.PROD_ID = SC.PROD_ID
               AND   SD.SUB_CONTENTS_ID = SC.SUB_CONTENTS_ID
               AND   SC.APK_PKG_NM IN
               <foreach collection="list" item="item" index="index" open="(" separator="," close=")"> 
                        #{item}
               </foreach>
               AND   P.PROD_ID = TP.PROD_ID
               AND   TP.TENANT_ID = #{tenantHeader.tenantId}
               AND   TP.PROD_ID = TPP.PROD_ID
               AND   TP.TENANT_ID = TPP.TENANT_ID
               AND   P.CONTENTS_TYPE_CD = #{contentsTypeCd}                -- 에피소드
               AND  SYSDATE BETWEEN TPP.APPLY_START_DT AND TPP.APPLY_END_DT
        ) LA
        WHERE RNUM = 1
    )LB
    </select>
     
</mapper>
