<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PersonalAutoUpgradeMapper">
    
    <!--쿠폰ID,아이템ID 생성 조회-->
    <select id="prodGenerateId" resultType="String">
       /* CouponMapper.xml, prodGenerateId, 쿠폰ID 생성 조회, 김형식/SK플래닛 , 2013-01-08 */
        SELECT 
         'S9'||LPAD(SQ_DP_PROD.NEXTVAL, 8, '0')
        FROM DUAL
    </select>
</mapper>
