<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FeatureRecommend">

    <!--운영자 추천 앱상품 조회 -->
    <select id="selectRecommendAdminList" parameterType="FeatureRecommendAdminSacReq" resultType="ProductBasicInfo">
       SELECT /* FeatureRecommendMapper.xml, selectRecommendAdminList, SAC : 조준일 , 2014-02-03 */
              A.TENANT_ID
		    , A.MENU_ID
		    , A.PROD_ID
		    , A.TOTAL_COUNT
		 FROM (SELECT A.TENANT_ID
		            , B.MENU_ID
		            , B.PROD_ID
		            , COUNT(*) OVER () AS TOTAL_COUNT
                    , ROW_NUMBER() OVER(ORDER BY B.EXPO_ORD_ALWAYS_YN DESC, B.EXPO_ORD, B.EXPO_ORD_SUB) AS RNUM
		         FROM TB_DP_LIST A
		            , TB_DP_LIST_PROD B
		            , TB_DP_MENU_CATEGORY_PROD_MAPG C
		            , TB_DP_MENU_CATEGORY D
		            , TB_DP_PROD E
		            , TB_DP_SUB_CONTENTS F
		            , TB_DP_SPRT_DEVICE G
		            , TB_CM_DEVICE H
		            , TB_DP_TENANT_PROD I
		        WHERE A.LIST_ID = B.LIST_ID
		          AND A.TENANT_ID = B.TENANT_ID
		          AND B.LIST_ID = #{listId}
		          AND A.TENANT_ID = #{tenantId}
		          AND A.EXPO_YN = 'Y'
		          AND B.EXPO_YN = 'Y'
		          AND TO_CHAR(B.STD_DT, 'YYYYMMDDHH24MISS') = #{stdDt}
		          AND SYSDATE BETWEEN B.EXPO_START_DT AND B.EXPO_END_DT
		          AND B.PROD_ID = C.PROD_ID
		          AND B.MENU_ID = C.MENU_ID  /* MENU_ID 다른경우 있음(확인 필요) */
		          AND C.USE_YN = 'Y'
		          AND C.MENU_ID = D.MENU_ID
		          AND D.USE_YN = 'Y'
		          AND D.TOP_MENU_ID IN
		          <foreach collection="topMenuIdArr" item="topMenuId" index="index" open="(" close=")" separator=",">
                   #{topMenuId}
                  </foreach>
		          AND C.PROD_ID = E.PROD_ID
		          AND D.TOP_MENU_ID = E.TOP_MENU_ID
		          <if test='prodGradeCd != null and prodGradeCd != ""'>
		          AND E.PROD_GRD_CD IN
		          <foreach collection="prodGradeCdArr" item="prodGradeCd" index="index" open="(" close=")" separator=",">
		           #{prodGradeCd}          
		          </foreach> /* 상품등급코드 */
		          </if>
		          <if test='prodCharge == "Y"'>
                  AND E.PROD_CHRG_YN = 'Y'       /* 유료 */
                  </if>
                  <if test='prodCharge == "N"'>
                  AND E.PROD_CHRG_YN = 'N'       /* 무료 */
                  </if>  
                  AND E.PROD_ID = F.PROD_ID
                  AND F.PROD_ID = G.PROD_ID
		          AND F.SUB_CONTENTS_ID = G.SUB_CONTENTS_ID
		          AND G.DEVICE_MODEL_CD = H.DEVICE_MODEL_CD
		          AND G.DEVICE_MODEL_CD = #{deviceModelCd}
		          AND B.PROD_ID = I.PROD_ID
		          AND I.TENANT_ID = #{tenantId}
		          AND I.EXPO_YN = 'Y'
		          AND I.PROD_STATUS_CD = 'PD000403'
		       ) A 
		 WHERE RNUM BETWEEN #{offset} AND (#{offset}+#{count}-1)
		 ORDER BY RNUM
    </select>    
    
    <!-- TODAY 상품 조회 -->
    <select id="selectRecommendTodayList" parameterType="RecommendTodaySacReq" resultType="ProductBasicInfo">
	    SELECT /* FeatureRecommendMapper.xml, selectRecommendTodayList, SAC : 조준일 , 2014-02-06 */
	           B.TENANT_ID
		     , B.MENU_ID
		     , B.PROD_ID
		     , B.TOP_MENU_ID
		     , B.META_CLSF_CD
		     , 'PD002501' AS CONTENTS_TYPE_CD
		     , B.TOTAL_COUNT
		  FROM (SELECT A.*
		             , COUNT(*) OVER () AS TOTAL_COUNT
		             , ROW_NUMBER() OVER(ORDER BY EXPO_ORD_ALWAYS_YN DESC, EXPO_ORD, EXPO_ORD_SUB) AS RNUM
		          FROM (SELECT A.TENANT_ID
		                     , E.MENU_ID
		                     , C.PROD_ID
		                     , E.TOP_MENU_ID
		                     , F.META_CLSF_CD
		                     , B.EXPO_ORD_ALWAYS_YN
		                     , B.EXPO_ORD
		                     , B.EXPO_ORD_SUB
		                     , ROW_NUMBER() OVER(PARTITION BY C.PROD_ID ORDER BY F.UPD_DT DESC) AS RN
		                  FROM TB_DP_LIST A
		                     , TB_DP_LIST_PROD B
		                     , TB_DP_PROD_RSHP C
		                     , TB_DP_MENU_CATEGORY_PROD_MAPG D
		                     , TB_DP_MENU_CATEGORY E
		                     , TB_DP_PROD F  /* 에피소드 */
		                     , TB_DP_TENANT_PROD G
		                     , (SELECT SD.PROD_ID
		                         FROM TB_DP_SPRT_DEVICE SD
		                             , TB_CM_DEVICE CD
		                         WHERE SD.DEVICE_MODEL_CD = CD.DEVICE_MODEL_CD
		                           AND (SD.DEVICE_MODEL_CD = #{deviceModelCd} OR SD.DEVICE_MODEL_CD = 'android_standard2')
		                           AND CD.USE_YN = 'Y'
		                           <if test='topMenuId == "DP13"'>
		                           AND CD.EBOOK_SPRT_YN = 'Y'
		                           </if>
		                           <if test='topMenuId == "DP14"'>
		                           AND CD.COMIC_SPRT_YN = 'Y'
		                           </if>
		                           <if test='topMenuId == "DP16"'>
		                           AND CD.MUSIC_SPRT_YN = 'Y'
		                           </if>
		                       ) H
		                 WHERE A.LIST_ID = B.LIST_ID
		                   AND A.TENANT_ID = B.TENANT_ID
		                   AND A.EXPO_YN = 'Y'
		                   AND B.EXPO_YN = 'Y'
		                   AND A.TENANT_ID = #{tenantId}
		                   AND A.LIST_ID = #{listId}
		                   AND SYSDATE BETWEEN B.EXPO_START_DT AND B.EXPO_END_DT
		                   AND TO_CHAR(B.STD_DT, 'YYYYMMDDHH24MISS') = #{stdDt}
		                   <if test='topMenuId == "DP16"'>
		                   AND B.PROD_ID = C.PART_PROD_ID  /* MUSIC 에피소드 */
		                   </if>
		                   <if test='topMenuId != "DP16"'>
		                   AND B.PROD_ID = C.PROD_ID  /* EBOOK/COMIC 채널 */
		                   </if>
		                   AND C.PROD_RSHP_CD = 'DP010802'
		                   AND B.PROD_ID = D.PROD_ID
		                   AND D.USE_YN = 'Y'
		                   AND D.MENU_ID = E.MENU_ID
		                   AND E.USE_YN = 'Y'
		                   AND E.TOP_MENU_ID = #{topMenuId}
		                   AND C.PART_PROD_ID = F.PROD_ID
		                   AND F.CONTENTS_TYPE_CD = 'PD002502'
		                   <if test='prodCharge == "Y"'>
		                   AND F.PROD_CHRG_YN = 'Y'  /* 유료 */
		                   </if>
		                   <if test='prodCharge == "N"'>
		                   AND F.PROD_CHRG_YN = 'N'  /* 무료 */
		                   </if>
		                   <if test='prodGradeCd != null and prodGradeCd != ""'>
		                   AND F.PROD_GRD_CD IN
		                      <foreach collection="prodGradeCdArr" item="prodGradeCd" index="index" open="(" close=")" separator=",">
                              #{prodGradeCd}          
                              </foreach> /* 상품등급코드 */
		                   </if>
		                   <if test='topMenuId == "DP16"'>
		                   AND F.META_CLSF_CD = 'CT25'  /* MUSIC */
		                   </if>
		                   <if test='topMenuId == "DP13"'>
		                   AND F.META_CLSF_CD IN ('CT19', 'CT20')  /* EBOOK */
		                   </if>
		                   AND F.PROD_ID = G.PROD_ID
		                   AND G.TENANT_ID = #{tenantId}
		                   AND G.EXPO_YN = 'Y'
		                   AND C.PART_PROD_ID = H.PROD_ID
		              ) A
		         WHERE RN = 1
		      ) B
		 WHERE RNUM BETWEEN #{offset} AND (#{offset}+#{count}-1)
		 ORDER BY RNUM
    </select>
    
</mapper>
