<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MusicMain">

    <!-- Music Main -->
    <select id="getMusicMainList" parameterType="MusicContentsRequest" resultType="MusicContentsDTO">
        SELECT /* MusicMainMapper.xml, getMusicMainList, JuYoungYun, 2014-01-16 */
               COUNT(*) OVER () AS TOTAL_COUNT
             , P.TOP_MENU_ID
             , (SELECT MENU_NM 
                  FROM TB_DP_MENU_CATEGORY_DESC
                 WHERE MENU_ID = P.TOP_MENU_ID
                   AND LANG_CD = #{langCd}) AS TOP_MENU_NM 
             , P.MENU_ID
             , (SELECT MENU_NM
                  FROM TB_DP_MENU_CATEGORY_DESC
                 WHERE MENU_ID = P.MENU_ID
                   AND LANG_CD = #{langCd}) AS MENU_NM 
             , P.CHNL_PROD_ID
             , P.EPSD_PROD_ID
             , P.OUTSD_CONTENTS_ID
             , P.PROD_NM
             , DECODE( P.PROD_GRD_CD
                     , 'PD004401', 0
                     , 'PD004404', 4 ) AS PROD_GRD_CD
             , P.PROD_DTL_DESC
             , P.PROD_AMT
             , ( SELECT MAI.ARTIST_ID
                   FROM TB_DP_ARTIST MAI
                  WHERE MAI.ARTIST_ID = P.ARTIST_ID ) AS ARTIST_ID
             , P.ARTIST1_NM
             , P.ARTIST2_NM
             , P.ARTIST3_NM
             , P.CHNL_COMP_NM
             , P.AGENCY_NM
             , P.ISSUE_DAY
             , DECODE( P.RANK_CHG_CLSF_CD
                     , 'DP005301', P.RANK_CHG_CNT              /* UP : 상승곡 */
                     , 'DP005303', ( P.RANK_CHG_CNT * -1 )     /* DN : 하락곡 */
                     , P.RANK_CHG_CNT ) AS RANK_CHG_CNT
             , 'support' AS MP3_SPRT
             , DECODE( P.BELL_SPRT_YN, 'Y', 'support', 'restrict' ) AS BELL_SPRT
             , DECODE( P.COLORRING_SPRT_YN, 'Y', 'support', 'restrict' ) AS RING_SPRT
             , CONCAT( PI.FILE_PATH, PI.FILE_NM ) AS FILE_POS
             , PI.FILE_SIZE
          FROM
             (
             SELECT B.*
               FROM
                  (
                  SELECT A.*
                       , ROWNUM AS RNUM
                    FROM
                       (
                       SELECT MCI.RANK_CHG_CNT
                            , MCI.RANK_CHG_CLSF_CD
                            , MCI.ARTIST_ID
                            , CP.PROD_ID AS CHNL_PROD_ID
                            , CP.PART_PROD_ID AS EPSD_PROD_ID
                            , C.MENU_ID
                            , C.TOP_MENU_ID
                            , MP.OUTSD_CONTENTS_ID -- 외부_컨텐츠_ID
                            , PD.PROD_NM
                            , PD.PROD_DTL_DESC
                            , TPP.PROD_AMT
                            , P.PROD_GRD_CD
                            , PD.ARTIST1_NM
                            , PD.ARTIST2_NM
                            , PD.ARTIST3_NM                        
                            , MP.CHNL_COMP_NM
                            , MP.AGENCY_NM
                            , MP.ISSUE_DAY
                            , MP.BELL_SPRT_YN
                            , MP.COLORRING_SPRT_YN
                         FROM TB_DP_MULTIMDA_PROD MP
                            , TB_DP_MUSIC_CHART MCI
                            , TB_DP_PROD P
                            , TB_DP_PROD_DESC PD
                            , TB_DP_PROD_RSHP CP
                            , TB_DP_TENANT_PROD TP
                            , TB_DP_TENANT_PROD_PRICE TPP
                            , TB_DP_MENU_CATEGORY_PROD_MAPG CPM
                            , TB_DP_MENU_CATEGORY C
                            , TB_DP_SPRT_DEVICE SH
                            , TB_CM_DEVICE PHI
                            , TB_DP_MULTIMDA_PROD MP2
                            , TB_DP_PROD P2
                            , TB_DP_TENANT_PROD TP2
                        WHERE MP.PROD_ID = CP.PART_PROD_ID
                          AND P.PROD_ID = CP.PART_PROD_ID
                          AND MCI.PROD_ID = CP.PART_PROD_ID -- EPISODE PROD ID
                          AND CPM.PROD_ID = CP.PART_PROD_ID
                          AND P2.PROD_ID = CP.PROD_ID -- CHANNEL PROD ID
                          AND TP2.PROD_ID = P2.PROD_ID
                          AND MP2.PROD_ID = P2.PROD_ID
                          AND C.MENU_ID = CPM.MENU_ID
                          AND TP.PROD_ID = P.PROD_ID
                          AND TPP.PROD_ID = TP.PROD_ID
                          AND TPP.TENANT_ID = TP.TENANT_ID
                          AND PD.PROD_ID = P.PROD_ID
                          AND SH.DEVICE_MODEL_CD = PHI.DEVICE_MODEL_CD
                          AND SH.PROD_ID = P.PROD_ID
                          AND SH.DEVICE_MODEL_CD = #{deviceModelCd}
                    <!-- TOP Music -->
                    <if test='filteredBy == "top"'>
                          AND MCI.CHART_CLSF_CD = 'DP004901' -- 멜론 TOP 100
                          AND MCI.RANK_START_DAY = ( SELECT MAX(TO_CHAR(STD_DT,'YYYYMMDD'))
                                                       FROM TB_DP_BATCH_COMPT
                                                      WHERE TENANT_ID = #{tenantId}
                                                        AND BATCH_ID = 'MELON_DP004901') -- 멜론 TOP 100
                    </if>
                    <!-- 최신음악 -->
                    <if test='filteredBy == "recent"'>
                          AND MCI.CHART_CLSF_CD = 'DP004904'
                          AND MCI.RANK_START_DAY = ( SELECT MAX(TO_CHAR(STD_DT,'YYYYMMDD'))
                                                       FROM TB_DP_BATCH_COMPT
                                                      WHERE TENANT_ID = #{tenantId}
                                                        AND BATCH_ID = 'MELON_DP004904')
                    </if>                         
                          AND P.TOP_MENU_ID = #{menuId}
                          AND PHI.USE_YN = 'Y'
                          AND PHI.MUSIC_SPRT_YN = 'Y'
                          AND TP.TENANT_ID = #{tenantId}
                          AND TP.PROD_STATUS_CD = 'PD000403'
                          AND TP.EXPO_YN = 'Y'
                          AND P.CONTENTS_TYPE_CD = 'PD002502'
                          AND P.META_CLSF_CD = 'CT25'
                          AND PD.LANG_CD = #{langCd}
                          AND CPM.USE_YN = 'Y'
                          AND C.USE_YN = 'Y'
                          AND TP2.TENANT_ID = #{tenantId}
                          AND TP2.PROD_STATUS_CD = 'PD000403'
                          AND TP2.EXPO_YN = 'Y'
                          AND P2.CONTENTS_TYPE_CD = 'PD002501'
                          AND P2.META_CLSF_CD = 'CT25' 
                        ORDER BY
                    <!-- TOP Music -->
                    <if test='filteredBy == "top"'>
                             MCI.RANK_CHG_CNT
                    </if>
                    <!-- 최신음악 -->
                    <if test='filteredBy == "recent"'>
                             MP.ISSUE_DAY DESC
                    </if>
                             , PD.PROD_NM
                       ) A
                  ) B
              WHERE RNUM BETWEEN #{offset} AND (#{offset}+#{count}-1)
            ) P
            , TB_DP_PROD_IMG PI
        WHERE PI.PROD_ID = P.CHNL_PROD_ID
          AND PI.IMG_CD = #{imageCd}
    </select>


    <!-- Dummy Data -->
    <select id="getMusicMainDummyList" parameterType="MusicContentsRequest" resultType="MusicContentsDTO">
        SELECT /* MusicMainMapper.xml, getMusicMainDummyList, JuYoungYun, 2014-01-16 */
               COUNT(*) OVER () AS TOTAL_COUNT
             , P.TOP_MENU_ID
             , (SELECT MENU_NM 
                  FROM TB_DP_MENU_CATEGORY_DESC
                 WHERE MENU_ID = P.TOP_MENU_ID
                   AND LANG_CD = #{langCd}) AS TOP_MENU_NM 
             , P.MENU_ID
             , (SELECT MENU_NM
                  FROM TB_DP_MENU_CATEGORY_DESC
                 WHERE MENU_ID = P.MENU_ID
                   AND LANG_CD = #{langCd}) AS MENU_NM 
             , P.CHNL_PROD_ID
             , P.EPSD_PROD_ID
             , P.OUTSD_CONTENTS_ID
             , P.PROD_NM
             , DECODE( P.PROD_GRD_CD
                     , 'PD004401', 0
                     , 'PD004404', 4 ) AS PROD_GRD_CD
             , P.PROD_DTL_DESC
             , P.PROD_AMT
             , ( SELECT MAI.ARTIST_ID
                   FROM TB_DP_ARTIST MAI
                  WHERE MAI.ARTIST_ID = P.ARTIST_ID ) AS ARTIST_ID
             , P.ARTIST1_NM
             , P.ARTIST2_NM
             , P.ARTIST3_NM
             , P.CHNL_COMP_NM
             , P.AGENCY_NM
             , P.ISSUE_DAY
             , DECODE( P.RANK_CHG_CLSF_CD
                     , 'DP005301', P.RANK_CHG_CNT              /* UP : 상승곡 */
                     , 'DP005303', ( P.RANK_CHG_CNT * -1 )     /* DN : 하락곡 */
                     , P.RANK_CHG_CNT ) AS RANK_CHG_CNT
             , 'support' AS MP3_SPRT
             , DECODE( P.BELL_SPRT_YN, 'Y', 'support', 'restrict' ) AS BELL_SPRT
             , DECODE( P.COLORRING_SPRT_YN, 'Y', 'support', 'restrict' ) AS RING_SPRT
             , CONCAT( PI.FILE_PATH, PI.FILE_NM ) AS FILE_POS
             , PI.FILE_SIZE
          FROM
             (
             SELECT B.*
               FROM
                  (
                  SELECT A.*
                       , ROWNUM AS RNUM
                    FROM
                       (
                       SELECT MCI.RANK_CHG_CNT
                            , MCI.RANK_CHG_CLSF_CD
                            , MCI.ARTIST_ID
                            , CP.PROD_ID AS CHNL_PROD_ID
                            , CP.PART_PROD_ID AS EPSD_PROD_ID
                            , C.MENU_ID
                            , C.TOP_MENU_ID
                            , MP.OUTSD_CONTENTS_ID -- 외부_컨텐츠_ID
                            , PD.PROD_NM
                            , PD.PROD_DTL_DESC
                            , TPP.PROD_AMT
                            , P.PROD_GRD_CD
                            , PD.ARTIST1_NM
                            , PD.ARTIST2_NM
                            , PD.ARTIST3_NM                        
                            , MP.CHNL_COMP_NM
                            , MP.AGENCY_NM
                            , MP.ISSUE_DAY
                            , MP.BELL_SPRT_YN
                            , MP.COLORRING_SPRT_YN
                         FROM TB_DP_MULTIMDA_PROD MP
                            , TB_DP_MUSIC_CHART MCI
                            , TB_DP_PROD P
                            , TB_DP_PROD_DESC PD
                            , TB_DP_PROD_RSHP CP
                            , TB_DP_TENANT_PROD TP
                            , TB_DP_TENANT_PROD_PRICE TPP
                            , TB_DP_MENU_CATEGORY_PROD_MAPG CPM
                            , TB_DP_MENU_CATEGORY C
                            , TB_DP_SPRT_DEVICE SH
                            , TB_CM_DEVICE PHI
                            , TB_DP_MULTIMDA_PROD MP2
                            , TB_DP_PROD P2
                            , TB_DP_TENANT_PROD TP2
                        WHERE MP.PROD_ID = CP.PART_PROD_ID
                          AND P.PROD_ID = CP.PART_PROD_ID
                          AND MCI.PROD_ID = CP.PART_PROD_ID -- EPISODE PROD ID
                          AND CPM.PROD_ID = CP.PART_PROD_ID
                          AND P2.PROD_ID = CP.PROD_ID -- CHANNEL PROD ID
                          AND TP2.PROD_ID = P2.PROD_ID
                          AND MP2.PROD_ID = P2.PROD_ID
                          AND C.MENU_ID = CPM.MENU_ID
                          AND TP.PROD_ID = P.PROD_ID
                          AND TPP.PROD_ID = TP.PROD_ID
                          AND TPP.TENANT_ID = TP.TENANT_ID
                          AND PD.PROD_ID = P.PROD_ID
                          AND SH.DEVICE_MODEL_CD = PHI.DEVICE_MODEL_CD
                          AND SH.PROD_ID = P.PROD_ID
                          AND SH.DEVICE_MODEL_CD = #{deviceModelCd}
                          AND MCI.CHART_CLSF_CD = 'DP004904'
                          AND MCI.RANK_START_DAY = ( SELECT MAX(TO_CHAR(STD_DT,'YYYYMMDD'))
                                                       FROM TB_DP_BATCH_COMPT
                                                      WHERE TENANT_ID = #{tenantId}
                                                        AND BATCH_ID = 'MELON_DP004904')
                          AND P.TOP_MENU_ID = #{menuId}
                          AND PHI.USE_YN = 'Y'
                          AND PHI.MUSIC_SPRT_YN = 'Y'
                          AND TP.TENANT_ID = #{tenantId}
                          AND TP.PROD_STATUS_CD = 'PD000403'
                          AND TP.EXPO_YN = 'Y'
                          AND P.CONTENTS_TYPE_CD = 'PD002502'
                          AND P.META_CLSF_CD = 'CT25'
                          AND PD.LANG_CD = #{langCd}
                          AND CPM.USE_YN = 'Y'
                          AND C.USE_YN = 'Y'
                          AND TP2.TENANT_ID = #{tenantId}
                          AND TP2.PROD_STATUS_CD = 'PD000403'
                          AND TP2.EXPO_YN = 'Y'
                          AND P2.CONTENTS_TYPE_CD = 'PD002501'
                          AND P2.META_CLSF_CD = 'CT25' 
                        ORDER BY
                             MP.ISSUE_DAY DESC
                             , PD.PROD_NM
                       ) A
                  ) B
              WHERE RNUM BETWEEN #{offset} AND (#{offset}+#{count}-1)
            ) P
            , TB_DP_PROD_IMG PI
        WHERE PI.PROD_ID = P.CHNL_PROD_ID
          AND PI.IMG_CD = #{imageCd}
    </select>
         
</mapper>
