<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MusicMain">

    <!-- Music Main -->
    <select id="getMusicMainList" parameterType="MusicContentsSacReq" resultType="ProductBasicInfo">
        SELECT /* MusicMainMapper.xml, getMusicMainList, SAC 전시, 2014-02-05 */
               A.TENANT_ID
             , A.MENU_ID
             , A.PROD_ID
             , A.PART_PROD_ID
             , A.TOP_MENU_ID
             , A.META_CLSF_CD
             , A.CONTENTS_TYPE_CD
             , A.TOTAL_COUNT
          FROM (SELECT F.TENANT_ID
                     , C.MENU_ID
                     , I.PROD_ID
                     , I.PART_PROD_ID
                     , C.TOP_MENU_ID
                     , D.META_CLSF_CD
                     , D.CONTENTS_TYPE_CD
                     , COUNT(I.PART_PROD_ID) OVER () AS TOTAL_COUNT
                     <if test='filteredBy == "top"'>
                     /* TOP Music */
                     , ROW_NUMBER() OVER(ORDER BY A.NOW_RANK ASC, E.PROD_NM) AS RNUM
                     </if>
                     <if test='filteredBy == "recent" || filteredBy == "genre"'>
                     /* 최신음악, 장르별 */
                         <if test='orderedBy == "popular"'>
                         /* 인기도 */
                     , ROW_NUMBER() OVER(ORDER BY A.NOW_RANK ASC, G.ISSUE_DAY DESC, E.PROD_NM) AS RNUM
                         </if>
                         <if test='orderedBy == "artist"'>
                         /* 아티스트명 */
                     , ROW_NUMBER() OVER(ORDER BY E.ARTIST1_NM, E.PROD_NM) AS RNUM
                         </if>
                         <if test='orderedBy == "title"'>
                         /* 곡명 */
                     , ROW_NUMBER() OVER(ORDER BY E.PROD_NM, E.ARTIST1_NM) AS RNUM
                         </if>
                         <if test='orderedBy == null || orderedBy == ""'>
                         /* Default */
                     , ROW_NUMBER() OVER(ORDER BY A.NOW_RANK ASC, G.ISSUE_DAY DESC, E.PROD_NM) AS RNUM
                         </if>
                     </if>
                     <if test='filteredBy == "ring" || filteredBy == "bell"'>
                     /* 컬러링, 벨소리 */
                     , ROW_NUMBER() OVER(ORDER BY A.RANK_CHG_CNT ASC) AS RNUM
                     </if>
                  FROM TB_DP_MUSIC_CHART A  /* 에피소드 */
                     , TB_DP_MENU_CATEGORY_PROD_MAPG B
                     , TB_DP_MENU_CATEGORY C
                     , TB_DP_PROD D
                     , TB_DP_PROD_DESC E
                     , TB_DP_TENANT_PROD F
                     , TB_DP_MUSIC_PROD G
                     , TB_DP_SPRT_DEVICE H
                     , TB_DP_PROD_RSHP I
                 WHERE A.CHART_CLSF_CD = #{chartClsfCd}
                   AND A.RANK_START_DAY = #{stdDt}
                   AND A.PROD_ID = B.PROD_ID
                   AND B.USE_YN = 'Y'
                   AND B.MENU_ID = C.MENU_ID
                   AND C.USE_YN = 'Y'
                   <if test='menuId != null and menuId != ""'>
                   AND C.MENU_ID = #{menuId}
                   </if>
                   <if test='menuId == null or menuId == ""'>
                   AND C.TOP_MENU_ID = 'DP16'
                   </if>
                   AND B.PROD_ID = D.PROD_ID
                   AND D.CONTENTS_TYPE_CD = 'PD002502'
                   AND D.META_CLSF_CD = 'CT25'
                   <if test='prodGradeCd != null and prodGradeCd != ""'>
                   AND D.PROD_GRD_CD IN
                       <foreach collection="prodGradeCdArr" item="prodGradeCd" index="index" open="(" close=")" separator=",">
                       #{prodGradeCd}  
                       </foreach> /* 상품등급코드 */
                   </if>
                   AND D.PROD_ID = E.PROD_ID
                   AND E.LANG_CD = #{langCd}
                   AND E.PROD_ID = F.PROD_ID
                   AND F.TENANT_ID = #{tenantId}
                   AND F.EXPO_YN = 'Y'
                   AND F.PROD_STATUS_CD = 'PD000403' 
                   AND A.PROD_ID = G.PROD_ID
                   AND A.PROD_ID = H.PROD_ID
                   AND (H.DEVICE_MODEL_CD = #{deviceModelCd} OR H.DEVICE_MODEL_CD = #{anyDeviceModelCd})
                   AND (CASE WHEN (SELECT MUSIC_SPRT_YN 
                                     FROM TB_CM_DEVICE CD 
                                    WHERE CD.DEVICE_MODEL_CD = #{deviceModelCd}
                                      AND CD.USE_YN = 'Y') = 'Y'  
                             THEN 1 ELSE 0 END) = 1
                   AND H.PROD_ID = I.PART_PROD_ID
                   AND I.PROD_RSHP_CD = 'DP010802'
                ) A
          WHERE RNUM BETWEEN #{offset} AND (#{offset}+#{count}-1)
          ORDER BY RNUM
    </select>
    
    <!-- Music Main TOP -->
    <select id="getMusicMainTopList" parameterType="MusicContentsSacReq" resultType="ProductBasicInfo">
        SELECT /* MusicMainMapper.xml, getMusicMainTopList, SAC 전시 , 2014-04-22 */
               B.TENANT_ID
             , B.MENU_ID
             , B.PROD_ID
             , B.PART_PROD_ID
             , B.TOP_MENU_ID
             , B.META_CLSF_CD
             , B.CONTENTS_TYPE_CD
             , B.TOTAL_COUNT
          FROM (SELECT A.TENANT_ID
                     , A.MENU_ID
                     , A.PROD_ID
                     , A.PART_PROD_ID
                     , A.TOP_MENU_ID
                     , A.META_CLSF_CD
                     , A.CONTENTS_TYPE_CD
                     , COUNT(A.PART_PROD_ID) OVER () AS TOTAL_COUNT
                     , ROW_NUMBER() OVER(ORDER BY EXPO_ORD_ALWAYS_YN DESC, EXPO_ORD, EXPO_ORD_SUB) AS RNUM
                  FROM (SELECT A.TENANT_ID
                             , E.MENU_ID
                             , C.PROD_ID
                             , C.PART_PROD_ID
                             , E.TOP_MENU_ID
                             , F.META_CLSF_CD
                             , F.CONTENTS_TYPE_CD
                             , B.EXPO_ORD_ALWAYS_YN
                             , B.EXPO_ORD
                             , B.EXPO_ORD_SUB
                          FROM TB_DP_LIST A
                             , TB_DP_LIST_PROD B
                             , TB_DP_PROD_RSHP C
                             , TB_DP_MENU_CATEGORY_PROD_MAPG D
                             , TB_DP_MENU_CATEGORY E
                             , TB_DP_PROD F  /* 에피소드 */
                             , TB_DP_TENANT_PROD G
                             , TB_DP_SPRT_DEVICE H
                         WHERE A.LIST_ID = B.LIST_ID
                           AND A.TENANT_ID = B.TENANT_ID
                           AND A.EXPO_YN = 'Y'
                           AND B.EXPO_YN = 'Y'
                           AND A.TENANT_ID = #{tenantId}
                           AND A.LIST_ID = #{listId}
                           AND SYSDATE BETWEEN B.EXPO_START_DT AND B.EXPO_END_DT
                           AND B.STD_DT = TO_DATE(#{stdDt}, 'YYYYMMDDHH24MISS')
                           AND B.PROD_ID = C.PART_PROD_ID  /* 에피소드 */
                           AND C.PROD_RSHP_CD = 'DP010802'
                           AND B.PROD_ID = D.PROD_ID
                           AND D.USE_YN = 'Y'
                           AND D.MENU_ID = E.MENU_ID
                           AND E.USE_YN = 'Y'
                           AND E.TOP_MENU_ID = 'DP16'
                           <if test='prodGradeCd != null and prodGradeCd != ""'>
                           AND F.PROD_GRD_CD IN
                               <foreach collection="prodGradeCdArr" item="prodGradeCd" index="index" open="(" close=")" separator=",">
                               #{prodGradeCd}  
                               </foreach> /* 상품등급코드 */
                           </if>
                           AND C.PART_PROD_ID = F.PROD_ID
                           AND F.CONTENTS_TYPE_CD = 'PD002502'
                           AND F.PROD_ID = G.PROD_ID
                           AND G.TENANT_ID = #{tenantId}
                           AND G.EXPO_YN = 'Y'
                           AND G.PROD_STATUS_CD = 'PD000403'
                           AND C.PART_PROD_ID = H.PROD_ID
                           AND (H.DEVICE_MODEL_CD = #{deviceModelCd} OR H.DEVICE_MODEL_CD = #{anyDeviceModelCd})
                           AND F.META_CLSF_CD = 'CT25'
                           AND (CASE WHEN (SELECT MUSIC_SPRT_YN 
                                     FROM TB_CM_DEVICE CD 
                                    WHERE CD.DEVICE_MODEL_CD = #{deviceModelCd}
                                      AND CD.USE_YN = 'Y') = 'Y'  
                             THEN 1 ELSE 0 END) = 1
                      ) A
              ) B
         WHERE RNUM BETWEEN #{offset} AND (#{offset}+#{count}-1)
         ORDER BY RNUM
    </select>
    
</mapper>
