<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MusicDetail">

    <!-- Music Main -->
    <select id="getMusicDetail" parameterType="com.skplanet.storeplatform.sac.display.music.vo.MusicDetailParam" resultType="com.skplanet.storeplatform.sac.display.music.vo.MusicDetail">
        /* MusicDetailMapper.xml, getMusicDetail, SAC : 정희원 , 2014-01-24 */
        SELECT
            CPD.PROD_ID AS CHNL_ID,
            EPD.PROD_ID AS EPSD_ID,
            TPRC.PROD_AMT,
            PDESC.PROD_NM,
            NVL(TS.AVG_EVLU_SCORE, 0.0) AS AVG_EVLU_SCORE,
            NVL(TS.DWLD_CNT, 0) AS DWLD_CNT,
            NVL(TS.PATICPERS_CNT, 0) AS PATICPERS_CNT,
            PDESC.ARTIST1_ID,
            PDESC.ARTIST1_NM,
            PDESC.ARTIST2_ID,
            PDESC.ARTIST2_NM,
            PDESC.ARTIST3_ID,
            PDESC.ARTIST3_NM,
            DECODE(MM.BELL_SPRT_YN, 'Y', 1, 0) AS BELL_SPRT_YN,
            DECODE(MM.COLORRING_SPRT_YN, 'Y', 1, 0) AS COLORRING_SPRT_YN,
            DECODE( EPD.PROD_GRD_CD
            , 'PD004401', 0
            , 'PD004402', 1
            , 'PD004403', 2
            , 'PD004404', 4 ) AS PROD_GRD,
            MM.AGENCY_NM,
            MM.CHNL_COMP_NM,
            MM.OUTSD_CONTENTS_ID,
            PI.FILE_PATH || PI.FILE_NM AS THM_PATH
        FROM TB_DP_PROD CPD
            INNER JOIN TB_DP_PROD_RSHP RS
                ON RS.PROD_ID = CPD.PROD_ID
            INNER JOIN TB_DP_PROD EPD
                ON EPD.PROD_ID = RS.PART_PROD_ID
            INNER JOIN TB_DP_MULTIMDA_PROD MM
                ON EPD.PROD_ID = MM.PROD_ID
            INNER JOIN TB_DP_PROD_DESC PDESC
                ON PDESC.PROD_ID = EPD.PROD_ID
            LEFT OUTER JOIN TB_DP_PROD_IMG PI
                ON PI.PROD_ID = CPD.PROD_ID AND PI.EXPO_ORD = 1 AND PI.LANG_CD = PDESC.LANG_CD
            INNER JOIN TB_DP_TENANT_PROD TP
                ON TP.PROD_ID = EPD.PROD_ID
            INNER JOIN TB_DP_TENANT_PROD_PRICE TPRC
                ON TPRC.PROD_ID = EPD.PROD_ID AND TPRC.TENANT_ID = TP.TENANT_ID
            LEFT OUTER JOIN TB_DP_TENANT_PROD_STATS TS
                ON TS.PROD_ID = CPD.PROD_ID AND TS.TENANT_ID = TP.TENANT_ID
        WHERE CPD.META_CLSF_CD = 'CT25'
              AND CPD.CONTENTS_TYPE_CD = 'PD002501'
              AND EPD.META_CLSF_CD = 'CT25'
              AND EPD.CONTENTS_TYPE_CD = 'PD002502'
              AND TP.TENANT_ID = #{tenantId}
              AND PDESC.LANG_CD = #{langCd}
              AND CPD.PROD_ID = #{channelId}
              AND PI.IMG_CD = 'DP000162' -- 곡 이미지
              AND RS.PROD_RSHP_CD = 'DP010802'
              AND TP.PROD_STATUS_CD IN ('PD000402', 'PD000403', 'PD000404')
              AND TP.EXPO_YN = 'Y'
    </select>

    <select id="getSubContentList" parameterType="String" resultType="com.skplanet.storeplatform.sac.display.music.vo.SubContent">
        /* MusicDetailMapper.xml, getSubContentList, SAC : 정희원 , 2014-01-24 */
        select
            SC.DP_PG_QULT_CD,
            SC.FILE_PATH,
            SC.FILE_SIZE
        from TB_DP_SUB_CONTENTS SC
        where
            SC.PROD_ID = #{value}
    </select>
    
</mapper>
