<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FeatureCategory">
    <!-- Feature VOD 카테고리 상품 조회 -->
    <select id="selectFeatureMovieList" parameterType="FeatureCategoryVodReq" resultType="FeatureCategoryVodDTO">
		SELECT  /* selectFeatureMovieList.xml, selectCategoryAppList, tae hee Lee, 2014-01-07 */
		        KA.TOTAL_COUNT
		      , KA.RNUM
		      , KA.UP_MENU_ID
		      , KA.TOP_MENU_ID
		      , KA.MENU_ID
		      , KA.MENU_NM
		      , KA.MENU_DESC
		      , KA.META_CLSF_CD
		      , KA.PROD_ID
		      , CONCAT(KA.VOD_TITL_NM, KA.PROD_NM) AS PROD_NM
		      , KA.PROD_BASE_DESC
		      , KA.PROD_GRD_CD
		      , KA.ARTIST1_NM
		      , KA.ARTIST2_NM
		      , KA.ISSUE_DAY
		      , KA.CHNL_COMP_NM
		      , KA.AGENCY_NM
		      , KA.HDV_YN
		      , KA.DOLBY_SPRT_YN
		      <![CDATA[
		      , CASE WHEN (KA.USE_PERIOD_UNIT_CD = 'PD00312' AND STRM_EPSD_CNT > 0) THEN CHNL_PERIOD_AMT
		             ELSE CHNL_UNLMT_AMT END AS PROD_AMT
		      ]]>
		      , NVL(KB.PATICPERS_CNT, 0) AS PATICPERS_CNT
		      , NVL(KB.PRCHS_CNT, 0) AS PRCHS_CNT
		      <![CDATA[
		      , NVL((CASE WHEN (KB.AVG_EVLU_SCORE > 0 AND KB.AVG_EVLU_SCORE < 1) THEN 1
		                  WHEN KB.AVG_EVLU_SCORE > 5 THEN 5
		                  ELSE ROUND(KB.AVG_EVLU_SCORE, 1) END), 0) AS AVG_EVLU_SCORE
		      ]]>
		      , CONCAT(KC.FILE_PATH, KC.FILE_NM) AS IMG_PATH
		      , (SELECT MENU_NM
		           FROM TB_DP_MENU_DESC
		          WHERE MENU_ID = KA.UP_MENU_ID
		            AND LANG_CD = 'ko'
		            AND ROWNUM = 1) AS UP_MENU_NM
		  FROM (SELECT JA.*
		          FROM (SELECT IA.*, ROW_NUMBER() OVER(ORDER BY IA.EXPO_ORD) AS RNUM
		                  FROM (SELECT COUNT(A.PROD_ID) OVER() AS TOTAL_COUNT
		                             , A.TENANT_ID
		                             , A.MENU_ID
		                             , A.PROD_ID
		                             , A.EXPO_ORD
		                             , B.UP_MENU_ID
		                             , B.TOP_MENU_ID
		                             , C.MENU_NM
		                             , C.MENU_DESC
		                             , D.PROD_GRD_CD
		                             , D.USE_PERIOD_UNIT_CD
		                             , E.META_CLSF_CD
		                             , E.VOD_TITL_NM
		                             , E.STRM_EPSD_CNT
		                             , E.ISSUE_DAY
		                             , E.CHNL_COMP_NM
		                             , E.AGENCY_NM
		                             , E.HDV_YN
		                             , E.DOLBY_SPRT_YN
		                             , F.PROD_NM
		                             , F.ARTIST1_NM
		                             , F.ARTIST2_NM
		                             , F.PROD_BASE_DESC
		                             , H.CHNL_PERIOD_AMT
		                             , H.CHNL_UNLMT_AMT
		                          FROM (SELECT  TENANT_ID
		                                      , LIST_ID
		                                      , MENU_ID
		                                      , PROD_ID
		                                      , EXPO_ORD
		                                  FROM  TB_DP_LIST_PROD
		                                 WHERE  TENANT_ID = #{tenantId}   /* 테넌트ID */
		                                   AND  LIST_ID = #{listId}       /* ADM000000008 : 운영자추천 멀티미디어 */
		                                   AND  ETC_CD = 'DP004801'       /* DP004801 : 영화 */
		                                   AND  EXPO_YN = 'Y'             /* Y : 노출 (노출여부) */
		                                   AND  TO_CHAR(STD_DT, 'YYYYMMDDHH24MISS') = #{stdDt}
		                                   AND  SYSDATE BETWEEN EXPO_START_DT AND EXPO_END_DT
		                               )                       A
		                             , TB_DP_MENU              B
		                             , TB_DP_MENU_DESC         C
		                             , TB_DP_PROD              D
		                             , TB_DP_MULTIMDA_PROD     E
		                             , TB_DP_PROD_DESC         F
		                             , TB_DP_TENANT_PROD       G
		                             , TB_DP_TENANT_PROD_PRICE H
		                         WHERE A.MENU_ID = B.MENU_ID
		                           AND A.MENU_ID = C.MENU_ID
		                           AND A.PROD_ID = D.PROD_ID
		                           AND A.PROD_ID = E.PROD_ID
		                           AND A.PROD_ID = F.PROD_ID
		                           AND A.PROD_ID = G.PROD_ID
		                           AND A.TENANT_ID = G.TENANT_ID
		                           AND A.PROD_ID = H.PROD_ID
		                           AND A.TENANT_ID = H.TENANT_ID
		                           AND B.USE_YN = 'Y'                   /* Y : 사용 (사용여부) */
		                           AND C.LANG_CD = 'ko'                 /* ko : 한국어 */
		                           AND D.SVC_GRP_CD = 'DP000203'        /* DP000201 : 멀티미디어 */
		                           AND E.CONTENTS_TYPE_CD = 'PD002501'  /* PD002501 : 채널타입 */
		                           AND F.LANG_CD = 'ko'                 /* ko : 한국어 */
		                           AND G.PROD_STATUS_CD = 'PD000403'    /* PD000403 : 판매중 */
		                           AND G.EXPO_YN = 'Y'                  /* Y : 노출 (노출여부) */
		                           AND SYSDATE BETWEEN H.APPLY_START_DT AND H.APPLY_END_DT
                                   AND B.UP_MENU_ID = #{topMenuId}
                                   AND A.PROD_ID NOT IN (SELECT PROD_ID FROM TB_DP_SPRT_DEVICE WHERE PROD_ID = A.PROD_ID AND DEVICE_MODEL_CD = 'SHV-E210S')
                                 <if test='prodGradeCd != null'>
                                   AND D.PROD_GRD_CD = #{prodGradeCd}  /* 상품이용등급 */
                                 </if>
		                       ) IA
		               ) JA
		         WHERE JA.RNUM BETWEEN #{offset} AND #{count}
		       )                       KA
		     , TB_DP_TENANT_PROD_STATS KB
		     , TB_DP_PROD_IMG          KC
		 WHERE KA.TENANT_ID = KB.TENANT_ID(+)
		   AND KA.PROD_ID = KB.PROD_ID(+)
		   AND KA.PROD_ID = KC.PROD_ID
		   AND KC.EXPO_ORD = '1'
		   AND KC.IMG_CD = #{imageCd}
    </select>
</mapper>