<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FeatureCategory">
    <!-- Feature VOD 카테고리 상품 조회 -->
    <select id="selectFeatureMovieList" parameterType="FeatureCategoryVodReq" resultType="FeatureCategoryVodDTO">
		SELECT  /* selectFeatureMovieList.xml, selectCategoryAppList, tae hee Lee, 2014-01-07 */
		        LA.TOTAL_COUNT
		      , LA.RNUM
		      , LA.TOP_MENU_ID
		      , LA.MENU_ID
		      , LA.MENU_NM
		      , LA.MENU_DESC
		      , LA.META_CLSF_CD
		      , LA.PROD_ID
		      , LA.PART_PROD_ID
		      , LA.VOD_TITL_NM
		      , LA.PROD_NM
		      , LA.PROD_BASE_DESC
		      , LA.PROD_GRD_CD
		      , LA.ARTIST1_NM
		      , LA.ARTIST2_NM
		      , LA.ISSUE_DAY
		      , LA.CHNL_COMP_NM
		      , LA.AGENCY_NM
		      , LA.HDV_YN
		      , LA.DOLBY_SPRT_YN
		      <![CDATA[
		      , CASE WHEN (LA.USE_PERIOD_UNIT_CD = 'PD00312' AND STRM_EPSD_CNT > 0) THEN CHNL_PERIOD_AMT
		             ELSE CHNL_UNLMT_AMT END AS PROD_AMT
              ]]>
		      , NVL(LB.PATICPERS_CNT, 0) AS PATICPERS_CNT
		      , NVL(LB.PRCHS_CNT, 0) AS PRCHS_CNT
              <![CDATA[
		      , NVL((CASE WHEN (LB.AVG_EVLU_SCORE > 0 AND LB.AVG_EVLU_SCORE < 1) THEN 1
		                  WHEN LB.AVG_EVLU_SCORE > 5 THEN 5
		                  ELSE ROUND(LB.AVG_EVLU_SCORE, 1) END), 0) AS AVG_EVLU_SCORE
              ]]>
		      , CONCAT(LC.FILE_PATH, LC.FILE_NM) AS IMG_PATH
		      , (SELECT MENU_NM
		           FROM TB_DP_MENU_CATALOG_DESC
		          WHERE MENU_ID = LA.TOP_MENU_ID
		            AND LANG_CD = 'ko'
		            AND ROWNUM = 1) AS TOP_MENU_NM
		  FROM (SELECT KA.*
		          FROM (SELECT JA.*
		                     <if test='filteredBy == "recommend"'>
		                     , ROW_NUMBER() OVER(ORDER BY JA.EXPO_ORD, JA.PROD_NM) AS RNUM
		                     </if>
		                     <if test='filteredBy == "movie1000"'>
		                     , ROW_NUMBER() OVER(ORDER BY JA.EXPO_ORD, JA.UPD_DT DESC, JA.PROD_NM) AS RNUM
		                     </if>
		                  FROM (SELECT IA.*, COUNT(IA.PROD_ID) OVER() AS TOTAL_COUNT
		                          FROM (SELECT ROW_NUMBER() OVER(PARTITION BY A.PROD_ID ORDER BY D.UPD_DT DESC) AS RN
		                                     , A.TENANT_ID
		                                     , A.MENU_ID
		                                     , A.PROD_ID
		                                     , A.EXPO_ORD
		                                     , B.UP_MENU_ID
		                                     , B.TOP_MENU_ID
		                                     , C.MENU_NM
		                                     , C.MENU_DESC
		                                     , D.PROD_GRD_CD
		                                     , D.USE_PERIOD_UNIT_CD
		                                     , D.UPD_DT
		                                     , E.META_CLSF_CD
		                                     , E.VOD_TITL_NM
		                                     , E.STRM_EPSD_CNT
		                                     , E.ISSUE_DAY
		                                     , E.CHNL_COMP_NM
		                                     , E.AGENCY_NM
		                                     , E.HDV_YN
		                                     , E.DOLBY_SPRT_YN
		                                     , F.PROD_NM
		                                     , F.ARTIST1_NM
		                                     , F.ARTIST2_NM
		                                     , F.PROD_BASE_DESC
		                                     , H.CHNL_PERIOD_AMT
		                                     , H.CHNL_UNLMT_AMT
		                                     , I.PART_PROD_ID
		                                     , J.DRM_YN
		                                  FROM (SELECT  TENANT_ID
		                                              , LIST_ID
		                                              , MENU_ID
		                                              , PROD_ID
		                                              , EXPO_ORD
		                                          FROM  TB_DP_LIST_PROD
		                                         WHERE  TENANT_ID = #{tenantId}   /* 테넌트ID */
		                                           AND  LIST_ID = #{listId}       /* ADM000000008 : 운영자추천 멀티미디어 */
                                                 <if test='filterdby == "recommend"'>
		                                           AND  ETC_CD = 'DP004801'       /* DP004801 : 영화 */
                                                 </if>
                                                 <if test='filterdby == "movie1000"'>
		                                           AND  ETC_CD = 'DP004807'       /* DP004807 : 1000원관 */
                                                 </if>
		                                           AND  EXPO_YN = 'Y'             /* Y : 노출 (노출여부) */
		                                           AND  TO_CHAR(STD_DT, 'YYYYMMDDHH24MISS') = #{stdDt}
		                                           AND  SYSDATE BETWEEN EXPO_START_DT AND EXPO_END_DT
		                                       )                       A
		                                     , TB_DP_MENU_CATALOG      B
		                                     , TB_DP_MENU_CATALOG_DESC C
		                                     , TB_DP_PROD              D
		                                     , TB_DP_MULTIMDA_PROD     E
		                                     , TB_DP_PROD_DESC         F
		                                     , TB_DP_TENANT_PROD       G
		                                     , TB_DP_TENANT_PROD_PRICE H
		                                     , TB_DP_PROD_RSHP         I
		                                     , TB_DP_PROD              J
		                                     , TB_DP_SPRT_DEVICE       K
		                                 WHERE A.MENU_ID = B.MENU_ID
		                                   AND A.MENU_ID = C.MENU_ID
		                                   AND A.PROD_ID = D.PROD_ID
		                                   AND A.PROD_ID = E.PROD_ID
		                                   AND A.PROD_ID = F.PROD_ID
		                                   AND A.PROD_ID = G.PROD_ID
		                                   AND A.TENANT_ID = G.TENANT_ID
		                                   AND A.PROD_ID = H.PROD_ID
		                                   AND A.TENANT_ID = H.TENANT_ID
		                                   AND A.PROD_ID = I.PROD_ID
		                                   AND I.PART_PROD_ID = J.PROD_ID
		                                   AND I.PART_PROD_ID = K.PROD_ID(+)
		                                   AND B.USE_YN = 'Y'                          /* Y : 사용 (사용여부) */
		                                   AND C.LANG_CD = 'ko'                        /* ko : 한국어 */
		                                   AND D.SVC_GRP_CD = 'DP000203'               /* DP000201 : 멀티미디어 */
		                                   AND E.CONTENTS_TYPE_CD = 'PD002501'         /* PD002501 : 채널타입 */
		                                   AND F.LANG_CD = 'ko'                        /* ko : 한국어 */
		                                   AND G.PROD_STATUS_CD = 'PD000403'           /* PD000403 : 판매중 */
		                                   AND G.EXPO_YN = 'Y'                         /* Y : 노출 (노출여부) */
		                                   AND SYSDATE BETWEEN H.APPLY_START_DT AND H.APPLY_END_DT
		                                   AND K.DEVICE_MODEL_CD(+) = #{deviceModelCd} /* 단말기 모델 코드 */
		                                   AND K.PROD_ID IS NOT NULL                   /* 멀티미디어 상품 지원단말 블랙리스트 처리 (현재 데이터는 화이트리스트) */
		                                   AND (CASE WHEN (SELECT VIDEO_DRM_SPRT_YN FROM TB_CM_DEVICE WHERE DEVICE_MODEL_CD = #{deviceModelCd}) = 'N' AND NVL(J.DRM_YN, 'N') = 'Y' THEN 'NOT SUPPORT'
		                                             ELSE 'SUPPORT' END) = 'SUPPORT'   /* DRM 미지원 단말이고 에피소드 상품이 DRM 상품일 경우 노출 안함 */
		                                   AND B.TOP_MENU_ID = #{topMenuId}            /* 탑메뉴ID */
                                         <if test='prodGradeCd != null'>
		                                   AND D.PROD_GRD_CD = #{prodGradeCd}          /* 상품등급코드 */
                                         </if>
		                               ) IA
		                         WHERE IA.RN = 1
		                       ) JA
		               ) KA
		         WHERE KA.RNUM BETWEEN #{offset} AND #{count}
		       )                       LA
		     , TB_DP_TENANT_PROD_STATS LB
		     , TB_DP_PROD_IMG          LC
		 WHERE LA.TENANT_ID = LB.TENANT_ID(+)
		   AND LA.PROD_ID = LB.PROD_ID(+)
		   AND LA.PROD_ID = LC.PROD_ID
		   AND LC.EXPO_ORD = '1'
		   AND LC.IMG_CD = #{imageCd}
    </select>
    
    <!--운영자 추천 앱상품 조회-->
    <select id="selectCategoryEpubListDummy" parameterType="FeatureCategoryEpubReq" resultType="FeatureCategoryEpubDTO">
       /* FeatureRecommendMapper.xml, selectAdminAppList, SAC : 서영배 , 2014-01-03 */
       SELECT
			PROD.*
			, NVL(ST.DWLD_CNT, 0) DWLD_CNT
			, NVL(ST.PRCHS_CNT, 0) PRCHS_CNT
		FROM (
			SELECT 
				COUNT(*) OVER () AS TOTAL_COUNT
				, LP.TENANT_ID
				, MN.UP_MENU_ID AS TOP_MENU_ID
				, (SELECT MENU_NM FROM TB_DP_MENU_CATALOG_DESC WHERE MENU_ID = MN.UP_MENU_ID AND LANG_CD = 'ko') TOP_MENU_NM
				, MN.MENU_ID
				, (SELECT MENU_NM FROM TB_DP_MENU_CATALOG_DESC WHERE MENU_ID = MN.MENU_ID AND LANG_CD = 'ko') MENU_NM
				, DP.PROD_ID
				, AP.META_CLSF_CD
				, AP.BOOK_CLSF_CD
				, AP.CHAPTER
                , CONCAT( PS.PROD_NM
                	, NVL2( AP.BOOK_CLSF_CD
                       , ' '||CONCAT( AP.CHAPTER
                                    , DECODE( AP.BOOK_CLSF_CD
                                            , 'DP004301', '권'
                                            , 'DP004302', '회'
                                            , 'DP004303', '호' ) )
                       , NULL ) ) AS PROD_NM
				, PS.PROD_BASE_DESC
				, PR.PROD_AMT
				, PR.PROD_NET_AMT
				, PS.ARTIST1_NM
        		, PS.ARTIST2_NM
        		, PS.ARTIST3_NM
				, DECODE( DP.PROD_GRD_CD
				        , 'PD004401', 0
				        , 'PD004402', 1
				        , 'PD004403', 2
				        , 'PD004404', 4 ) AS PROD_GRD_CD
				, AP.CHNL_COMP_NM
        		, AP.ISSUE_DAY
        		, AP.BOOK_PAGE_CNT
        		, NVL(AP.EPSD_CNT, 0) EPSD_CNT
        		, NVL(AP.STRM_EPSD_CNT, 0) STRM_EPSD_CNT
        		, AP.CAPTION_YN
				, ( CASE WHEN AP.META_CLSF_CD = 'CT20' THEN 'serial' END ) AS BOOK_TYPE
        		, ( CASE WHEN AP.META_CLSF_CD = 'CT20' THEN ( AP.EPSD_CNT + AP.STRM_EPSD_CNT ) END ) AS BOOK_COUNT
        		, ( CASE WHEN AP.EPSD_CNT > 0 THEN 'store' END ) AS SUPPORT_STORE
        		, ( CASE WHEN AP.STRM_EPSD_CNT > 0 THEN 'play' END ) AS SUPPORT_PLAY
        		, ( CASE WHEN AP.META_CLSF_CD = 'CT20' THEN DECODE( AP.CAPTION_YN, 'Y', 'completed', 'continue' ) END ) AS BOOK_STATUS
				, SC.FILE_SIZE AS FILE_SIZE
				, PI.FILE_PATH || PI.FILE_NM AS FILE_PATH
			FROM 
				TB_DP_LIST_PROD LP,
				TB_DP_PROD DP,
				TB_DP_TENANT_PROD_PRICE PR,
				TB_DP_MENU_CATALOG_PROD_MAPG MP, 
				TB_DP_MULTIMDA_PROD AP,
				TB_DP_TENANT_PROD TP, 
				TB_DP_PROD_DESC PS,
				TB_DP_SUB_CONTENTS SC,
				TB_DP_PROD_IMG PI,
				TB_DP_MENU_CATALOG MN
			WHERE LP.LIST_ID LIKE 'ADM%'
			AND DP.PROD_ID = LP.PROD_ID
			AND DP.PROD_ID = PR.PROD_ID
			AND MP.PROD_ID = DP.PROD_ID
			AND DP.PROD_ID = AP.PROD_ID
			AND DP.PROD_ID = TP.PROD_ID
			AND DP.PROD_ID = PS.PROD_ID
			AND DP.PROD_ID = SC.PROD_ID
			AND DP.PROD_ID = PI.PROD_ID
			AND MN.MENU_ID = MP.MENU_ID
			AND PI.IMG_CD = 'DP000109'
			AND ROWNUM <![CDATA[<=]]> #{count}
			AND AP.META_CLSF_CD IN ('CT20','CT19')
		) PROD LEFT OUTER JOIN TB_DP_TENANT_PROD_STATS ST
		ON PROD.PROD_ID = ST.PROD_ID
		AND PROD.TENANT_ID = ST.TENANT_ID
    </select>    
    
    <!--운영자 추천 앱상품 조회-->
    <select id="selectCategoryAppList" parameterType="FeatureCategoryAppReq" resultType="FeatureCategoryAppDTO">
        /* FeatureRecommendMapper.xml, selectAdminAppList, SAC : 서영배 , 2014-01-03 */
		SELECT
			F_PROD.*
			, ST.DWLD_CNT
			, ST.PRCHS_CNT
		FROM (
				SELECT
					R_PROD.*
				FROM (
					SELECT
						T_PROD.*
						, ROWNUM AS RNUM
					FROM (
						SELECT
							COUNT(*) OVER () AS TOTAL_COUNT
							, TP.TENANT_ID
							, MN.TOP_MENU_ID
							, (SELECT MENU_NM FROM TB_DP_MENU_CATALOG_DESC WHERE MENU_ID = MN.UP_MENU_ID AND LANG_CD = #{langCd}) TOP_MENU_NM
							, MN.MENU_ID
							, (SELECT MENU_NM FROM TB_DP_MENU_CATALOG_DESC WHERE MENU_ID = MN.MENU_ID AND LANG_CD = #{langCd}) MENU_NM
							, P1.PROD_ID
							, AP.AID
							, PS.PROD_NM
							, PS.PROD_BASE_DESC
							, TR.PROD_AMT
							, P1.PROD_GRD_CD
							, AP.PART_PARENT_CLSF_CD
							, P1.DRM_YN
							, SC.APK_PKG_NM
							, SC.APK_VER
							, SC.FILE_SIZE
							, AP.VER_MAJOR
							, AP.VER_MINOR
							, PI.FILE_PATH
							, PI.FILE_NM
						FROM TB_DP_LIST_PROD LP
						    , TB_DP_MENU_CATALOG_PROD_MAPG MP
						    , TB_DP_MENU_CATALOG MN
						    , TB_DP_PROD P1
						    , TB_DP_PROD_DESC PS
						    , TB_DP_TENANT_PROD TP 
						    , TB_DP_TENANT_PROD_PRICE TR
						    , TB_DP_SUB_CONTENTS SC
						    , TB_DP_APP_PROD AP
						    , TB_DP_PROD_IMG PI
						    , TB_DP_SPRT_DEVICE DV
						    , TB_CM_DEVICE CD
						WHERE LP.TENANT_ID = #{tenantId}
						AND LP.LIST_ID = #{listId}
						AND LP.PROD_ID = P1.PROD_ID
						AND P1.PROD_ID = PS.PROD_ID
						AND PS.LANG_CD = #{langCd}
						AND MN.TOP_MENU_ID = #{topMenuId}
						AND MN.MENU_ID = MP.MENU_ID
						AND MP.PROD_ID = P1.PROD_ID
						AND TP.PROD_ID = P1.PROD_ID
						AND TP.TENANT_ID = LP.TENANT_ID
						AND TP.PROD_ID = LP.PROD_ID
						AND TP.PROD_STATUS_CD = 'PD000403'
						AND TP.EXPO_YN = 'Y'
						AND P1.PROD_ID = SC.PROD_ID
						AND P1.PROD_ID = AP.PROD_ID
						AND TP.PROD_ID = TR.PROD_ID
						AND TP.TENANT_ID = TR.TENANT_ID
						AND SYSDATE BETWEEN TR.APPLY_START_DT AND TR.APPLY_END_DT
						AND PI.PROD_ID = P1.PROD_ID
						AND PI.IMG_CD = 'DP001007'
						AND SC.PROD_ID = DV.PROD_ID
						AND SC.SUB_CONTENTS_ID = DV.SUB_CONTENTS_ID
						AND DV.DEVICE_MODEL_CD = CD.DEVICE_MODEL_CD
						AND CD.DEVICE_MODEL_CD = #{deviceModelCd}
						ORDER BY LP.EXPO_ORD , PS.PROD_NM
					) T_PROD
				) R_PROD
				WHERE RNUM BETWEEN #{offset} AND (#{offset}+#{count})
			) F_PROD LEFT OUTER JOIN TB_DP_TENANT_PROD_STATS ST
		ON F_PROD.PROD_ID = ST.PROD_ID
		AND F_PROD.TENANT_ID = ST.TENANT_ID
    </select>
    
    <!--운영자 추천 앱상품 조회-->
    <select id="selectCategoryAppListDummy" parameterType="FeatureCategoryAppReq" resultType="FeatureCategoryAppDTO">
       /* FeatureRecommendMapper.xml, selectAdminAppList, SAC : 서영배 , 2014-01-03 */
        SELECT
			PROD.*
			, NVL(ST.DWLD_CNT, 0) DWLD_CNT
			, NVL(ST.PRCHS_CNT, 0) PRCHS_CNT
		FROM (
			SELECT 
				COUNT(*) OVER () AS TOTAL_COUNT
				, LP.TENANT_ID
				, MN.UP_MENU_ID AS TOP_MENU_ID
				, (SELECT MENU_NM FROM TB_DP_MENU_CATALOG_DESC WHERE MENU_ID = MN.UP_MENU_ID AND LANG_CD = 'ko') TOP_MENU_NM
				, MN.MENU_ID
				, (SELECT MENU_NM FROM TB_DP_MENU_CATALOG_DESC WHERE MENU_ID = MN.MENU_ID AND LANG_CD = 'ko') MENU_NM
				, DP.PROD_ID
				, AP.AID
				, PS.PROD_NM
				, PS.PROD_BASE_DESC
				, PR.PROD_AMT
				, DECODE( DP.PROD_GRD_CD
				        , 'PD004401', 0
				        , 'PD004402', 1
				        , 'PD004403', 2
				        , 'PD004404', 4 ) AS PROD_GRD_CD
				, DECODE( AP.PART_PARENT_CLSF_CD, 'PD012301', 'iab', NULL ) AS PART_PARENT_CLSF_CD
				, DECODE( DP.DRM_YN, 'Y', 'drm', NULL ) AS DRM_YN
				, SC.APK_PKG_NM
				, SC.APK_VER
				, SC.FILE_SIZE AS APK_FILE_SIZE
				, AP.VER_MAJOR||'.'||AP.VER_MINOR AS PROD_VER
				, PI.FILE_PATH || PI.FILE_NM AS FILE_PATH
			FROM 
				TB_DP_LIST_PROD LP,
				TB_DP_PROD DP,
				TB_DP_TENANT_PROD_PRICE PR,
				TB_DP_MENU_CATALOG_PROD_MAPG MP, 
				TB_DP_APP_PROD AP,
				TB_DP_TENANT_PROD TP, 
				TB_DP_PROD_DESC PS,
				TB_DP_SUB_CONTENTS SC,
				TB_DP_PROD_IMG PI,
				TB_DP_SPRT_DEVICE DV,
				TB_DP_MENU_CATALOG MN
			WHERE LP.LIST_ID = 'ADM000000013'
			AND DP.PROD_ID = LP.PROD_ID
			AND DP.PROD_ID = PR.PROD_ID
			AND MP.PROD_ID = DP.PROD_ID
			AND DP.PROD_ID = AP.PROD_ID
			AND DP.PROD_ID = TP.PROD_ID
			AND DP.PROD_ID = PS.PROD_ID
			AND DP.PROD_ID = SC.PROD_ID
			AND DP.PROD_ID = PI.PROD_ID
			AND SC.SUB_CONTENTS_ID = DV.SUB_CONTENTS_ID 
			AND SC.PROD_ID = DV.PROD_ID 
			AND MN.MENU_ID = MP.MENU_ID
			AND PI.IMG_CD = 'DP000101'
			AND DV.DEVICE_MODEL_CD = 'SCH-W940'
			AND ROWNUM <![CDATA[<=]]> #{count}
		) PROD LEFT OUTER JOIN TB_DP_TENANT_PROD_STATS ST
		ON PROD.PROD_ID = ST.PROD_ID
		AND PROD.TENANT_ID = ST.TENANT_ID
    </select>
</mapper>