<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="PurchaseTransfer">

    <!-- SAP 구매 이력 생성 -->
    <insert id="insertPrchsTrc" parameterType="PurchaseTransferScReq">
        INSERT /* PurchaseTransferMapper.insertPrchsTrans, SAP 구매이력 이관내역 생성, 양주원/nTels, 2015-02-09 */
          INTO  tb_pr_prchs_trc 
        (
           pt_idx
		 , tenant_id
		 , market_prchs_id
		 , market_device_key
		 , prchs_dt
		 , market_prod_id
		 , status_cd
		 , cancel_dt
		 , trc_result_cd
		 , reg_id
		 , reg_dt
		 , upd_id
		 , upd_dt
        )
        VALUES
        (
          -1
        , #{tenantId}
        , #{marketPrchsId}
        , #{marketDeviceKey}
        , TO_DATE(#{prchsDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
        , #{marketProdId}
        , #{statusCd}
        , TO_DATE(#{cancelDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
        , #{trcResultCd}
        , #{systemId}
        , SYSDATE
        , #{systemId}
        , SYSDATE
        )
    </insert>


    
</mapper>