<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PurchaseOrder">
    <!-- 현재 시간 조회 -->
    <select id="selectSysdate" resultType="String">
        select TO_CHAR(sysdate, 'YYYYMMDDHH24MISS') AS current_date
          from dual
    </select>


    <!-- 구매 이력 생성 -->
    <insert id="insertPrchs" parameterType="PrchsDtlMore">
        INSERT /* PurchaseOrderMapper.insertPrchs, 구매 이력 생성, 이승택/nTels, 2013-10-15 */
          INTO  tb_pr_prchs /* 구매 */
        (
          tenant_id /* 테넌트 id */
        , prchs_id
        , insd_usermbr_no
        , insd_device_id 
        , prchs_dt 
        , status_cd
        , tot_amt 
        , prchs_req_path_cd 
        , currency_cd
        , cancel_req_path_cd 
        , cancel_dt 
        , client_ip 
        , prchs_case_cd 
        , network_type_cd
        , reg_id 
        , reg_dt 
        , upd_id 
        , upd_dt 
        , resv_col_01 
        , resv_col_02 
        , resv_col_03 
        , resv_col_04 
        , resv_col_05
        , medi_id
        )
        VALUES
        (
          #{tenantId}
        , #{prchsId}
        , #{insdUsermbrNo}
        , #{insdDeviceId}
        , TO_DATE(#{prchsDt}, 'YYYYMMDDHH24MISS')
        , #{statusCd}
        , #{totAmt}
        , #{prchsReqPathCd} 
        , #{currencyCd}
        , #{cancelReqPathCd, jdbcType=VARCHAR}
        , TO_DATE(#{cancelDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
        , #{clientIp}
        , #{prchsCaseCd}
        , #{networkTypeCd} 
        , #{regId}
        , SYSDATE
        , #{updId}
        , SYSDATE
        , #{resvCol01, jdbcType=VARCHAR}
        , #{resvCol02, jdbcType=VARCHAR}
        , #{resvCol03, jdbcType=VARCHAR}
        , #{resvCol04, jdbcType=VARCHAR}
        , #{resvCol05, jdbcType=VARCHAR}
        , #{mediId, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 구매상세 이력 생성 -->
    <insert id="insertPrchsDtl" parameterType="PrchsDtlMore">
        INSERT /* PurchaseOrderMapper.insertPrchsDtl, 구매상세 이력 생성, 이승택/nTels, 2013-10-15 */
          INTO  tb_pr_prchs_dtl /* 구매상세 */
        (
          tenant_id
        , prchs_id
        , prchs_dtl_id
        , use_tenant_id
        , use_insd_usermbr_no
        , use_insd_device_id
        , prchs_dt
        , tot_amt
        , currency_cd
        , prchs_req_path_cd
        , client_ip
        , send_insd_usermbr_no
        , send_insd_device_id
        , recv_dt
        , recv_conf_path_cd
        , prod_id
        , prod_amt
        , prod_qty
        , tenant_prod_grp_cd
        , status_cd
        , cancel_req_path_cd
        , cancel_dt
        , prchs_case_cd
        , drm_yn
        , use_start_dt
        , use_expr_dt
        , dwld_start_dt
        , dwld_expr_dt
        , prchs_prod_type
        , use_hiding_yn
        , send_hiding_yn
        , use_fixrate_prod_id
        , use_fixrate_prchs_id
        , cpn_publish_cd
        , cpn_dlv_url
        , cpn_add_info
        , cpn_biz_prod_seq
        , cpn_biz_order_no
        , tid
        , tx_id
        , parent_prod_id
        , part_chrg_ver
        , part_chrg_prod_nm
        , rn_bill_cd
        , info_use_fee
        , cid
        , contents_clsf
        , contents_type
        , prchs_type
        , timbre_clsf
        , timbre_sctn
        , menu_id
        , genre_clsf_cd
        , prchs_resv_desc
        , reg_id 
        , reg_dt 
        , upd_id 
        , upd_dt 
        , resv_col_01 
        , resv_col_02 
        , resv_col_03 
        , resv_col_04 
        , resv_col_05
        , alarm_yn
        , recv_prchs_id
        , gift_msg
        , use_period_set_cd
        , use_period_redate_cd
        , use_period_unit_cd
        , use_period
        , cpn_prod_case_cd
        )
        VALUES
        (
          #{tenantId}
        , #{prchsId}
        , #{prchsDtlId}
        , #{useTenantId}
        , #{useInsdUsermbrNo}
        , CASE WHEN #{useInsdUsermbrNo} = 'NONMEMBER' THEN
                   REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
                       #{useInsdDeviceId}
                      ,'0', 'Ab'),'5', 'cDe'),'2','Fg'),'6','HiJk'),'4', 'Lm'),'1', 'NoP'),'8', 'qR'),'7', 'sTu'),'3', 'Vw'),'9','XyZ')
               ELSE
                   #{useInsdDeviceId}
          END
        , TO_DATE(#{prchsDt}, 'YYYYMMDDHH24MISS')
        , #{totAmt}
        , #{currencyCd}
        , #{prchsReqPathCd} 
        , #{clientIp}
        , #{sendInsdUsermbrNo, jdbcType=VARCHAR} 
        , #{sendInsdDeviceId, jdbcType=VARCHAR}
        , TO_DATE(#{recvDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS') 
        , #{recvConfPathCd, jdbcType=VARCHAR}
        , #{prodId}
        , #{prodAmt}
        , #{prodQty}
        , #{tenantProdGrpCd, jdbcType=VARCHAR}
        , #{statusCd}
        , #{cancelReqPathCd, jdbcType=VARCHAR}
        , TO_DATE(#{cancelDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
        , #{prchsCaseCd}
        , #{drmYn, jdbcType=VARCHAR}
        , CASE WHEN #{useStartDt, jdbcType=VARCHAR} IS NULL THEN SYSDATE
               ELSE TO_DATE(#{useStartDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
          END
        , CASE WHEN #{useExprDt, jdbcType=VARCHAR} IS NULL THEN
                    CASE WHEN #{useStartDt, jdbcType=VARCHAR} IS NULL THEN 
                              FN_PRCHS_EXPR_DT(SYSDATE, #{usePeriodUnitCd, jdbcType=VARCHAR}, #{usePeriod, jdbcType=VARCHAR}, #{autoPrchsYn, jdbcType=VARCHAR})
                         ELSE 
                              FN_PRCHS_EXPR_DT(TO_DATE(#{useStartDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS'), #{usePeriodUnitCd, jdbcType=VARCHAR}, #{usePeriod, jdbcType=VARCHAR}, #{autoPrchsYn, jdbcType=VARCHAR})
                    END
               ELSE TO_DATE(#{useExprDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
          END
        , CASE WHEN #{dwldStartDt, jdbcType=VARCHAR} IS NULL THEN SYSDATE
               ELSE TO_DATE(#{dwldStartDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
          END
        , CASE WHEN #{dwldExprDt, jdbcType=VARCHAR} IS NULL THEN
                    CASE WHEN #{dwldStartDt, jdbcType=VARCHAR} IS NULL THEN
                              FN_PRCHS_EXPR_DT(SYSDATE, #{usePeriodUnitCd, jdbcType=VARCHAR}, #{usePeriod, jdbcType=VARCHAR}, #{autoPrchsYn, jdbcType=VARCHAR})
                         ELSE 
                              FN_PRCHS_EXPR_DT(TO_DATE(#{dwldStartDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS'), #{usePeriodUnitCd, jdbcType=VARCHAR}, #{usePeriod, jdbcType=VARCHAR}, #{autoPrchsYn, jdbcType=VARCHAR})
                    END
               ELSE TO_DATE(#{dwldExprDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
          END
        , #{prchsProdType}
        , #{useHidingYn, jdbcType=VARCHAR}
        , #{sendHidingYn, jdbcType=VARCHAR}
        , #{useFixrateProdId, jdbcType=VARCHAR}
        , #{useFixratePrchsId, jdbcType=VARCHAR}
        , #{cpnPublishCd, jdbcType=VARCHAR}
        , #{cpnDlvUrl, jdbcType=VARCHAR}
        , #{cpnAddInfo, jdbcType=VARCHAR}
        , #{cpnBizProdSeq, jdbcType=VARCHAR}
        , #{cpnBizOrderNo, jdbcType=VARCHAR}
        , #{tid, jdbcType=VARCHAR}
        , #{txId, jdbcType=VARCHAR}
        , #{parentProdId, jdbcType=VARCHAR}
        , #{partChrgVer, jdbcType=VARCHAR}
        , #{partChrgProdNm, jdbcType=VARCHAR}
        , #{rnBillCd, jdbcType=VARCHAR}
        , #{infoUseFee, jdbcType=VARCHAR}
        , #{cid, jdbcType=VARCHAR}
        , #{contentsClsf, jdbcType=VARCHAR}
        , #{contentsType, jdbcType=VARCHAR}
        , #{prchsType, jdbcType=VARCHAR}
        , #{timbreClsf, jdbcType=VARCHAR}
        , #{timbreSctn, jdbcType=VARCHAR}
        , #{menuId, jdbcType=VARCHAR}
        , #{genreClsfCd, jdbcType=VARCHAR}
        , #{prchsResvDesc, jdbcType=VARCHAR}
        , #{regId}
        , SYSDATE
        , #{updId}
        , SYSDATE
        , #{resvCol01, jdbcType=VARCHAR}
        , #{resvCol02, jdbcType=VARCHAR}
        , #{resvCol03, jdbcType=VARCHAR}
        , #{resvCol04, jdbcType=VARCHAR}
        , #{resvCol05, jdbcType=VARCHAR}
        , #{alarmYn, jdbcType=VARCHAR}
        , DECODE(#{prchsCaseCd, jdbcType=VARCHAR}, 'OR020302', 'RECV' || SUBSTR(#{prchsId}, 5), NULL)
        , #{giftMsg, jdbcType=VARCHAR}
        , #{usePeriodSetCd, jdbcType=VARCHAR}
        , #{usePeriodRedateCd, jdbcType=VARCHAR}
        , #{usePeriodUnitCd, jdbcType=VARCHAR}
        , #{usePeriod, jdbcType=VARCHAR}
        , #{cpnProdCaseCd, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 결제 이력 생성 -->
    <insert id="insertPayment" parameterType="Payment">
        INSERT /* PurchaseOrderMapper.insertPayment, 결제 이력 생성, 이승택/nTels, 2013-10-15 */
          INTO  tb_pr_payment /* 결제 */
        (
          tenant_id /* 테넌트 id */
        , prchs_id
        , payment_dtl_id
        , insd_usermbr_no
        , insd_device_id 
        , prchs_dt 
        , tot_amt 
        , payment_mtd_cd
        , status_cd
        , tid
        , appr_no
        , bill_key
        , payment_amt
        , payment_dt
        , payment_cancel_dt
        , cpn_id
        , cpn_make_host
        , cpn_type
        , moid
        , reg_id 
        , reg_dt 
        , upd_id 
        , upd_dt 
        , resv_col_01 
        , resv_col_02 
        , resv_col_03 
        , resv_col_04 
        , resv_col_05
        , mno_cd
        , limt_mbr_yn
        )
        VALUES
        (
          #{tenantId}
        , #{prchsId}
        , #{paymentDtlId}
        , #{insdUsermbrNo}
        , #{insdDeviceId}
        , TO_DATE(#{prchsDt}, 'YYYYMMDDHH24MISS')
        , #{totAmt}
        , #{paymentMtdCd}
        , #{statusCd}
        , #{tid}
        , #{apprNo, jdbcType=VARCHAR}
        , #{billKey, jdbcType=VARCHAR}
        , #{paymentAmt}
        , TO_DATE(#{paymentDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
        , TO_DATE(#{paymentCancelDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
        , #{cpnId, jdbcType=VARCHAR}
        , #{cpnMakeHost, jdbcType=VARCHAR}
        , #{cpnType, jdbcType=VARCHAR}
        , #{moid, jdbcType=VARCHAR}
        , #{regId}
        , SYSDATE
        , #{updId}
        , SYSDATE
        , #{resvCol01, jdbcType=VARCHAR}
        , #{resvCol02, jdbcType=VARCHAR}
        , #{resvCol03, jdbcType=VARCHAR}
        , #{resvCol04, jdbcType=VARCHAR}
        , #{resvCol05, jdbcType=VARCHAR}
        , #{mnoCd, jdbcType=VARCHAR}
        , #{limtMbrYn, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 자동구매 생성 -->
    <insert id="insertAutoPrchs" parameterType="AutoPrchsMore">
        INSERT /* PurchaseOrderMapper.insertAutoPrchs, 자동구매 생성, 이승택/nTels, 2013-10-15 */
          INTO  tb_pr_auto_prchs /* TB_자동구매 */
        (
          tenant_id /* 테넌트 id */
        , fst_prchs_id
        , fst_prchs_dtl_id
        , insd_usermbr_no
        , insd_device_id 
        , prod_id
        , status_cd
        , payment_start_dt
        , payment_end_dt
        , after_payment_dt
        , req_path_cd
        , client_ip
        , prchs_tme
        , closed_dt
        , closed_reason_cd
        , closed_req_path_cd
        , last_prchs_id
        , last_prchs_dtl_id
        , reg_id 
        , reg_dt 
        , upd_id 
        , upd_dt 
        , proc_status_cd
        , resv_col_01 
        , resv_col_02 
        , resv_col_03 
        , resv_col_04 
        , resv_col_05
        , auto_payment_status_cd
        )
        VALUES
        (
          #{tenantId}
        , #{fstPrchsId}
        , #{fstPrchsDtlId}
        , #{insdUsermbrNo}
        , #{insdDeviceId}
        , #{prodId}
        , #{statusCd}
        , TO_DATE(#{paymentStartDt}, 'YYYYMMDDHH24MISS')
        , CASE WHEN #{paymentEndDt, jdbcType=VARCHAR} IS NOT NULL THEN 
                       TO_DATE(#{paymentEndDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
               ELSE TO_DATE(#{paymentStartDt}, 'YYYYMMDDHH24MISS') + #{autoPrchsLastPeriod, jdbcType=NUMERIC}
          END
        , TO_DATE(#{afterPaymentDt}, 'YYYYMMDDHH24MISS')
        , #{reqPathCd}
        , #{clientIp}
        , #{prchsTme}
        , TO_DATE(#{closedDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
        , #{closedReasonCd, jdbcType=VARCHAR}
        , #{closedReqPathCd, jdbcType=VARCHAR}
        , #{lastPrchsId}
        , #{lastPrchsDtlId}
        , #{regId}
        , SYSDATE
        , #{updId}
        , SYSDATE
        , #{procStatusCd, jdbcType=VARCHAR}
        , #{resvCol01, jdbcType=VARCHAR}
        , #{resvCol02, jdbcType=VARCHAR}
        , #{resvCol03, jdbcType=VARCHAR}
        , #{resvCol04, jdbcType=VARCHAR}
        , #{resvCol05, jdbcType=VARCHAR}
        , #{autoPaymentStatusCd, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 유니크 TID 이력 생성 -->
    <insert id="insertUniqueTid" parameterType="UniqueTid">
        INSERT /* PurchaseOrderMapper.insertUniqueTid, 유니크 TID 이력 생성, 이승택/nTels, 2014-07-14 */
          INTO  tb_pr_unique_tid
        (
          tid
        , prchs_id
        )
        VALUES
        (
          #{tid}
        , #{prchsId}
        )
    </insert>

    <!-- SAP 결제완료Noti 배치 이력 생성 -->
    <insert id="insertSapNoti" parameterType="SapNoti">
        INSERT /* PurchaseOrderMapper.insertSapNoti, SAP 결제완료Noti 배치 이력 생성, 이승택/nTels, 2014-11-20 */
          INTO  tb_pr_sap_noti
        (
          pt_idx
        , tenant_id
        , prchs_id
        , prchs_dtl_id
        , status_cd
        , insd_usermbr_no
        , insd_device_id 
        , market_device_key 
        , device_id 
        , user_email
        , prchs_case_cd
        , prchs_dt 
        , cancel_dt 
        , tot_amt 
        , pp_tid
        , payment_info
        , prod_id
        , prod_nm
        , prod_amt
        , auto_prchs_yn
        , auto_prchs_period_unit_cd
        , auto_prchs_period
        , seller_comp
        , seller_nm
        , seller_email
        , biz_reg_no
        , seller_addr
        , seller_tel_no
        , add_param_info
        , proc_status_cd
        , proc_desc
        , reg_id 
        , reg_dt 
        , upd_id 
        , upd_dt 
        )
        VALUES
        ( CASE WHEN #{procStatusCd, jdbcType=VARCHAR} = 'OR020902' THEN MOD(TO_NUMBER(TO_CHAR(SYSDATE,'J')), 3)
               ELSE -1
          END        
        , #{tenantId}
        , #{prchsId}
        , #{prchsDtlId}
        , #{statusCd}
        , #{insdUsermbrNo}
        , #{insdDeviceId}
        , #{marketDeviceKey, jdbcType=VARCHAR}
        , #{deviceId, jdbcType=VARCHAR}
        , #{userEmail, jdbcType=VARCHAR}
        , #{prchsCaseCd, jdbcType=VARCHAR}
        , TO_DATE(#{prchsDt}, 'YYYYMMDDHH24MISS')
        , TO_DATE(#{cancelDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
        , #{totAmt, jdbcType=NUMERIC}
        , #{ppTid, jdbcType=VARCHAR}
        , #{paymentInfo, jdbcType=VARCHAR}
        , #{prodId, jdbcType=VARCHAR}
        , #{prodNm, jdbcType=VARCHAR}
        , #{prodAmt, jdbcType=NUMERIC}
        , #{autoPrchsYn, jdbcType=VARCHAR}
        , #{autoPrchsPeriodUnitCd, jdbcType=VARCHAR}
        , #{autoPrchsPeriod, jdbcType=NUMERIC}
        , #{sellerComp, jdbcType=VARCHAR}
        , #{sellerNm, jdbcType=VARCHAR}
        , #{sellerEmail, jdbcType=VARCHAR}
        , #{bizRegNo, jdbcType=VARCHAR}
        , #{sellerAddr, jdbcType=VARCHAR}
        , #{sellerTelNo, jdbcType=VARCHAR}
        , #{addParamInfo, jdbcType=VARCHAR}
        , #{procStatusCd, jdbcType=VARCHAR}
        , #{procDesc, jdbcType=VARCHAR}
        , #{regId}
        , SYSDATE
        , #{updId}
        , SYSDATE
        )
    </insert>

    <!-- 구매상세 변경 (상태) -->
    <update id="updatePrchsDtlByStatus" parameterType="PrchsDtlMore">
        UPDATE /* PurchaseOrderMapper.updatePrchsDtlStatus, 구매상세 이력 상태변경, 이승택/nTels, 2013-10-15 */
        tb_pr_prchs_dtl /* 구매상세 */
        SET status_cd = #{statusCd}
        , prchs_dt = TO_DATE(#{prchsDt}, 'YYYYMMDDHH24MISS')
        , upd_id = #{systemId}
        , upd_dt = SYSDATE
        <!--, prchs_resv_desc = NULL *부정결제 등 데이터 분석 목적으로 사용*-->
        , recv_dt = CASE WHEN prchs_case_cd = 'OR020302' AND #{cpnPublishCd, jdbcType=VARCHAR} IS NOT NULL THEN
        SYSDATE
        ELSE
        recv_dt
        END
        <!-- 쿠폰 선물이거나, 무제한 상품일 경우 기간 재산정이 필요 없으므로 처리 완료 -->
        , use_period_redate_cd = CASE WHEN (prchs_case_cd = 'OR020302' AND #{cpnPublishCd, jdbcType=VARCHAR} IS NOT NULL) OR (use_period_unit_cd='PD00310') THEN
        'OR021102'
        ELSE
        USE_PERIOD_REDATE_CD
        END
        , recv_conf_path_cd = CASE WHEN prchs_case_cd = 'OR020302' AND #{cpnPublishCd, jdbcType=VARCHAR} IS NOT NULL
        THEN
        'OR003902'
        ELSE
        recv_conf_path_cd
        END
        , resv_col_01 = #{resvCol01, jdbcType=VARCHAR}
        , resv_col_03 = CASE WHEN #{resvCol03, jdbcType=VARCHAR} IS NULL THEN resv_col_03
        ELSE #{resvCol03, jdbcType=VARCHAR}
        END
        , use_start_dt = CASE WHEN #{useStartDt, jdbcType=VARCHAR} IS NULL THEN use_start_dt
        ELSE TO_DATE(#{useStartDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
        END
        , use_expr_dt = CASE WHEN #{useExprDt, jdbcType=VARCHAR} IS NOT NULL THEN
        TO_DATE(#{useExprDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
        ELSE use_expr_dt
        END
        , dwld_start_dt = CASE WHEN #{dwldStartDt, jdbcType=VARCHAR} IS NULL THEN dwld_start_dt
        ELSE TO_DATE(#{dwldStartDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
        END
        , dwld_expr_dt = CASE WHEN #{dwldExprDt, jdbcType=VARCHAR} IS NOT NULL THEN
        TO_DATE(#{dwldExprDt, jdbcType=VARCHAR}, 'YYYYMMDDHH24MISS')
        ELSE dwld_expr_dt
        END
        , cpn_publish_cd = CASE WHEN #{cpnPublishCd, jdbcType=VARCHAR} IS NULL THEN cpn_publish_cd
        ELSE #{cpnPublishCd, jdbcType=VARCHAR}
        END
        , cpn_dlv_url = CASE WHEN #{cpnDlvUrl, jdbcType=VARCHAR} IS NULL THEN cpn_dlv_url
        ELSE #{cpnDlvUrl, jdbcType=VARCHAR}
        END
        , cpn_add_info = CASE WHEN #{cpnAddInfo, jdbcType=VARCHAR} IS NULL THEN cpn_add_info
        ELSE #{cpnAddInfo, jdbcType=VARCHAR}
        END
        WHERE 1 = 1
        <if test="@com.skplanet.storeplatform.framework.core.util.StringUtils@isNotBlank(useInsdUsermbrNo)">
            AND use_tenant_id = #{useTenantId}
            AND use_insd_usermbr_no = #{useInsdUsermbrNo}
        </if>
        AND tenant_id = #{tenantId}
        AND prchs_id = #{prchsId}
        AND prchs_dtl_id = CASE WHEN #{prchsDtlId, jdbcType=NUMERIC} IS NULL OR #{prchsDtlId, jdbcType=NUMERIC} = 0 THEN
        prchs_dtl_id
        ELSE #{prchsDtlId, jdbcType=NUMERIC}
        END
        AND status_cd = #{oldStatusCd}
    </update>

    <!-- 정액제 하위 에피소드 상품 : 기구매 체크 -->
    <select id="selectExistenceEpisode" resultType="PrchsDtlMore" parameterType="PrchsDtlMore">
        SELECT /* PurchaseOrderMapper.selectExistenceEpisode, 정액제 하위 에피소드 상품 : 기구매 체크, 이승택/nTels, 2014-01-22 */
                tenant_id
              , prchs_id
              , prchs_dtl_id
              , TO_CHAR(use_expr_dt, 'YYYYMMDDHH24MISS') AS use_expr_dt
          FROM  tb_pr_prchs_dtl
         WHERE  use_tenant_id = #{useTenantId}
           AND  use_insd_usermbr_no = #{useInsdUsermbrNo}
           AND  prod_id = #{prodId}
           AND  status_cd = 'OR000301'
           AND  SYSDATE BETWEEN use_start_dt AND use_expr_dt
    </select>

</mapper>
