<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PersonalUpdateProduct">
    
     <select id="searchRecentFromPkgNm" parameterType="map" resultType="com.skplanet.storeplatform.sac.display.personal.vo.SubContentInfo">
         SELECT /*PersonalUpdateProductMapper.searchRecentFromPkgNm, searchRecentFromPkgNm, 오승민/인크로스, 2014-02-28 */
         LA.*
         FROM
         (
             SELECT /*+ NO_EXPAND LEADING(CMDEVICE SC DEVICE APPPROD) USE_NL(SC DEVICE APPPROD) */
                   SC.PROD_ID
                 , SC.APK_PKG_NM
                 , SC.APK_VER
                 , SC.SUB_CONTENTS_ID
                 , NVL(AUP.PRIORITY, 0) AS PRIORITY
                 ,ROW_NUMBER() OVER (PARTITION BY SC.APK_PKG_NM ORDER BY SC.APK_VER DESC) AS RNUM
             FROM TB_DP_APP_PROD APPPROD
                 ,TB_DP_SUB_CONTENTS SC
                 ,TB_DP_SPRT_DEVICE DEVICE
                 ,TB_CM_DEVICE CMDEVICE
                 ,TB_DP_APP_UPGRD_POLICY AUP
             WHERE
                 <if test="pkgList != null">SC.APK_PKG_NM IN <foreach collection="pkgList" item="v" open="(" separator="," close=")">#{v}</foreach></if>
                 <if test="hashedPkgList != null">SC.APK_PKG_HASH IN<foreach collection="hashedPkgList" item="v" open="(" separator="," close=")">#{v}</foreach></if>
                 AND APPPROD.PROD_ID = SC.PROD_ID
                 AND SC.PROD_ID = DEVICE.PROD_ID
                 AND SC.SUB_CONTENTS_ID = DEVICE.SUB_CONTENTS_ID
                 AND DEVICE.DEVICE_MODEL_CD = #{deviceModelCd}
                 AND DEVICE.DEVICE_MODEL_CD = CMDEVICE.DEVICE_MODEL_CD
                 AND (APPPROD.PART_PARENT_CLSF_CD = #{parentClsfCd} or APPPROD.PART_PARENT_CLSF_CD is null)
                 AND CMDEVICE.USE_YN = 'Y'
		         AND AUP.TENANT_ID(+) = #{tenantId}
                 AND AUP.PROD_ID(+) = APPPROD.PROD_ID
                 AND AUP.POLICY_CLSF_CD(+) = 'DP012502' /* DP012502 : 우선순위 지정 업데이트 */
		         AND AUP.USE_YN(+) = 'Y'
         ) LA
         WHERE RNUM = 1
     </select>

    <select id="searchPidByHashedPkg" parameterType="map" resultType="com.skplanet.storeplatform.sac.display.personal.service.AppUpdateSupportServiceImpl$PkgNmPidMapg">
        SELECT /*PersonalUpdateProductMapper.searchPidByHashedPkg, 정희원, 2015-03-02 */ /*+ NO_EXPAND ORDERED USE_NL(P) */
            TP.PROD_ID,
            TP.MAPG_APK_PKG_NM AS APK_PKG_NM,
            P.LAST_DEPLOY_DT
        FROM TB_DP_TENANT_PROD TP
          INNER JOIN TB_DP_PROD P
            ON P.PROD_ID = TP.PROD_ID
        WHERE 1=1
          AND TP.MAPG_APK_PKG_HASH IN <foreach collection="hashedPkgList" item="v" open="(" separator="," close=")">#{v}</foreach>
    </select>

    <select id="getPackageNameWarning" parameterType="map" resultType="Integer">
        SELECT
            count(*) as CNT
        FROM
            (SELECT
                 tdtp.prod_id
             FROM TB_DP_TENANT_PROD TDTP
             WHERE 1=1
                   and tdtp.tenant_id in <foreach collection="tenantIds" item="v" open="(" separator="," close=")">#{v}</foreach>
                   and tdtp.prod_id = #{prodId}
                   and MAPG_APK_PKG_NM is not null
             group by tdtp.prod_id, tdtp.mapg_apk_pkg_hash)
    </select>

    <select id="searchUpdateList" parameterType="map" resultType="com.skplanet.storeplatform.sac.display.personal.vo.SubContentInfo">
        SELECT /*PersonalUpdateProductMapper.searchUpdateList, 정희원, 2015-03-02 */
            SPRT.PROD_ID,
            SC.APK_PKG_NM,
            SC.APK_VER,
            SC.SUB_CONTENTS_ID
        FROM
            TB_CM_DEVICE DEV
            INNER JOIN TB_DP_SPRT_DEVICE SPRT
              ON SPRT.DEVICE_MODEL_CD = DEV.DEVICE_MODEL_CD
            INNER JOIN TB_DP_SUB_CONTENTS SC
              ON SC.PROD_ID = SPRT.PROD_ID AND SC.SUB_CONTENTS_ID = SPRT.SUB_CONTENTS_ID
        WHERE 1=1
          AND SPRT.PROD_ID in <foreach collection="prodIds" item="v" open="(" separator="," close=")">#{v}</foreach>
          AND DEV.DEVICE_MODEL_CD = #{deviceModelCd}
          AND DEV.USE_YN='Y'
    </select>

</mapper>
