<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Menu">
    <!-- Menu 리스트 조회-->
    <select id="selectMenuList" parameterType="MenuSacReq" resultType="Menu">
		SELECT 
		    COUNT(1) OVER() AS TOTAL_COUNT
		    , A.TENANT_ID 
            , A.MENU_ID 
            , A.SYSTEM_ID 
            , A.MENU_NM 
            , A.MENU_ENG_NM 
            , A.MENU_DESC 
            , A.MENU_DEPTH 
            , A.INFR_MENU_YN 
            , A.UP_MENU_ID 
            , A.EXPO_ORD 
            , A.TARGET_URL 
            , A.SEARCH_FILE_PATH 
            , A.SEARCH_FILE_NM 
            , A.BODY_FILE_PATH 
            , A.BODY_FILE_NM 
            , A.BODY_FILE_SIZE
            , A.MAIN_ON_FILE_PATH 
            , A.MAIN_ON_FILE_NM 
            , A.MAIN_OFF_FILE_PATH 
            , A.MAIN_OFF_FILE_NM 
            , A.RANK_FILE_PATH 
            , A.RANK_FILE_NM 
            , A.USE_YN 
            , A.MENU_ID_TYPE
            , A.REG_ID 
            , A.REG_DT 
            , A.UPD_ID 
            , A.UPD_DT 
		FROM (
		    SELECT 
		          A.TENANT_ID 
		        , A.TENANT_MENU_ID AS MENU_ID 
		        , A.SYSTEM_ID 
		        , A.MENU_NM 
		        , A.MENU_ENG_NM 
		        , A.MENU_DESC 
		        , A.MENU_DEPTH 
		        , A.INFR_MENU_YN 
		        , A.UP_MENU_ID 
		        , A.EXPO_ORD 
		        , A.TARGET_URL 
		        , A.SEARCH_FILE_PATH 
		        , A.SEARCH_FILE_NM 
		        , A.BODY_FILE_PATH 
		        , A.BODY_FILE_NM 
		        , NVL(A.BODY_FILE_SIZE, 0) AS BODY_FILE_SIZE
		        , A.MAIN_ON_FILE_PATH 
		        , A.MAIN_ON_FILE_NM 
		        , A.MAIN_OFF_FILE_PATH 
		        , A.MAIN_OFF_FILE_NM 
		        , A.RANK_FILE_PATH 
		        , A.RANK_FILE_NM 
		        , A.USE_YN 
		        , A.MENU_ID_TYPE
		        , A.REG_ID 
		        , A.REG_DT 
		        , A.UPD_ID 
		        , A.UPD_DT 
		    FROM TB_DP_TENANT_MENU A
		    WHERE A.TENANT_ID = #{tenantId}
		    AND A.SYSTEM_ID = #{systemId}
		    AND A.USE_YN = 'Y'
		    START WITH UP_MENU_ID = '999999'
		    CONNECT BY PRIOR TENANT_MENU_ID = UP_MENU_ID
		    ORDER SIBLINGS BY EXPO_ORD
		) A
    </select>
    
    <!-- Menu Detail 조회-->
    <select id="selectMenuDetail" parameterType="MenuSacReq" resultType="Menu">
        SELECT 
            COUNT(1) OVER() AS TOTAL_COUNT
            , A.TENANT_ID 
            , A.TENANT_MENU_ID AS MENU_ID 
            , A.SYSTEM_ID 
            , A.MENU_NM 
            , A.MENU_ENG_NM 
            , A.MENU_DESC 
            , A.MENU_DEPTH 
            , A.INFR_MENU_YN 
            , A.UP_MENU_ID 
            , A.EXPO_ORD 
            , A.TARGET_URL 
            , A.SEARCH_FILE_PATH 
            , A.SEARCH_FILE_NM 
            , A.BODY_FILE_PATH 
            , A.BODY_FILE_NM 
            , NVL(A.BODY_FILE_SIZE, 0) AS BODY_FILE_SIZE
            , A.MAIN_ON_FILE_PATH 
            , A.MAIN_ON_FILE_NM 
            , A.MAIN_OFF_FILE_PATH 
            , A.MAIN_OFF_FILE_NM 
            , A.RANK_FILE_PATH 
            , A.RANK_FILE_NM 
            , A.USE_YN 
            , A.MENU_ID_TYPE
            , A.REG_ID 
            , A.REG_DT 
            , A.UPD_ID 
            , A.UPD_DT 
        FROM TB_DP_TENANT_MENU A
        WHERE A.TENANT_ID = #{tenantId}
        AND A.TENANT_MENU_ID = #{menuId}
        AND A.SYSTEM_ID = #{systemId}
        AND A.USE_YN = 'Y'
    </select>

    <!-- 대분류 카테고리정보 조회 -->
    <select id="selectTopCategoryList" parameterType="MenuSacReq" resultType="Menu">
	    SELECT 
	        COUNT(1) OVER() TOTAL_COUNT
	        , A.TENANT_ID 
	        , A.TENANT_MENU_ID AS MENU_ID 
	        , A.SYSTEM_ID 
	        , A.MENU_NM 
	        , A.MENU_ENG_NM 
	        , A.MENU_DESC 
	        , A.MENU_DEPTH 
	        , A.INFR_MENU_YN 
	        , A.UP_MENU_ID 
	        , A.EXPO_ORD 
	        , A.TARGET_URL 
	        , A.SEARCH_FILE_PATH 
	        , A.SEARCH_FILE_NM 
	        , A.BODY_FILE_PATH 
	        , A.BODY_FILE_NM 
	        , NVL(A.BODY_FILE_SIZE, 0) AS BODY_FILE_SIZE
	        , A.MAIN_ON_FILE_PATH 
	        , A.MAIN_ON_FILE_NM 
	        , A.MAIN_OFF_FILE_PATH 
	        , A.MAIN_OFF_FILE_NM 
	        , A.RANK_FILE_PATH 
	        , A.RANK_FILE_NM 
	        , A.USE_YN
	        , A.MENU_ID_TYPE
	        , A.REG_ID 
	        , A.REG_DT 
	        , A.UPD_ID 
	        , A.UPD_DT 
        FROM TB_DP_TENANT_MENU A, TB_DP_MENU_CATEGORY B
        WHERE A.TENANT_MENU_ID = B.MENU_ID
        AND A.TENANT_ID = #{tenantId}
        AND A.SYSTEM_ID = #{systemId}
        AND B.MENU_DEPTH = 1
        AND A.USE_YN = 'Y'
        AND B.USE_YN = 'Y'
		ORDER BY A.EXPO_ORD
    </select>
	    
</mapper>
