<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MenuCategory">

    <!-- 세부 카테고리정보 조회 -->
    <select id="selectSubCategoryList" parameterType="MenuSacReq" resultType="Menu">
        SELECT /* MenuCategoryMapper.xml, selectSubCategoryList, SAC 전시 , 2014-05-19 */
            COUNT(A.MENU_ID) OVER() AS TOTAL_COUNT
            , DECODE(A.INFR_MENU_YN, 'Y'
                , SUM(A.MENU_PROD_CNT) OVER ( PARTITION BY SUBSTR(A.MENU_ID, 0, 7 ) )
                , A.MENU_PROD_CNT) MENU_PROD_CNT
            , A.TENANT_ID 
            , A.MENU_ID 
            , A.SYSTEM_ID 
            , A.MENU_NM 
            , A.MENU_ENG_NM 
            , A.MENU_DESC 
            , A.MENU_DEPTH 
            , A.INFR_MENU_YN 
            , A.UP_MENU_ID 
            , A.EXPO_ORD 
            , A.TARGET_URL 
            , A.SEARCH_FILE_PATH 
            , A.SEARCH_FILE_NM 
            , A.BODY_FILE_PATH 
            , A.BODY_FILE_NM 
            , A.BODY_FILE_SIZE
            , A.MAIN_ON_FILE_PATH 
            , A.MAIN_ON_FILE_NM 
            , A.MAIN_OFF_FILE_PATH 
            , A.MAIN_OFF_FILE_NM 
            , A.RANK_FILE_PATH 
            , A.RANK_FILE_NM 
            , A.USE_YN 
            , A.MENU_ID_TYPE
            , A.LNB_FILE_PATH
            , A.LNB_FILE_NM
            , A.LNB_FILE_SIZE
            , A.PRE_CATEGORY_INFO
            , A.CATEGORY_MENU_YN
            , A.REG_ID 
            , A.REG_DT 
            , A.UPD_ID 
            , A.UPD_DT
            , CASE WHEN A.MENU_ID LIKE 'DP1304%' THEN 'genre' ELSE NULL AS SECTION /* 일반 장르 구분 (장르 : genre, 일반 : null) */
        FROM (
            SELECT 
                 NVL(C.MENU_PROD_CNT, 0) MENU_PROD_CNT
                , A.TENANT_ID 
                , A.TENANT_MENU_ID AS MENU_ID 
                , A.SYSTEM_ID 
                , A.MENU_NM 
                , A.MENU_ENG_NM 
                , A.MENU_DESC 
                , A.MENU_DEPTH 
                , A.INFR_MENU_YN 
                , A.UP_MENU_ID 
                , A.EXPO_ORD 
                , A.TARGET_URL 
                , A.SEARCH_FILE_PATH 
                , A.SEARCH_FILE_NM 
                , A.BODY_FILE_PATH 
                , A.BODY_FILE_NM 
                , NVL(A.BODY_FILE_SIZE, 0) AS BODY_FILE_SIZE
                , A.MAIN_ON_FILE_PATH 
                , A.MAIN_ON_FILE_NM 
                , A.MAIN_OFF_FILE_PATH 
                , A.MAIN_OFF_FILE_NM 
                , A.RANK_FILE_PATH 
                , A.RANK_FILE_NM 
                , A.USE_YN 
                , A.MENU_ID_TYPE
                , A.LNB_FILE_PATH
                , A.LNB_FILE_NM
                , A.LNB_FILE_SIZE
                , A.PRE_CATEGORY_INFO
                , A.CATEGORY_MENU_YN
                , A.REG_ID 
                , A.REG_DT 
                , A.UPD_ID 
                , A.UPD_DT  
                , ( SELECT CASE WHEN MENU_DEPTH = 1 THEN 0 ELSE EXPO_ORD END EXPO_ORD
                    FROM TB_DP_TENANT_MENU
                    WHERE TENANT_MENU_ID = SUBSTR(A.TENANT_MENU_ID, 0, 7 )
                    AND SYSTEM_ID = A.SYSTEM_ID) AS RNK1
                , ROW_NUMBER() OVER ( PARTITION BY SUBSTR( A.TENANT_MENU_ID, 0, 7 )
                                             ORDER BY A.MENU_DEPTH
                                                    , A.EXPO_ORD
                                                    , A.MENU_NM ) AS RNK2
            FROM 
                TB_DP_TENANT_MENU A
                , TB_DP_MENU_CATEGORY B
                , TB_DP_MENU_CATEGORY_PROD_CNT C
            WHERE A.TENANT_MENU_ID = B.MENU_ID
            AND A.TENANT_MENU_ID = C.MENU_ID(+)
            AND A.USE_YN = 'Y'
            AND B.USE_YN = 'Y'
            AND B.TOP_MENU_ID = #{topMenuId}
            AND A.TENANT_ID = #{tenantId} /* 테넌트ID */
            AND A.SYSTEM_ID = #{systemId} /* 시스템ID */
            AND C.DEVICE_MODEL_CD(+) = #{deviceModelCd} /* 단말모델코드 */
            <if test='featuredExposureYn == "N"'>
            AND NVL(A.CATEGORY_MENU_YN, 'Y') = 'Y'
            </if> 
        ) A
        ORDER BY A.RNK1, A.RNK2 
    </select>

    <!-- 세부 카테고리정보 조회 - 앱 -->
    <select id="selectAppSubCategoryList" parameterType="MenuSacReq" resultType="Menu">
        SELECT /* MenuCategoryMapper.xml, selectAppSubCategoryList, SAC 전시 , 2014-03-07 */
            COUNT(A.MENU_ID) OVER() AS TOTAL_COUNT
            , A.MENU_PROD_CNT
            , A.TENANT_ID 
            , A.MENU_ID 
            , A.SYSTEM_ID 
            , A.MENU_NM 
            , A.MENU_ENG_NM 
            , A.MENU_DESC 
            , A.MENU_DEPTH 
            , A.INFR_MENU_YN 
            , A.UP_MENU_ID 
            , A.EXPO_ORD 
            , A.TARGET_URL 
            , A.SEARCH_FILE_PATH 
            , A.SEARCH_FILE_NM 
            , A.BODY_FILE_PATH 
            , A.BODY_FILE_NM 
            , A.BODY_FILE_SIZE
            , A.MAIN_ON_FILE_PATH 
            , A.MAIN_ON_FILE_NM 
            , A.MAIN_OFF_FILE_PATH 
            , A.MAIN_OFF_FILE_NM 
            , A.RANK_FILE_PATH 
            , A.RANK_FILE_NM 
            , A.USE_YN 
            , A.MENU_ID_TYPE
            , A.LNB_FILE_PATH
            , A.LNB_FILE_NM
            , A.LNB_FILE_SIZE
            , A.PRE_CATEGORY_INFO
            , A.CATEGORY_MENU_YN
            , A.REG_ID 
            , A.REG_DT 
            , A.UPD_ID 
            , A.UPD_DT  
        FROM (
            SELECT 
                 NVL(C.MENU_PROD_CNT, 0) MENU_PROD_CNT
                , A.TENANT_ID 
                , A.TENANT_MENU_ID AS MENU_ID 
                , A.SYSTEM_ID 
                , A.MENU_NM 
                , A.MENU_ENG_NM 
                , A.MENU_DESC 
                , A.MENU_DEPTH 
                , A.INFR_MENU_YN 
                , A.UP_MENU_ID 
                , A.EXPO_ORD 
                , A.TARGET_URL 
                , A.SEARCH_FILE_PATH 
                , A.SEARCH_FILE_NM 
                , A.BODY_FILE_PATH 
                , A.BODY_FILE_NM 
                , NVL(A.BODY_FILE_SIZE, 0) AS BODY_FILE_SIZE
                , A.MAIN_ON_FILE_PATH 
                , A.MAIN_ON_FILE_NM 
                , A.MAIN_OFF_FILE_PATH 
                , A.MAIN_OFF_FILE_NM 
                , A.RANK_FILE_PATH 
                , A.RANK_FILE_NM 
                , A.USE_YN 
                , A.MENU_ID_TYPE
                , A.LNB_FILE_PATH
                , A.LNB_FILE_NM
                , A.LNB_FILE_SIZE
                , A.PRE_CATEGORY_INFO
                , A.CATEGORY_MENU_YN
                , A.REG_ID 
                , A.REG_DT 
                , A.UPD_ID 
                , A.UPD_DT  
                , ( SELECT CASE WHEN MENU_DEPTH = 1 THEN 0 ELSE EXPO_ORD END EXPO_ORD
                    FROM TB_DP_TENANT_MENU
                    WHERE TENANT_MENU_ID = SUBSTR(A.TENANT_MENU_ID, 0, 7 )
                    AND SYSTEM_ID = A.SYSTEM_ID) AS RNK1
                , ROW_NUMBER() OVER ( PARTITION BY SUBSTR( A.TENANT_MENU_ID, 0, 7 )
                                             ORDER BY A.MENU_DEPTH
                                                    , A.EXPO_ORD
                                                    , A.MENU_NM ) AS RNK2
            FROM 
                TB_DP_TENANT_MENU A
                , TB_DP_MENU_CATEGORY B
                , (
                    SELECT 
                        A.MENU_ID
                        , COUNT(A.MENU_ID) MENU_PROD_CNT
                    FROM
                        TB_DP_MENU_CATEGORY A
                        , TB_DP_MENU_CATEGORY_PROD_MAPG B
                        , TB_DP_PROD C
                        , TB_DP_TENANT_PROD D
                        , TB_DP_SPRT_DEVICE E
                        , TB_CM_DEVICE F
                    WHERE  A.MENU_ID = B.MENU_ID
                    AND  B.PROD_ID = C.PROD_ID
                    AND  B.PROD_ID = D.PROD_ID
                    AND  B.PROD_ID = E.PROD_ID
                    AND  E.DEVICE_MODEL_CD = F.DEVICE_MODEL_CD
                    AND  A.MENU_DEPTH = 2
                    AND  A.USE_YN = 'Y' /* Y : 사용 (사용여부) */
                    AND  B.USE_YN = 'Y' /* Y : 사용 (사용여부) */
                    AND  F.USE_YN = 'Y'
                    AND  D.EXPO_YN = 'Y'
                    AND  C.SVC_GRP_CD = 'DP000201' /* DP000201 : 애플리캐이션 */
                    AND  D.PROD_STATUS_CD = 'PD000403' /* PD000403 : 판매중 */
                    AND  D.EXPO_YN = 'Y' /* Y : 노출 (노출여부) */
                    AND  A.TOP_MENU_ID = #{topMenuId} /* 메뉴ID */
                    AND  B.MENU_ID LIKE #{topMenuId}||'%' /* 메뉴ID */
                    AND  D.TENANT_ID = #{tenantId} /* 테넌트ID */
                    AND  F.DEVICE_MODEL_CD = #{deviceModelCd} /* 단말모델코드 */
                    GROUP BY A.MENU_ID
                ) C
            WHERE A.TENANT_MENU_ID = B.MENU_ID
            AND A.TENANT_MENU_ID = C.MENU_ID(+)
            AND A.USE_YN = 'Y'
            AND B.USE_YN = 'Y'
            AND B.TOP_MENU_ID = #{topMenuId}
            AND A.TENANT_ID = #{tenantId} /* 테넌트ID */
            AND A.SYSTEM_ID = #{systemId} /* 시스템ID */
            <if test='featuredExposureYn == "N"'>
            AND NVL(A.CATEGORY_MENU_YN, 'Y') = 'Y'
            </if> 
        ) A
        ORDER BY A.RNK1, A.RNK2 
    </select>

    <!-- 세부 카테고리정보 조회 - 뮤직 -->
    <select id="selectMusicSubCategoryList" parameterType="MenuSacReq" resultType="Menu">
        SELECT /* MenuCategoryMapper.xml, selectMusicSubCategoryList, SAC 전시 , 2014-03-07 */
            COUNT(A.MENU_ID) OVER() AS TOTAL_COUNT
            , DECODE(A.INFR_MENU_YN, 'Y'
                , SUM(A.MENU_PROD_CNT) OVER ( PARTITION BY SUBSTR(A.MENU_ID, 0, 7 ) )
                , A.MENU_PROD_CNT) MENU_PROD_CNT
            , A.TENANT_ID 
            , A.MENU_ID 
            , A.SYSTEM_ID 
            , A.MENU_NM 
            , A.MENU_ENG_NM 
            , A.MENU_DESC 
            , A.MENU_DEPTH 
            , A.INFR_MENU_YN 
            , A.UP_MENU_ID 
            , A.EXPO_ORD 
            , A.TARGET_URL 
            , A.SEARCH_FILE_PATH 
            , A.SEARCH_FILE_NM 
            , A.BODY_FILE_PATH 
            , A.BODY_FILE_NM 
            , A.BODY_FILE_SIZE
            , A.MAIN_ON_FILE_PATH 
            , A.MAIN_ON_FILE_NM 
            , A.MAIN_OFF_FILE_PATH 
            , A.MAIN_OFF_FILE_NM 
            , A.RANK_FILE_PATH 
            , A.RANK_FILE_NM 
            , A.USE_YN 
            , A.MENU_ID_TYPE
            , A.LNB_FILE_PATH
            , A.LNB_FILE_NM
            , A.LNB_FILE_SIZE
            , A.PRE_CATEGORY_INFO
            , A.CATEGORY_MENU_YN
            , A.REG_ID 
            , A.REG_DT 
            , A.UPD_ID 
            , A.UPD_DT  
        FROM (
            SELECT 
                 NVL(C.MENU_PROD_CNT, 0) MENU_PROD_CNT
                , A.TENANT_ID 
                , A.TENANT_MENU_ID AS MENU_ID 
                , A.SYSTEM_ID 
                , A.MENU_NM 
                , A.MENU_ENG_NM 
                , A.MENU_DESC 
                , A.MENU_DEPTH 
                , A.INFR_MENU_YN 
                , A.UP_MENU_ID 
                , A.EXPO_ORD 
                , A.TARGET_URL 
                , A.SEARCH_FILE_PATH 
                , A.SEARCH_FILE_NM 
                , A.BODY_FILE_PATH 
                , A.BODY_FILE_NM 
                , NVL(A.BODY_FILE_SIZE, 0) AS BODY_FILE_SIZE
                , A.MAIN_ON_FILE_PATH 
                , A.MAIN_ON_FILE_NM 
                , A.MAIN_OFF_FILE_PATH 
                , A.MAIN_OFF_FILE_NM 
                , A.RANK_FILE_PATH 
                , A.RANK_FILE_NM 
                , A.USE_YN 
                , A.MENU_ID_TYPE
                , A.LNB_FILE_PATH
                , A.LNB_FILE_NM
                , A.LNB_FILE_SIZE
                , A.PRE_CATEGORY_INFO
                , A.CATEGORY_MENU_YN
                , A.REG_ID 
                , A.REG_DT 
                , A.UPD_ID 
                , A.UPD_DT  
                , ( SELECT CASE WHEN MENU_DEPTH = 1 THEN 0 ELSE EXPO_ORD END EXPO_ORD
                    FROM TB_DP_TENANT_MENU
                    WHERE TENANT_MENU_ID = SUBSTR(A.TENANT_MENU_ID, 0, 7 )
                    AND SYSTEM_ID = A.SYSTEM_ID) AS RNK1
                , ROW_NUMBER() OVER ( PARTITION BY SUBSTR( A.TENANT_MENU_ID, 0, 7 )
                                             ORDER BY A.MENU_DEPTH
                                                    , A.EXPO_ORD
                                                    , A.MENU_NM ) AS RNK2
            FROM 
                TB_DP_TENANT_MENU A
                , TB_DP_MENU_CATEGORY B
                , (
                        SELECT 
                            C.MENU_ID
                            , COUNT(C.MENU_ID) MENU_PROD_CNT
                        FROM
                            TB_DP_MENU_CATEGORY A
                            , TB_DP_MENU_CATEGORY_PROD_MAPG B
                            ,(
                                SELECT A1.CHART_GENRE_CD AS MENU_ID ,A1.PROD_ID
                                FROM TB_DP_MUSIC_CHART A1, TB_DP_MENU_CATEGORY_PROD_MAPG B1
                                WHERE A1.CHART_GENRE_CD = B1.MENU_ID
                                AND A1.PROD_ID = B1.PROD_ID
                                AND A1.CHART_CLSF_CD = 'DP004905'
                                AND A1.RANK_START_DAY = (
                                    SELECT MAX(TO_CHAR(A2.STD_DT, 'YYYYMMDD'))
                                    FROM TB_DP_BATCH_COMPT A2
                                    WHERE A2.TENANT_ID = 'S01'
                                    AND A2.BATCH_ID = 'MELON_DP004905'
                                    )
                                UNION ALL
                                SELECT 'DP16003001' AS MENU_ID, A1.PROD_ID
                                FROM TB_DP_MUSIC_CHART A1
                                WHERE A1.CHART_CLSF_CD = 'DP004904'
                                AND  A1.RANK_START_DAY = (
                                    SELECT MAX(TO_CHAR(A2.STD_DT, 'YYYYMMDD'))
                                    FROM TB_DP_BATCH_COMPT A2
                                    WHERE A2.TENANT_ID = 'S01'
                                    AND A2.BATCH_ID = 'MELON_DP004904'
                                    )
                                  ) C /* 에피 */
                            , TB_DP_TENANT_PROD D /* 에피 */
                            , TB_DP_SPRT_DEVICE E
                            , TB_CM_DEVICE F
                            , TB_DP_PROD G /* 에피 */
                            , TB_DP_TENANT_PROD I /* 채널 */
                            , TB_DP_PROD_RSHP J
                            , TB_DP_PROD K /* 채널 */
                        WHERE A.MENU_ID = B.MENU_ID
                        AND B.PROD_ID = C.PROD_ID
                        AND B.PROD_ID = D.PROD_ID
                        AND B.PROD_ID = E.PROD_ID
                        AND C.PROD_ID = G.PROD_ID
                        AND C.PROD_ID = J.PART_PROD_ID
                        AND D.TENANT_ID = I.TENANT_ID
                        AND J.PROD_ID = I.PROD_ID 
                        AND J.PROD_ID = K.PROD_ID 
                        AND A.TOP_MENU_ID = G.TOP_MENU_ID
                        AND A.TOP_MENU_ID = K.TOP_MENU_ID
                        AND A.MENU_DEPTH IN (2, 3)
                        AND A.USE_YN = 'Y'
                        AND B.USE_YN = 'Y'
                        AND D.EXPO_YN = 'Y'
                        AND F.USE_YN = 'Y'
                        AND F.MUSIC_SPRT_YN = 'Y'
                        AND D.PROD_STATUS_CD = 'PD000403'
                        AND G.META_CLSF_CD = 'CT25'
                        AND G.CONTENTS_TYPE_CD = 'PD002502'
                        AND G.SVC_GRP_CD = 'DP000203'
                        AND I.PROD_STATUS_CD = 'PD000403'
                        AND J.PROD_RSHP_CD = 'DP010802'
                        AND K.META_CLSF_CD = 'CT25'
                        AND K.CONTENTS_TYPE_CD = 'PD002501'
                        AND K.SVC_GRP_CD = 'DP000203'
                        AND D.TENANT_ID = #{tenantId} /* 테넌트ID */
                        AND A.TOP_MENU_ID = 'DP16' /* 메뉴ID */
                        AND B.MENU_ID LIKE 'DP16%' /* 메뉴ID */
                        AND (E.DEVICE_MODEL_CD = #{deviceModelCd} OR E.DEVICE_MODEL_CD = #{mmDeviceModelCd}) /* 단말모델코드 */
                        AND F.DEVICE_MODEL_CD = #{deviceModelCd} /* 단말모델코드 */
                        GROUP BY C.MENU_ID
                    ) C
            WHERE A.TENANT_MENU_ID = B.MENU_ID
            AND A.TENANT_MENU_ID = C.MENU_ID(+)
            AND A.USE_YN = 'Y'
            AND B.USE_YN = 'Y'
            AND B.TOP_MENU_ID = 'DP16'
            AND A.TENANT_ID = #{tenantId} /* 테넌트ID */
            AND A.SYSTEM_ID = #{systemId} /* 시스템ID */
            <if test='featuredExposureYn == "N"'>
            AND NVL(A.CATEGORY_MENU_YN, 'Y') = 'Y'
            </if> 
        ) A
        ORDER BY A.RNK1, A.RNK2 
    </select>

    <!-- 세부 카테고리정보 조회 - 이북 임시 쿼리 -->
    <select id="selectEbookSubCategoryList" parameterType="MenuSacReq" resultType="Menu">
        SELECT /* MenuCategoryMapper.xml, selectEbookSubCategoryList, SAC 전시 , 2014-04-11 */
            COUNT(A.MENU_ID) OVER() AS TOTAL_COUNT
            , DECODE(A.INFR_MENU_YN, 'Y'
                , SUM(A.MENU_PROD_CNT) OVER ( PARTITION BY SUBSTR(A.MENU_ID, 0, 7 ) )
                , A.MENU_PROD_CNT) MENU_PROD_CNT
            , A.TENANT_ID 
            , A.MENU_ID 
            , A.SYSTEM_ID 
            , A.MENU_NM 
            , A.MENU_ENG_NM 
            , A.MENU_DESC 
            , A.MENU_DEPTH 
            , A.INFR_MENU_YN 
            , A.UP_MENU_ID 
            , A.EXPO_ORD 
            , A.TARGET_URL 
            , A.SEARCH_FILE_PATH 
            , A.SEARCH_FILE_NM 
            , A.BODY_FILE_PATH 
            , A.BODY_FILE_NM 
            , A.BODY_FILE_SIZE
            , A.MAIN_ON_FILE_PATH 
            , A.MAIN_ON_FILE_NM 
            , A.MAIN_OFF_FILE_PATH 
            , A.MAIN_OFF_FILE_NM 
            , A.RANK_FILE_PATH 
            , A.RANK_FILE_NM 
            , A.USE_YN 
            , A.MENU_ID_TYPE
            , A.LNB_FILE_PATH
            , A.LNB_FILE_NM
            , A.LNB_FILE_SIZE
            , A.PRE_CATEGORY_INFO
            , A.CATEGORY_MENU_YN
            , A.REG_ID 
            , A.REG_DT 
            , A.UPD_ID 
            , A.UPD_DT  
        FROM (
            SELECT 
                 0 AS MENU_PROD_CNT
                , A.TENANT_ID 
                , A.TENANT_MENU_ID AS MENU_ID 
                , A.SYSTEM_ID 
                , A.MENU_NM 
                , A.MENU_ENG_NM 
                , A.MENU_DESC 
                , A.MENU_DEPTH 
                , A.INFR_MENU_YN 
                , A.UP_MENU_ID 
                , A.EXPO_ORD 
                , A.TARGET_URL 
                , A.SEARCH_FILE_PATH 
                , A.SEARCH_FILE_NM 
                , A.BODY_FILE_PATH 
                , A.BODY_FILE_NM 
                , NVL(A.BODY_FILE_SIZE, 0) AS BODY_FILE_SIZE
                , A.MAIN_ON_FILE_PATH 
                , A.MAIN_ON_FILE_NM 
                , A.MAIN_OFF_FILE_PATH 
                , A.MAIN_OFF_FILE_NM 
                , A.RANK_FILE_PATH 
                , A.RANK_FILE_NM 
                , A.USE_YN 
                , A.MENU_ID_TYPE
                , A.LNB_FILE_PATH
                , A.LNB_FILE_NM
                , A.LNB_FILE_SIZE
                , A.PRE_CATEGORY_INFO
                , A.CATEGORY_MENU_YN
                , A.REG_ID 
                , A.REG_DT 
                , A.UPD_ID 
                , A.UPD_DT  
                , ( SELECT CASE WHEN MENU_DEPTH = 1 THEN 0 ELSE EXPO_ORD END EXPO_ORD
                    FROM TB_DP_TENANT_MENU
                    WHERE TENANT_MENU_ID = SUBSTR(A.TENANT_MENU_ID, 0, 7 )
                    AND SYSTEM_ID = A.SYSTEM_ID) AS RNK1
                , ROW_NUMBER() OVER ( PARTITION BY SUBSTR( A.TENANT_MENU_ID, 0, 7 )
                                             ORDER BY A.MENU_DEPTH
                                                    , A.EXPO_ORD
                                                    , A.MENU_NM ) AS RNK2
            FROM 
                TB_DP_TENANT_MENU A
                , TB_DP_MENU_CATEGORY B
            WHERE A.TENANT_MENU_ID = B.MENU_ID
            AND A.USE_YN = 'Y'
            AND B.USE_YN = 'Y'
            AND B.TOP_MENU_ID = #{topMenuId}
            AND A.TENANT_ID = #{tenantId} /* 테넌트ID */
            AND A.SYSTEM_ID = #{systemId} /* 시스템ID */
            <if test='featuredExposureYn == "N"'>
            AND NVL(A.CATEGORY_MENU_YN, 'Y') = 'Y'
            </if> 
        ) A  
        ORDER BY A.RNK1, A.RNK2 
    </select>

    <!-- 세부 카테고리정보 조회 - 이북, 코믹 -->
    <select id="selectMultiSubCategoryList" parameterType="MenuSacReq" resultType="Menu">
        SELECT /* MenuCategoryMapper.xml, selectMultiSubCategoryList, SAC 전시 , 2014-03-07 */
            COUNT(A.MENU_ID) OVER() AS TOTAL_COUNT
            , DECODE(A.INFR_MENU_YN, 'Y'
                , SUM(A.MENU_PROD_CNT) OVER ( PARTITION BY SUBSTR(A.MENU_ID, 0, 7 ) )
                , A.MENU_PROD_CNT) MENU_PROD_CNT
            , A.TENANT_ID 
            , A.MENU_ID 
            , A.SYSTEM_ID 
            , A.MENU_NM 
            , A.MENU_ENG_NM 
            , A.MENU_DESC 
            , A.MENU_DEPTH 
            , A.INFR_MENU_YN 
            , A.UP_MENU_ID 
            , A.EXPO_ORD 
            , A.TARGET_URL 
            , A.SEARCH_FILE_PATH 
            , A.SEARCH_FILE_NM 
            , A.BODY_FILE_PATH 
            , A.BODY_FILE_NM 
            , A.BODY_FILE_SIZE
            , A.MAIN_ON_FILE_PATH 
            , A.MAIN_ON_FILE_NM 
            , A.MAIN_OFF_FILE_PATH 
            , A.MAIN_OFF_FILE_NM 
            , A.RANK_FILE_PATH 
            , A.RANK_FILE_NM 
            , A.USE_YN 
            , A.MENU_ID_TYPE
            , A.LNB_FILE_PATH
            , A.LNB_FILE_NM
            , A.LNB_FILE_SIZE
            , A.PRE_CATEGORY_INFO
            , A.CATEGORY_MENU_YN
            , A.REG_ID 
            , A.REG_DT 
            , A.UPD_ID 
            , A.UPD_DT  
        FROM (
            SELECT 
                 NVL(C.MENU_PROD_CNT, 0) MENU_PROD_CNT
                , A.TENANT_ID 
                , A.TENANT_MENU_ID AS MENU_ID 
                , A.SYSTEM_ID 
                , A.MENU_NM 
                , A.MENU_ENG_NM 
                , A.MENU_DESC 
                , A.MENU_DEPTH 
                , A.INFR_MENU_YN 
                , A.UP_MENU_ID 
                , A.EXPO_ORD 
                , A.TARGET_URL 
                , A.SEARCH_FILE_PATH 
                , A.SEARCH_FILE_NM 
                , A.BODY_FILE_PATH 
                , A.BODY_FILE_NM 
                , NVL(A.BODY_FILE_SIZE, 0) AS BODY_FILE_SIZE
                , A.MAIN_ON_FILE_PATH 
                , A.MAIN_ON_FILE_NM 
                , A.MAIN_OFF_FILE_PATH 
                , A.MAIN_OFF_FILE_NM 
                , A.RANK_FILE_PATH 
                , A.RANK_FILE_NM 
                , A.USE_YN 
                , A.MENU_ID_TYPE
                , A.LNB_FILE_PATH
                , A.LNB_FILE_NM
                , A.LNB_FILE_SIZE
                , A.PRE_CATEGORY_INFO
                , A.CATEGORY_MENU_YN
                , A.REG_ID 
                , A.REG_DT 
                , A.UPD_ID 
                , A.UPD_DT  
                , ( SELECT CASE WHEN MENU_DEPTH = 1 THEN 0 ELSE EXPO_ORD END EXPO_ORD
                    FROM TB_DP_TENANT_MENU
                    WHERE TENANT_MENU_ID = SUBSTR(A.TENANT_MENU_ID, 0, 7 )
                    AND SYSTEM_ID = A.SYSTEM_ID) AS RNK1
                , ROW_NUMBER() OVER ( PARTITION BY SUBSTR( A.TENANT_MENU_ID, 0, 7 )
                                             ORDER BY A.MENU_DEPTH
                                                    , A.EXPO_ORD
                                                    , A.MENU_NM ) AS RNK2
            FROM 
                TB_DP_TENANT_MENU A
                , TB_DP_MENU_CATEGORY B
                , (
                        SELECT 
                            A.MENU_ID
                            , COUNT(A.MENU_ID) MENU_PROD_CNT
                        FROM (
                            SELECT
                                DISTINCT A.MENU_ID, B.PROD_ID
                            FROM            
                                TB_DP_MENU_CATEGORY A
                                , TB_DP_MENU_CATEGORY_PROD_MAPG B
                                , TB_DP_PROD C /* 에피 */
                                , TB_DP_TENANT_PROD D
                                , TB_DP_PROD_RSHP E
                                , TB_DP_SPRT_DEVICE F
                                , TB_CM_DEVICE G
                                , TB_DP_PROD H /* 채널 */  
                                , TB_DP_TENANT_PROD I /* 채널 */  
                            WHERE A.MENU_ID = B.MENU_ID
                            AND B.PROD_ID = E.PROD_ID
                            AND E.PART_PROD_ID = C.PROD_ID
                            AND E.PART_PROD_ID = D.PROD_ID
                            AND E.PART_PROD_ID = F.PROD_ID
                            AND E.PROD_ID = H.PROD_ID  
                            AND E.PROD_ID = I.PROD_ID  
                            AND D.TENANT_ID = I.TENANT_ID  
                            AND A.TOP_MENU_ID = C.TOP_MENU_ID  
                            AND A.TOP_MENU_ID = H.TOP_MENU_ID  
                            AND A.USE_YN = 'Y'
                            AND B.USE_YN = 'Y'
                            AND G.USE_YN = 'Y'
                            AND D.EXPO_YN = 'Y'
                            AND I.EXPO_YN = 'Y'  
                            AND C.SVC_GRP_CD = 'DP000203'
                            AND H.SVC_GRP_CD = 'DP000203'  
                            AND C.CONTENTS_TYPE_CD = 'PD002502'
                            AND H.CONTENTS_TYPE_CD = 'PD002501'  
                            AND D.PROD_STATUS_CD = 'PD000403'
                            AND I.PROD_STATUS_CD = 'PD000403'  
                            AND E.PROD_RSHP_CD = 'DP010802'
                            AND CASE WHEN A.TOP_MENU_ID = 'DP13' AND G.EBOOK_SPRT_YN = 'Y' THEN 1
                                WHEN A.TOP_MENU_ID = 'DP14' AND G.COMIC_SPRT_YN = 'Y' THEN 1
                                ELSE 0 END = 1
                            AND D.TENANT_ID = #{tenantId} /* 테넌트ID */
                            AND A.TOP_MENU_ID = #{topMenuId} /* 메뉴ID */
                            AND B.MENU_ID LIKE #{topMenuId}||'%' /* 메뉴ID */
                            AND (F.DEVICE_MODEL_CD = #{deviceModelCd} OR F.DEVICE_MODEL_CD = #{mmDeviceModelCd}) /* 단말모델코드 */
                            AND G.DEVICE_MODEL_CD = #{deviceModelCd} /* 단말모델코드 */
                        ) A
                        GROUP BY A.MENU_ID
                    ) C
            WHERE A.TENANT_MENU_ID = B.MENU_ID
            AND A.TENANT_MENU_ID = C.MENU_ID(+)
            AND A.USE_YN = 'Y'
            AND B.USE_YN = 'Y'
            AND B.TOP_MENU_ID = #{topMenuId}
            AND A.TENANT_ID = #{tenantId} /* 테넌트ID */
            AND A.SYSTEM_ID = #{systemId} /* 시스템ID */
            <if test='featuredExposureYn == "N"'>
            AND NVL(A.CATEGORY_MENU_YN, 'Y') = 'Y'
            </if> 
        ) A  
        ORDER BY A.RNK1, A.RNK2 
    </select>

    <!-- 세부 카테고리정보 조회 - 영화, 방송 -->
    <select id="selectVodSubCategoryList" parameterType="MenuSacReq" resultType="Menu">
        SELECT /* MenuCategoryMapper.xml, selectVodSubCategoryList, SAC 전시 , 2014-03-07 */
            COUNT(A.MENU_ID) OVER() AS TOTAL_COUNT
            , DECODE(A.INFR_MENU_YN, 'Y'
                , SUM(A.MENU_PROD_CNT) OVER ( PARTITION BY SUBSTR(A.MENU_ID, 0, 7 ) )
                , A.MENU_PROD_CNT) MENU_PROD_CNT
            , A.TENANT_ID 
            , A.MENU_ID 
            , A.SYSTEM_ID 
            , A.MENU_NM 
            , A.MENU_ENG_NM 
            , A.MENU_DESC 
            , A.MENU_DEPTH 
            , A.INFR_MENU_YN 
            , A.UP_MENU_ID 
            , A.EXPO_ORD 
            , A.TARGET_URL 
            , A.SEARCH_FILE_PATH 
            , A.SEARCH_FILE_NM 
            , A.BODY_FILE_PATH 
            , A.BODY_FILE_NM 
            , A.BODY_FILE_SIZE
            , A.MAIN_ON_FILE_PATH 
            , A.MAIN_ON_FILE_NM 
            , A.MAIN_OFF_FILE_PATH 
            , A.MAIN_OFF_FILE_NM 
            , A.RANK_FILE_PATH 
            , A.RANK_FILE_NM 
            , A.USE_YN 
            , A.MENU_ID_TYPE
            , A.LNB_FILE_PATH
            , A.LNB_FILE_NM
            , A.LNB_FILE_SIZE
            , A.PRE_CATEGORY_INFO
            , A.CATEGORY_MENU_YN
            , A.REG_ID 
            , A.REG_DT 
            , A.UPD_ID 
            , A.UPD_DT  
        FROM (
            SELECT 
                 NVL(C.MENU_PROD_CNT, 0) MENU_PROD_CNT
                , A.TENANT_ID 
                , A.TENANT_MENU_ID AS MENU_ID 
                , A.SYSTEM_ID 
                , A.MENU_NM 
                , A.MENU_ENG_NM 
                , A.MENU_DESC 
                , A.MENU_DEPTH 
                , A.INFR_MENU_YN 
                , A.UP_MENU_ID 
                , A.EXPO_ORD 
                , A.TARGET_URL 
                , A.SEARCH_FILE_PATH 
                , A.SEARCH_FILE_NM 
                , A.BODY_FILE_PATH 
                , A.BODY_FILE_NM 
                , NVL(A.BODY_FILE_SIZE, 0) AS BODY_FILE_SIZE
                , A.MAIN_ON_FILE_PATH 
                , A.MAIN_ON_FILE_NM 
                , A.MAIN_OFF_FILE_PATH 
                , A.MAIN_OFF_FILE_NM 
                , A.RANK_FILE_PATH 
                , A.RANK_FILE_NM 
                , A.USE_YN 
                , A.MENU_ID_TYPE
                , A.LNB_FILE_PATH
                , A.LNB_FILE_NM
                , A.LNB_FILE_SIZE
                , A.PRE_CATEGORY_INFO
                , A.CATEGORY_MENU_YN
                , A.REG_ID 
                , A.REG_DT 
                , A.UPD_ID 
                , A.UPD_DT  
                , ( SELECT CASE WHEN MENU_DEPTH = 1 THEN 0 ELSE EXPO_ORD END EXPO_ORD
                    FROM TB_DP_TENANT_MENU
                    WHERE TENANT_MENU_ID = SUBSTR(A.TENANT_MENU_ID, 0, 7 )
                    AND SYSTEM_ID = A.SYSTEM_ID) AS RNK1
                , ROW_NUMBER() OVER ( PARTITION BY SUBSTR( A.TENANT_MENU_ID, 0, 7 )
                                             ORDER BY A.MENU_DEPTH
                                                    , A.EXPO_ORD
                                                    , A.MENU_NM ) AS RNK2
            FROM 
                TB_DP_TENANT_MENU A
                , TB_DP_MENU_CATEGORY B
                , (
                        SELECT 
                            A.MENU_ID
                            , COUNT(A.MENU_ID) MENU_PROD_CNT
                        FROM (
                            SELECT
                                DISTINCT 
                                CASE WHEN A.TOP_MENU_ID = 'DP17' AND J.ETC_CD IN ('DP003700','DP003701') THEN 'DP17001'
                                    ELSE A.MENU_ID END MENU_ID
                                , B.PROD_ID
                            FROM            
                                TB_DP_MENU_CATEGORY A
                                , TB_DP_MENU_CATEGORY_PROD_MAPG B
                                , TB_DP_PROD C /* 에피 */
                                , TB_DP_TENANT_PROD D
                                , TB_DP_PROD_RSHP E
                                , TB_DP_SPRT_DEVICE F
                                , TB_CM_DEVICE G
                                , TB_DP_PROD H /* 채널 */
                                , TB_DP_TENANT_PROD I /* 채널 */
                                , TB_DP_LIST_PROD J /* 채널 */
                            WHERE A.MENU_ID = B.MENU_ID
                            AND A.MENU_ID = J.MENU_ID  
                            AND B.PROD_ID = E.PROD_ID
                            AND E.PART_PROD_ID = C.PROD_ID
                            AND E.PART_PROD_ID = D.PROD_ID
                            AND E.PART_PROD_ID = F.PROD_ID
                            AND E.PROD_ID = H.PROD_ID  
                            AND E.PROD_ID = I.PROD_ID  
                            AND E.PROD_ID = J.PROD_ID  
                            AND D.TENANT_ID = J.TENANT_ID  
                            AND D.TENANT_ID = I.TENANT_ID  
                            AND A.TOP_MENU_ID = C.TOP_MENU_ID  
                            AND A.TOP_MENU_ID = H.TOP_MENU_ID  
                            AND A.USE_YN = 'Y'
                            AND B.USE_YN = 'Y'
                            AND G.USE_YN = 'Y'
                            AND D.EXPO_YN = 'Y'
                            AND I.EXPO_YN = 'Y'  
                            AND J.EXPO_YN = 'Y'  
                            AND C.SVC_GRP_CD = 'DP000203'
                            AND H.SVC_GRP_CD = 'DP000203'  
                            AND C.CONTENTS_TYPE_CD = 'PD002502'
                            AND H.CONTENTS_TYPE_CD = 'PD002501'  
                            AND D.PROD_STATUS_CD = 'PD000403'
                            AND I.PROD_STATUS_CD = 'PD000403'  
                            AND E.PROD_RSHP_CD = 'DP010802'
                            AND SYSDATE BETWEEN J.EXPO_START_DT AND J.EXPO_END_DT
                            
                            /* VOD */
                            AND CASE WHEN NVL(C.DRM_YN, 'N') = 'Y' AND NVL(G.VIDEO_DRM_SPRT_YN, 'N') = 'N' THEN 0 
                                ELSE CASE WHEN NVL(G.SD_VIDEO_SPRT_YN, 'N') = 'Y' THEN 1 ELSE 0 END 
                                END = 1   
                            
                            AND D.TENANT_ID = #{tenantId} /* 테넌트ID */
                            AND A.TOP_MENU_ID = #{topMenuId} /* 메뉴ID */
                            AND B.MENU_ID LIKE #{topMenuId}||'%' /* 메뉴ID */
                            AND (F.DEVICE_MODEL_CD = #{deviceModelCd} OR F.DEVICE_MODEL_CD = #{mmDeviceModelCd}) /* 단말모델코드 */
                            AND G.DEVICE_MODEL_CD = #{deviceModelCd} /* 단말모델코드 */
                            AND J.LIST_ID = #{listId} /* 리스트 ID */
                            AND J.STD_DT = TO_DATE(#{stdDt}, 'YYYYMMDDHH24MISS') /* 배치 시작일 */
                            
                        ) A
                        GROUP BY A.MENU_ID
                    ) C
            WHERE A.TENANT_MENU_ID = B.MENU_ID
            AND A.TENANT_MENU_ID = C.MENU_ID(+)
            AND A.USE_YN = 'Y'
            AND B.USE_YN = 'Y'
            AND B.TOP_MENU_ID = #{topMenuId}
            AND A.TENANT_ID = #{tenantId} /* 테넌트ID */
            AND A.SYSTEM_ID = #{systemId} /* 시스템ID */
            <if test='featuredExposureYn == "N"'>
            AND NVL(A.CATEGORY_MENU_YN, 'Y') = 'Y'
            </if> 
        ) A
        ORDER BY A.RNK1, A.RNK2 
    </select>

    <!-- 세부 카테고리정보 조회 - 쇼핑 -->
    <select id="selectShoppingSubCategoryList" parameterType="MenuSacReq" resultType="Menu">
        SELECT /* MenuCategoryMapper.xml, selectShoppingSubCategoryList, SAC 전시 , 2014-03-07 */
            COUNT(A.MENU_ID) OVER() AS TOTAL_COUNT
            , A.MENU_PROD_CNT
            , A.TENANT_ID 
            , A.MENU_ID 
            , A.SYSTEM_ID 
            , A.MENU_NM 
            , A.MENU_ENG_NM 
            , A.MENU_DESC 
            , A.MENU_DEPTH 
            , A.INFR_MENU_YN 
            , A.UP_MENU_ID 
            , A.EXPO_ORD 
            , A.TARGET_URL 
            , A.SEARCH_FILE_PATH 
            , A.SEARCH_FILE_NM 
            , A.BODY_FILE_PATH 
            , A.BODY_FILE_NM 
            , A.BODY_FILE_SIZE
            , A.MAIN_ON_FILE_PATH 
            , A.MAIN_ON_FILE_NM 
            , A.MAIN_OFF_FILE_PATH 
            , A.MAIN_OFF_FILE_NM 
            , A.RANK_FILE_PATH 
            , A.RANK_FILE_NM 
            , A.USE_YN 
            , A.MENU_ID_TYPE
            , A.LNB_FILE_PATH
            , A.LNB_FILE_NM
            , A.LNB_FILE_SIZE
            , A.PRE_CATEGORY_INFO
            , A.CATEGORY_MENU_YN
            , A.REG_ID 
            , A.REG_DT 
            , A.UPD_ID 
            , A.UPD_DT  
        FROM (
            SELECT 
                 NVL(C.MENU_PROD_CNT, 0) MENU_PROD_CNT
                , A.TENANT_ID 
                , A.TENANT_MENU_ID AS MENU_ID 
                , A.SYSTEM_ID 
                , A.MENU_NM 
                , A.MENU_ENG_NM 
                , A.MENU_DESC 
                , A.MENU_DEPTH 
                , A.INFR_MENU_YN 
                , A.UP_MENU_ID 
                , A.EXPO_ORD 
                , A.TARGET_URL 
                , A.SEARCH_FILE_PATH 
                , A.SEARCH_FILE_NM 
                , A.BODY_FILE_PATH 
                , A.BODY_FILE_NM 
                , NVL(A.BODY_FILE_SIZE, 0) AS BODY_FILE_SIZE
                , A.MAIN_ON_FILE_PATH 
                , A.MAIN_ON_FILE_NM 
                , A.MAIN_OFF_FILE_PATH 
                , A.MAIN_OFF_FILE_NM 
                , A.RANK_FILE_PATH 
                , A.RANK_FILE_NM 
                , A.USE_YN 
                , A.MENU_ID_TYPE
                , A.LNB_FILE_PATH
                , A.LNB_FILE_NM
                , A.LNB_FILE_SIZE
                , A.PRE_CATEGORY_INFO
                , A.CATEGORY_MENU_YN
                , A.REG_ID 
                , A.REG_DT 
                , A.UPD_ID 
                , A.UPD_DT  
                , ( SELECT CASE WHEN MENU_DEPTH = 1 THEN 0 ELSE EXPO_ORD END EXPO_ORD
                    FROM TB_DP_TENANT_MENU
                    WHERE TENANT_MENU_ID = SUBSTR(A.TENANT_MENU_ID, 0, 7 )
                    AND SYSTEM_ID = A.SYSTEM_ID) AS RNK1
                , ROW_NUMBER() OVER ( PARTITION BY SUBSTR( A.TENANT_MENU_ID, 0, 7 )
                                             ORDER BY A.MENU_DEPTH
                                                    , A.EXPO_ORD
                                                    , A.MENU_NM ) AS RNK2
            FROM 
                TB_DP_TENANT_MENU A
                , TB_DP_MENU_CATEGORY B
                , (
                        SELECT 
                            A.MENU_ID
                            , COUNT(A.MENU_ID) MENU_PROD_CNT
                        FROM (
                            SELECT
                                DISTINCT A.MENU_ID, B.CATALOG_ID
                            FROM
                                TB_DP_MENU_CATEGORY A
                                , TB_DP_SHPG_CATALOG B
                                , TB_DP_MENU_SHPG_MAPG C
                                , TB_DP_PROD_CATALOG_MAPG D /* 채널 */
                                , TB_DP_PROD_RSHP E
                                , TB_DP_SHPG_PROD F /* 에피 */
                                , TB_DP_TENANT_PROD G /* 에피 */
                                , TB_DP_TENANT_PROD_PRICE H /* 에피 */ 
                                , TB_DP_SPRT_DEVICE I
                                , TB_CM_DEVICE J
                            WHERE 1=1
                            AND A.MENU_ID = C.MENU_ID
                            AND B.CATALOG_ID = C.CATALOG_ID
                            AND B.CATALOG_ID = D.CATALOG_ID
                            AND D.PROD_ID = E.PROD_ID
                            AND E.PART_PROD_ID = F.PROD_ID
                            AND E.PART_PROD_ID = G.PROD_ID
                            AND E.PART_PROD_ID = H.PROD_ID
                            AND E.PART_PROD_ID = I.PROD_ID
                            AND G.TENANT_ID = H.TENANT_ID 
                            AND NVL(B.CHNL_CNT, 0) > 0
                            AND A.USE_YN ='Y'
                            AND C.USE_YN ='Y'
                            AND D.USE_YN ='Y'
                            AND G.EXPO_YN = 'Y'
                            AND NVL(F.B2B_PROD_YN, 'N') != 'Y'
                            AND G.PROD_STATUS_CD = 'PD000403'
                            AND SYSDATE BETWEEN  H.APPLY_START_DT AND H.APPLY_END_DT 
                            AND J.SCL_SHPG_SPRT_YN = 'Y'
                            AND (I.DEVICE_MODEL_CD = #{deviceModelCd} OR I.DEVICE_MODEL_CD = #{mmDeviceModelCd}) /* 단말모델코드 */
                            AND J.DEVICE_MODEL_CD = #{deviceModelCd} /* 단말모델코드 */
                            AND G.TENANT_ID = #{tenantId} /* 테넌트ID */
                            AND A.TOP_MENU_ID = #{topMenuId} /* 메뉴ID */
                            AND C.MENU_ID LIKE #{topMenuId}||'%' /* 메뉴ID */
                        ) A
                        GROUP BY A.MENU_ID
                    ) C
            WHERE A.TENANT_MENU_ID = B.MENU_ID
            AND A.TENANT_MENU_ID = C.MENU_ID(+)
            AND A.USE_YN = 'Y'
            AND B.USE_YN = 'Y'
            AND B.TOP_MENU_ID = #{topMenuId}
            AND A.TENANT_ID = #{tenantId} /* 테넌트ID */
            AND A.SYSTEM_ID = #{systemId} /* 시스템ID */
            <if test='featuredExposureYn == "N"'>
            AND NVL(A.CATEGORY_MENU_YN, 'Y') = 'Y'
            </if> 
        ) A   
        ORDER BY A.RNK1, A.RNK2 
    </select>
         
</mapper>
