<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Menu">
    <!-- Menu 리스트 조회-->
    <select id="selectMenuList" parameterType="MenuRequest" resultType="MenuDetailDTO">
        SELECT 
                COUNT(TENANT_MENU_ID) OVER() AS TOTAL_COUNT,
                TENANT_ID  ,
                TENANT_MENU_ID AS MENU_ID,           
                SYSTEM_ID  ,          
                MENU_NM     ,         
                MENU_ENG_NM  ,        
                MENU_DESC     ,       
                MENU_DEPTH     ,      
                INFR_MENU_YN    ,     
                UP_MENU_ID       ,    
                EXPO_ORD          ,   
                TARGET_URL         ,  
                SEARCH_FILE_PATH    , 
                SEARCH_FILE_NM       ,
                BODY_FILE_PATH       ,
                BODY_FILE_NM         ,
                BODY_FILE_SIZE       ,
                MAIN_ON_FILE_PATH    ,
                MAIN_ON_FILE_NM      ,
                MAIN_OFF_FILE_PATH   ,
                MAIN_OFF_FILE_NM     ,
                RANK_FILE_PATH       ,
                RANK_FILE_NM         ,
                USE_YN               ,
                REG_ID               ,
                REG_DT               ,
                UPD_ID               ,
                UPD_DT               
               FROM TB_DP_TENANT_MENU
              WHERE TENANT_ID = #{tenantId}
                <if test="menuId != null">AND TENANT_MENU_ID = #{menuId}</if>
                AND SYSTEM_ID = #{systemId}
                AND USE_YN = 'Y'
    </select>
    
    <!-- Menu Detail 조회-->
    <select id="selectMenu" parameterType="MenuRequest" resultType="MenuDetailDTO">
        SELECT TENANT_ID  ,
               TENANT_MENU_ID AS MENU_ID,           
               SYSTEM_ID  ,          
               MENU_NM     ,         
               MENU_ENG_NM  ,        
               MENU_DESC     ,       
               MENU_DEPTH     ,      
               INFR_MENU_YN    ,     
               UP_MENU_ID       ,    
               EXPO_ORD          ,   
               TARGET_URL         ,  
               SEARCH_FILE_PATH    , 
               SEARCH_FILE_NM       ,
               BODY_FILE_PATH       ,
               BODY_FILE_NM         ,
               BODY_FILE_SIZE       ,
               MAIN_ON_FILE_PATH    ,
               MAIN_ON_FILE_NM      ,
               MAIN_OFF_FILE_PATH   ,
               MAIN_OFF_FILE_NM     ,
               RANK_FILE_PATH       ,
               RANK_FILE_NM         ,
               USE_YN               ,
               REG_ID               ,
               REG_DT               ,
               UPD_ID               ,
               UPD_DT 
          FROM TB_DP_TENANT_MENU
         WHERE TENANT_ID = #{tenantId}
           AND TENANT_MENU_ID = #{menuId}
           AND SYSTEM_ID = #{systemId}
           AND USE_YN = 'Y'
    </select>

    <!-- 대분류 카테고리정보 조회 -->
    <select id="getTopCategoryList" parameterType="MenuRequest" resultType="MenuDetailDTO">
        SELECT 
               COUNT(M.MENU_ID) OVER() AS TOTAL_COUNT,
               M.MENU_ID,
               T.MENU_NM,
               T.MENU_DESC,
               T.BODY_FILE_SIZE
          FROM TB_DP_TENANT_MENU T,
               TB_DP_MENU_CATEGORY M
         WHERE M.MENU_ID = T.TENANT_MENU_ID
           AND T.TENANT_ID = #{tenantId}
           AND T.SYSTEM_ID = #{systemId}
           AND M.MENU_DEPTH = 1
           AND M.USE_YN = 'Y'
           AND T.USE_YN = 'Y'
         ORDER BY T.EXPO_ORD
    </select>

    <!-- 세부 카테고리정보 조회 - (카테고리별 별도의 쿼리문 존재함) - 추가 수정 필요 -->
    <select id="getDetailCategoryList" parameterType="MenuRequest" resultType="MenuDetailDTO">
        SELECT COUNT(MENU_ID) OVER() AS TOTAL_COUNT,
               MENU_ID,
               MENU_NM,
               MENU_DESC,
               BODY_FILE_SIZE,
               MENU_DEPTH,
               EXPO_ORD
        FROM
            (
            SELECT TENANT_MENU_ID AS MENU_ID,
                   MENU_NM,
                   MENU_DESC,
                   BODY_FILE_SIZE,
                   MENU_DEPTH,
                   EXPO_ORD
              FROM TB_DP_TENANT_MENU
             WHERE TENANT_ID = #{tenantId}
               AND TENANT_MENU_ID = #{menuId}
               AND SYSTEM_ID = #{systemId}
             START WITH TENANT_MENU_ID = #{menuId}
             CONNECT BY PRIOR TENANT_MENU_ID = UP_MENU_ID
            )
        GROUP BY MENU_ID,
                 MENU_NM,
                 MENU_DESC,
                 BODY_FILE_SIZE,
                 MENU_DEPTH,
                 EXPO_ORD
        ORDER BY MENU_ID, MENU_DEPTH, EXPO_ORD
    </select>
    
    
    <!-- 3depth 메뉴 조회 -->
    <select id="getTopMenu3Detph" parameterType="MenuRequest" resultType="MenuDetailDTO">
		SELECT M.TENANT_MENU_ID AS MENU_ID
		  FROM TB_DP_TENANT_MENU M,
		      (
		        SELECT DISTINCT UP_MENU_ID
		          FROM TB_DP_TENANT_MENU
		         WHERE TENANT_MENU_ID IN (
		            SELECT UP_MENU_ID
		            FROM TB_DP_TENANT_MENU 
		            WHERE MENU_DEPTH = 3
		            AND TENANT_ID = #{tenantId}
		            AND SYSTEM_ID = #{systemId}
		            AND USE_YN = 'Y'
		            )
		       )S, 
		       (SELECT MENU_ID 
		          FROM TB_DP_MENU_CATEGORY 
		         WHERE MENU_ID = #{menuId}
		           AND USE_YN = 'Y') D
		 WHERE M.TENANT_MENU_ID = S.UP_MENU_ID
		   AND D.MENU_ID = M.TENANT_MENU_ID
		   AND M.TENANT_ID = #{tenantId}
		   AND M.TENANT_MENU_ID = #{menuId}
		   AND M.SYSTEM_ID = #{systemId}
		   AND M.MENU_DEPTH = 1
		   AND M.USE_YN = 'Y'
		   AND ROWNUM = 1
    </select>
	    
</mapper>
