<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MenuCategory">

    <!-- 세부 카테고리정보 조회 - 앱 -->
    <select id="selectAppSubCategoryList" parameterType="MenuSacReq" resultType="Menu">
		SELECT 
		    COUNT(1) OVER() AS TOTAL_COUNT
		    , A.*
		FROM (
		    SELECT 
		         NVL(C.MENU_PROD_CNT, 0) MENU_PROD_CNT
		        , A.TENANT_ID 
		        , A.TENANT_MENU_ID AS MENU_ID 
		        , A.SYSTEM_ID 
		        , A.MENU_NM 
		        , A.MENU_ENG_NM 
		        , A.MENU_DESC 
		        , A.MENU_DEPTH 
		        , A.INFR_MENU_YN 
		        , A.UP_MENU_ID 
		        , A.EXPO_ORD 
		        , A.TARGET_URL 
		        , A.SEARCH_FILE_PATH 
		        , A.SEARCH_FILE_NM 
		        , A.BODY_FILE_PATH 
		        , A.BODY_FILE_NM 
		        , NVL(A.BODY_FILE_SIZE, 0) AS BODY_FILE_SIZE
		        , A.MAIN_ON_FILE_PATH 
		        , A.MAIN_ON_FILE_NM 
		        , A.MAIN_OFF_FILE_PATH 
		        , A.MAIN_OFF_FILE_NM 
		        , A.RANK_FILE_PATH 
		        , A.RANK_FILE_NM 
		        , A.USE_YN 
		        , A.MENU_ID_TYPE
		        , A.REG_ID 
		        , A.REG_DT 
		        , A.UPD_ID 
		        , A.UPD_DT  
		    FROM 
		        TB_DP_TENANT_MENU A
		        , TB_DP_MENU_CATEGORY B
		        , (
		            SELECT 
		                A.MENU_ID
		                , COUNT(1) MENU_PROD_CNT
		            FROM
		                TB_DP_MENU_CATEGORY A
		                , TB_DP_MENU_CATEGORY_PROD_MAPG B
		                , TB_DP_PROD C
		                , TB_DP_TENANT_PROD D
		                , TB_DP_SPRT_DEVICE E
		            WHERE  A.MENU_ID = B.MENU_ID
		            AND  B.PROD_ID = C.PROD_ID
		            AND  B.PROD_ID = D.PROD_ID
		            AND  B.PROD_ID = E.PROD_ID
		            AND  A.MENU_DEPTH = 2
		            AND  A.USE_YN = 'Y' /* Y : 사용 (사용여부) */
		            AND  B.USE_YN = 'Y' /* Y : 사용 (사용여부) */
		            AND  D.EXPO_YN = 'Y'
		            AND  C.SVC_GRP_CD = 'DP000201' /* DP000201 : 애플리캐이션 */
		            AND  D.PROD_STATUS_CD = 'PD000403' /* PD000403 : 판매중 */
		            AND  D.EXPO_YN = 'Y' /* Y : 노출 (노출여부) */
		            AND  A.TOP_MENU_ID = #{topMenuId} /* 메뉴ID */
		            AND  D.TENANT_ID = #{tenantId} /* 테넌트ID */
		            AND  E.DEVICE_MODEL_CD = #{deviceModelCd} /* 단말모델코드 */
		            GROUP BY A.MENU_ID
		        ) C
		    WHERE A.TENANT_MENU_ID = B.MENU_ID
		    AND A.TENANT_MENU_ID = C.MENU_ID(+)
		    AND A.USE_YN = 'Y'
		    AND B.USE_YN = 'Y'
		    AND A.TENANT_ID = #{tenantId} /* 테넌트ID */
		    AND A.SYSTEM_ID = #{systemId} /* 시스템ID */
		    START WITH B.MENU_ID = #{topMenuId} /* 메뉴ID */
		    CONNECT BY PRIOR A.TENANT_MENU_ID = A.UP_MENU_ID
		    ORDER SIBLINGS BY EXPO_ORD
		) A
    </select>

    <!-- 세부 카테고리정보 조회 - 뮤직 -->
    <select id="selectMusicSubCategoryList" parameterType="MenuSacReq" resultType="Menu">
		SELECT 
		    COUNT(1) OVER() AS TOTAL_COUNT
		    , A.*
		FROM (
		    SELECT 
		         NVL(C.MENU_PROD_CNT, 0) MENU_PROD_CNT
		        , A.TENANT_ID 
		        , A.TENANT_MENU_ID AS MENU_ID 
		        , A.SYSTEM_ID 
		        , A.MENU_NM 
		        , A.MENU_ENG_NM 
		        , A.MENU_DESC 
		        , A.MENU_DEPTH 
		        , A.INFR_MENU_YN 
		        , A.UP_MENU_ID 
		        , A.EXPO_ORD 
		        , A.TARGET_URL 
		        , A.SEARCH_FILE_PATH 
		        , A.SEARCH_FILE_NM 
		        , A.BODY_FILE_PATH 
		        , A.BODY_FILE_NM 
		        , NVL(A.BODY_FILE_SIZE, 0) AS BODY_FILE_SIZE
		        , A.MAIN_ON_FILE_PATH 
		        , A.MAIN_ON_FILE_NM 
		        , A.MAIN_OFF_FILE_PATH 
		        , A.MAIN_OFF_FILE_NM 
		        , A.RANK_FILE_PATH 
		        , A.RANK_FILE_NM 
		        , A.USE_YN 
		        , A.MENU_ID_TYPE
		        , A.REG_ID 
		        , A.REG_DT 
		        , A.UPD_ID 
		        , A.UPD_DT  
		    FROM 
		        TB_DP_TENANT_MENU A
		        , TB_DP_MENU_CATEGORY B
		        , (
		                SELECT 
		                    A.MENU_ID
		                    , COUNT(1) MENU_PROD_CNT
		                FROM
		                    TB_DP_MENU_CATEGORY A
		                    , TB_DP_MENU_CATEGORY_PROD_MAPG B
		                    , TB_DP_MUSIC_CHART C
		                    , TB_DP_TENANT_PROD D
		                    , TB_DP_SPRT_DEVICE E
		                    , TB_CM_DEVICE F
		                WHERE A.MENU_ID = B.MENU_ID
		                AND A.MENU_ID = C.CHART_GENRE_CD
		                AND B.PROD_ID = C.PROD_ID
		                AND C.PROD_ID = D.PROD_ID
		                AND B.PROD_ID = E.PROD_ID
		                AND E.DEVICE_MODEL_CD = F.DEVICE_MODEL_CD
		                AND A.MENU_DEPTH IN (2, 3)
		                AND A.USE_YN = 'Y'
		                AND B.USE_YN = 'Y'
		                AND D.EXPO_YN = 'Y'
		                AND F.USE_YN = 'Y'
		                AND F.MUSIC_SPRT_YN = 'Y'
		                AND D.PROD_STATUS_CD = 'PD000403'
		                AND C.RANK_START_DAY = ( 
		                    SELECT MAX(TO_CHAR(STD_DT,'YYYYMMDD')) 
		                    FROM TB_DP_BATCH_COMPT A1
		                    WHERE A1.TENANT_ID = D.TENANT_ID
		                    AND A1.BATCH_ID = CONCAT('MELON_',C.CHART_CLSF_CD)
		                    )
		                AND D.TENANT_ID = #{tenantId} /* 테넌트ID */
		                AND A.TOP_MENU_ID = #{topMenuId} /* 메뉴ID */
		                AND E.DEVICE_MODEL_CD = #{deviceModelCd} /* 단말모델코드 */
		                GROUP BY A.MENU_ID
		            ) C
		    WHERE A.TENANT_MENU_ID = B.MENU_ID
		    AND A.TENANT_MENU_ID = C.MENU_ID(+)
		    AND A.USE_YN = 'Y'
		    AND B.USE_YN = 'Y'
		    AND A.TENANT_ID = #{tenantId} /* 테넌트ID */
		    AND A.SYSTEM_ID = #{systemId} /* 시스템ID */
		    START WITH B.MENU_ID = #{topMenuId} /* 메뉴ID */
		    CONNECT BY PRIOR A.TENANT_MENU_ID = A.UP_MENU_ID
		    ORDER SIBLINGS BY EXPO_ORD
		) A
    </select>

    <!-- 세부 카테고리정보 조회 - 멀티미디어 -->
    <select id="selectMultiSubCategoryList" parameterType="MenuSacReq" resultType="Menu">
		SELECT 
		    COUNT(1) OVER() AS TOTAL_COUNT
		    , A.*
		FROM (
		    SELECT 
		         NVL(C.MENU_PROD_CNT, 0) MENU_PROD_CNT
		        , A.TENANT_ID 
		        , A.TENANT_MENU_ID AS MENU_ID 
		        , A.SYSTEM_ID 
		        , A.MENU_NM 
		        , A.MENU_ENG_NM 
		        , A.MENU_DESC 
		        , A.MENU_DEPTH 
		        , A.INFR_MENU_YN 
		        , A.UP_MENU_ID 
		        , A.EXPO_ORD 
		        , A.TARGET_URL 
		        , A.SEARCH_FILE_PATH 
		        , A.SEARCH_FILE_NM 
		        , A.BODY_FILE_PATH 
		        , A.BODY_FILE_NM 
		        , NVL(A.BODY_FILE_SIZE, 0) AS BODY_FILE_SIZE
		        , A.MAIN_ON_FILE_PATH 
		        , A.MAIN_ON_FILE_NM 
		        , A.MAIN_OFF_FILE_PATH 
		        , A.MAIN_OFF_FILE_NM 
		        , A.RANK_FILE_PATH 
		        , A.RANK_FILE_NM 
		        , A.USE_YN 
		        , A.MENU_ID_TYPE
		        , A.REG_ID 
		        , A.REG_DT 
		        , A.UPD_ID 
		        , A.UPD_DT  
		    FROM 
		        TB_DP_TENANT_MENU A
		        , TB_DP_MENU_CATEGORY B
		        , (
		                SELECT 
		                    A.MENU_ID
		                    , COUNT(1) MENU_PROD_CNT
		                FROM (
		                    SELECT
		                        DISTINCT A.MENU_ID, B.PROD_ID
		                    FROM            
		                        TB_DP_MENU_CATEGORY A
		                        , TB_DP_MENU_CATEGORY_PROD_MAPG B
		                        , TB_DP_PROD C /* 에피소드 상품 */
		                        , TB_DP_TENANT_PROD D
		                        , TB_DP_PROD_RSHP E
		                        , TB_DP_SPRT_DEVICE F
		                        , TB_CM_DEVICE G
		                    WHERE A.MENU_ID = B.MENU_ID
		                    AND B.PROD_ID = E.PROD_ID
		                    AND E.PART_PROD_ID = C.PROD_ID
		                    AND E.PART_PROD_ID = D.PROD_ID
		                    AND E.PART_PROD_ID = F.PROD_ID
		                    AND F.DEVICE_MODEL_CD = G.DEVICE_MODEL_CD
		                    AND A.USE_YN = 'Y'
		                    AND B.USE_YN = 'Y'
		                    AND G.USE_YN = 'Y'
		                    AND D.EXPO_YN = 'Y'
		                    AND C.SVC_GRP_CD = 'DP000203'
		                    AND C.CONTENTS_TYPE_CD = 'PD002502'
		                    AND D.PROD_STATUS_CD = 'PD000403'
		                    AND E.PROD_RSHP_CD = 'DP010802'
		                    
		                    /* VOD */
		                    <if test="topMenuId == 'DP17' or topMenuId == 'DP18'">
		                    AND DECODE(NVL(C.DRM_YN, 'N'), 'N', 1, NVL(G.VIDEO_DRM_SPRT_YN, 'N'), 1, 0) = 1
		                    </if>
		                    
		                    /* 이북 */
		                    <if test="topMenuId == 'DP13'">
		                    AND C.META_CLSF_CD IN ('CT19','CT20')
		                    AND G.EBOOK_SPRT_YN = 'Y'
		                    </if>
		                    
		                    /* 코믹 */
		                    <if test="topMenuId == 'DP14'">
		                    AND DECODE(C.META_CLSF_CD, 'CT21', G.COMIC_SPRT_YN, 'CT22', G.MAGAZINE_SPRT_YN) = 'Y'
		                    </if>
		                    
		                    AND D.TENANT_ID = #{tenantId} /* 테넌트ID */
		                    AND A.TOP_MENU_ID = #{topMenuId} /* 메뉴ID */
		                    AND (F.DEVICE_MODEL_CD = #{deviceModelCd} OR F.DEVICE_MODEL_CD = 'android_standard2') /* 단말모델코드 */
		                ) A
		                GROUP BY A.MENU_ID
		            ) C
		    WHERE A.TENANT_MENU_ID = B.MENU_ID
		    AND A.TENANT_MENU_ID = C.MENU_ID(+)
		    AND A.USE_YN = 'Y'
		    AND B.USE_YN = 'Y'
		    AND A.TENANT_ID = #{tenantId} /* 테넌트ID */
		    AND A.SYSTEM_ID = #{systemId} /* 시스템ID */
		    START WITH B.MENU_ID = #{topMenuId} /* 메뉴ID */
		    CONNECT BY PRIOR A.TENANT_MENU_ID = A.UP_MENU_ID
		    ORDER SIBLINGS BY EXPO_ORD
		) A
    </select>

    <!-- 세부 카테고리정보 조회 - 쇼핑 -->
    <select id="selectShoppingSubCategoryList" parameterType="MenuSacReq" resultType="Menu">
		SELECT 
		    COUNT(1) OVER() AS TOTAL_COUNT
		    , A.*
		FROM (
		    SELECT 
		         NVL(C.MENU_PROD_CNT, 0) MENU_PROD_CNT
		        , A.TENANT_ID 
		        , A.TENANT_MENU_ID AS MENU_ID 
		        , A.SYSTEM_ID 
		        , A.MENU_NM 
		        , A.MENU_ENG_NM 
		        , A.MENU_DESC 
		        , A.MENU_DEPTH 
		        , A.INFR_MENU_YN 
		        , A.UP_MENU_ID 
		        , A.EXPO_ORD 
		        , A.TARGET_URL 
		        , A.SEARCH_FILE_PATH 
		        , A.SEARCH_FILE_NM 
		        , A.BODY_FILE_PATH 
		        , A.BODY_FILE_NM 
		        , NVL(A.BODY_FILE_SIZE, 0) AS BODY_FILE_SIZE
		        , A.MAIN_ON_FILE_PATH 
		        , A.MAIN_ON_FILE_NM 
		        , A.MAIN_OFF_FILE_PATH 
		        , A.MAIN_OFF_FILE_NM 
		        , A.RANK_FILE_PATH 
		        , A.RANK_FILE_NM 
		        , A.USE_YN 
		        , A.MENU_ID_TYPE
		        , A.REG_ID 
		        , A.REG_DT 
		        , A.UPD_ID 
		        , A.UPD_DT  
		    FROM 
		        TB_DP_TENANT_MENU A
		        , TB_DP_MENU_CATEGORY B
		        , (
		                SELECT 
		                    A.MENU_ID
		                    , COUNT(1) MENU_PROD_CNT
		                FROM (
		                    SELECT
		                        DISTINCT A.MENU_ID, B.CATALOG_ID
		                    FROM
		                        TB_DP_MENU_CATEGORY A
		                        , TB_DP_SHPG_CATALOG B
		                        , TB_DP_MENU_SHPG_MAPG C
		                        , TB_DP_PROD_CATALOG_MAPG D /* 채널 */
		                        , TB_DP_PROD_RSHP E
		                        , TB_DP_SHPG_PROD F /* 에피 */
		                        , TB_DP_TENANT_PROD G /* 에피 */
		                    WHERE 1=1
		                    AND A.MENU_ID = C.MENU_ID
		                    AND B.CATALOG_ID = C.CATALOG_ID
		                    AND B.CATALOG_ID = D.CATALOG_ID
		                    AND D.PROD_ID = E.PROD_ID
		                    AND E.PART_PROD_ID = F.PROD_ID
		                    AND E.PART_PROD_ID = G.PROD_ID
		                    AND NVL(B.CHNL_CNT, 0) > 0
		                    AND A.USE_YN ='Y'
		                    AND C.USE_YN ='Y'
		                    AND D.USE_YN ='Y'
		                    AND G.EXPO_YN = 'Y'
		                    AND NVL(F.B2B_PROD_YN, 'N') != 'Y'
		                    AND G.PROD_STATUS_CD = 'PD000403'
		                    AND G.TENANT_ID = #{tenantId} /* 테넌트ID */
		                    AND A.TOP_MENU_ID = #{topMenuId} /* 메뉴ID */
		                ) A
		                GROUP BY A.MENU_ID
		            ) C
		    WHERE A.TENANT_MENU_ID = B.MENU_ID
		    AND A.TENANT_MENU_ID = C.MENU_ID(+)
		    AND A.USE_YN = 'Y'
		    AND B.USE_YN = 'Y'
		    AND A.TENANT_ID = #{tenantId} /* 테넌트ID */
		    AND A.SYSTEM_ID = #{systemId} /* 시스템ID */
		    START WITH B.MENU_ID = #{topMenuId} /* 메뉴ID */
		    CONNECT BY PRIOR A.TENANT_MENU_ID = A.UP_MENU_ID
		    ORDER SIBLINGS BY EXPO_ORD
		) A
    </select>
         
</mapper>
