<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Brandshop">
    <!-- 브렌드샵 테마 조회 -->
    <select id="selectBrandshop" parameterType="BrandshopSacReq" resultType="Brandshop">
		SELECT  /* BrandshopMapper.XML, selectBrandshop, SAC 전시, 2014-02-19 */    
            Z2.TOTAL_COUNT
          , Z2.BRAND_ID
          , Z2.BRAND_SHOP_NM
          , Z2.CATEGORY_NO
          , Z2.MENU_NM
          , Z2.LOG_IMG_POS
          , Z2.BNR_IMG_NM
          , Z2.BNR_IMG_SIZE
          , Z2.EXPO_ORD
        FROM
		( 		
            SELECT
	              COUNT(Z1.BRAND_ID) OVER () AS TOTAL_COUNT
                , ROW_NUMBER() OVER(ORDER BY Z1.CATEGORY_NO, Z1.EXPO_ORD) RNUM
			    , Z1.BRAND_ID
			    , Z1.BRAND_SHOP_NM
			    , Z1.CATEGORY_NO 
		        , (SELECT MENU_NM
		             FROM TB_DP_MENU_CATEGORY_DESC
		            WHERE MENU_ID = Z1.CATEGORY_NO 
		              AND LANG_CD = 'ko'
		              AND ROWNUM = 1) AS MENU_NM	     
			    , Z1.LOG_IMG_POS
                , Z1.BNR_IMG_NM
			    , Z1.BNR_IMG_SIZE
			    , Z1.EXPO_ORD
		    FROM
			(
				SELECT DISTINCT  BS.BRAND_SHOP_NO AS BRAND_ID
				    , BS.BRAND_SHOP_NM
				    , BS.CATEGORY_NO
				    , CONCAT( BS.BNR_IMG_PATH, BS.BNR_IMG_NM ) AS LOG_IMG_POS
				    , BS.BNR_IMG_NM
				    , BS.BNR_IMG_SIZE
				    , BS.EXPO_ORD
	            FROM TB_DP_BRAND_SHOP BS
	                , TB_DP_BRAND_SHOP_SELLER BSS
	                , TB_DP_BRAND_SHOP_DVC BSD  
	                , TB_DP_PROD_RSHP A
	                , TB_DP_MENU_CATEGORY_PROD_MAPG B
	                , TB_DP_MENU_CATEGORY C
	                , TB_DP_PROD D  
	                , TB_DP_TENANT_PROD E
	                , TB_DP_SPRT_DEVICE G
	                , TB_DP_PROD_DESC H
	            WHERE 1=1
	            AND BS.TENANT_ID = #{tenantId}    
                AND BSS.TENANT_ID = #{tenantId}
                AND BSD.TENANT_ID = #{tenantId}
	            AND BS.BRAND_SHOP_NO = BSS.BRAND_SHOP_NO
	            AND BS.BRAND_SHOP_NO = BSD.BRAND_SHOP_NO
	            AND BS.EXPO_YN = 'Y'
	            AND BS.DEL_YN = 'N'  
	            AND BSS.MBR_NO = D.SELLER_MBR_NO
	            AND A.PART_PROD_ID = D.PROD_ID	       
                <if test="topMenuId != null and topMenuId != ''">  
                AND BS.CATEGORY_NO =  #{topMenuId}  
                </if>
	            AND A.PROD_RSHP_CD = 'DP010802'
	            AND A.PROD_ID = B.PROD_ID
	            AND B.USE_YN = 'Y'
	            AND B.MENU_ID = C.MENU_ID
	            AND C.USE_YN = 'Y'
	            AND D.PROD_ID = E.PROD_ID
	            AND D.PROD_ID = H.PROD_ID
	            AND BS.TENANT_ID = E.TENANT_ID
                AND (BSD.DVC_TYPE_CD = #{deviceModelCd} OR BSD.DVC_TYPE_CD = #{anyDeviceModelCd})
                AND (G.DEVICE_MODEL_CD = #{deviceModelCd} OR G.DEVICE_MODEL_CD = #{anyDeviceModelCd})
	            AND A.PART_PROD_ID = G.PROD_ID
                AND (CASE WHEN D.TOP_MENU_ID = 'DP13' THEN
                                 CASE WHEN #{ebookSprtYn} = 'Y' THEN 1 ELSE 0 END
                            WHEN D.TOP_MENU_ID = 'DP14' THEN
                                 CASE WHEN #{comicSprtYn} = 'Y' THEN 1 ELSE 0 END
                            WHEN D.TOP_MENU_ID = 'DP15' THEN 0
                            WHEN D.TOP_MENU_ID = 'DP16' THEN
                                 CASE WHEN D.META_CLSF_CD = 'CT25' THEN
                                           CASE WHEN #{musicSprtYn} = 'Y' THEN 1 ELSE 0 END ELSE 1 END
                            WHEN D.TOP_MENU_ID IN ('DP17', 'DP18') THEN
                                 CASE WHEN NVL(D.DRM_YN, 'N') = 'Y' AND #{videoDrmSprtYn} = 'N' THEN 0
                                      ELSE CASE WHEN #{sdVideoSprtYn} = 'Y' THEN 1 ELSE 0 END END
                            ELSE 1 END) = 1
			) Z1
		)Z2
        ORDER BY RNUM
    </select>
    
    <!-- 브렌드샵 테마 상품 Layout 조회 -->
    <select id="selectBrandshopInfo" parameterType="BrandshopSacReq" resultType="Brandshop">
        SELECT  /* BrandshopMapper.XML, selectBrandshopInfo, SAC 전시, 2014-04-16 */    
                BRAND_SHOP_NO AS BRAND_ID
              , BRAND_SHOP_NM
              , CATEGORY_NO
              , (SELECT  MENU_NM
                   FROM  TB_DP_MENU_CATEGORY_DESC
                  WHERE  MENU_ID = CATEGORY_NO 
                    AND  LANG_CD = 'ko'
                    AND  ROWNUM = 1) AS MENU_NM    
              , CONCAT( LOGO_IMG_PATH, LOGO_IMG_NM ) AS LOG_IMG_POS
              , LOGO_IMG_NM AS BNR_IMG_NM
              , LOGO_IMG_SIZE AS BNR_IMG_SIZE
              , EXPO_ORD
          FROM  TB_DP_BRAND_SHOP
         WHERE  BRAND_SHOP_NO = #{brandshopId}
    </select>
    
    <!-- 브렌드샵 테마 상품 조회 -->
    <select id="selectBrandshopList" parameterType="BrandshopSacReq" resultType="ProductBasicInfo">
        SELECT  /* BrandshopMapper.XML, selectBrandshopList, SAC 전시, 2014-02-28 */    
            Z3.TOTAL_COUNT
            , Z3.PROD_ID
            , Z3.TOP_MENU_ID
            , Z3.MENU_ID
            , Z3.PART_PROD_ID
            , Z3.UPD_DT
            , Z3.META_CLSF_CD
            , Z3.SVC_GRP_CD
            , Z3.CONTENTS_TYPE_CD
            , Z3.PROD_NM
            FROM
            (
               SELECT
	            Z2.TOTAL_COUNT          
                , ROWNUM AS RNUM
			    , Z2.PROD_ID
			    , Z2.TOP_MENU_ID
			    , Z2.MENU_ID
			    , Z2.PART_PROD_ID
			    , Z2.UPD_DT
                , Z2.REG_DT
			    , Z2.META_CLSF_CD
                , Z2.SVC_GRP_CD
			    , Z2.CONTENTS_TYPE_CD
			    , Z2.PROD_NM
			    FROM
			    ( 
			        SELECT
			          COUNT(Z1.PROD_ID) OVER () AS TOTAL_COUNT		
			                , Z1.PROD_ID
			                , Z1.TOP_MENU_ID
			                , Z1.MENU_ID
			                , Z1.PART_PROD_ID
			                , Z1.UPD_DT
                            , Z1.REG_DT
			                , Z1.META_CLSF_CD
                            , Z1.SVC_GRP_CD
			                , Z1.CONTENTS_TYPE_CD
			                , Z1.PROD_NM
                            , IB.PRCHS_CNT
			            FROM
			             (
			            SELECT DISTINCT  D.PROD_ID AS PROD_ID
			                 , BS.TENANT_ID
			                 , C.TOP_MENU_ID
			                 , C.MENU_ID
			                 , A.PART_PROD_ID                                     
			                 , D.UPD_DT                                
	                         , D.REG_DT
			                 , D.META_CLSF_CD
                             , D.SVC_GRP_CD
			                 , D.CONTENTS_TYPE_CD
			                 , H.PROD_NM
			                 , ROW_NUMBER( ) OVER ( PARTITION BY D.PROD_ID
			                                           ORDER BY D.REG_DT DESC) AS RN
			            FROM TB_DP_BRAND_SHOP BS
			                , TB_DP_BRAND_SHOP_SELLER BSS
			                , TB_DP_BRAND_SHOP_DVC BSD  
			                , TB_DP_PROD_RSHP A
			                , TB_DP_MENU_CATEGORY_PROD_MAPG B
			                , TB_DP_MENU_CATEGORY C
			                , TB_DP_PROD D  
			                , TB_DP_TENANT_PROD E
			                , TB_DP_SPRT_DEVICE G
			                , TB_DP_PROD_DESC H
			            WHERE 1=1
			            AND BS.TENANT_ID = #{tenantId}
	                    AND BSS.TENANT_ID = #{tenantId}
	                    AND BSD.TENANT_ID = #{tenantId}
			            AND BS.BRAND_SHOP_NO = #{brandshopId}          
			            AND BS.BRAND_SHOP_NO = BSS.BRAND_SHOP_NO
			            AND BS.BRAND_SHOP_NO = BSD.BRAND_SHOP_NO
			            AND BS.EXPO_YN = 'Y'
			            AND BS.DEL_YN = 'N'  
			            AND BSS.MBR_NO = D.SELLER_MBR_NO
			            AND A.PROD_ID = D.PROD_ID
			            AND A.PROD_RSHP_CD = 'DP010802'
			            AND A.PROD_ID = B.PROD_ID
			            AND B.USE_YN = 'Y'
			            AND B.MENU_ID = C.MENU_ID
			            AND C.USE_YN = 'Y'
			            AND D.PROD_ID = E.PROD_ID
			            AND D.PROD_ID = H.PROD_ID
			            AND BS.TENANT_ID = E.TENANT_ID
                        AND E.PROD_STATUS_CD = 'PD000403'
		                AND (BSD.DVC_TYPE_CD = #{deviceModelCd} OR BSD.DVC_TYPE_CD = #{anyDeviceModelCd})
		                AND (G.DEVICE_MODEL_CD = #{deviceModelCd} OR G.DEVICE_MODEL_CD = #{anyDeviceModelCd})
		                AND A.PART_PROD_ID = G.PROD_ID
		                AND (CASE WHEN D.TOP_MENU_ID = 'DP13' THEN
		                                 CASE WHEN #{ebookSprtYn} = 'Y' THEN 1 ELSE 0 END
		                            WHEN D.TOP_MENU_ID = 'DP14' THEN
		                                 CASE WHEN #{comicSprtYn} = 'Y' THEN 1 ELSE 0 END
		                            WHEN D.TOP_MENU_ID = 'DP15' THEN 0
		                            WHEN D.TOP_MENU_ID = 'DP16' THEN
		                                 CASE WHEN D.META_CLSF_CD = 'CT25' THEN
		                                           CASE WHEN #{musicSprtYn} = 'Y' THEN 1 ELSE 0 END ELSE 1 END
		                            WHEN D.TOP_MENU_ID IN ('DP17', 'DP18') THEN
		                                 CASE WHEN NVL(D.DRM_YN, 'N') = 'Y' AND #{videoDrmSprtYn} = 'N' THEN 0
		                                      ELSE CASE WHEN #{sdVideoSprtYn} = 'Y' THEN 1 ELSE 0 END END
		                            ELSE 1 END) = 1
			            ) Z1
                          , TB_DP_TENANT_PROD_STATS IB
			        WHERE  Z1.RN = 1
                      AND  Z1.TENANT_ID = IB.TENANT_ID(+)
                      AND  Z1.PROD_ID = IB.PROD_ID(+)
			        ) Z2
        <!-- 최신순 -->
        <if test='orderedBy == "DP000701"'>
            ORDER BY Z2.REG_DT DESC
        </if>
        <!-- 인기순 -->
        <if test='orderedBy == "DP000709"'>
            ORDER BY Z2.PRCHS_CNT DESC
                   , Z2.REG_DT DESC
        </if>
        ) Z3
        WHERE RNUM BETWEEN #{offset} AND #{count}
    </select>
</mapper>