<?xml version="1.0" encoding="UTF-8"?>
<configuration>  
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %m%n</pattern>
        </layout>
    </appender> 
    
    <logger name="org.springframework" additivity="false" level="INFO"> 
        <appender-ref ref="CONSOLE" />
    </logger> 
    
    <logger name="org.springframework.data.transaction.ChainedTransactionManager" additivity="false" level="DEBUG"> 
        <appender-ref ref="CONSOLE" />
    </logger>  
    
    <!-- 기본jdbc 로그 사용 안함 -->
    <logger name="jdbc.resultset" level="OFF" additivity="false" /> 
    <logger name="jdbc.audit"     level="OFF" additivity="false" /> 
    <logger name="jdbc.sqltiming" level="OFF" additivity="false" />
    
    <include resource="member-sci/log/logback-local.xml"/>   
    
    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>