<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DeviceProductProvisioning">
	<select id="searchProductProvisioning" parameterType="Map" resultType="MetaInfo">
		   <if test = "req.productType=='shopping'">  
			 SELECT /* DeviceProductProvisioningMapper.searchProductProvisioning, 단말Provisioning조회, 오승민/인크로스, 2014-02-04 */
		            P.PROD_ID AS PART_PROD_ID
		          , P.PROD_GRD_CD
		          , P.CONTENTS_TYPE_CD
		      FROM 
		             TB_DP_PROD_CATALOG_MAPG            PCM
		           , TB_DP_SHPG_CATALOG                 SC
		           , TB_DP_SHPG_PROD                    SP
		           , TB_DP_PROD_RSHP                    PR
		           , TB_DP_PROD                         P
		           , TB_DP_SPRT_DEVICE                  SD
		           , TB_CM_DEVICE                       CD
		           , TB_DP_TENANT_PROD                  TP
		           , TB_DP_TENANT_PROD_PRICE            TPP
		     WHERE SC.CATALOG_ID = PCM.CATALOG_ID
		       AND SP.PROD_ID = PCM.PROD_ID 
		       AND SP.PROD_ID = PR.PROD_ID
		       AND PR.PART_PROD_ID = P.PROD_ID
		       AND P.PROD_ID = SD.PROD_ID 
		       AND P.PROD_ID = TP.PROD_ID
		       AND TP.PROD_ID = TPP.PROD_ID
		       AND TP.TENANT_ID = TPP.TENANT_ID  
		       AND PCM.USE_YN = 'Y'
		       AND SC.CHNL_CNT > 0
		       AND P.CONTENTS_TYPE_CD = #{contentTypeCd}
		       <if test = "list !=null">
		       AND PR.PART_PROD_ID IN
		           <foreach collection="list" item="item" index="index" open="(" separator="," close=")"> 
		                #{item}
		           </foreach>
		       </if>
		       AND NVL(SP.B2B_PROD_YN, 'N') != 'Y'
		       AND (SD.DEVICE_MODEL_CD = #{req.deviceModelNo} OR SD.DEVICE_MODEL_CD = #{virtualDeviceModelNo})
		       AND CD.DEVICE_MODEL_CD = #{req.deviceModelNo} 
		       AND CD.USE_YN = 'Y'
		       AND CD.SCL_SHPG_SPRT_YN = 'Y'
		       AND TP.PROD_STATUS_CD = #{prodStatusCd}
		       AND TP.EXPO_YN = 'Y'
		       AND TP.TENANT_ID = #{tenantHeader.tenantId}
		       AND SYSDATE BETWEEN TPP.APPLY_START_DT AND TPP.APPLY_END_DT
		       AND PR.PROD_RSHP_CD = #{rshpCd}
		    </if>     
		    <if test = "req.productType=='normal'">
		    SELECT /* DeviceProductProvisioningMapper.searchProductProvisioning, 단말Provisioning조회, 오승민/인크로스, 2014-02-04 */
			       P.PROD_ID AS PART_PROD_ID,
			       P.PROD_GRD_CD,
			       P.CONTENTS_TYPE_CD
			  FROM TB_DP_PROD P,
			       TB_DP_SPRT_DEVICE SD,
			       TB_CM_DEVICE CD,
			       TB_DP_TENANT_PROD TP,
			       TB_DP_TENANT_PROD_PRICE TPP
			 WHERE     P.PROD_ID = SD.PROD_ID
			       AND P.PROD_ID = TP.PROD_ID
			       AND TP.PROD_ID = TPP.PROD_ID
			       AND TP.TENANT_ID = TPP.TENANT_ID
			       AND (SD.DEVICE_MODEL_CD = #{req.deviceModelNo} OR SD.DEVICE_MODEL_CD = #{virtualDeviceModelNo})
			       AND CD.DEVICE_MODEL_CD = #{req.deviceModelNo}
			       AND P.CONTENTS_TYPE_CD = #{contentTypeCd}
			       AND CD.USE_YN = 'Y'
			       AND TP.PROD_STATUS_CD = #{prodStatusCd}
			       AND TP.TENANT_ID = #{tenantHeader.tenantId}
			       AND SYSDATE BETWEEN TPP.APPLY_START_DT AND TPP.APPLY_END_DT
			        <if test = "list !=null">
	               AND P.PROD_ID IN
	                   <foreach collection="list" item="item" index="index" open="(" separator="," close=")"> 
	                        #{item}
	                   </foreach>
	               </if>
	               AND  (CASE WHEN P.TOP_MENU_ID = 'DP13' THEN
	                           CASE WHEN #{supportDevice.ebookSprtYn} = 'Y' THEN 1 ELSE 0 END
		                      WHEN P.TOP_MENU_ID = 'DP14' THEN
		                           CASE WHEN #{supportDevice.comicSprtYn} = 'Y' THEN 1 ELSE 0 END
		                      WHEN P.TOP_MENU_ID = 'DP15' THEN 0
		                      WHEN P.TOP_MENU_ID = 'DP16' THEN
		                           CASE WHEN P.META_CLSF_CD = 'CT25' THEN
		                                     CASE WHEN #{supportDevice.musicSprtYn} = 'Y' THEN 1 ELSE 0 END ELSE 1 END
		                      WHEN P.TOP_MENU_ID IN ('DP17', 'DP18') THEN
		                           CASE WHEN NVL(P.DRM_YN, 'N') = 'Y' AND #{supportDevice.videoDrmSprtYn} = 'N' THEN 0
		                                ELSE CASE WHEN #{supportDevice.sdVideoSprtYn} = 'Y' THEN 1 ELSE 0 END END
		                      ELSE 1 END) = 1
	       </if>
  </select>
 	
</mapper>
