<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UseableDevice">
    <!-- 이용가능 단말 조회(서비스 그룹코드 : DP000201)-->
    <select id="searchProductBasicInfo" parameterType="Map" resultType="ProductBasicInfo">
		SELECT /* UseableDevice.searchProductBasicInfo, 상품 기본정보(서비스 그룹) 조회 , 이석희/아이에스플러스, 2014-03-28 */
		        A.PROD_ID
		      , A.SVC_GRP_CD
		      , A.SVC_TYPE_CD
		      , A.CONTENTS_TYPE_CD
		      , A.META_CLSF_CD
		      , A.TOP_MENU_ID       
		  FROM TB_DP_PROD A
		 WHERE 1=1 
		   AND A.PROD_ID = #{productId}
   </select>

	<!-- 이용가능 단말 조회(서비스 그룹코드 : DP000201)-->
	<select id="selectUseableDeviceForApp" parameterType="UseableDeviceSacReq" resultType="MetaInfo">
		SELECT /* UseableDeviceMapper.selectUseableDeviceForApp, 이용가능 단말 조회(서비스 그룹코드 : DP000201), 이석희/IS-Plus, 2014-03-17 */ 
		      TOTAL_COUNT
		     , RNUM
		     , PROD_ID
		     , DEVICE_MODEL_CD
		     , MODEL_NM AS DEVICE_MODEL_NM
		     , MNFT_COMP_CD
		     , MAKE_COMP_NM AS MNFT_COMP_NM
		     , NET_COMP
		     , LCD_SIZE
		     , COLOR_DEPTH
		     , AUDIO_TYPE
		     , AUDIO_POLY
		     , TOUCH_SCREEN_YN
		     , CAMERA_SPRT_YN
		     , BLUETOOTH_SPRT_YN
		     , GPS_SPRT_YN
		     , EXTRR_MEM_YN
		     , ITOPP_V4_SPRT_YN
		     , LIST_IMAGE_PATH
		     , DTL_IMAGE_PATH
		     , SOUND_3D_SPRT_YN
		  FROM
		       (
		        SELECT COUNT(*) OVER() AS TOTAL_COUNT
		             , ROWNUM AS RNUM
		             , B.PROD_ID
		             , A.DEVICE_MODEL_CD
		             , A.MODEL_NM
		             , A.MNFT_COMP_CD
		             , SPSAC.FC_GET_CM_CD_NM(A.MNFT_COMP_CD, #{langCd}) AS MAKE_COMP_NM
		             , SPSAC.FC_GET_CM_CD_NM(A.CMNT_COMP_CD, #{langCd}) AS NET_COMP
		             , SPSAC.FC_GET_CM_CD_NM(A.LCD_SIZE_CD,  #{langCd}) AS LCD_SIZE
		             , SPSAC.FC_GET_CM_CD_NM(A.COLOR_CD,     #{langCd}) AS COLOR_DEPTH
		             , SPSAC.FC_GET_CM_CD_NM(A.AUDIO_TYPE_CD,#{langCd}) AS AUDIO_TYPE
		             , SPSAC.FC_GET_CM_CD_NM(A.AUDIO_POLY_CD,#{langCd}) AS AUDIO_POLY
		             , A.TOUCH_SCREEN_YN
		             , A.CAMERA_SPRT_YN
		             , A.BLUETOOTH_SPRT_YN
		             , A.GPS_SPRT_YN
		             , A.EXTRR_MEM_YN
		             , A.ITOPP_V4_SPRT_YN
		             , REPLACE( REPLACE( REPLACE( NVL(A.LIST_IMG_PATH, '/images/no_imgage/phone_68_68.gif') , '/data/img', '/images'), '/data/wipi', '/wipiimages'), '/data/common', '/common') AS LIST_IMAGE_PATH
		             , REPLACE( REPLACE( REPLACE( NVL(A.DTL_IMG_PATH, '/images/no_imgage/phone_68_68.gif') , '/data/img', '/images'), '/data/wipi', '/wipiimages'), '/data/common', '/common') AS DTL_IMAGE_PATH
		             , A.SOUND_3D_SPRT_YN
		          FROM TB_CM_DEVICE       A
		             , TB_DP_SPRT_DEVICE  B
		         WHERE 1=1
		           AND NVL(A.VERIFY_DVC_YN, 'N') = 'N'
		           AND A.USE_YN = 'Y' 
		           AND A.REP_DEVICE_YN = 'Y'
		           AND B.PROD_ID = #{productId}
  	              <if test='deviceModelNm != null and deviceModelNm != ""'>
		           AND (UPPER(A.MODEL_NM) LIKE '%'||UPPER(#{deviceModelNm})||'%' OR UPPER(A.DEVICE_MODEL_CD) LIKE '%'||UPPER(#{deviceModelNm})||'%')
		          </if>
		          <if test='mnftCompCd != null and mnftCompCd != ""'>
		           AND MNFT_COMP_CD = #{mnftCompCd}
		          </if>
		           AND A.DEVICE_MODEL_CD = B.DEVICE_MODEL_CD
		          ORDER BY A.REG_DT
		       )
		  WHERE RNUM BETWEEN #{offset} AND #{count}
    </select>
    
    <!-- 이용가능 단말 조회(서비스 그룹코드 : DP000205)-->
    <select id="selectUseableDeviceForShopping" parameterType="UseableDeviceSacReq" resultType="MetaInfo">
		SELECT /* UseableDeviceMapper.selectUseableDeviceForShopping, 이용가능 단말 조회(서비스 그룹코드 : DP000205), 이석희/IS-Plus, 2014-03-17 */
		       TOTAL_COUNT
		     , RNUM
		     , PROD_ID
		     , DEVICE_MODEL_CD
		     , MODEL_NM AS DEVICE_MODEL_NM
		     , MNFT_COMP_CD
		     , MAKE_COMP_NM AS MNFT_COMP_NM
		     , NET_COMP
		     , LCD_SIZE
		     , COLOR_DEPTH
		     , AUDIO_TYPE
		     , AUDIO_POLY
		     , TOUCH_SCREEN_YN
		     , CAMERA_SPRT_YN
		     , BLUETOOTH_SPRT_YN
		     , GPS_SPRT_YN
		     , EXTRR_MEM_YN
		     , ITOPP_V4_SPRT_YN
		     , LIST_IMAGE_PATH
		     , DTL_IMAGE_PATH
		     , SOUND_3D_SPRT_YN
		  FROM
		      (
		        SELECT COUNT(*) OVER() AS TOTAL_COUNT
		             , ROWNUM AS RNUM
		             , '' AS PROD_ID
		             , A.DEVICE_MODEL_CD
		             , A.MODEL_NM
		             , A.MNFT_COMP_CD
		             , SPSAC.FC_GET_CM_CD_NM(A.MNFT_COMP_CD, #{langCd}) AS MAKE_COMP_NM
		             , SPSAC.FC_GET_CM_CD_NM(A.CMNT_COMP_CD, #{langCd}) AS NET_COMP
		             , SPSAC.FC_GET_CM_CD_NM(A.LCD_SIZE_CD,  #{langCd}) AS LCD_SIZE
		             , SPSAC.FC_GET_CM_CD_NM(A.COLOR_CD,     #{langCd}) AS COLOR_DEPTH
		             , SPSAC.FC_GET_CM_CD_NM(A.AUDIO_TYPE_CD,#{langCd}) AS AUDIO_TYPE
		             , SPSAC.FC_GET_CM_CD_NM(A.AUDIO_POLY_CD,#{langCd}) AS AUDIO_POLY
		             , A.TOUCH_SCREEN_YN
		             , A.CAMERA_SPRT_YN
		             , A.BLUETOOTH_SPRT_YN
		             , A.GPS_SPRT_YN
		             , A.EXTRR_MEM_YN
		             , A.ITOPP_V4_SPRT_YN
		             , REPLACE( REPLACE( REPLACE( NVL(A.LIST_IMG_PATH, '/images/no_imgage/phone_68_68.gif') , '/data/img', '/images'), '/data/wipi', '/wipiimages'), '/data/common', '/common') AS LIST_IMAGE_PATH
		             , REPLACE( REPLACE( REPLACE( NVL(A.DTL_IMG_PATH, '/images/no_imgage/phone_68_68.gif') , '/data/img', '/images'), '/data/wipi', '/wipiimages'), '/data/common', '/common') AS DTL_IMAGE_PATH
		             , A.SOUND_3D_SPRT_YN
		          FROM TB_CM_DEVICE A
		         WHERE 1=1
		           AND A.SCL_SHPG_SPRT_YN = 'Y'      
		           AND NVL(A.VERIFY_DVC_YN, 'N') = 'N'
		           AND A.USE_YN = 'Y' 
		           AND A.REP_DEVICE_YN = 'Y'
		         <if test='deviceModelNm != null and deviceModelNm != ""'>
		           AND (UPPER(A.MODEL_NM) LIKE '%'||UPPER(#{deviceModelNm})||'%' OR UPPER(A.DEVICE_MODEL_CD) LIKE '%'||UPPER(#{deviceModelNm})||'%')
		         </if>
		         <if test='mnftCompCd != null and mnftCompCd != ""'>
		           AND A.MNFT_COMP_CD = #{mnftCompCd}
		         </if>
		         ORDER BY A.REG_DT                   
		       )
		  WHERE RNUM BETWEEN #{offset} AND #{count}  
    </select>
    
    <!-- 이용가능 단말 조회(서비스 그룹코드 : DP000201, DP000205 제외)-->
    <select id="selectUseableDeviceForOther" parameterType="UseableDeviceSacReq" resultType="MetaInfo">
		SELECT /* UseableDeviceMapper.selectUseableDeviceForOther, 이용가능 단말 조회(서비스 그룹코드 : DP000201, DP000205 제외), 이석희/IS-Plus, 2014-03-17 */
		       TOTAL_COUNT
		     , RNUM
		     , PROD_ID
		     , DEVICE_MODEL_CD
		     , MODEL_NM AS DEVICE_MODEL_NM
		     , MNFT_COMP_CD
		     , MAKE_COMP_NM AS MNFT_COMP_NM
		     , NET_COMP
		     , LCD_SIZE
		     , COLOR_DEPTH
		     , AUDIO_TYPE
		     , AUDIO_POLY
		     , TOUCH_SCREEN_YN
		     , CAMERA_SPRT_YN
		     , BLUETOOTH_SPRT_YN
		     , GPS_SPRT_YN
		     , EXTRR_MEM_YN
		     , ITOPP_V4_SPRT_YN
		     , LIST_IMAGE_PATH
		     , DTL_IMAGE_PATH
		     , SOUND_3D_SPRT_YN
		  FROM
		       (
		        SELECT COUNT(*) OVER() AS TOTAL_COUNT
		             , ROWNUM AS RNUM
		             , #{productId} AS PROD_ID
		             , A.DEVICE_MODEL_CD
		             , A.MODEL_NM
		             , A.MNFT_COMP_CD
                     , SPSAC.FC_GET_CM_CD_NM(A.MNFT_COMP_CD, #{langCd}) AS MAKE_COMP_NM
                     , SPSAC.FC_GET_CM_CD_NM(A.CMNT_COMP_CD, #{langCd}) AS NET_COMP
                     , SPSAC.FC_GET_CM_CD_NM(A.LCD_SIZE_CD,  #{langCd}) AS LCD_SIZE
                     , SPSAC.FC_GET_CM_CD_NM(A.COLOR_CD,     #{langCd}) AS COLOR_DEPTH
                     , SPSAC.FC_GET_CM_CD_NM(A.AUDIO_TYPE_CD,#{langCd}) AS AUDIO_TYPE
                     , SPSAC.FC_GET_CM_CD_NM(A.AUDIO_POLY_CD,#{langCd}) AS AUDIO_POLY
		             , A.TOUCH_SCREEN_YN
		             , A.CAMERA_SPRT_YN
		             , A.BLUETOOTH_SPRT_YN
		             , A.GPS_SPRT_YN
		             , A.EXTRR_MEM_YN
		             , A.ITOPP_V4_SPRT_YN
		             , REPLACE( REPLACE( REPLACE( NVL(A.LIST_IMG_PATH, '/images/no_imgage/phone_68_68.gif') , '/data/img', '/images'), '/data/wipi', '/wipiimages'), '/data/common', '/common') AS LIST_IMAGE_PATH
		             , REPLACE( REPLACE( REPLACE( NVL(A.DTL_IMG_PATH, '/images/no_imgage/phone_68_68.gif') , '/data/img', '/images'), '/data/wipi', '/wipiimages'), '/data/common', '/common') AS DTL_IMAGE_PATH
		             , A.SOUND_3D_SPRT_YN
		          FROM TB_CM_DEVICE       A     
		         WHERE 1=1
		         <if test='topMenuId == "DP09" or topMenuId == "DP17" or topMenuId == "DP18"'>
		           AND A.VIDEO_DRM_SPRT_YN ='Y'
		           AND (A.SD_VIDEO_SPRT_YN ='Y' OR A.HDV_SPRT_YN ='Y')
		         </if>
                 <if test='topMenuId == "DP16"'>
                   AND A.MUSIC_SPRT_YN ='Y'
                 </if>
                 <if test='topMenuId == "DP13"'>
                   AND A.EBOOK_SPRT_YN ='Y'
                 </if>
                 <if test='topMenuId == "DP14"'>
                   AND A.COMIC_SPRT_YN ='Y'
                 </if>		         
		           AND NVL(A.VERIFY_DVC_YN, 'N') = 'N'
		           AND A.USE_YN = 'Y' 
		           AND A.REP_DEVICE_YN = 'Y'
		         <if test='deviceModelNm != null and deviceModelNm != ""'>
		           AND (UPPER(A.MODEL_NM) LIKE '%'||UPPER(#{deviceModelNm})||'%' OR UPPER(A.DEVICE_MODEL_CD) LIKE '%'||UPPER(#{deviceModelNm})||'%')
		         </if>
		         <if test='mnftCompCd != null and mnftCompCd != ""'>
		           AND MNFT_COMP_CD = #{mnftCompCd}
		         </if>		         
		          ORDER BY A.REG_DT
		       )
		  WHERE RNUM BETWEEN #{offset} AND #{count}
    </select>        
</mapper>
