<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Banner">
    <!-- 배너 리스트 조회-->
    <select id="searchBannerList" parameterType="BannerSacReq" resultType="BannerDefault">
		SELECT  /* BannerMapper.xml, searchBannerList, tae hee Lee, 2014-02-21 */
		        JA.TOTAL_COUNT
		      , JA.BNR_SEQ
		      , JA.IMG_SIZE_CD
		      , JA.BNR_INFO_TYPE_CD
		      , JA.BNR_INFO
		      , JA.EXPO_ORD
		      , JA.EXPO_STATUS_CD
		      , JA.IMG_PATH
		      , TO_CHAR(JA.REG_DT, 'YYYYMMDDHH24MISS') AS REG_DT
              , (SELECT  TOP_MENU_ID
                   FROM  TB_DP_PROD PR
                  WHERE  PR.PROD_ID = JA.BNR_INFO
                    AND  ROWNUM = 1) AS TOP_MENU_ID
		      , CASE WHEN (BNR_MENU_ID = 'DP010910' OR BNR_MENU_ID = 'DP010911') THEN
		                  /* BEST 앱, BEST 컨텐츠 */
		                  DECODE(BNR_INFO_TYPE_CD
		                      , 'DP010303' /* 상품 배너 */
		                      , (SELECT PROD_NM FROM TB_DP_PROD_DESC WHERE LANG_CD = 'ko' AND PROD_ID = JA.BNR_INFO)
		                      , 'DP010306' /* 카테고리 배너 */
		                      , (SELECT MENU_NM FROM TB_DP_MENU_CATEGORY_DESC WHERE LANG_CD = 'ko' AND MENU_ID = JA.BNR_INFO)
		                      , 'DP010307' /* 운영자 임의추천 배너 */
		                      , (SELECT LIST_NM FROM TB_DP_LIST WHERE TENANT_ID = 'S01' AND LIST_ID = JA.BNR_INFO)
		                      , 'DP010309' /* 특정 브랜드샵 배너 */
		                      , (SELECT BRAND_SHOP_NM FROM TB_DP_BRAND_SHOP WHERE TENANT_ID = 'S01' AND BRAND_SHOP_NO = JA.BNR_INFO)
		                      , 'DP010310' /* 내부URL 배너 */
		                      ,  BNR_NM)
		             WHEN BNR_MENU_ID = 'DP010926' THEN
		                  /* Mobile Web 직사각형 배너 */
		                  DECODE(BNR_INFO_TYPE_CD
		                      , 'DP010303' /* 상품 배너 */
		                      , (SELECT PROD_NM FROM TB_DP_PROD_DESC WHERE LANG_CD = 'ko' AND PROD_ID = JA.BNR_INFO)
		                      ,  BNR_NM)
		             ELSE BNR_NM END AS BNR_NM
		  FROM (SELECT  IA.TOTAL_COUNT
		              , IA.BNR_SEQ
		              , IA.IMG_SIZE_CD
		              , IA.BNR_INFO_TYPE_CD
		              , IA.BNR_INFO
		              , IA.BNR_MENU_ID
		              , IA.BNR_NM
		              , IA.EXPO_ORD
		              , IA.EXPO_STATUS_CD
		              , IA.IMG_PATH
		              , IA.REG_DT
		          FROM (SELECT  COUNT(A.BNR_SEQ) OVER() AS TOTAL_COUNT
		                      , A.BNR_SEQ
		                      , A.BNR_INFO_TYPE_CD
		                      , A.BNR_INFO
		                      , A.BNR_MENU_ID
		                      , A.REG_DT
		                      , B.BNR_NM
		                      , B.EXPO_ORD
		                      , B.EXPO_STATUS_CD
		                      , C.IMG_SIZE_CD
		                      , C.IMG_PATH
		                  FROM  TB_DP_BNR      A
		                      , TB_DP_BNR_EXPO B
		                      , TB_DP_BNR_IMG  C
                    <if test='bnrMenuId != "DP010926"'><!-- Mobile Web 직사각형 배너가 아닌 경우 -->
		                      , TB_DP_BNR_DVC  D
		                      , TB_CM_DEVICE   E
                    </if>
		                 WHERE  A.TENANT_ID = B.TENANT_ID
		                   AND  A.BNR_MENU_ID = B.BNR_MENU_ID
		                   AND  A.BNR_SEQ = B.BNR_SEQ
		                   AND  A.TENANT_ID = C.TENANT_ID
		                   AND  A.BNR_MENU_ID = C.BNR_MENU_ID
		                   AND  A.BNR_SEQ = C.BNR_SEQ
                    <if test='bnrMenuId != "DP010926"'><!-- Mobile Web 직사각형 배너가 아닌 경우 -->
		                   AND  A.TENANT_ID = D.TENANT_ID
		                   AND  A.BNR_MENU_ID = D.BNR_MENU_ID
		                   AND  A.BNR_SEQ = D.BNR_SEQ
		                   AND  D.DEVICE_MODEL_CD = E.DEVICE_MODEL_CD
		                   AND  D.DEVICE_MODEL_CD = #{deviceModelCd}
		                   AND  E.USE_YN = 'Y'
		                   AND  (CASE WHEN (A.BNR_INFO_TYPE_CD = 'DP010306' AND SUBSTR(A.BNR_INFO, 1, 4 ) = 'DP13') THEN DECODE(E.EBOOK_SPRT_YN, 'Y', 1, 0)
		                              WHEN (A.BNR_INFO_TYPE_CD = 'DP010306' AND SUBSTR(A.BNR_INFO, 1, 4 ) = 'DP14') THEN DECODE(E.COMIC_SPRT_YN, 'Y', 1, 0)
		                              WHEN (A.BNR_INFO_TYPE_CD = 'DP010306' AND SUBSTR(A.BNR_INFO, 1, 4 ) = 'DP28') THEN DECODE(E.SCL_SHPG_SPRT_YN, 'Y', 1, 0)
		                         ELSE 1 END) = 1
                    </if>
		                   AND  A.TENANT_ID = #{tenantId}
		                   AND  B.EXPO_YN = 'Y'
		                   AND  B.EXPO_STATUS_CD IN ('DP010201', 'DP010202')
		                   AND  C.IMG_SIZE_CD = #{imgSizeCd}
                    <choose>
                        <when test='bnrExpoMenuId != "DP010999"'><!-- Mobile Web 정사각형 배너가 아닌경우 -->
                           AND  A.BNR_MENU_ID = #{bnrMenuId}
                        </when>
                        <otherwise>
                           AND  C.MOBILE_WEB_EXPO_YN = 'Y'
                           AND  A.BNR_MENU_ID IN ('DP010916', 'DP010917', 'DP010918', 'DP010919')
                        </otherwise>
                    </choose>
                    <if test='bnrExpoMenuId != null and bnrExpoMenuId != ""'>
		                   AND  B.BNR_EXPO_MENU_ID = #{bnrExpoMenuId}
                    </if>
                    <choose>
                        <when test='bnrMenuId == "DP010910" or bnrMenuId == "DP010911"'><!-- BEST 앱, BEST 컨텐츠 -->
		                   AND  SYSDATE BETWEEN NVL(B.EXPO_START_DT, SYSDATE) AND NVL(B.EXPO_END_DT, SYSDATE)
                        </when>
                        <when test='(bnrMenuId == "DP010920" or bnrMenuId == "DP010921") and bnrExpoMenuId == "DP011101"'><!-- 이북, 코믹 테마 배너 -->
		                   AND  SYSDATE BETWEEN DECODE(B.EXPO_STATUS_CD, 'DP010202', SYSDATE, B.EXPO_START_DT) AND DECODE(B.EXPO_STATUS_CD, 'DP010202', SYSDATE, B.EXPO_END_DT)
                        </when>
                        <when test='bnrMenuId == "DP010926"'><!-- Mobile Web 직사각형 배너 -->
		                   AND  SYSDATE BETWEEN DECODE(B.EXPO_STATUS_CD, 'DP010202', SYSDATE, B.EXPO_START_DT) AND DECODE(B.EXPO_STATUS_CD, 'DP010202', SYSDATE, B.EXPO_END_DT)
                        </when>
                        <otherwise>
		                   AND  SYSDATE BETWEEN B.EXPO_START_DT AND NVL(B.EXPO_END_DT, SYSDATE)
                        </otherwise>
                    </choose>
		               ) IA
		        ORDER BY IA.EXPO_ORD, IA.EXPO_STATUS_CD
		       ) JA
    </select>
    
    <!-- 운영자 임의추천 상품 리스트 조회 -->
    <select id="searchRecommendProdList" parameterType="BannerSacReq" resultType="BannerDefault">
		SELECT  /* BannerMapper.xml, searchBannerList, tae hee Lee, 2014-02-21 */
		        IA.PART_PROD_ID
		      , IB.TOP_MENU_ID
		  FROM (SELECT  B.PART_PROD_ID
		          FROM  (SELECT  A.TENANT_ID, B.PROD_ID
		                   FROM  TB_DP_LIST          A
		                       , TB_DP_LIST_PROD     B
		                  WHERE  A.TENANT_ID = B.TENANT_ID
		                    AND  A.LIST_ID = B.LIST_ID
		                    AND  A.TENANT_ID = #{tenantId}
		                    AND  A.EXPO_YN = 'Y'
		                    AND  A.LIST_ID = #{recommendId}
		                    AND  B.EXPO_YN = 'Y'
		                    AND  TO_CHAR(B.STD_DT, 'YYYYMMDDHH24MISS') = #{stdDt}
		                    AND  SYSDATE BETWEEN B.EXPO_START_DT AND B.EXPO_END_DT
		                )                   A /* 운영자 임의 추천 */
		                , TB_DP_PROD_RSHP   B /* 채널-에피소드 매핑 */
		                , TB_DP_PROD        C /* 에피소드 상품 */
		                , TB_DP_TENANT_PROD D /* 에피소드 상품 */
		         WHERE  A.PROD_ID = B.PROD_ID
		           AND  B.PART_PROD_ID = C.PROD_ID
		           AND  A.TENANT_ID = D.TENANT_ID
		           AND  B.PART_PROD_ID = D.PROD_ID
		           AND  B.PROD_RSHP_CD = 'DP010802'
		           AND  D.EXPO_YN = 'Y'
		           AND  D.PROD_STATUS_CD = 'PD000403'
		        UNION
		        SELECT  D.PART_PROD_ID
		          FROM  (SELECT  A.TENANT_ID, B.PROD_ID
		                   FROM  TB_DP_LIST          A
		                       , TB_DP_LIST_PROD     B
		                  WHERE  A.TENANT_ID = B.TENANT_ID
		                    AND  A.LIST_ID = B.LIST_ID
		                    AND  A.TENANT_ID = #{tenantId}
		                    AND  A.EXPO_YN = 'Y'
		                    AND  A.LIST_ID = #{recommendId}
		                    AND  B.EXPO_YN = 'Y'
		                    AND  TO_CHAR(B.STD_DT, 'YYYYMMDDHH24MISS') = #{stdDt}
		                    AND  SYSDATE BETWEEN B.EXPO_START_DT AND B.EXPO_END_DT
		                )                         A /* 운영자 임의 추천 */
		                , TB_DP_SHPG_CATALOG      B /* 쇼핑 카탈로그 */
		                , TB_DP_PROD_CATALOG_MAPG C /* 카탈로그-상품 매핑 */
		                , TB_DP_PROD_RSHP         D /* 채널-에피소드 매핑 */
		                , TB_DP_PROD              E /* 에피소드 상품 */
		                , TB_DP_TENANT_PROD       F /* 에피소드 상품 */
		         WHERE  A.PROD_ID = B.CATALOG_ID
		           AND  B.CATALOG_ID = C.CATALOG_ID
		           AND  C.PROD_ID = D.PROD_ID
		           AND  D.PART_PROD_ID = E.PROD_ID
		           AND  A.TENANT_ID = F.TENANT_ID
		           AND  D.PART_PROD_ID = F.PROD_ID
		           AND  NVL(B.CHNL_CNT, 0) > 0
		           AND  C.BASE_YN = 'Y'
		           AND  C.USE_YN = 'Y'
		           AND  D.PROD_RSHP_CD = 'DP010802'
		           AND  F.EXPO_YN = 'Y'
		           AND  F.PROD_STATUS_CD = 'PD000403'
		       )            IA
		       , TB_DP_PROD IB
		 WHERE  IA.PART_PROD_ID = IB.PROD_ID
    </select>
    
    <!-- 특정 브랜드샵 상품 리스트 조회 -->
    <select id="searchBrandShopProdList" parameterType="BannerSacReq" resultType="BannerDefault">
		SELECT  D.PROD_ID AS PART_PROD_ID
		      , D.TOP_MENU_ID
		  FROM  TB_DP_BRAND_SHOP        A
		      , TB_DP_BRAND_SHOP_DVC    B
		      , TB_DP_BRAND_SHOP_SELLER C
		      , TB_DP_PROD              D
		      , TB_DP_TENANT_PROD       E       
		      , TB_DP_SPRT_DEVICE       F
		      , TB_CM_DEVICE            G
		 WHERE  A.TENANT_ID = B.TENANT_ID
		   AND  A.BRAND_SHOP_NO = B.BRAND_SHOP_NO
		   AND  A.TENANT_ID = C.TENANT_ID
		   AND  A.BRAND_SHOP_NO = C.BRAND_SHOP_NO
		   AND  C.MBR_NO = D.SELLER_MBR_NO
		   AND  D.PROD_ID = E.PROD_ID
		   AND  A.TENANT_ID = E.TENANT_ID
		   AND  D.PROD_ID = F.PROD_ID
		   AND  B.DVC_TYPE_CD = F.DEVICE_MODEL_CD
		   AND  F.DEVICE_MODEL_CD = G.DEVICE_MODEL_CD
		   AND  A.EXPO_YN = 'Y'
		   AND  A.DEL_YN = 'N'
		   AND  A.TENANT_ID = #{tenantId}
		   AND  A.BRAND_SHOP_NO = #{brandShopNo}
		   AND  E.PROD_STATUS_CD = 'PD000403'
		   AND  E.EXPO_YN = 'Y'
		   AND  F.DEVICE_MODEL_CD = #{deviceModelCd}
		   AND  G.USE_YN = 'Y'
    </select>
    
    <!-- 상품 프로비저닝 (에피소드 상품) -->
    <select id="getBannerProvisioing" parameterType="BannerSacReq" resultType="java.lang.Integer">
		SELECT  COUNT(A.PROD_ID) AS PROD_CNT
		  FROM  TB_DP_PROD        A
		      , TB_DP_TENANT_PROD B
		      , TB_DP_SPRT_DEVICE C
		      , TB_CM_DEVICE      D
		 WHERE  A.PROD_ID = B.PROD_ID
		   AND  A.PROD_ID = C.PROD_ID
		   AND  C.DEVICE_MODEL_CD = D.DEVICE_MODEL_CD
		   AND  B.PROD_STATUS_CD = 'PD000403'
		   AND  B.EXPO_YN = 'Y'
		   AND  B.TENANT_ID = #{tenantId}
		   AND  (C.DEVICE_MODEL_CD = #{deviceModelCd} OR C.DEVICE_MODEL_CD = #{anyDeviceModelCd})
		   AND  A.PROD_ID = #{prodId}
         <!-- 이북 상품 -->
         <if test='topMenuId == "DP13"'>
		   AND  D.EBOOK_SPRT_YN = 'Y'
         </if>
         <!-- 코믹 상품 -->
         <if test='topMenuId == "DP14"'>
		   AND  D.COMIC_SPRT_YN = 'Y'
         </if>
         <!-- VOD 상품 -->
         <if test='topMenuId == "DP17" or topMenuId == "DP18"'>
		   AND  (CASE WHEN (NVL(A.DRM_YN, 'N') = 'Y' AND NVL(D.VIDEO_DRM_SPRT_YN, 'N') = 'N') THEN 0 ELSE 1 END) = 1
         </if>
         <!-- 쇼핑 상품 -->
         <if test='topMenuId == "DP28"'>
		   AND D.SCL_SHPG_SPRT_YN = 'Y'
         </if>
    </select>
</mapper>
