<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VodDetail">
    
    <select id="selectVodDetail" parameterType="VodDetailReq" resultType="VodDetail">
		SELECT /* VodDetailMapper.xml, selectVodDetail, SAC : 임근대 , 2014-01-28 */
		     G.TENANT_ID
		     , A.MENU_ID
		     , A.PROD_ID
		     , B.UP_MENU_ID
		     , B.TOP_MENU_ID
		     , C.MENU_NM
		     , C.MENU_DESC
		     , D.PROD_GRD_CD
		     , D.USE_PERIOD_UNIT_CD
		     , D.META_CLSF_CD
		     , D.CONTENTS_TYPE_CD
		     , D.DRM_YN
		     , E.VOD_TITL_NM
		     , E.STRM_EPSD_CNT
		     , E.ISSUE_DAY
		     , E.CHNL_COMP_NM
		     , E.AGENCY_NM
		     , E.HDV_YN
		     , E.DOLBY_SPRT_YN
		     , F.PROD_NM
		     , F.PROD_BASE_DESC
		     , F.PROD_DTL_DESC
		     , F.ARTIST1_NM
		     , F.ARTIST2_NM
		     , F.PROD_BASE_DESC
		     , H.CHNL_PERIOD_AMT
		     , H.CHNL_UNLMT_AMT
		FROM 
			TB_DP_MENU_CATEGORY_PROD_MAPG A, TB_DP_MENU_CATEGORY B, TB_DP_MENU_CATEGORY_DESC C
		     , TB_DP_PROD D, TB_DP_MULTIMDA_PROD E, TB_DP_PROD_DESC F, TB_DP_TENANT_PROD G
		     , TB_DP_TENANT_PROD_PRICE H
		     , TB_DP_PROD_IMG I
		WHERE 1=1
		   AND D.PROD_ID = #{channelId}
		   AND A.MENU_ID = B.MENU_ID AND A.MENU_ID = C.MENU_ID
		   AND A.PROD_ID = D.PROD_ID AND D.PROD_ID = E.PROD_ID AND D.PROD_ID = F.PROD_ID AND D.PROD_ID = G.PROD_ID
		   AND D.PROD_ID = H.PROD_ID
		   AND A.BASE_YN = 'Y'
		   AND B.USE_YN = 'Y'
		   AND C.LANG_CD = #{langCd}
		   AND G.TENANT_ID = #{tenantId}
		   AND F.LANG_CD = #{langCd}
		   AND SYSDATE BETWEEN H.APPLY_START_DT AND H.APPLY_END_DT
    </select>
    
    <select id="selectSourceList" parameterType="ProductImage" resultType="ProductImage">
        SELECT A.*
          FROM (
			SELECT
				FILE_PATH, FILE_NM, FILE_SIZE, EXPO_ORD
			FROM TB_DP_PROD_IMG
			WHERE PROD_ID = #{prodId}
			  AND LANG_CD = #{langCd}
			  AND IMG_CD IN ( 'DP000137', 'DP000138', 'DP000139', 'DP000140' )
			UNION ALL
			SELECT 
				FILE_PATH, FILE_NM, FILE_SIZE, EXPO_ORD
			FROM TB_DP_PROD_IMG
			WHERE PROD_ID = #{prodId}
	          AND LANG_CD = #{langCd}
			  AND IMG_CD IN ( 'DP000128', 'DP000129', 'DP000130', 'DP000131' )
		) A
		ORDER BY EXPO_ORD
    </select>
    
<!-- 
    <select id="getUpdateHistoryList" parameterType="com.skplanet.storeplatform.sac.client.display.vo.app.AppDetailReq" resultType="com.skplanet.storeplatform.sac.display.app.vo.UpdateHistory">
        SELECT
            PROD_UPD_DT,
            UPDT_TEXT
        FROM TB_DP_PROD_UPDT_HIS
        WHERE PROD_ID = #{episodeId}
        ORDER BY UPDT_SEQ DESC
    </select>
 -->

    
</mapper>
