<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Stat">    
    <select id="detail" parameterType="java.util.HashMap" resultType="com.skplanet.storeplatform.sac.display.stat.vo.StatDetail">
    	SELECT
    		STATS_CLSF AS clsf
    		, STATS_KEY AS key
    		, CNT_LIKE AS cntLike
    		, CNT_BRWS AS cntBrws
    		, CNT_SHAR AS cntShar
    	FROM
    		TB_DP_SOCIAL_STATS
    	WHERE 1=1
    		AND TENANT_ID = #{tenantId, jdbcType=VARCHAR}
    		AND STATS_CLSF = #{clsf, jdbcType=VARCHAR}
    		AND STATS_KEY = #{key, jdbcType=VARCHAR}
	</select>
	
	<update id="countUp" parameterType="java.util.HashMap">
		MERGE INTO TB_DP_SOCIAL_STATS
		USING DUAL
		ON ( 1=1
			AND TENANT_ID = #{tenantId, jdbcType=VARCHAR}
			AND STATS_CLSF = #{clsf, jdbcType=VARCHAR}
			AND STATS_KEY = #{key, jdbcType=VARCHAR}
		)
		WHEN MATCHED THEN
			UPDATE SET
			<if test="regCaseCd == 'DP01220001'">CNT_LIKE = CNT_LIKE + 1</if>
			<if test="regCaseCd == 'DP01220002'">CNT_SHAR = CNT_SHAR + 1</if>
			<if test="regCaseCd == 'DP01220003'">CNT_BRWS = CNT_BRWS + 1</if>
			, UPD_ID = 'SAC'
			, UPD_DT = SYSDATE
		WHEN NOT MATCHED THEN
			INSERT (TENANT_ID, STATS_CLSF, STATS_KEY, CNT_LIKE, CNT_SHAR, CNT_BRWS, REG_DT, REG_ID, UPD_DT, UPD_ID)
			VALUES (
				#{tenantId, jdbcType=VARCHAR}
				, #{clsf, jdbcType=VARCHAR}
				, #{key, jdbcType=VARCHAR}
				<if test="regCaseCd == 'DP01220001'">, 1, 0, 0</if>
				<if test="regCaseCd == 'DP01220002'">, 0, 1, 0</if>
				<if test="regCaseCd == 'DP01220003'">, 0, 0, 1</if>
				, SYSDATE
				, 'SAC'
				, SYSDATE
				, 'SAC'
			)
	</update>
	
	<update id="countDown" parameterType="java.util.HashMap">
		MERGE INTO TB_DP_SOCIAL_STATS
		USING DUAL
		ON ( 1=1
			AND TENANT_ID = #{tenantId, jdbcType=VARCHAR}
			AND STATS_CLSF = #{clsf, jdbcType=VARCHAR}
			AND STATS_KEY = #{key, jdbcType=VARCHAR}
		)
		WHEN MATCHED THEN
			UPDATE SET
			<if test="regCaseCd == 'DP01220001'">CNT_LIKE = (CASE WHEN CNT_LIKE &lt;= 0 THEN 0 ELSE CNT_LIKE - 1 END)</if>
			<if test="regCaseCd == 'DP01220002'">CNT_SHAR = (CASE WHEN CNT_SHAR &lt;= 0 THEN 0 ELSE CNT_SHAR - 1 END)</if>
			<if test="regCaseCd == 'DP01220003'">CNT_BRWS = (CASE WHEN CNT_BRWS &lt;= 0 THEN 0 ELSE CNT_BRWS - 1 END)</if>
			, UPD_ID = 'SAC'
			, UPD_DT = SYSDATE
		WHEN NOT MATCHED THEN
			INSERT (TENANT_ID, STATS_CLSF, STATS_KEY, CNT_LIKE, CNT_SHAR, CNT_BRWS, REG_DT, REG_ID, UPD_DT, UPD_ID)
			VALUES (
				#{tenantId, jdbcType=VARCHAR}
				, #{clsf, jdbcType=VARCHAR}
				, #{key, jdbcType=VARCHAR}
				, 0, 0, 0
				, SYSDATE
				, 'SAC'
				, SYSDATE
				, 'SAC'
			)
	</update>
</mapper>